<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='lotusOddeven', pnb='complete'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    로투스 홀짝 등록완료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                로투스 홀짝 등록완료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
                <a class="btn btn03" onclick="closingAll();" style="width: 200px;"><i class="fa fa-download"></i> 베팅 없는 경기 결과처리</a>
                <a class="btn btn02" onclick="deleteAll();" style="width: 200px;"><i class="fa fa-download"></i> 베팅, 결과없는 경기 삭제</a>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>로투스 홀짝 등록완료</caption>
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col>
                <col style="width: 100px;">
                <col>
                <col style="width: 120px;">
            </colgroup>
            <tbody th:each="g,num: ${list}" th:class="${num.count > 1} ? 'box'" th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 '">
                <tr>
                    <td rowspan="5" th:text="${#dates.format(g.gameDate, 'dd(E) HH:mm')}">27(월)</td>
                    <td rowspan="5" th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + ' 회차'"></td>
                    <td class="color02">홀 / 짝</td>
                    <td class="home">
                        <p>
                            <span th:text="${round} + '홀짝 [홀]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[0], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td class="vs">VS</td>
                    <td class="away">
                        <p>
                            <span th:text="${round} + '홀짝 [짝]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td rowspan="4">
                        <a class="btn btn03" th:onclick="'closingOddeven(' + ${g.id} + ');'">결과</a>
                    </td>
                </tr>
                <tr>
                    <td class="color02">오버 / 언더</td>
                    <td class="home">
                        <p>
                            <span th:text="${round} + '히든 [오버]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[2], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td class="vs">VS</td>
                    <td class="away">
                        <p>
                            <span th:text="${round} + '히든 [언더]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[3], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                </tr>
                <tr>
                    <td class="color02" rowspan="2">무늬</td>
                    <td class="home">
                        <p>
                            <span th:text="${round} + '히든 [스페이드]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[4], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td class="vs" rowspan="2">VS</td>
                    <td class="away">
                        <p>
                            <span th:text="${round} + '히든 [하트]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                </tr>
                <tr>
                    <td class="home">
                        <p>
                            <span th:text="${round} + '히든 [크로바]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[6], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td class="away">
                        <p>
                            <span th:text="${round} + '히든 [다이아]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[7], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[7] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[7] gt 0 ? #numbers.formatInteger(g.amount[7], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                </tr>
                <tr>
                    <td class="color02">레드 / 블랙</td>
                    <td class="home">
                        <p>
                            <span th:text="${round} + '히든 [레드]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[8], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[8] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[8] gt 0 ? #numbers.formatInteger(g.amount[8], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                    <td class="vs">VS</td>
                    <td class="away">
                        <p>
                            <span th:text="${round} + '히든 [블랙]'"></span>
                            <span class="odds" th:text="${#numbers.formatDecimal(g.odds[9], 0, 2, 'DEFAULT')}"></span>
                        </p>
                        <a th:onclick="|popup.betting.zone('lOddeven', ${g.sdate});|" th:class="${g.amount[9] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[9] gt 0 ? #numbers.formatInteger(g.amount[9], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                    </td>
                </tr>
            </tbody>
            <tr th:if="${list.empty}">
                <td colspan="7" class="empty">
                    등록된 홀짝 경기가 없습니다.
                </td>
            </tr>
        </table>

        <div class="panel-footer">

        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingOddeven(id) {
        window.open(path + '/zone/lotusOddeven/score?id=' + id, 'popup-LODDEVEN', 'width=980, height=930');
    }

    function closingAll() {
        if(!confirm('베팅 없는 경기를 결과처리 하시겠습니까? \n\n미처리 경기가 많으면 사이트가 느려질수 있습니다.')){
            return false;
        }
        $.post(path + '/zone/lotusOddeven/closing').done(function (data) {
            if (data.success) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }

    function deleteAll() {
        if(!confirm('베팅, 결과없는 경기를 삭제 하시겠습니까?')){
            return false;
        }
        $.post(path + '/zone/lotusOddeven/delete').done(function (data) {
            if (data.success) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }
</script>
</body>
</html>