<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='event', lnb='lotto', title='복권'" ng-app="app">
<body ng-controller="lottoCtrl">

<main class="page" layout:fragment="page">
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/jquery.rollingCounter.js"></script>

    <style>
        .counter-holder {
            padding: 15px 0;
            text-align: center;
        }

        .counter-holder span {
            position: relative;
            display: inline-block;
            vertical-align: top;
            line-height: 38px;
            font-size: 20px;
            font-weight: bolder;
        }

        .counter .digit {
            background: #111111;
            background: #444444;
            border-radius: 3px;
            color: white;
            width: 30px;
            height: 38px;
            margin: 0 1px;
            overflow: hidden;
            padding: 0;
            text-align: center;
        }

        .counter-holder hr {
            background: none;
            border: 0;
            clear: both;
            display: block;
            float: none;
            font-size: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    </style>
    <h3 style="text-align: center">100% 당첨 꽝 없는 복권 EVENT<br><br></h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/event/lotto|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <div>
        <div class="lotto_bg">
            <div class="lotto_top">
                <div class="lotto_cnt" th:text="${lottoCnt+' 장'}"></div>
                <div class="lotto_box">
                    <div class="lotto_roll" id="roll">
                        <div class="counter" data="0000000"></div>
                    </div>
                    <div class="lotto_button"><img src="/images/confirm_btn.png" ng-click="rollButton(400)" style="cursor: pointer"></div>
                </div>
            </div>

            <div class="lotto_list">
                <table class="list">
                    <caption>복권</caption>
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <!--<col>-->
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>당첨<br>포인트</th>
                        <th>비고</th>
                        <th>사용<br>여부</th>
                        <!--<th>정상<br>여부</th>-->
                        <th>지급일</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="g in lottoList">
                            <td>{{::g.id}}</td>
                            <td>{{::g.point}}</td>
                            <td>{{::g.memo}}</td>
                            <td class="{{::g.closing ? 'color03' : 'color01'}}">{{::g.closing ? '사용' : '미사용'}}</td>
                            <!--<td class="{{::g.cancel ? 'color03' : 'color04'}}">{{::g.cancel ? '[취소]' : '[정상]'}}</td>-->
                            <td>{{::g.regDate | date:'MM-dd HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paging">
                    <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
                </div>
            </div>
        </div>
    </div>

</main>
<script layout:fragment="script" th:if="true">

    angular.module('app', []).controller('lottoCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.lottoCnt = [(${lottoCnt})];
        $scope.page = [(${page.number+1})];
        $scope.lottoList = "";
        $scope.lottoButton = false;

        $scope.getList = function (r) {
            $.ajax({
                url: path + '/event/lottoList',
                method: 'get',
                data:{
                    page : $scope.page
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).done(function (data) {
                console.log(data)
                $scope.lottoList = data.content;
            });
        }

        $scope.rollButton = function (r) {
            if(r > 0 && $scope.lottoCnt < 1){
                alert("복권이 없습니다.");
                return false;
            }

            if(r == 0){
                $("#roll").html("<div class='counter' data='0000000'></div>");
                $scope.rollCounter(r);
            }else {
                console.log($scope.lottoButton);
                if($scope.lottoButton){
                    alert("잠시만 기다려주세요.")
                    return;
                }
                $scope.lottoButton = true;

                $(".counter").remove();
                $('.lotto_cnt').text(--$scope.lottoCnt+' 장');

                $.ajax({
                    url: path + '/event/lottoRolling',
                    method: 'post'
                }).done(function (data) {
                    if(data > 0) {
                        var lottoNumber = "0000000"+data;
                        lottoNumber = lottoNumber.substring(lottoNumber.length-7, lottoNumber.length);
                        $("#roll").html("<div class='counter' data='" + lottoNumber + "'></div>");
                        $scope.rollCounter(r);
                        setTimeout(function () {
                            //$scope.getList();
                            alert(data.toString().money()+"원 당첨되셨습니다.");
                            location.reload();
                            $scope.lottoButton = false;
                        }, 3000);
                    }else{
                        alert("복권확인에 실패하였습니다.")
                    }
                });
            }
        }

        $scope.test = function(){
            alert(12343324234324)
        }
        $scope.rollCounter = function (r) {
            $(".counter").rollingCounter({
                animate : true,
                attrCount : 'data',
                delayTime : 20 ,
                waitTime : 1 ,
                easing : 'easeOutBounce',
                rollingCount : r,
                duration : 1000
            });
            counter =  $(".counter").data("rollingCounter");
            counter.rolling();

        }

        $scope.rollButton(0);

        $scope.getList();

    }]);

</script>
</body>
</html>