<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='luck', pnb='config'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    그래프 관리자
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true" onclick="javascript:upup();"></i>
                그래프 충전/환전 리스트
                <a href="#" onclick="popup.popup.graphTotal();"><span class="color03" >[ 그래프 현황 ]</span></a>
                <a href="#" onclick="popup.popup.graphAccount();"><span class="color03" >[ 수익 현황 ]</span></a>
            </h3>
        </div>
        <br>
        <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/zone/graph/config|}" method="get">
            <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
        </form>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>

            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>사용내역</th>
                <th>비고</th>
                <th>머니</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody id="money-body">
            <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
                <td th:text="${total - num.count}">1</td>
                <td th:text="${m.userid}" th:onclick="|popup.popup.graph('${m.userid}');|">아이디</td>
                <td th:class="${m.amount < 0} ? 'color03' : 'color01'" th:text="${m.moneyCode.name}">사용내역</td>
                <td th:text="${#strings.defaultString(m.memo, '-')}">비고</td>
                <td th:class="${m.amount < 0} ? 'color03 num popup' : 'color01 num popup'" th:onclick="|popup.payment.money('${m.userid}');|" th:text="${tag.num(m.amount)}">머니</td>
                <td th:utext="${tag.dayWeekTimes(m.regDate)}"></td>
            </tr>
            </tbody>
        </table>
        <div class="paging">
            <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    $('input[type=text]').onlyFloat();

    function saveConfig() {
        if (!confirm('변경 내용을 저장 하겠습니까?')) {
            return false;
        }
    }

    function upup(){
        window.open('http://papa.rerezone.com/gotnlfltmxm');
    }
</script>
</body>
</html>