<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='accounting', lnb='daily'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>정산 :</small>
    일자별 정산
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/accounting/daily|}" method="get">
                <input type="hidden" name="agency1" id="agency1"/>
                <input type="hidden" name="agency2" id="agency2"/>
                <input type="hidden" name="agency3" id="agency3"/>
                <input type="hidden" name="agency4" id="agency4"/>
                <input type="hidden" name="agency5" id="agency5"/>
                <input type="hidden" name="agency6" id="agency6"/>
                <input type="hidden" name="agency7" id="agency7"/>
                <label>
                    검색기간 :
                    <input type="text" class="cal" th:field="*{sdate}" /> ~
                    <input type="text" class="cal" th:field="*{edate}" />
                </label>
                <label>
                    총판 :
                    <select name="agency" id="agency" >
                        <option value="">선택하세요.</option>
                        <option th:each="a : ${agencies}"
                                th:value="${a.agencyDepth eq '1' ? a.agency1+'##'+a.agencyDepth : (a.agencyDepth eq '2' ? a.agency2+'##'+a.agencyDepth : (a.agencyDepth eq '3' ? a.agency3+'##'+a.agencyDepth : (a.agencyDepth eq '4' ? a.agency4+'##'+a.agencyDepth : (a.agencyDepth eq '5' ? a.agency5+'##'+a.agencyDepth : (a.agencyDepth eq '6' ? a.agency6+'##'+a.agencyDepth : (a.agencyDepth eq '7' ? a.agency7+'##'+a.agencyDepth : ''))))))}"
                                th:text="${a.agencyDepth eq '1' ? a.agency1 : (a.agencyDepth eq '2' ? a.agency2 : (a.agencyDepth eq '3' ? a.agency3 : (a.agencyDepth eq '4' ? a.agency4 : (a.agencyDepth eq '5' ? a.agency5 : (a.agencyDepth eq '6' ? a.agency6 : (a.agencyDepth eq '7' ? a.agency7 : ''))))))}">
                        </option>
                    </select>

                </label>
                <label><div class="color01" th:text="${command.agency == null or command.agency eq '' ? '[ 전체 ]' : '[ 총판 - '+command.agency+' ]'}"></div></label>
                <label>
                    회원아이디 : <input type="text" th:field="*{userid}" />
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearchDaily();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/accounting/daily|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
        <table class="table-list">
            <tr>
                <td width="50%"><canvas id="memberChart"></canvas></td>
                <td width="50%"><canvas id="InOutChart"></canvas></td>
            </tr>

        </table>


    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-calendar"></i>
                일자별 정산
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th>일자</th>
                <th>신규</th>
                <th>입금</th>
                <th>출금</th>
                <th th:if="${command.agency == null or command.agency eq ''}">총판출금</th>
                <th>입출손익</th>
                <th>베팅 유저</th>
                <th>스포츠 유저</th>
                <th>스포츠 베팅</th>
                <th>스포츠 적중</th>
                <th>스포츠 수익</th>
                <th>실시간 유저</th>
                <th>실시간 베팅</th>
                <th>실시간 적중</th>
                <th>실시간 수익</th>
                <th>접속</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="b : ${list}">
                <td th:utext="${tag.dateWeek(b.ddate)}"></td>
                <td class="num color01" th:text="${tag.num(b.member)}"></td>
                <td class="num color04" th:text="${tag.num(b.inMoney)}"></td>
                <td class="num color03" th:text="${tag.num(b.outMoney)}"></td>
                <td th:if="${command.agency == null or command.agency eq ''}" class="num color03" th:text="${tag.num(b.outMoneyAgency)}"></td>
                <td th:if="${command.agency == null or command.agency eq ''}" class="num color02" th:text="${tag.num(b.inMoney - b.outMoney - b.outMoneyAgency)}"></td>
                <td th:if="${command.agency != null and command.agency ne ''}" class="num color02" th:text="${tag.num(b.inMoney - b.outMoney)}"></td>
                <td class="num" th:text="${tag.num(b.betUser)}"></td>
                <td class="num color01" th:text="${tag.num(b.sportsUser)}"></td>
                <td class="num color04" th:text="${tag.num(b.sportsBet)}"></td>
                <td class="num color03" th:text="${tag.num(b.sportsHit)}"></td>
                <td class="num color02" th:text="${tag.num(b.sportsBet - b.sportsHit)}"></td>
                <td class="num color01" th:text="${tag.num(b.zoneUser)}"></td>
                <td class="num color04" th:text="${tag.num(b.zoneBet)}"></td>
                <td class="num color03" th:text="${tag.num(b.zoneHit)}"></td>
                <td class="num color02" th:text="${tag.num(b.zoneBet - b.zoneHit)}"></td>
                <td class="num color01" th:text="${tag.num(b.loginCnt)}"></td>
            </tr>
            <tr>
                <th>총합</th>
                <th class="num color01" th:text="${tag.num(#aggregates.sum(list.![member]))}"></th>
                <th class="num color04" th:text="${tag.num(#aggregates.sum(list.![inMoney]))}"></th>
                <th class="num color03" th:text="${tag.num(#aggregates.sum(list.![outMoney]))}"></th>
                <th th:if="${command.agency == null or command.agency eq ''}" class="num color03" th:text="${tag.num(#aggregates.sum(list.![outMoneyAgency]))}"></th>
                <th th:if="${command.agency == null or command.agency eq ''}" class="num color02" th:text="${tag.num(#aggregates.sum(list.![inMoney - outMoney - outMoneyAgency]))}"></th>
                <th th:if="${command.agency != null and command.agency ne ''}" class="num color02" th:text="${tag.num(#aggregates.sum(list.![inMoney - outMoney]))}"></th>
                <th class="num" th:text="${tag.num(#aggregates.sum(list.![betUser]))}"></th>
                <th class="num color01" th:text="${tag.num(#aggregates.sum(list.![sportsUser]))}"></th>
                <th class="num color04" th:text="${tag.num(#aggregates.sum(list.![sportsBet]))}"></th>
                <th class="num color03" th:text="${tag.num(#aggregates.sum(list.![sportsHit]))}"></th>
                <th class="num color02" th:text="${tag.num(#aggregates.sum(list.![sportsBet - sportsHit]))}"></th>
                <th class="num color01" th:text="${tag.num(#aggregates.sum(list.![zoneUser]))}"></th>
                <th class="num color04" th:text="${tag.num(#aggregates.sum(list.![zoneBet]))}"></th>
                <th class="num color03" th:text="${tag.num(#aggregates.sum(list.![zoneHit]))}"></th>
                <th class="num color02" th:text="${tag.num(#aggregates.sum(list.![zoneBet - zoneHit]))}"></th>
                <th class="num color01" th:text="${tag.num(#aggregates.sum(list.![loginCnt]))}"></th>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>

<script layout:fragment="script" th:if="true">

    function goSearchDaily(){
        $('#agency1').val('')
        $('#agency2').val('')
        $('#agency3').val('')
        $('#agency4').val('')
        $('#agency5').val('')
        $('#agency6').val('')
        $('#agency7').val('')

        var agencyArr = $('#agency').val().split('##');
        if(agencyArr[1] == '1') $('#agency1').val(agencyArr[0]);
        else if(agencyArr[1] == '2') $('#agency2').val(agencyArr[0]);
        else if(agencyArr[1] == '3') $('#agency3').val(agencyArr[0]);
        else if(agencyArr[1] == '4') $('#agency4').val(agencyArr[0]);
        else if(agencyArr[1] == '5') $('#agency5').val(agencyArr[0]);
        else if(agencyArr[1] == '6') $('#agency6').val(agencyArr[0]);
        else if(agencyArr[1] == '7') $('#agency7').val(agencyArr[0]);

        $('#page').val(1);
        $('#frm-search').submit();
    }

    var dayInfo = [];
    var memberChartData = [];
    var inChartData = [];
    var outChartData = [];
    var inOutChartData = [];
    $('tbody tr').each(function(i){
        var day = $(this).find('td').eq(0).text();
        if( day != ''){
            dayInfo.push(day);
            memberChartData.push($(this).find('td').eq(1).text());
            inChartData.push($(this).find('td').eq(2).text().replace(/,/gi,""));
            outChartData.push($(this).find('td').eq(3).text().replace(/,/gi,""));
            inOutChartData.push($(this).find('td').eq(4).text().replace(/,/gi,""));
        }
    });

    var ctxMember = document.getElementById("memberChart").getContext('2d');
    var memberChart = new Chart(ctxMember, {
        type: 'line',
        data: {
            labels: dayInfo,
            datasets: [{
                label: '신규',
                data: memberChartData,
                borderColor: [
                    '#bf9a03'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true
            }
        }
    });


    var ctxInOut = document.getElementById("InOutChart").getContext('2d');
    var InOutChart = new Chart(ctxInOut, {
        type: 'line',
        data: {
            labels: dayInfo,
            datasets: [{
                label: '입금',
                data: inChartData,
                borderColor: [
                    '#8aa830'
                ],
                borderWidth: 1
            },
                {
                    label: '출금',
                    data: outChartData,
                    borderColor: [
                        '#e07a59 '
                    ],
                    borderWidth: 1
                }
                ,{
                    label: '입출손익',
                    data: inOutChartData,
                    borderColor: [
                        '#4a98be '
                    ],
                    borderWidth: 1
                }]
        },
        options: {
            responsive: true,
            title: {
                display: true
            }
        }
    });

</script>

</body>
</html>