<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='accounting', lnb='dailyPbLotto'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>정산 :</small>
    파워로또 일자별 정산
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-calendar"></i>
                머니, 포인트 내역
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th>보유 포인트</th>
                <th>유저 머니</th>
            </thead>
            <tbody>
            <tr>
                <td th:text="${tag.num(agencyPoint)}"></td>
                <td th:text="${tag.num(usersMoney)}"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <br>
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/accounting/dailyPbLotto|}" method="get">
                <input type="hidden" name="agency1" id="agency1"/>
                <input type="hidden" name="agency2" id="agency2"/>
                <input type="hidden" name="agency3" id="agency3"/>
                <input type="hidden" name="agency4" id="agency4"/>
                <input type="hidden" name="agency5" id="agency5"/>
                <input type="hidden" name="agency6" id="agency6"/>
                <input type="hidden" name="agency7" id="agency7"/>
                <label>
                    검색기간 :
                    <input type="text" class="cal" th:field="*{sdate}" /> ~
                    <input type="text" class="cal" th:field="*{edate}" />
                </label>
                <label>
                    총판 :
                    <select name="agency" id="agency" >
                        <option value="">선택하세요.</option>
                        <option th:each="a : ${agencies}"
                                th:value="${a.agencyDepth eq '1' ? a.agency1+'##'+a.agencyDepth : (a.agencyDepth eq '2' ? a.agency2+'##'+a.agencyDepth : (a.agencyDepth eq '3' ? a.agency3+'##'+a.agencyDepth : (a.agencyDepth eq '4' ? a.agency4+'##'+a.agencyDepth : (a.agencyDepth eq '5' ? a.agency5+'##'+a.agencyDepth : (a.agencyDepth eq '6' ? a.agency6+'##'+a.agencyDepth : (a.agencyDepth eq '7' ? a.agency7+'##'+a.agencyDepth : ''))))))}"
                                th:text="${a.agencyDepth eq '1' ? a.agency1 : (a.agencyDepth eq '2' ? a.agency2 : (a.agencyDepth eq '3' ? a.agency3 : (a.agencyDepth eq '4' ? a.agency4 : (a.agencyDepth eq '5' ? a.agency5 : (a.agencyDepth eq '6' ? a.agency6 : (a.agencyDepth eq '7' ? a.agency7 : ''))))))}">
                        </option>
                    </select>
                </label>
                <label><div class="color01" th:text="${command.agency == null or command.agency eq '' ? '[ 전체 ]' : '[ 총판 - '+command.agency+' ]'}"></div></label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearchDaily();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/accounting/dailyPbLotto|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>

        <div class="panel-header">
            <h3>
                <i class="bul fa fa-calendar"></i>
                파워로또 일자별 정산
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th>일자</th>
                <th>파워로또 유저</th>
                <th>파워로또 베팅</th>
                <th>파워로또 적중</th>
            </thead>
            <tbody id="tbody">
            <tr th:each="b : ${list}">
                <td th:utext="${tag.dateWeek(b.ddate)}"></td>
                <td class="num color01" th:text="${tag.num(b.pbLottoUser)}"></td>
                <td class="num color04" th:text="${tag.num(b.pbLottoBet)}"></td>
                <td class="num color03" th:text="${tag.num(b.pbLottoHit)}"></td>
            </tr>
            <tr>
                <th>총합</th>
                <th class="num color01" th:text="${tag.num(#aggregates.sum(list.![pbLottoUser]))}"></th>
                <th class="num color04" th:text="${tag.num(#aggregates.sum(list.![pbLottoBet]))}"></th>
                <th class="num color03" th:text="${tag.num(#aggregates.sum(list.![pbLottoHit]))}"></th>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>

<script layout:fragment="script" th:if="true">

    function goSearchDaily(){
        $('#agency1').val('')
        $('#agency2').val('')
        $('#agency3').val('')
        $('#agency4').val('')
        $('#agency5').val('')
        $('#agency6').val('')
        $('#agency7').val('')

        var agencyArr = $('#agency').val().split('##');
        if(agencyArr[1] == '1') $('#agency1').val(agencyArr[0]);
        else if(agencyArr[1] == '2') $('#agency2').val(agencyArr[0]);
        else if(agencyArr[1] == '3') $('#agency3').val(agencyArr[0]);
        else if(agencyArr[1] == '4') $('#agency4').val(agencyArr[0]);
        else if(agencyArr[1] == '5') $('#agency5').val(agencyArr[0]);
        else if(agencyArr[1] == '6') $('#agency6').val(agencyArr[0]);
        else if(agencyArr[1] == '7') $('#agency7').val(agencyArr[0]);

        $('#page').val(1);
        $('#frm-search').submit();
    }

</script>

</body>
</html>