<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='accounting', lnb='detail'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>정산 :</small>
    상세 정산
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/accounting/detail|}" method="get">
                <input type="hidden" name="agency1" id="agency1"/>
                <input type="hidden" name="agency2" id="agency2"/>
                <input type="hidden" name="agency3" id="agency3"/>
                <input type="hidden" name="agency4" id="agency4"/>
                <input type="hidden" name="agency5" id="agency5"/>
                <input type="hidden" name="agency6" id="agency6"/>
                <input type="hidden" name="agency7" id="agency7"/>
                <label>
                    검색기간 :
                    <input type="text" class="cal" th:field="*{sdate}" /> ~
                    <input type="text" class="cal" th:field="*{edate}" />
                </label>
                <label>
                    총판 :
                    <select name="agency" id="agency" >
                        <option value="">선택하세요.</option>
                        <option th:each="a : ${agencies}"
                                th:value="${a.agencyDepth eq '1' ? a.agency1+'##'+a.agencyDepth : (a.agencyDepth eq '2' ? a.agency2+'##'+a.agencyDepth : (a.agencyDepth eq '3' ? a.agency3+'##'+a.agencyDepth : (a.agencyDepth eq '4' ? a.agency4+'##'+a.agencyDepth : (a.agencyDepth eq '5' ? a.agency5+'##'+a.agencyDepth : (a.agencyDepth eq '6' ? a.agency6+'##'+a.agencyDepth : (a.agencyDepth eq '7' ? a.agency7+'##'+a.agencyDepth : ''))))))}"
                                th:text="${a.agencyDepth eq '1' ? a.agency1 : (a.agencyDepth eq '2' ? a.agency2 : (a.agencyDepth eq '3' ? a.agency3 : (a.agencyDepth eq '4' ? a.agency4 : (a.agencyDepth eq '5' ? a.agency5 : (a.agencyDepth eq '6' ? a.agency6 : (a.agencyDepth eq '7' ? a.agency7 : ''))))))}">
                        </option>
                    </select>
                </label>
                <label><div class="color01" th:text="${command.agency == null or command.agency eq '' ? '[ 전체 ]' : '[ 총판 - '+command.agency+' ]'}"></div></label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearchDetail();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/accounting/detail|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-calendar"></i>
                상세 정산
            </h3>
        </div>
        <table class="table-list" style="table-layout: fixed;">
            <caption>상세 정산</caption>
            <thead>
            <tr>
                <th>충전 금액</th>
                <th>충전 (파워로또 환전 금액)</th>
                <th>충전<br>(카지노 환전 금액)</th>
                <th>포인트 전환</th>
                <th>포인트 획득</th>
                <th>환전 금액</th>
                <th>환전 (파워로또 충전 금액)</th>
                <th>환전<br>(카지노 충전 금액)</th>
                <th>회원 머니</th>
                <th>회원 포인트</th>
            </tr>
            <tr>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'DEPOSIT_ROLLBACK'].![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'POWERlOTTO_ADD'].![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'CASINO_ADD'].![amount]))}"></td>
                <td class="color02 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'EXCHANGE'].![amount]))}"></td>
                <td class="color02 accounting num" th:text="${tag.num(#aggregates.sum(point.![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'WITHDRAW' || code == 'WITHDRAW_ROLLBACK'].![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'POWERlOTTO_REMOVE'].![amount]))}"></td>
                <td class="color01 accounting num" th:text="${tag.num(#aggregates.sum(money.?[code == 'CASINO_REMOVE'].![amount]))}"></td>
                <td class="color03 accounting num" th:text="${tag.num(amount.money)}"></td>
                <td class="color03 accounting num" th:text="${tag.num(amount.point)}"></td>
            </tr>
            <tr>
                <th colspan="5">종목</th>
                <th>베팅금</th>
                <th>당첨금</th>
                <th>낙첨금</th>
                <th>정산금</th>
                <th>진행중</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="g : ${list}" th:if="${g.menuCode != 'POWER_LOTTO'}">
                <td colspan="5" th:text="${g.menuName}"></td>
                <td class="num" th:text="${tag.num(g.betMoney)}"></td>
                <td class="num" th:text="${tag.num(g.winMoney)}"></td>
                <td class="num" th:text="${tag.num(g.loseMoney)}"></td>
                <td th:class="${g.betMoney - g.winMoney < 0} ? 'num color03' : 'num color02'" th:text="${tag.num(g.betMoney - g.winMoney)}"></td>
                <td class="num" th:text="${tag.num(g.ingMoney)}"></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th colspan="5" class="accounting">합계</th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.?[menuCode != 'POWER_LOTTO'].![betMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.?[menuCode != 'POWER_LOTTO'].![winMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.?[menuCode != 'POWER_LOTTO'].![loseMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.?[menuCode != 'POWER_LOTTO'].![betMoney - winMoney]))}"></th>
                <th class="color04 accounting num" th:text="${tag.num(#aggregates.sum(list.?[menuCode != 'POWER_LOTTO'].![ingMoney]))}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3">관리자 지급 / 회수 머니</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(money.?[code == 'ADD'].![amount]))}"></span> /
                    <span class="color02" th:text="${tag.num(#aggregates.sum(money.?[code == 'REMOVE'].![amount]))}"></span>
                </td>
                <td colspan="3">관리자 지급 / 회수 포인트</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'ADD'].![amount]))}"></span> /
                    <span class="color02" th:text="${tag.num(#aggregates.sum(point.?[code == 'REMOVE'].![amount]))}"></span>
                </td>
                <td>충전 보너스 / 총판 배당 포인트</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'DEPOSIT'].![amount]))}"></span> /
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'SALE'].![amount]))}"></span>
                </td>
            </tr>
            <tr>
                <td colspan="3">미적중 / 추천인 포인트</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'LOSE'].![amount]))}"></span> /
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'RECOMM'].![amount]))}"></span>
                </td>
                <td colspan="3">가입 / 로그인 / 이벤트 포인트</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'JOIN'].![amount]))}"></span> /
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'LOGIN'].![amount]))}"></span> /
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'EVENT'].![amount]))}"></span>
                </td>
                <td>게시글 / 댓글 포인트</td>
                <td>
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'BOARD'].![amount]))}"></span> /
                    <span class="color03" th:text="${tag.num(#aggregates.sum(point.?[code == 'COMMENT'].![amount]))}"></span>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th colspan="5">입출금</th>
                <th colspan="5">
                    입금 : <em th:text="${tag.num(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'POWERlOTTO_ADD' || code == 'DEPOSIT_ROLLBACK'].![amount]))}"></em>
                    -
                    출금 : <em th:text="${tag.num(0 - tag.numVal(#aggregates.sum(money.?[code == 'WITHDRAW' || code == 'POWERlOTTO_REMOVE' || code == 'WITHDRAW_ROLLBACK'].![amount])))}"></em>
                    -
                    수수료 : <em th:text="${tag.num(fees)}"></em>
                    =
                    <em class="color02" th:text="${tag.num(tag.numVal(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'POWERlOTTO_ADD' || code == 'DEPOSIT_ROLLBACK' || code == 'WITHDRAW' || code == 'POWERlOTTO_REMOVE' || code == 'WITHDRAW_ROLLBACK'].![amount])) - fees)}"></em>
                </th>
            </tr>
            <tr>
                <th colspan="5">실정산</th>
                <th colspan="5">
                    입출금내역 : <em th:text="${tag.num(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'POWERlOTTO_ADD' || code == 'DEPOSIT_ROLLBACK' || code == 'WITHDRAW' || code == 'POWERlOTTO_REMOVE' || code == 'WITHDRAW_ROLLBACK'].![amount]))}"></em>
                    -
                    머니변동내역 : <em th:text="${tag.num(#aggregates.sum(money.![amount]))}"></em>
                    -
                    포인트변동내역 : <em th:text="${tag.num(#aggregates.sum(point.![amount]))}"></em>
                    -
                    수수료 : <em th:text="${tag.num(fees)}"></em>
                    =
                    <em class="color02" th:text="${tag.num(tag.numVal(#aggregates.sum(money.?[code == 'DEPOSIT' || code == 'POWERlOTTO_ADD' || code == 'DEPOSIT_ROLLBACK' || code == 'WITHDRAW' || code == 'POWERlOTTO_REMOVE' || code == 'WITHDRAW_ROLLBACK'].![amount])) - tag.numVal(#aggregates.sum(money.![amount])) - tag.numVal(#aggregates.sum(point.![amount])) - fees)}"></em>
                </th>
            </tr>
            <tr th:each="g : ${list}" th:if="${g.menuCode == 'POWER_LOTTO'}">
                <th colspan="5">파워볼 로또 베팅금</th>
                <th colspan="5" th:text="${tag.num(g.betMoney)+'원'}"></th>
            </tr>
            <tr th:each="g : ${accountCasino}">
                <th colspan="5">카지노 베팅금</th>
                <th colspan="5" th:text="${tag.num(g.betMoney)+'원'}"></th>
            </tr>
            </thead>
        </table>

        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function goSearchDetail(){
        $('#agency1').val('')
        $('#agency2').val('')
        $('#agency3').val('')
        $('#agency4').val('')
        $('#agency5').val('')
        $('#agency6').val('')
        $('#agency7').val('')

        var agencyArr = $('#agency').val().split('##');
        if(agencyArr[1] == '1') $('#agency1').val(agencyArr[0]);
        else if(agencyArr[1] == '2') $('#agency2').val(agencyArr[0]);
        else if(agencyArr[1] == '3') $('#agency3').val(agencyArr[0]);
        else if(agencyArr[1] == '4') $('#agency4').val(agencyArr[0]);
        else if(agencyArr[1] == '5') $('#agency5').val(agencyArr[0]);
        else if(agencyArr[1] == '6') $('#agency6').val(agencyArr[0]);
        else if(agencyArr[1] == '7') $('#agency7').val(agencyArr[0]);

        $('#page').val(1);
        $('#frm-search').submit();
    }
</script>
</body>
</html>