<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:action="|${siteConfig.pathAdmin}/config/league/update|" enctype="multipart/form-data" th:object="${league}" onsubmit="return addLeague()">
        <input type="hidden" th:field="*{id}" />
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-flag"></i> 리그 수정</h3>
            </div>
            <table class="table-read">
                <caption>리그 수정</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">종목</th>
                    <td>
                        <select th:field="*{sports}">
                            <option th:each="sport: ${sports}" th:value="${sport.sportsName}" th:text="${sport.sportsName}">축구</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">리그명</th>
                    <td th:text="${league.leagueName}">리그명</td>
                </tr>
                <tr>
                    <th class="required">출력 리그명</th>
                    <td><input type="text" th:field="*{leagueKor}" style="width: 300px;"/></td>
                </tr>
                <tr>
                    <th class="required">리그깃발</th>
                    <td>
                        <img th:src="@{|/images/league/${league.leagueFlag}|}"/>
                        <span>(아이콘을 수정하실려면 파일을 다시 등록하세요.)</span>
                    </td>
                </tr>
                <tr>
                    <th class="required">아이콘</th>
                    <td><input type="file" name="file" id="file" style="width: 500px;"/></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn04" value="수정"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function addLeague() {
        if ($('#leagueKor').val() == '') {
            alert('출력 리그명을 입력 하세요.');
            $('#leagueKor').focus();
            return false;
        }
    }
</script>
</body>
</html>