<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='bet', title='베팅규정'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">
    <div class="tab-menu2">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}">공통규정</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet2|}">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet3|}">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet4|}">오버언더</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet5|}" class="on">스페셜</a>
    </div>
    <div class="box">
        <div class="color02" style="font-size:16px;padding-bottom: 20px;">
            스페셜 대상경기는 승무패, 핸디캡, 오버언더 대상경기와 조합이 불가능합니다.
        </div>

        <h3>1. 축구</h3>
        <ul>
            <li>선취골: 선취골을 넣을 것 같은 팀을 예상하여 베팅하는 방식이며 골이 나오지 않았을시 1.0배 처리하며 연장전은 반영하지 않습니다.</li>
        </ul>

        <br/>
        <br/>
        <h3>2. 야구</h3>
        <ul>
            <li>첫볼넷 : 첫볼넷을 얻는팀을 예상하여 베팅하는 방식 (데드볼 미포함,경기 종료시 만약 무볼넷인 경우 1.0배 적중특례)</li>
            <li>첫2루타 : 첫2루타를 칠 것 같은 팀을 예상하여 베팅하는 방식 (경기 종료시 무2루타인 경우 1.0배 적중특례)</li>
            <li>4이닝 : 4회말까지의 경기 결과를 예상하여 베팅하는 방식 (4회말을 못채운채로 경기가 취소 또는 연기될시 1.0배 적중특례)</li>
            <li>4이닝 오버/언더 : 4회말까지의 양팀 득점의 합을 예상하여 베팅하는 방식 (4회말을 못채운채로 경기가 취소 또는 연기될시 1.0배 적중특례)</li>
        </ul>

        <br/>
        <br/>
        <h3>3. 농구</h3>
        <ul>
            <li>첫 득점 : 첫득점을 성공시킬것 같은 팀을 예상하여 베팅하는 방식</li>
            <li>첫 5점: 선취 5점을 돌파할것 같은팀을 예상하여 베팅하는 방식(5점 포함)</li>
            <li>첫 10점: 선취 10점을 돌파할것 같은팀을 예상하여 베팅하는 방식(10점 포함)</li>
            <li>첫 자유투성공 : 첫자유투를 얻어 성공시킬것 같은팀을 예상하여 베팅하는 방식(추가 자유투 인정)</li>
            <li>첫 3점슛 성공 : 첫3점슛(3득점이 아닌 정확한 3점슛)을 성공시킬팀을 예상하여 베팅하는 방식</li>
            <li>1쿼터 : 1쿼터의 승리팀을 예상하여 베팅하는 방식</li>
            <li>1쿼터 오버언더 : 1쿼터 양팀 득점의 합을 예상하여 베팅하는 방식</li>
            <li>전반 : 전반전의(1+2쿼터) 승리팀을 예상하여 베팅하는 방식</li>
            <li>전반 오버언더 : 전반전의(1+2쿼터) 양팀 득점의 합을 예상하여 베팅하는 방식</li>
            <li>1,2,3,4Q만 승리 : 해당쿼터만의 승리팀을 예상하여 베팅하는 방식</li>
        </ul>

        <br/>
        <br/>
        <h3>4. 배구</h3>
        <ul>
            <li>1세트: 1세트의 승리팀을 예상하여 베팅하는 방식(핸디 감안)</li>
            <li>2세트 : 2세트만의 승리팀을 예상하여 베팅하는 방식(핸디 감안)</li>
            <li>3세트: 3세트만의 승리팀을 예상하여 베팅하는 방식(핸디 감안)</li>
            <li>4세트 : 4세트만의 승리팀을 예상하여 베팅하는 방식(핸디 감안)</li>
            <li>5세트 : 5세트만의 승리팀을 예상하여 베팅하는 방식(핸디 감안)</li>
            <li>(3세트 이전 승패 결정시 자동 4,5세트는 취소 됩니다.)</li>
            <li>전반 오버언더 : 전반전의(1+2쿼터) 양팀 득점의 합을 예상하여 베팅하는 방식</li>
            <li>1,2,3,4Q만 승리 : 해당쿼터만의 승리팀을 예상하여 베팅하는 방식</li>
            <li>첫득점 : 첫득점을 성공시킬것 같은 팀을 예상하여 베팅하는 방식</li>
            <li>첫7점 : 첫7득점을 성공시킬것 같은 팀을 예상하여 베팅하는 방식(7점포함)</li>
            <li>첫10점 : 선취 10점을 돌파할것 같은팀을 예상하여 베팅하는 방식(10점 포함)</li>
        </ul>

        <br/>
        <br/>
        <h3>5. NHL</h3>
        <ul>
            <li>1피리어드 : 1피리어드만의 승패를 예상하여 베팅하는 방식 (핸디 감안 혹은 핸디가 없을경우 동점일 경우 1.0배 처리)</li>
            <li>첫득점 : 첫득점 성공시킬것 같은 팀을 예상하여 베팅하는 방식(정규피리어드에 득점이 나오지 않을시 1.0배 적중특례)</li>
        </ul>

        <br/>
        <br/>
        <h3>6. NFL</h3>
        <ul>
            <li>전반 : 전반전 (1Q+2Q) 승리팀을 예상하여 베팅하는 방식(핸디감안)</li>
            <li>전반 Over/Under: 전반전 (1Q+2Q) 양팀 득점의 합을 기준 이상/이하로 예상하여 베팅하는 방식</li>
        </ul>

        <br/>
        <br/>
        <h3>7. 핸드볼</h3>
        <ul>
            <li>전/후반 경기 결과만을 반영, 연장전 경기결과 미적용</li>
        </ul>

        <br/>
        <br/>
        <h3>8. 스타크래프트</h3>
        <ul>
            <li>공식단체의 무승부판정으로 재경기를 가질 경우 재경기 경기로 정산처리를 원칙으로 합니다.</li>
        </ul>

        <br/>
        <br/>
        <h3>9. 기타종목</h3>
        <ul>
            <li>해당 경기단체 혹은 협회의 규정에 따라 적용</li>
        </ul>
    </div>

</main>
</body>
</html>