<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='memo', title='메시지함'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/customer/memo|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>
    <span class="btn-box">
        <a href="#" th:onclick="|readMemoAll();return false;|" class="btn btn03">전체 읽기</a>
        <a href="#" th:onclick="|deleteMemoAll();return false;|" class="btn btn04">전체 삭제</a>
    </span>
    <ul class="list qna">
        <th:block th:each="m, num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <li th:onclick="|viewMemo(${m.id});return false;|">
                <p class="title">
                    <a th:text="${m.title}"></a>
                </p>
                <p class="info">
                    <span th:class="${m.checked} ? 'checked' : 'color03 checked'" th:text="${m.checked} ? '확인' : '미확인'"></span>
                    <span class="date" th:utext="${tag.dayWeekTimes(m.regDate)}"></span>
                </p>
            </li>
            <li th:id="${m.id}" class="contents">
                <div>
                    <h5 th:text="${m.title}">질문</h5>
                    <p>
                        <a href="#" th:onclick="|deleteMemo(${m.id});return false;|" class="btn btn04">삭제</a>
                        <span th:utext="${tag.onlyBr2(m.contents)}" th:remove="tag"></span>
                    </p>
                </div>
            </li>
        </th:block>
    </ul>
    <ul class="list qna" th:if="${page.numberOfElements eq 0}">
        <li style="height: 300px;line-height: 300px;">등록된 쪽지가 없습니다.</li>
    </ul>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">
    var memo = [[${user.memo}]];
    if (memo > 0) {
        alert('쪽지를 확인 하세요.');
    }

    function viewMemo(id) {
        if ($('#' + id).is(':visible')) {
            $('#' + id).slideUp();
        } else {
            $('.contents').slideUp();
            $('#' + id).slideDown();
            showMemo(id);
        }
    }

    function showMemo(id) {
        $.post(path + '/customer/memo/view', {
            id: id
        }).done(function success() {
            $('#' + id).prev().find('.checked').text('확인').removeClass('color03');
        });
    }

    function deleteMemo(id) {
        $.post(path + '/customer/memo/delete', {
            id: id
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }

    function readMemoAll() {
        $.post(path + '/customer/memo/readAll', {
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }

    function deleteMemoAll() {
        $.post(path + '/customer/memo/deleteAll', {
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });
    }
</script>
</body>
</html>