<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='board'">
<body>

<main class="page" layout:fragment="page">
    <h3>추천인 현황</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/board/${code}|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list">
        <caption>추천인</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>아이디</th>
            <th>충전</th>
            <th>환전</th>
            <th>수익</th>
            <th>포인트</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${recommender}">
            <td class="popup color03" th:text="${m.userid}">아이디</td>
            <td class="popup num color04" th:text="${tag.num(m.inMoney)}">충전</td>
            <td class="popup num color03" th:text="${tag.num(m.outMoney)}">환전</td>
            <td class="popup num color02" th:text="${tag.num(m.inMoney - m.outMoney)}">차액</td>
            <td class="popup num color02" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${tag.num(m.point)}">포인트</td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <h3>포인트 현황</h3>

    <table class="list">
        <caption>게시판</caption>
        <colgroup>
            <col style="width: 45px">
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>번호</th>
            <th>사용내역</th>
            <th>포인트</th>
            <th>최종포인트</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <td th:text="${total - num.count}">1</td>
            <td th:class="${m.amount < 0} ? 'color03' : 'color01'" th:text="${m.pointCode.name}">사용내역</td>
            <td th:class="${m.amount < 0} ? 'color03 num popup' : 'color01 num popup'" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${tag.num(m.amount)}">머니</td>
            <td class="num n_money color0" th:text="${tag.num(m.orgPoint + m.amount)}">최종머니</td>
            <td th:utext="${tag.dayWeekTimes(m.regDate)}"></td>
        </tr>
        </tbody>
    </table>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>