<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='customer', lnb='rule', title='게임규칙'">
<body>
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: customer" th:if="true"></div>
<main class="page" layout:fragment="page">
    <div class="tab-menu2">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule1|}">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule2|}" class="on">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/rule3|}">오버언더</a>
    </div>
    <div class="box">
        <h3>핸디캡의 이해</h3>
        <ul>
            <li>홈팀 : 자신의 근거지에서 경기를 치루는 팀 또는 개인</li>
            <li>원정팀 : 상대팀의 근거지에서 경기를 치루는 팀 또는 개인</li>
            <li>핸디캡 : 전력이 우수한 팀에게 주어지는 불리한 조건, 상대적으로 전력이 우수한 팀에게 불리한 조건을 주어 경기의 균형을 맞춤</li>
            <li>홈팀을 기준으로 제시되며 홈팀이 강팀일 경우 (-)핸디캡을, 홈팀이 약팀일 경우 (+)어드밴티지를 받게 됨</li>
            <li>배당율 : 회원이 베팅한 금액에 대한 경기 종료 후 결과를 맞혔을 때 받아가는 정산 시 이익율</li>
        </ul>
        <ul>
            <li>ex) 10,000 원을 베팅했을 때 배당율이 1.85 라면 정산 후 회원은 총 18,500원의 배당금을 수령할 수 있음을 의미</li>
        </ul>
        <ul>
            <li>- 핸디캡의 종류를 표와 함께 설명</li>
            <li>- A팀 : (-)핸디캡을 받은 팀으로 가정하여 핸디캡을 받았다는 것은 실력이 우수한 강팀을 이야기합니다.</li>
            <li>- B팀 : (+)어드밴티지를 받은 팀으로 가정하여, 어드밴티지를 받았다는 것은 실력이 열등한 약팀을 이야기합니다.</li>
            <li>- A팀의 배당율은 1.70 B팀의 배당율은 1.90 으로 가정합니다.</li>
            <li>- 핸디캡을 받은 팀이 홈팀이면 기준점 앞에 (-)로 표시하고, 어드밴티지를 받은 팀이 홈팀이면 기준점 앞에 (+)로 표시합니다.</li>
            <li>- 위의 항목과 함께 10,000원을 베팅하였을 경우를 가정하여 설명합니다.</li>
        </ul>

        <br/>
        <h4>0.5</h4>
        <ul>
            <li>A팀 B팀 핸디 결과 A:B 스코어 획득금액 핸디 결과 A:B 스코어 획득금액 -0.5 승 1:0 10,000 x 1.70 = 17,000원 획득 0.5 패 1:0
                베팅금액
            </li>
            <li>전부 손실 패 1:1 베팅금액 전부 손실 승 1:1 10,000 x 1.90 = 19,000원 획득 패 1:2 베팅금액 전부 손실 승 1:2 10,000 x 1.90 =
                19,000원 획득
            </li>
        </ul>

        <br/>
        <h4>1</h4>
        <ul>
            <li>A팀 B팀 핸디 결과 A:B 스코어 획득금액 핸디 결과 A:B 스코어 획득금액 -1 승 2:0 10,000 x 1.70 = 17,000원 획득
                1 패 2:0 베팅금액 손실 승 1:1 10,000 x 1.90 = 19,000원 획득
            </li>
            <li>전부 손실 무 2:1 금액변화 없음 x1 적중특례 처리 무 2:1 금액변화 없음 x1 적중특례 처리 패 1:1 베팅금액 전부</li>
        </ul>

        <br/>
        <h4>1.5</h4>
        <ul>
            <li>A팀 B팀 핸디 결과 A:B 스코어 획득금액 핸디 결과 A:B 스코어 획득금액 -1.5 승 2:0 10,000 x 1.70 = 17,000원 획득 1.5 패 2:0
                베팅금액
            </li>
            <li>전부 손실 패 1:0 베팅금액 전부 손실 승 1:0 10,000 x 1.90 = 19,000원 획득 패 0:0 베팅금액 전부 손실 승 0:0 10,000 x 1.90 =
                19,000원 획득
            </li>
        </ul>

        <br/>
        <br/>
        <h3>핸디캡 규정</h3>
        <ul>
            <li>핸디캡 경기 방식은 대상경기의 승/패를 예상함에있어 양팀간에 주어진 핸디캡을 적용한 후 승/패를 맞히는 방식 입니다.</li>
        </ul>

        <br/>
        <br/>
        <h3>종목별 핸디캡 규정</h3>
        <ol>
            <li>축구 : 전/후반 90분까지의 결과를 적용(연장전 및 승부차기 제외)</li>
            <li>농구 : 1~4쿼터까지의 스코어로 결과적용 (연장전 미포함)</li>
            <li>배구 : 정규세트(1~5세트)경기결과를 적용</li>
            <li>야구 : 정규 9이닝까지의 결과를 적용(연장전 미포함)</li>
            <li>아이스하키 : 정규 3피리어드까지의 결과를 적용(연장전 및 승부치기 제외)</li>
            <li>핸드볼 : 전/후반 경기결과만을 적용(연장전 미포함)</li>
        </ol>
        <br/>

        <ul>
            <li>※ 오버/언더의 경우에도 연장전을 포함하지 않고 정규 시간의 결과만으로 정산 처리함</li>
            <li>상기의 규정에 충족되지 않더라도 경기주최 또는 공식협회 동의규정에 의해 정식경기로 성립이 된 경우에는 그 결과를 인정하여 적용할 수 있습니다.</li>
        </ul>
    </div>

</main>
</body>
</html>