<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='report', lnb='report'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>리포트 :</small>
    베팅내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/report/list|}" method="get">
                <label>
                    검색기간 :
                    <input type="text" class="cal" th:field="*{sdate}" /> ~
                    <input type="text" class="cal" th:field="*{edate}" />
                </label>
                <label>
                    폴더 :
                    <select th:field="*{betCount}">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </label>
                <label>
                    정렬 :
                    <select th:field="*{orderBy}">
                        <option value="totalCount">베팅횟수 높은순</option>
                        <option value="betMoney">베팅금액 높은순</option>
                        <option value="hitMoney">적중금액 높은순</option>
                    </select>
                </label>

                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/report/list|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                베팅내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col style="width: 50px;">
                <col style="width: 130px;">
                <col style="width: 130px;">
                <col style="width: 50px;">
                <col style="width: 30px;">
                <col style="width: 30px;">
                <col style="width: 30px;">
                <col style="width: 30px;">
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>등급</th>
                <th colspan="4">회원정보</th>
                <th>폴더</th>
                <th>배팅횟수</th>
                <th>배팅금액</th>
                <th>적중금액</th>
            </tr>
            </thead>
            <tbody class="bet" th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <tr class="betting">
                <td th:text="${total - num.count}">1</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color03 popup" th:text="${b.userid}">아이디</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color02 popup" th:text="${b.nickname}">닉네임</td>
                <td th:text="${b.level}">레벨</td>
                <td class="popup color04" th:onclick="|popup.payment.money('${b.userid}');|"><i class="bul fa fa fa-usd"></i></td>
                <td class="popup color04" th:onclick="|popup.payment.point('${b.userid}');|"><i class="bul fa fa-product-hunt"></i></td>
                <td class="popup color04" th:onclick="|popup.betting.list('${b.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td class="popup color04" th:onclick="|popup.customer.memo('${b.userid}');|"><i class="bul fa fa-envelope-o"></i></td>
                <td th:text="${b.betCount}">폴더</td>

                <td th:text="${b.totalCount}">배팅횟수</td>
                <td th:text="${tag.num(b.betMoney)}">배팅금액</td>
                <td th:text="${tag.num(b.hitMoney)}">적중금액</td>
            </tr>

            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>