<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <style>
        body {
            overflow: hidden;
            background-color: #000000;
            background-image: url('/images/login_bg.png?2343');
            background-position: 0px 0px
        }

        .logo {
            position:absolute;
            top:35%;
            left:50%;
            margin:-250px 0 0 -150px;
        }

        .cs_center {
            position: absolute;
            top: 110%;
            left: 52%;
            margin: -300px 0 0 -187px;
            color: #eabe36;
        }

        .loginDiv {
            background-image: url('/images/login_box.png?33');
            background-repeat: no-repeat;
            position:absolute;
            top:67%;
            left:51.1%;
            margin:-300px 0 0 -187px;
            width:470px;
            height:387px;
            /*border: solid 1px;*/
        }

        .loginDivId {
            position:absolute;
            width: 230px;
            top:108px;
            left:77px;
        }

        .loginDivPass {
            position:absolute;
            top:168px;
            left:77px;
            width: 230px;
        }

        input {
            background-color:transparent;
            border:0px;
            outline: none;
            width: 200px;
            line-height: 25px;
            color: #181c1f;
        }

        .imgBtn01 {
            top:207px;
            left: 31px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn01:hover {
            background: #363537;
        }

        .imgBtn02 {
            top:274px;
            left:31px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn02:hover {
            background: #2d2d2d;
        }

        .imgBtn03 {
            top:245px;
            left: 6px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn03:hover {
            background: #2d2d2d;
        }

    </style>
</head>
<body>
<!--<div class="chrome-layer">
    <img src="/images/chrome_info.png">
    <a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img src="/images/chromedownload_icon.png"></a>
</div>-->
<!--<video id="videobcg" preload="auto" autoplay="" loop="" muted="" poster="" data-bg-video="true" >
    <source src="/images/mov.mp4?234" type="video/mp4">
</video>-->
<div class="logo">
    <img src="/images/logo_login.png" width="400" style="margin-left: -120px;margin-left: -44px;">
</div>
<div class="loginDiv">
    <form id="frm" method="post" onsubmit="return login.goLogin();">
        <div class="loginDivId">
            <input type="text" id="l_username" name="l_username" placeholder="아이디" maxlength="20" onkeyup="enterkey()">
        </div>
        <div class="loginDivPass">
            <input type="password" id="l_password" name="l_password" placeholder="비밀번호" maxlength="20" onkeyup="enterkey()">
        </div>

        <a href="javascript:login.goLogin();"><img class="imgBtn01" src="/images/loginbtn.png"/></a>
        <a th:if="${siteConfig.join.joinButton}" th:href="@{${siteConfig.join.joinCodePage} ? |${siteConfig.pathJoin}/code| : |${siteConfig.pathJoin}/join|}"><img class="imgBtn02" src="/images/signupbtn.png"/></a>

    </form>
</div>
<div class="cs_center">
    <em style="margin-left: 50px;text-decoration: none;color: #ffee00;font-size: 40px;font-weight: bolder;text-shadow:6px 2px 2px #ff6417;">
        <!--<img src="/images/kakaTele.png" width="200px"/></em>-->
        <!--<span><a href="https://open.kakao.com/o/sFsfDYDb" target="_blank" style="color: #eabe36; font-weight: bold; font-size: 24px"><img src="/images/kakaotalk-logo.png" style="width: 30px"/>&nbsp;&nbsp;&nbsp;카카오톡 대화하기 클릭!</a></span></div>-->
        <!--<a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img src="/images/chrome.png" style="width: 30px;padding-left: 40px;"></a>-->
</div>
</body>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>


<script>
    var config = [(${config})];

    function enterkey() {
        if (window.event.keyCode == 13) {
            login.goLogin()
        }
    }
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</html>