<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="mode='main'">
<body>

<main class="main" layout:fragment="main">
    <link rel="stylesheet" href="/css/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>



    <div class="content container">
        <div class="main_t_box">
            <div class="bxslider">
                <div><img src="/images/intro_01.jpg" width="100%" height="318"></div>
                <div><img src="/images/intro_02.jpg" width="100%" height="318"></div>
                <div><img src="/images/intro_03.jpg" width="100%" height="318"></div>
                <div><img src="/images/intro_04.jpg" width="100%" height="318"></div>
            </div>

            <script>
                $('.bxslider').bxSlider({
                    auto: true,
                    mode: 'fade',
                    speed : 1000,
                    pause: 5000,
                    controls:false,
                    autoHover:true
                });
            </script>
        </div>
        <div class="main_c_banner">
            <table class="main_c_table">
                <tr>
                    <td><a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/banner/depositbanner4.png" class="imgOver"></a></td>
                    <td><a th:href="@{|${siteConfig.pathSite}/payment/withdraw|}"><img src="/images/banner/withdrawalbanner3.png" class="imgOver"></a></td>
                    <td><a th:href="@{|${siteConfig.pathSite}/game/cross|}"><img src="/images/banner/crossbanner.png" class="imgOver"></a></td>
                    <!--<td><a th:href="@{|${siteConfig.pathSite}/game/special|}"><img src="/images/banner/specialbanner.png" class="imgOver"></a></td>-->
                    <td><a href="#"><img src="/images/banner/specialbanner.png" class="imgOver"></a></td>
                    <!--<td><a th:href="@{|${siteConfig.pathSite}/game/inGame|}"><img src="/images/banner/livebanner.png" class="imgOver"></a></td>-->
                    <!--<td><a href="#"><img src="/images/banner/livebanner.png" class="imgOver"></a></td>-->


                    <td rowspan="2" class="r_banner"><a th:href="|${siteConfig.pathSite}/customer/qna/add|"><img src="/images/banner/callbanner.png"></a></td>
                </tr>
                <tr>
                    <td><a th:href="@{|${siteConfig.pathSite}/zone/power|}"><img src="/images/banner/minigamebanner.png" class="imgOver"></a></td>
                    <td><a th:href="@{|${siteConfig.pathSite}/casino/liveCasino|}"><img src="/images/banner/casinobanner.png" class="imgOver"></a></td>
                    <!--<td><a th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven|}"><img src="/images/banner/lotusbanner.png" class="imgOver"></a></td>-->
                    <td><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/banner/virtualgamebanner.png" class="imgOver"></a></td>
                    <td><a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}"><img src="/images/banner/rulebanner.png" class="imgOver"></a></td>
                    <!--<td><img src="/images/banner/friendsbanner.png" class="imgOver"></td>-->
                </tr>
            </table>
        </div>
        <section class="main-wrap">
            <article class="game">
                <h3><span th:text="${siteConfig.companyName}">Soul</span> 최근 경기 목록</h3>
                <ul>
                    <li th:each="list : ${gameList}">
                        <span class="date" th:utext="${tag.dayWeekTime2(list.gameDate)}">03.12(월) 23:00</span>
                        <span class="home" th:text="${list.teamHome}">Dyn. Moscow</span>
                        <span class="vs">VS</span>
                        <span class="away" th:text="${list.teamAway}">SKA St. Petersburg</span>
                    </li>
                </ul>
            </article>
            <article class="event">
                <h3><span th:text="${siteConfig.companyName}">Soul</span> 이벤트</h3>
                <ul>
                    <li th:each="list : ${eventList}">
                        <a th:href="@{|${siteConfig.pathSite}/board/event/${list.id}|}" th:utext="${tag.color(list.title)}"></a>
                    </li>
                </ul>
            </article>
            <article class="notice">
                <h3><span th:text="${siteConfig.companyName}">Soul</span> 공지사항</h3>
                <ul>
                    <li th:each="list : ${noticeList}">
                        <a th:href="@{|${siteConfig.pathSite}/board/notice/${list.id}|}" th:utext="${tag.color(list.title)}"></a>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</main>
<div layout:fragment="popup" th:if="${#arrays.length(popup) gt 0}">
    <div id="layout-wrap"></div>
    <div id="layout-box">
        <th:block th:each="p : ${popup}">
            <img th:src="@{|/images/notice/${p.image}?sdate=${p.sdate}|}" th:usemap="${'#' + p.id}" th:id="'popup' + ${p.id}" style="display: none;"/>
            <script>
                var _banner = 'popup[[${p.id}]]';
                if ($.cookie(_banner) !== 'hide') {
                    $('#' + _banner).show();
                }
            </script>
            <map th:name="${p.id}">
                <area shape="rect" coords="0,520,158,546" href="#" th:onclick="|hideImage('popup${p.id}', true);return false;|"/>
                <area shape="rect" coords="320,520,380,546" href="#" th:onclick="|hideImage('popup${p.id}', false);return false;|"/>
            </map>
        </th:block>
    </div>
</div>


<script layout:fragment="script" th:if="true">

    if ($('#layout-box img:visible').length === 0) {
        $('#layout-wrap, #layout-box').hide();
    }

    function hideImage(id, cook) {
        if (cook) {
            $.cookie(id, 'hide');
        }

        $('#' + id).slideUp(function () {
            if ($('#layout-box img:visible').length === 0) {
                $('#layout-wrap').fadeOut(function () {
                    $('#layout-wrap, #layout-box').hide();
                });
            }
        });
    }

</script>

</body>
</html>