<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='lotusBaccarat2', pnb='closing'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    바카라2 게임종료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/closing|}" method="get">
                <input type="hidden" id="page" name="page" th:value="${page.number + 1}">
                <input type="text" class="cal" th:field="*{gameDate}" placeholder="게임일자"/>
                <a href="#" id="sp-reset-date" class="btn btn-cal">지움</a>
                <label style="margin-left: 20px;">
                    회차:
                    <input type="text" th:field="*{round}" placeholder="회차"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/zone/lotusBaccarat2/closing|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                로투스 바카라 게임종료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>로투스 바카라 등록완료</caption>
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col>
                <col>
                <col>
                <col style="width: 120px;">
            </colgroup>
            <tbody th:each="g,num: ${page.content}" th:class="${num.count > 1} ? 'box'" th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 바카라 '">
            <tr>
                <td rowspan="2" th:text="${#dates.format(g.gameDate, 'dd(E) HH:mm')}">27(월)</td>
                <td rowspan="2" th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + ' 회차'"></td>
                <td rowspan="2" class="color02">로투스 바카라2</td>
                <td th:class="${g.result eq 'P'} ? 'home hit' : 'home'">
                    <p>
                        <span th:text="${round} + '[PLAYER]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[0], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('lBaccarat2', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td th:class="${g.result eq 'T'} ? 'home hit' : 'home'">
                    <p>
                        <span th:text="${round} + '[TIE]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('lBaccarat2', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td th:class="${g.result eq 'B'} ? 'home hit' : 'home'">
                    <p>
                        <span th:text="${round} + '[BANKER]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[2], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('lBaccarat2', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="2">
                    <a class="btn btn03" th:onclick="'closingBaccarat(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td th:class="${g.pp} ? 'home hit' : 'home'">
                    <p>
                        <span th:text="${round} + '[PLAYER PAIR]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[3], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('lBaccarat2', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td></td>
                <td th:class="${g.bp} ? 'home hit' : 'home'">
                    <p>
                        <span th:text="${round} + '[BANKER PAIR]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('lBaccarat2', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            </tbody>
            <tr th:if="${page.content.empty}">
                <td colspan="7" class="empty">
                    등록된 바카라2 경기가 없습니다.
                </td>
            </tr>
        </table>

        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingBaccarat(id) {
        window.open(path + '/zone/lotusBaccarat2/score?id=' + id, 'popup-LBACCARAT2', 'width=980, height=930');
    }
</script>
</body>
</html>