<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='soccer', pnb='closing'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    가상축구 게임종료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/zone/soccer/closing|}" method="get">
                <input type="hidden" id="page" name="page" th:value="${page.number + 1}">
                <input type="text" class="cal" th:field="*{gameDate}" placeholder="게임일자"/>
                <a href="#" id="sp-reset-date" class="btn btn-cal">지움</a>
                <label style="margin-left: 20px;">
                    리그선택 :
                    <select th:field="*{league}">
                        <option value="">리그선택</option>
                        <option value="Premiership">Premiership</option>
                        <option value="Superleague">Superleague</option>
                        <option value="World Cup">World Cup</option>
                    </select>
                </label>
                <label>
                    게임일시:
                    <input type="text" th:field="*{round}" placeholder="게임일시"/>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/zone/soccer/closing|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                가상축구 게임종료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>가상축구 등록완료</caption>
            <colgroup>
                <col style="width: 172px;">
                <col style="width: 120px;">
                <col style="width: 50px;">
                <col>
                <col style="width: 60px;">
                <col style="width: 140px;">
                <col style="width: 60px;">
                <col>
                <col style="width: 50px;">
                <col>
            </colgroup>
            <tbody th:each="g,num: ${page.content}" th:class="${num.count > 1} ? 'box'">
            <tr>
                <td rowspan="3">
                    <p th:class="${g.beforeGameDate ? 'color02' : 'color03'}"><span th:text="${#dates.format(g.gameDate, 'MM/dd(E) HH:mm')}"></span></p>
                    <p th:text="${g.league}">리그</p>
                </td>
                <td>
                    <span>승무패</span>
                </td>
                <td class="over">H</td>
                <td th:class="${g.ma eq 'home'} ? 'home hit' : 'home'">
                    <p><span th:text="${g.teamHome}">홈팀</span><span class="odds" th:text="${#numbers.formatDecimal(g.maHome, 1, 2)}">1.58</span></p>
                    <a style="width: 100%;" th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[0] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[0] gt 0 ? #numbers.formatInteger(g.amount[0], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="score" th:text="${g.scoreHome}"></td>
                <td th:class="${g.ma eq 'draw'} ? 'vs hit' : 'vs'">
                    <p class="odds" th:text="${#numbers.formatDecimal(g.maDraw, 1, 2)}"></p>
                    <a style="width: 140px;" th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="score" th:text="${g.scoreAway}"></td>
                <td th:class="${g.ma eq 'away'} ? 'away hit' : 'away'">
                    <p><span th:text="${g.teamAway}">원정팀</span><span class="odds" th:text="${#numbers.formatDecimal(g.maAway, 1, 2)}">1.58</span></p>
                    <a style="width: 100%;" th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="under">A</td>
                <td rowspan="3">
                    <a class="btn btn03" th:onclick="'closingSoccer(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span>핸디캡</span>
                </td>
                <td class="over">H</td>
                <td th:class="${g.ah eq 'home'} ? 'home hit' : 'home'">
                    <p><span th:text="${g.teamHome}"></span><span class="odds" th:text="${#numbers.formatDecimal(g.ahHome, 1, 2)}"></span></p>
                    <a th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="score" th:text="${g.scoreHome}"></td>
                <td th:class="${g.ah eq 'draw'} ? 'vs hit' : 'vs'">
                    <span th:text="${g.ahDraw}"></span>
                </td>
                <td class="score" th:text="${g.scoreAway}"></td>
                <td th:class="${g.ah eq 'away'} ? 'away hit' : 'away'">
                    <p><span th:text="${g.teamAway}"></span><span class="odds" th:text="${#numbers.formatDecimal(g.ahAway, 1, 2)}"></span></p>
                    <a th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="under">A</td>
            </tr>
            <tr>
                <td>
                    <span>오버언더</span>
                </td>
                <td class="over">O</td>
                <td th:class="${g.ou eq 'home'} ? 'home hit' : 'home'">
                    <p><span th:text="${g.teamHome}"></span><span class="odds" th:text="${#numbers.formatDecimal(g.ouHome, 1, 2)}"></span></p>
                    <a th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="score" th:text="${g.scoreHome}"></td>
                <td th:class="${g.ou eq 'draw'} ? 'vs hit' : 'vs'">
                    <span th:text="${g.ouDraw}"></span>
                </td>
                <td class="score" th:text="${g.scoreAway}"></td>
                <td th:class="${g.ou eq 'away'} ? 'away hit' : 'away'">
                    <p><span th:text="${g.teamAway}"></span><span class="odds" th:text="${#numbers.formatDecimal(g.ouAway, 1, 2)}"></span></p>
                    <a th:onclick="|popup.betting.zone('soccer', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="under">U</td>
            </tr>
            </tbody>
            <tr th:if="${page.content.empty}">
                <td colspan="10" class="empty">
                    등록된 가상축구 경기가 없습니다.
                </td>
            </tr>
        </table>


        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingSoccer(id) {
        window.open(path + '/zone/soccer/score?id=' + id, 'popup-soccer', 'width=800, height=300');
    }
</script>
</body>
</html>