<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> 가상축구 종료처리</h3>
            </div>
            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:text="${#dates.format(score.gameDate, 'MM/dd(E) HH:mm')}"></span>
                        <span class="color03" th:text="${score.league}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">경기결과</th>
                    <td>
                        <label><span th:text="${score.teamHome}"></span> &nbsp; <input type="text" th:field="*{scoreHome}" style="width: 60px; text-align: center;"/></label>
                        vs
                        <label style="margin-left:16px;"><input type="text" th:field="*{scoreAway}" style="width: 60px; text-align: center;"/> <span th:text="${score.teamAway}"></span></label>
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if ($('#scoreHome').val() == '') {
                $('#scoreHome').focus();
                alert('홈팀 스코어를 입력 하세요.');
                return false;
            }
            if ($('#scoreAway').val() == '') {
                $('#scoreAway').focus();
                alert('원정팀 스코어를 입력 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>