<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <style>
        body {
            background-image: url('/images/login_bg.jpg');
            background-position: 0px -100px
        }

        .logo {
            position:absolute;
            top:35%;
            left:50%;
            margin:-250px 0 0 -150px;
        }

        .loginDiv {
            background-image: url('/images/loginform2.png');
            background-repeat: no-repeat;
            position:absolute;
            top:65%;
            left:50%;
            margin:-250px 0 0 -157px;
            width:375px;
            height:387px;
            /*border: solid 1px;*/
        }

        .loginDivId {
            position:absolute;
            top:65px;
            left:70px;
        }

        .loginDivPass {
            position:absolute;
            top:98px;
            left:70px;
        }

        input {
            background-color:transparent;
            border:0px;
            outline: none;
            width: 200px;
            line-height: 25px;
            color: #000000;
        }

        .imgBtn01 {
            top:138px;
            left: 37px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn01:hover {
            background: #363537;
        }

        .imgBtn02 {
            top:138px;
            left: 158px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn02:hover {
            background: #2d2d2d;
        }

        .imgBtn03 {
            top:245px;
            left: 6px;
            position:absolute;
            cursor: pointer;
        }

        .imgBtn03:hover {
            background: #2d2d2d;
        }

    </style>
</head>
<body>
<div class="logo">
    <img src="/images/logo_login.png" width="300">
</div>
<div class="loginDiv">
    <form id="frm" method="post" onsubmit="return login.goLogin();">
        <div class="loginDivId">
            <input type="text" name="" maxlength="20">
        </div>
        <div class="loginDivPass">
            <input type="text" name="" maxlength="20">
        </div>

        <a href="javascript:login.goLogin();"><img class="imgBtn01" src="/images/loginbtn.png"/></a>
        <a th:if="${siteConfig.join.joinButton}" th:href="@{${siteConfig.join.joinCodePage} ? |${siteConfig.pathJoin}/code| : |${siteConfig.pathJoin}/join|}"><img class="imgBtn02" src="/images/signupbtn.png"/></a>

        <a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img class="imgBtn03" src="/images/cromdown.png"/></a>
    </form>
</div>
</body>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>


<script>
    var config = [(${config})];
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</html>