<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <style>
        body {
            background-image: url('/images/bg.jpg');
            background-position: 0px -100px
        }

        .logo {
            position:absolute;
            top:35%;
            left:50%;
            margin:-250px 0 0 -150px;
        }


        .loginDiv {
            background-image: url('/images/ex/login-box2.png');
            background-repeat: no-repeat;
            position:absolute;
            top:65%;
            left:50%;
            margin:-250px 0 0 -185px;
            width:375px;
            height:287px;
            /*border: solid 1px;*/
        }

        .loginDivId {
            position:absolute;
            top:87px;
            left:90px;
        }

        .loginDivPass {
            position:absolute;
            top:147px;
            left:90px;
        }

        input {
            background-color:transparent;
            border:0px;
            outline: none;
            width: 220px;
            line-height: 25px;
            color:#ffffff;
        }

        button {
            outline: none;
            position:absolute;
            font-weight: 100;
            box-shadow: 1px 1px 1px #000000;
            border: 0px;
            color: #bababa;
            cursor: pointer;
        }

        .btn01 {
            top:200px;
            left:41px;
            width:135px;
            height:30px;
            background: #515151;


        }
        .btn01:hover {
            background: #363537;
        }

        .btn02 {
            top:200px;
            left:190px;
            width:135px;
            height:30px;
            background: #515151;
        }
        .btn02:hover {
            background: #363537;
        }


    </style>
</head>
<body>
<div class="logo">
    <img src="/images/logo-login.png" width="300">
</div>
<div class="loginDiv">
    <div class="loginDivId">
        <input type="text" name="" maxlength="20">
    </div>
    <div class="loginDivPass">
        <input type="text" name="" maxlength="20">
    </div>

    <button class="btn01">JOIN</button>
    <button class="btn02">LOGIN</button>

</div>
</body>

</html>