<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='accounting', lnb='list'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>정산관리 :</small>
    지난 정산 내역
</h2>
<div layout:fragment="content">
    <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathSeller}/accounting/list|}" method="get">
        <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
    </form>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                지난 정산 내역
            </h3>
        </div>
        <table class="table-list">
            <caption>총판 정산 관리</caption>
            <thead>
            <tr>
                <th>총판/총판7</th>
                <th>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>실시간</th>
                <th>실시간P</th>
                <th>실시간C</th>
                <th>정산방식</th>
                <th>지급율</th>
                <th>정산일</th>
                <th>정산금</th>
                <th>정산</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="agency: ${page.content}">
                <tr th:each="m : ${agency.saleItems}">
                    <td>
                        <a th:text="${m.agencyDepth eq 1  ? m.agency1+' - 1D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 2  ? m.agency2+' - 2D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 3  ? m.agency3+' - 3D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 4  ? m.agency4+' - 4D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 5  ? m.agency5+' - 5D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 6  ? m.agency6+' - 6D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 7  ? m.agency7+' - 7D' : '' }"></a>
                    </td>
                    <td class="color01 num" th:text="${tag.num(m.users)}">정상회원</td>
                    <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                    <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                    <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                    <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone1) + '원'}">실시간</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone2) + '원'}">실시간</td>
                    <td class="color01" th:switch="${m.rateCode}">
                        <span th:remove="tag" th:case="'수익분배'" th:text="${m.rateCode}"></span>
                        <span th:remove="tag" th:case="'롤링분배'" th:text="${m.rateCode}"></span>
                        <span th:remove="tag" th:case="*" th:text="'-'"></span>
                    </td>
                    <td class="color02" th:switch="${m.rateCode}">
                        <span th:remove="tag" th:case="'수익분배'" th:text="${m.rateShare + '%'}"></span>
                        <span th:remove="tag" th:case="'롤링분배'" th:text="${m.rateSports + '% / ' + m.rateZone + '% / ' + m.rateZone1 + '% / ' + m.rateZone2 + '%'}"></span>
                        <span th:remove="tag" th:case="*" th:text="'-'"></span>
                    </td>
                    <td>
                        <span th:remove="tag" th:utext="${tag.dayWeekTimes(m.regDate)}"></span>
                    </td>
                    <td class="color04 num" th:text="${tag.num(m.lastMoney) + '원'}">정산금</td>
                    <td>
                        <span th:class="${!m.closing} ? 'color03'" th:text="${m.closing} ? '지급완료' : '미지급'"></span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function toggle(cls) {
        $('.' + cls).toggle();
    }

</script>
</body>
</html>