<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='accounting', lnb='share'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>파트너 관리 :</small>
    지급율 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-shopping-bag"></i>
                지급율 관리
                <span class="total"></span>
            </h3>
        </div>
        <table class="table-list">
            <caption>지급율 관리</caption>
            <thead>
            <tr>
                <th>총판/총판7</th>
                <th>가입회원</th>
                <th>정상회원</th>
                <th>총입금</th>
                <th>총출금</th>
                <th>총수익</th>
                <th>총스포츠</th>
                <th>총실시간</th>
                <th>총실시간P</th>
                <th>총실시간C</th>
                <th>정산방식</th>
                <th th:if="${hq.rateCode eq '수익분배'}">수익(%)</th>
                <th th:if="${hq.rateCode eq '롤링분배'}">스포츠(%)</th>
                <th th:if="${hq.rateCode eq '롤링분배'}">실시간(%)</th>
                <th th:if="${hq.rateCode eq '롤링분배'}">실시간P(%)</th>
                <th th:if="${hq.rateCode eq '롤링분배'}">실시간C(%)</th>
                <th style="width: 140px;">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" th:class="${m.role.name() eq 'AGENCY'} ? 'on'" >
                <td th:class="${isHQ} ? 'color0'" th:text="${m.joinCode}">총판7</td>
                <td class="color01 num" th:text="${tag.num(m.regMember)}">가입회원</td>
                <td class="color01 num" th:text="${tag.num(m.joinMember)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                <td class="color03 num" th:text="${tag.num(m.betZone1) + '원'}">실시간P</td>
                <td class="color03 num" th:text="${tag.num(m.betZone2) + '원'}">실시간C</td>
                <td th:text="${m.rateCode}">정산방식</td>
                <th:block th:if="${m.rateCode eq '수익분배'}">
                    <td>
                        <label th:remove="tag">
                            <input type="text" name="rateShare" th:value="${m.rateShare}" style="width: 60px; text-align: right;"/>%
                        </label>
                    </td>
                </th:block>
                <th:block th:if="${m.rateCode eq '롤링분배'}">
                    <td>
                        <label th:remove="tag">
                            <input type="text" name="rateSports" th:value="${m.rateSports}" style="width: 60px; text-align: right;"/>%
                        </label>
                    </td>
                    <td>
                        <label th:remove="tag">
                            <input type="text" name="rateZone" th:value="${m.rateZone}" style="width: 60px; text-align: right;"/>%
                        </label>
                    </td>
                    <td>
                        <label th:remove="tag">
                            <input type="text" name="rateZone1" th:value="${m.rateZone1}" style="width: 60px; text-align: right;"/>%
                        </label>
                    </td>
                    <td>
                        <label th:remove="tag">
                            <input type="text" name="rateZone2" th:value="${m.rateZone2}" style="width: 60px; text-align: right;"/>%
                        </label>
                    </td>
                </th:block>
                <td>
                    <a class="btn btn01" th:onclick="|updateShare('${m.userid}', this);|" style="width: 100px;">지급율수정 >></a>
                </td>
            </tr>
            <tr>
                <td colspan="99" style="text-align: left">
                    * 실시간 : 사다리, 달팽이, 다리다리, 알라딘, 로하이, 가상축구, 개경주, 세븐럭<br>
                    * 실시간P : 파워볼, 파워사다리<br>
                    * 실시간C : MGM홀짝, MGM바카라, 로투스홀짝, 로투스바카라1, 로투스바카라2<br>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function updateShare(userid, obj) {
        if (!confirm('지급율을 수정하시겠습니까?')) {
            return;
        }

        var tr = $(obj).parent().parent();

        $.post(path + '/accounting/share', {
            userid: userid,
            rateShare: tr.find('input[name=rateShare]').val(),
            rateSports: tr.find('input[name=rateSports]').val(),
            rateZone: tr.find('input[name=rateZone]').val(),
            rateZone1: tr.find('input[name=rateZone1]').val(),
            rateZone2: tr.find('input[name=rateZone2]').val()
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }

</script>
</body>
</html>