<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel=stylesheet href="/css/m_login_style.css"/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <style>
        body {
            background-image: url('/images/mlogin_bg.jpg');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            height:100%;
        }

    </style>
</head>
<body>
<input type=hidden name=use_otp id=use_otp value=0 />
<div class=login_wrap>
    <em><img src="/images/mlogo_login.png" style="width: 60%; padding-bottom: 20px;"/></em>
    <form id="frm" onsubmit="return login.checkCode();">
        <div><input class=style_input id="joinCode" name="joinCode" autofocus="autofocus" placeholder="추천인코드"/></div>
        <p>&nbsp;</p>
        <div><input type=button class=btn_submit value="확인" onclick="login.checkCode();"/></div>
        <div><input type=button class=btn_join value="취소" onclick="location.href='/'" ></div>
        <div class=login_foot>
            <!--<div class=telegram><em><img src="/images/icon_telegram.png"></em><span>나들목</span></div>-->
            <div class=text1>Copyright 나들목 Corp (C). All Rights Reserved.</div>
        </div>
    </form>
</div>
</body>
<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
<script>
    var config = [(${config})];
</script>
</html>