<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='zone', lnb='newSnail', pnb='complete'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>실시간 :</small>
    NEW달팽이 등록완료
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bars" aria-hidden="true"></i>
                NEW달팽이 등록완료
                <span th:class="${config.enabled} ? 'color02' : 'color03'" th:text="${config.enabled} ? '(게임 실행 중)' : '(게임 중지 중)'">게임실행중</span>
                <a class="btn btn03" onclick="closingAll();" style="width: 200px;"><i class="fa fa-download"></i> 베팅 없는 경기 결과처리</a>
            </h3>
        </div>
        <table class="table-list table-game table-zone">
            <caption>NEW달팽이 등록완료</caption>
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col style="width: 140px;">
                <col>
                <col>
                <col>
                <col style="width: 120px;">
            </colgroup>
            <tbody th:each="g,num: ${list}" th:class="${num.count > 1} ? 'box'" th:with="round = ${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + '회차 NEW달팽이 '">
            <tr>
                <td rowspan="99" th:utext="${tag.dayWeekTime(g.gameDate)}">27(월)</td>
                <td rowspan="99" th:class="${not g.beforeGameDate} ? 'color03' : 'color01'" th:text="${#numbers.formatInteger(g.round, 3, 'DEFAULT')} + ' 회차'"></td>
                <td class="color02">홀 / 짝</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[홀]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[1], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[1] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[1] gt 0 ? #numbers.formatInteger(g.amount[1], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[짝]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[2], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[2] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[2] gt 0 ? #numbers.formatInteger(g.amount[2], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td rowspan="99">
                    <a class="btn btn03" th:onclick="'closingSnail(' + ${g.id} + ');'">결과</a>
                </td>
            </tr>
            <tr>
                <td class="color02">오버 / 언더</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[오버]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[3], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[3] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[3] gt 0 ? #numbers.formatInteger(g.amount[3], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[언더]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[4], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[4] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[4] gt 0 ? #numbers.formatInteger(g.amount[4], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="color02">순위</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이1]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[5], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[5] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[5] gt 0 ? #numbers.formatInteger(g.amount[5], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[6], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[6] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[6] gt 0 ? #numbers.formatInteger(g.amount[6], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[7], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[7] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[7] gt 0 ? #numbers.formatInteger(g.amount[7], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[8], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[8] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[8] gt 0 ? #numbers.formatInteger(g.amount[8], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>

            <tr>
                <td rowspan="3" class="color02">복승식</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[9], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[9] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[9] gt 0 ? #numbers.formatInteger(g.amount[9], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[10], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[10] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[10] gt 0 ? #numbers.formatInteger(g.amount[10], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[11], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[11] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[11] gt 0 ? #numbers.formatInteger(g.amount[11], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 2 & 3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[12], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[12] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[12] gt 0 ? #numbers.formatInteger(g.amount[12], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 2 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[13], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[13] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[13] gt 0 ? #numbers.formatInteger(g.amount[13], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 3 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[14], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[14] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[14] gt 0 ? #numbers.formatInteger(g.amount[14], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>

            <tr>
                <td rowspan="6" class="color02">쌍승식</td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[15], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[15] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[15] gt 0 ? #numbers.formatInteger(g.amount[15], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[16], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[16] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[16] gt 0 ? #numbers.formatInteger(g.amount[16], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 1 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[17], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[17] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[17] gt 0 ? #numbers.formatInteger(g.amount[17], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 2 & 1]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[18], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[18] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[18] gt 0 ? #numbers.formatInteger(g.amount[18], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 2 & 3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[19], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[19] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[19] gt 0 ? #numbers.formatInteger(g.amount[19], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 2 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[20], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[20] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[20] gt 0 ? #numbers.formatInteger(g.amount[20], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 3 & 1]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[21], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[21] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[21] gt 0 ? #numbers.formatInteger(g.amount[21], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 3 & 2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[22], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[22] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[22] gt 0 ? #numbers.formatInteger(g.amount[22], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 3 & 4]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[23], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[23] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[23] gt 0 ? #numbers.formatInteger(g.amount[23], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 4 & 1]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[24], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[24] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[24] gt 0 ? #numbers.formatInteger(g.amount[24], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>
            <tr>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 4 & 2]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[25], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[25] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[25] gt 0 ? #numbers.formatInteger(g.amount[25], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
                <td class="home">
                    <p>
                        <span th:text="${round} + '[달팽이 4 & 3]'"></span>
                        <span class="odds" th:text="${#numbers.formatDecimal(g.odds[26], 0, 2, 'DEFAULT')}"></span>
                    </p>
                    <a th:onclick="|popup.betting.zone('newSnail', ${g.sdate});|" th:class="${g.amount[26] gt 0 ? 'btn btn-team on' : 'btn btn-team'}" th:text="${g.amount[26] gt 0 ? #numbers.formatInteger(g.amount[26], 0, 'DEFAULT') : '베팅내역'}">베팅내역</a>
                </td>
            </tr>

            </tbody>
            <tr th:if="${list.empty}">
                <td colspan="7" class="empty">
                    등록된 달팽이 경기가 없습니다.
                </td>
            </tr>
        </table>

        <div class="panel-footer">

        </div>

    </section>
</div>
<script layout:fragment="script" th:if="true">
    function closingSnail(id) {
        window.open(path + '/zone/newSnail/score?id=' + id, 'popup-newSnail', 'width=900, height=1036');
    }

    function closingAll() {
        $.post(path + '/zone/newSnail/closing').done(function (data) {
            if (data.success) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }
</script>
</body>
</html>