<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> NEW달팽이 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width: 828px; height: 630px; overflow: hidden;position: relative;">
                    <iframe id="zoneBox" style="position: absolute; width: 828px; height: 680px;top: -50px;" scrolling="no" th:src="@{${sysConfig.zone.newSnailPlayer}}"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:utext="${tag.dayWeekTime(score.gameDate)}"></span>
                        <span class="color03" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">순위</th>
                    <td>
                        <select th:field="*{rank1}">
                            <option value=""> :: 선택 :: </option>
                            <option value="snail1"> 달팽이 1 </option>
                            <option value="snail2"> 달팽이 2 </option>
                            <option value="snail3"> 달팽이 3 </option>
                            <option value="snail4"> 달팽이 4 </option>
                        </select>
                        <select th:field="*{rank2}">
                            <option value=""> :: 선택 :: </option>
                            <option value="snail1"> 달팽이 1 </option>
                            <option value="snail2"> 달팽이 2 </option>
                            <option value="snail3"> 달팽이 3 </option>
                            <option value="snail4"> 달팽이 4 </option>
                        </select>
                        <select th:field="*{rank3}">
                            <option value=""> :: 선택 :: </option>
                            <option value="snail1"> 달팽이 1 </option>
                            <option value="snail2"> 달팽이 2 </option>
                            <option value="snail3"> 달팽이 3 </option>
                            <option value="snail4"> 달팽이 4 </option>
                        </select>
                        <select th:field="*{rank4}">
                            <option value=""> :: 선택 :: </option>
                            <option value="snail1"> 달팽이 1 </option>
                            <option value="snail2"> 달팽이 2 </option>
                            <option value="snail3"> 달팽이 3 </option>
                            <option value="snail4"> 달팽이 4 </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if($('#rank1').val() == '' || $('#rank2').val() == '' || $('#rank3').val() == '' || $('#rank4').val() == '') {
                alert('결과처리를 완료 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>