<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='score', lnb='ladder'">
<body>

<section layout:fragment="section">
    <h3>파워사다리 경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/power_ladder/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game">
        <caption>사다리</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>오늘회차</th>
            <th>시작방향</th>
            <th>사다리수</th>
            <th>홀짝</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.num(g.times)} + '회'"></td>
            <td class="color01" th:text="${tag.round(g.round, 3)} + '회차'"></td>
            <td>
                <span th:if="${g.start eq 'LEFT'}" class="color01">좌</span>
                <span th:if="${g.start eq 'RIGHT'}" class="color02">우</span>
                <span th:if="${g.start ne 'LEFT' and g.start ne 'RIGHT'}">-</span>
            </td>
            <td>
                <span th:if="${g.line eq '3'}" class="color01">3줄</span>
                <span th:if="${g.line eq '4'}" class="color02">4줄</span>
                <span th:if="${g.line ne '3' and g.line ne '4'}">-</span>
            </td>
            <td>
                <span th:if="${g.oddeven eq 'ODD'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'EVEN'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'ODD' and g.oddeven ne 'EVEN'}">-</span>
            </td>
            <td>
                <span th:if="${g.line eq '3' and g.oddeven eq 'EVEN'}" class="ladder-result s1"></span>
                <span th:if="${g.line eq '4' and g.oddeven eq 'ODD'}" class="ladder-result s2"></span>
                <span th:if="${g.line eq '3' and g.oddeven eq 'ODD'}" class="ladder-result s3"></span>
                <span th:if="${g.line eq '4' and g.oddeven eq 'EVEN'}" class="ladder-result s4"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>