<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title th:text="${siteConfig.companyName}">Best of Stella</title>
    <link rel="shortcut icon" th:href="@{|/images/favicon.ico?v=${siteConfig.version}|}">
    <link rel="stylesheet" th:href="@{|/css/style.mobile.css?v=${siteConfig.version}|}">
    <script th:src="@{|/js/jquery-3.1.1.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/jquery-ui.min.js?v=${siteConfig.version}|}"></script>
    <script th:src="@{|/js/angular.min.js?v=${siteConfig.version}|}"></script>
</head>
<body>
<div id="gnb" th:fragment="gnb">
    <div class="gnb-box">
        <div class="user-box">
            <span th:replace="fragments/site :: level(lv=${user.level})"></span>
            <span class="user-id" th:text="${user.nickname}">함주나</span> 님
            <span id="btn-close">CLOSE</span>
        </div>
        <div class="user-memo">
            <a th:href="@{|${siteConfig.pathSite}/customer/qna|}" class="qna">고객상담 <em class="memo-cnt" th:text="${tag.num(user.qna)}">1</em></a>
            <a href="/logout" class="btn btn03">로그아웃</a>
        </div>
        <!--<div class="gnb-btn">
            <div class="btn-deposit"><a class="" th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/side/left_top01.png" class="sideTopIcon">충전</a></div>
            <div class="btn-withdraw"><a class="" th:href="@{|${siteConfig.pathSite}/payment/withdraw|}"><img src="/images/side/left_top02.png" class="sideTopIcon">환전</a></div>
        </div>-->
        <!--<div class="gnb-btn">
            <div th:if="${sysConfig.event.daily}" class="btn-deposit"><a class="" th:href="@{|${siteConfig.pathSite}/event/daily|}"><img src="/images/side/left_top03.png" class="sideTopIcon">출석체크</a></div>
            &lt;!&ndash;<div class="btn-withdraw"><a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/side/left_top04.png" class="sideTopIcon">계좌문의</a></div>&ndash;&gt;
        </div>-->
        <ul>
            <li th:if="${sysConfig.event.lotto}"><a th:href="@{|${siteConfig.pathSite}/event/lotto|}"><img src="/images/side/left_20.png" class="sideIcon">룰렛복권</a></li>
            <li th:class="${gnb eq 'cross'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/cross|}"><img src="/images/side/left_01.png" class="sideIcon">크로스</a></li>
            <li th:class="${gnb eq 'special'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/special|}"><img src="/images/side/left_02.png" class="sideIcon">스페셜</a></li>
            <li th:if="${sysConfig.casino.enabled}" th:class="${gnb eq 'liveCasino'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/casino/liveCasino|}"><img src="/images/side/left_28.png" class="sideIcon">LIVE카지노</a></li>
            <!--<li th:if="${sysConfig.sports.inGame eq 'inGame'}" th:class="${gnb eq 'inGame'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/inGame|}"><img src="/images/side/left_03.png" class="sideIcon">인게임</a></li>-->
            <!--<li th:if="${sysConfig.sports.canLive}" th:class="${gnb eq 'live'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/game/live|}"><img src="/images/side/left_03.png" class="sideIcon">라이브</a></li>-->
            <!--<li th:if="${sysConfig.zone.powerLotto}" th:class="${gnb eq 'powerLotto'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/powerLotto|}"><img src="/images/side/left_15.png" class="sideIcon">파워볼로또</a></li>-->
            <th:block th:if="${!sysConfig.zone.gnb.empty}">
                <li th:if="${sysConfig.zone.eosPower1 and T(spoon.gameZone.ZoneConfig).eosPower1.enabled}" th:class="${gnb eq 'zone' and lnb eq 'eosPower1'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower1|}"><img src="/images/side/left_43.png" class="sideIcon">EOS파워볼 1분</a></li>
                <li th:if="${sysConfig.zone.eosPower2 and T(spoon.gameZone.ZoneConfig).eosPower2.enabled}" th:class="${gnb eq 'zone' and lnb eq 'eosPower2'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower2|}"><img src="/images/side/left_43.png" class="sideIcon">EOS파워볼 2분</a></li>
                <li th:if="${sysConfig.zone.eosPower3 and T(spoon.gameZone.ZoneConfig).eosPower3.enabled}" th:class="${gnb eq 'zone' and lnb eq 'eosPower3'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower3|}"><img src="/images/side/left_43.png" class="sideIcon">EOS파워볼 3분</a></li>
                <li th:if="${sysConfig.zone.eosPower4 and T(spoon.gameZone.ZoneConfig).eosPower4.enabled}" th:class="${gnb eq 'zone' and lnb eq 'eosPower4'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower4|}"><img src="/images/side/left_43.png" class="sideIcon">EOS파워볼 4분</a></li>
                <li th:if="${sysConfig.zone.eosPower5 and T(spoon.gameZone.ZoneConfig).eosPower5.enabled}" th:class="${gnb eq 'zone' and lnb eq 'eosPower5'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/eosPower5|}"><img src="/images/side/left_43.png" class="sideIcon">EOS파워볼 5분</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'boglePower'} ? 'on'" th:if="${sysConfig.zone.boglePower and T(spoon.gameZone.ZoneConfig).boglePower.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/boglePower|}"><img src="/images/side/left_42.png" class="sideIcon">보글파워볼</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'boglePower'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).boglePower.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">보글파워볼</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'bogleLadder'} ? 'on'" th:if="${sysConfig.zone.bogleLadder and T(spoon.gameZone.ZoneConfig).bogleLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/bogleLadder|}"><img src="/images/side/left_12.png" class="sideIcon">보글사다리</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'bogleLadder'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).bogleLadder.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_12.png" class="sideIcon">보글사다리</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'power'} ? 'on'" th:if="${sysConfig.zone.power and T(spoon.gameZone.ZoneConfig).power.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power|}"><img src="/images/side/left_15.png" class="sideIcon">파워볼</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'power'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).power.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">파워볼</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'power_ladder'} ? 'on'" th:if="${sysConfig.zone.powerLadder and T(spoon.gameZone.ZoneConfig).powerLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/power_ladder|}"><img src="/images/side/left_16.png" class="sideIcon">파워사다리</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'power_ladder'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).powerLadder.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">파워사다리</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'kenoLadder'} ? 'on'" th:if="${sysConfig.zone.kenoLadder and T(spoon.gameZone.ZoneConfig).kenoLadder.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoLadder|}"><img src="/images/side/left_27.png" style="width: 70px;" class="sideIcon">키노사다리</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'kenoLadder'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).kenoLadder.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">키노사다리</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'powerFreeKick'} ? 'on'" th:if="${sysConfig.zone.powerFreeKick and T(spoon.gameZone.ZoneConfig).powerFreeKick.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/powerFreeKick|}"><img src="/images/side/left_15.png" class="sideIcon">파워프리킥</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'speedHomeRun'} ? 'on'" th:if="${sysConfig.zone.speedHomeRun and T(spoon.gameZone.ZoneConfig).speedHomeRun.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/speedHomeRun|}"><img src="/images/side/left_27.png" style="width: 70px;" class="sideIcon">스피드홈런</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame1'} ? 'on'" th:if="${sysConfig.zone.fxGame1 and T(spoon.gameZone.ZoneConfig).fxGame1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame1|}"><img src="/images/side/left_41.png" class="sideIcon">FX게임1분</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'fxGame1'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).fxGame1.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_41.png" class="sideIcon">FX게임1분</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame2'} ? 'on'" th:if="${sysConfig.zone.fxGame2 and T(spoon.gameZone.ZoneConfig).fxGame2.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame2|}"><img src="/images/side/left_41.png" class="sideIcon">FX게임2분</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'fxGame2'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).fxGame2.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_41.png" class="sideIcon">FX게임2분</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame3'} ? 'on'" th:if="${sysConfig.zone.fxGame3 and T(spoon.gameZone.ZoneConfig).fxGame3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame3|}"><img src="/images/side/left_41.png" class="sideIcon">FX게임3분</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'fxGame3'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).fxGame3.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_41.png" class="sideIcon">FX게임3분</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame4'} ? 'on'" th:if="${sysConfig.zone.fxGame4 and T(spoon.gameZone.ZoneConfig).fxGame4.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame4|}"><img src="/images/side/left_41.png" class="sideIcon">FX게임4분</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'fxGame4'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).fxGame4.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_41.png" class="sideIcon">FX게임4분</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'fxGame5'} ? 'on'" th:if="${sysConfig.zone.fxGame5 and T(spoon.gameZone.ZoneConfig).fxGame5.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/fxGame5|}"><img src="/images/side/left_41.png" class="sideIcon">FX게임5분</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'fxGame5'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).fxGame5.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_41.png" class="sideIcon">FX게임5분</a></li>-->
                <li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer and T(spoon.gameZone.ZoneConfig).soccer.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/side/left_09.png" class="sideIcon">가상축구</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'dog'} ? 'on'" th:if="${sysConfig.zone.dog and T(spoon.gameZone.ZoneConfig).dog.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/dog|}"><img src="/images/side/left_26.png" class="sideIcon">개경주</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'kenoSpeed'} ? 'on'" th:if="${sysConfig.zone.kenoSpeed and T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/kenoSpeed|}"><img src="/images/side/left_27.png" style="width: 70px;" class="sideIcon">스피드키노</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'kenoSpeed'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).kenoSpeed.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">스피드키노</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin1'} ? 'on'" th:if="${sysConfig.zone.binanceCoin1 and T(spoon.gameZone.ZoneConfig).binanceCoin1.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin1|}"><img src="/images/side/left_40.png" class="sideIcon">비트코인 1분</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin1'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).binanceCoin1.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">비트코인 1분</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin3'} ? 'on'" th:if="${sysConfig.zone.binanceCoin3 and T(spoon.gameZone.ZoneConfig).binanceCoin3.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/binanceCoin3|}"><img src="/images/side/left_40.png" class="sideIcon">비트코인 3분</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'binanceCoin3'} ? 'on'" th:if="!${T(spoon.gameZone.ZoneConfig).binanceCoin3.enabled}"><a href="javascript:alert('해당 게임은 점검 중 입니다.')"><img src="/images/side/left_15.png" class="sideIcon">비트코인 3분</a></li>-->
                <!--<li th:if="${sysConfig.zone.graph}" th:class="${gnb eq 'graph'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/zone/graph|}"><img src="/images/side/left_19.png" class="sideIcon">그래프</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'tkBaccarat'} ? 'on'" th:if="${sysConfig.zone.tkBaccarat and T(spoon.gameZone.ZoneConfig).tkBaccarat.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/tkBaccarat|}"><img src="/images/side/left_15.png" class="sideIcon">토큰 바카라</a></li>-->
                <li th:class="${gnb eq 'token' and lnb eq 'hilo5'} ? 'on'" th:if="${sysConfig.zone.tkHilo5}"><a th:href="@{|${siteConfig.pathSite}/zone/hilo5|}"><img src="/images/side/left_15.png" class="sideIcon">토큰 하이로우5</a></li>
                <li th:class="${gnb eq 'token' and lnb eq 'hilo'} ? 'on'" th:if="${sysConfig.zone.tkHilo}"><a th:href="@{|${siteConfig.pathSite}/zone/hilo|}"><img src="/images/side/left_15.png" class="sideIcon">토큰 하이로우10</a></li>
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'tkRoulette'} ? 'on'" th:if="${sysConfig.zone.tkRoulette and T(spoon.gameZone.ZoneConfig).tkRoulette.enabled}"><a th:href="@{|${siteConfig.pathSite}/zone/tkRoulette|}"><img src="/images/side/left_15.png" class="sideIcon">토큰 룰렛</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'oddeven'} ? 'on'" th:if="${sysConfig.zone.oddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/oddeven|}"><img src="/images/side/left_04.png" class="sideIcon">MGM홀짝</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'baccarat'} ? 'on'" th:if="${sysConfig.zone.baccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/baccarat|}"><img src="/images/side/left_05.png" class="sideIcon">MGM바카라</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'lotusOddeven'} ? 'on'" th:if="${sysConfig.zone.lotusOddeven}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusOddeven|}"><img src="/images/side/left_06.png" class="sideIcon">로투스홀짝</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'lotusBaccarat'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat|}"><img src="/images/side/left_07.png" class="sideIcon">로투스바카라Ⅰ</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'lotusBaccarat2'} ? 'on'" th:if="${sysConfig.zone.lotusBaccarat2}"><a th:href="@{|${siteConfig.pathSite}/zone/lotusBaccarat2|}"><img src="/images/side/left_08.png" class="sideIcon">로투스바카라Ⅱ</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'ladder'} ? 'on'" th:if="${sysConfig.zone.ladder}"><a th:href="@{|${siteConfig.pathSite}/zone/ladder|}"><img src="/images/side/left_12.png" class="sideIcon">사다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'dari'} ? 'on'" th:if="${sysConfig.zone.dari}"><a th:href="@{|${siteConfig.pathSite}/zone/dari|}"><img src="/images/side/left_13.png" class="sideIcon">다리다리</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'snail'} ? 'on'" th:if="${sysConfig.zone.snail}"><a th:href="@{|${siteConfig.pathSite}/zone/snail|}"><img src="/images/side/left_14.png" class="sideIcon">달팽이</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'newSnail'} ? 'on'" th:if="${sysConfig.zone.newSnail}"><a th:href="@{|${siteConfig.pathSite}/zone/newSnail|}"><img src="/images/side/left_14.png" class="sideIcon">NEW달팽이</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'aladdin'} ? 'on'" th:if="${sysConfig.zone.aladdin}"><a th:href="@{|${siteConfig.pathSite}/zone/aladdin|}"><img src="/images/side/left_17.png" class="sideIcon">알라딘</a></li>
                <li th:class="${gnb eq 'zone' and lnb eq 'lowhi'} ? 'on'" th:if="${sysConfig.zone.lowhi}"><a th:href="@{|${siteConfig.pathSite}/zone/lowhi|}"><img src="/images/side/left_18.png" class="sideIcon">로하이</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/side/left_09.png" class="sideIcon">가상 슈퍼리그</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${!sysConfig.zone.soccer}"><a href="javascript:alert('현재 점검중입니다.')"><img src="/images/side/left_09.png" class="sideIcon">가상 슈퍼리그</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/side/left_10.png" class="sideIcon">가상 월드컵</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${!sysConfig.zone.soccer}"><a href="javascript:alert('현재 점검중입니다.')"><img src="/images/side/left_10.png" class="sideIcon">가상 월드컵</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${sysConfig.zone.soccer}"><a th:href="@{|${siteConfig.pathSite}/zone/soccer|}"><img src="/images/side/left_11.png" class="sideIcon">가상 프리미어리그</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'soccer'} ? 'on'" th:if="${!sysConfig.zone.soccer}"><a href="javascript:alert('현재 점검중입니다.')"><img src="/images/side/left_11.png" class="sideIcon">가상 프리미어리그</a></li>-->
                <!--<li th:class="${gnb eq 'zone' and lnb eq 'dog'} ? 'on'" th:if="${!sysConfig.zone.dog}"><a href="javascript:alert('현재 점검중입니다.')"><img src="/images/side/left_26.png" class="sideIcon">개경주</a></li>-->
            </th:block>

            <li th:class="${gnb eq 'score'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/score/cross|}"><img src="/images/side/left_19.png" class="sideIcon">경기결과</a></li>
            <li th:class="${gnb eq 'betting'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/betting|}"><img src="/images/side/left_20.png" class="sideIcon">베팅내역</a></li>
            <li th:class="${lnb eq 'notice'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/notice|}"><img src="/images/side/left_21.png" class="sideIcon">규정</a></li>
            <li th:class="${lnb eq 'event'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/event|}"><img src="/images/side/left_21.png" class="sideIcon">이벤트</a></li>
            <!--<li th:class="${lnb eq 'free'} ? 'on'"><a th:href="@{|${siteConfig.pathSite}/board/free|}"><img src="/images/side/left_22.png" class="sideIcon">자유게시판</a></li>-->
            <li th:class="${gnb eq 'customer' ? 'on' : ''}"><a th:href="@{|${siteConfig.pathSite}/customer/qna|}"><img src="/images/side/left_23.png" class="sideIcon">고객센터</a></li>
            <li th:if="${sysConfig.event.daily}" class="btn-deposit"><a class="" th:href="@{|${siteConfig.pathSite}/event/daily|}"><img src="/images/side/left_top03.png" class="sideTopIcon">출석체크</a></li>
            <li class="btn-deposit"><a class="" th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/side/left_top01.png" class="sideTopIcon">충전신청</a></li>
            <li class="btn-withdraw"><a class="" th:href="@{|${siteConfig.pathSite}/payment/withdraw|}"><img src="/images/side/left_top02.png" class="sideTopIcon">환전신청</a></li>
            <a class="btn-big" th:href="@{|${siteConfig.pathSite}/main?site_preference=normal|}">PC 버전</a>
            <li th:class="${gnb eq 'recommender' ? 'on' : ''}"><a th:href="@{|${siteConfig.pathSite}/recommender|}"><img src="/images/side/left_25.png" class="sideIcon">추천인 현황</a></li>
        </ul>
    </div>
</div>
<div th:fragment="javascript" th:remove="tag">
    <script th:src="@{|/js/common.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode ne 'login'}" th:src="@{|/js/common.mobile.js?v=${siteConfig.version}|}"></script>
    <script th:if="${mode eq 'login'}" th:src="@{|/js/common.join.js?v=${siteConfig.version}|}"></script>
</div>
</body>
</html>