
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="/customForm/css/style2.css" />
    <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
    <style>
        @import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
        body {
            background: url(/images/sample/login4.jpg) no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        .container > header h1,
        .container > header h2 {
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }
    </style>
</head>
<body>
<div class="container">

    <header>
        <span><img src="/images/sample/logo-login4.png"></span>
    </header>

    <section class="main">
        <form id="frm" method="post" onsubmit="return false;" class="form-3">
            <p class="clearfix"></p><p class="clearfix"></p><p class="clearfix"></p>
            <p class="clearfix">
                <input type="text" style="width:278px;" name="joinCode" id="joinCode" placeholder="CODE">
            </p>
            <p class="clearfix">
                <button onclick="javascript:codeForm();" type="button">확인</button>
            </p>
            <p class="clearfix">
                <button onclick="javascript:location.href='/';" type="button">취소</button>
            </p>
        </form>​
    </section>

</div>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>

<script>
    function codeForm(){
        login.checkCode();
    }

    var config = [(${config})];

    $('input[type="joinCode"]').keydown(function() {
        if (event.keyCode === 13) {
            loginForm();
        }
    });

</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</body>
</html>