<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <meta name="description" content="나들목"/>
    <meta name="keywords" content="나들목"/>
    <meta name="author" content="나들목"/>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="/customForm/css/style.css?1"/>
    <script src="/customForm/js/modernizr.custom.63321.js"></script>
    <style>

        body {
            background-color: #000000;
            background-image: url('/images/login_bg.png');
            /*background-position: 0px -100px*/
        }
        .chrome-layer {
            background: rgba(42, 42, 42, 0.8);
            width: 100%;
            position: absolute;
            z-index: 998;
            left: 0;
            top: 0;
            text-align: center;
        }

        .label_p2 {
            font-size: 10px;
            color: #ffffff;
            padding-left:5px;
            height: 20px;
        }
    </style>
</head>

<body>
<div class="chrome-layer">
    <img src="/images/chrome_info.png">
    <a href="https://www.google.co.kr/chrome/thankyou.html" target="_blank"><img src="/images/chromedownload_icon.png"></a>
</div>
<div class="container">
    <header>

        <div class="support-note">
            <img src="/images/logo_login.png" width="20%">
        </div>

    </header>

    <section class="main" style="margin-top: -102px;">
        <form id="frm-join" method="post" th:object="${member}" onsubmit="return login.goJoin();" class="form-2" style="background: #000000;opacity: 0.9;width:340px;">
            <h1><span class="log-in">회원 가입</span></h1>
            <input type="hidden" th:field="*{code}" th:value="${joinCode}" />
            <input type="hidden" th:if="${!siteConfig.join.showRecommend}" th:field="*{recommender}" />
            <p class="clearfix">&nbsp;</p>
            <p class="clearfix">
                <input type="text" th:field="*{userid}" maxlength="12" placeholder="아이디">
                <span id="bul-userid" class="bul"></span>
            <p class="label_p2">└ 영문/숫자 조합 4~12자 이내로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{nickname}" maxlength="12" placeholder="닉네임">
            <p class="label_p2">└ 한글 2~7자, 영문 4~14자. 특수문자 불가.</p>
            </p>
            <p class="clearfix">
                <input type="password" th:field="*{password}" maxlength="16" placeholder="비밀번호">
            <p class="label_p2">└ 영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="password" id="passwordConfirm" maxlength="16" placeholder="비밀번호 확인">
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{phone}" maxlength="16" placeholder="휴대폰 번호">
                <span th:if="${siteConfig.join.duplicatePhone}" id="bul-phone" class="bul"></span>
            <p class="label_p2">└ 문자와 통화가 가능하신 정확한 연락처를 기재.</p>
            </p>
            <p class="clearfix" style="padding-bottom: 10px;">
                <select th:field="*{bank}" style="width:100%;height:25px;color:#b1b1b1;background-color: #212121;">
                    <option value="">은행선택</option>
                    <option th:each="bank : ${banks}" th:text="${bank}" th:value="${bank}">은행</option>
                </select>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{depositor}" maxlength="12" placeholder="예금주" class="form-username form-control">
            <p class="label_p2">└ 예금주명 변경 불가, 동일한 예금주만 계좌 변경 가능.</p>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{account}" maxlength="24" placeholder="계좌번호">
                <span th:if="${siteConfig.join.duplicateAccount}" id="bul-account" class="bul"></span>
            <p class="label_p2">└ 빠른 충/환전을 위해 본인 명의와 동일한 계좌정보 입력</p>
            </p>
            <p class="clearfix">
                <input type="password" th:field="*{bankPassword}" maxlength="16" placeholder="충환전 비밀번호"/>
            <p class="label_p2">└ 영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="password" id="bankPasswordConfirm" maxlength="16" placeholder="충환전 비밀번호 확인"/>
            </p>
            <p class="clearfix" th:if="${siteConfig.join.showRecommend}">
                <input type="text" th:field="*{recommender}" maxlength="16" placeholder="추천인 (지인추천 아이디)"/>
                <span th:if="${siteConfig.join.requiredRecommend}" id="bul-recommend" class="bul"></span>
                <p th:if="${siteConfig.join.requiredRecommend}" class="label_p">└ 추천인은 필수 입니다.</p>
                <p th:if="${siteConfig.join.showRecommend}" class="label_p">└ 추천인(선택) 지인추천 아이디 입력. 가입코드 입력 금지.</p>
            </p>
            <p class="clearfix">
                <br>
                <a href="/" class="log-twitter">취소</a>
                <input type="button" name="submit" onclick="javascript:joinForm();" value="확인">
            </p>
        </form>
        ​​
    </section>

</div>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>


<script>
    function joinForm(){
        login.goJoin();
    }

    var config = [(${config})];
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</body>

</html>