<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="/customForm/css/style2.css" />
    <style>
        @import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
        body {
            background: url(/images/sample/login4.jpg) no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        .container > header h1,
        .container > header h2 {
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }

        .label_p {
            font-size: 10px;
            color: #ffffff;
            padding-left:5px;
            height: 20px;
        }

    </style>
</head>
<body>
<div class="container">

    <header>
        <span><img src="/images/sample/logo-login4.png"></span>
    </header>

    <section class="main">
        <form id="frm-join" method="post" th:object="${member}" onsubmit="return login.goJoin();" class="form-3">
            <input type="hidden" th:field="*{code}" th:value="${joinCode}" />
            <input type="hidden" th:if="${!siteConfig.join.showRecommend}" th:field="*{recommender}" />
            <p class="clearfix"></p><p class="clearfix"></p>
            <p class="clearfix"></p><p class="clearfix"></p>
            <p class="clearfix">
                <input type="text" th:field="*{userid}" style="width:278px;" maxlength="12" placeholder="아이디">
                <span id="bul-userid" class="bul"></span>
                <p class="label_p">└ 영문/숫자 조합 4~12자 이내로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{nickname}" style="width:278px;" maxlength="12" placeholder="닉네임">
                <p class="label_p">└ 한글 2~7자, 영문 4~14자. 특수문자 불가.</p>
            </p>
            <p class="clearfix">
                <input type="password" th:field="*{password}" style="width:278px;" maxlength="16" placeholder="비밀번호">
                <p class="label_p">└ 영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="password" id="passwordConfirm" style="width:278px;" maxlength="16" placeholder="비밀번호 확인">
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{phone}" style="width:278px;" maxlength="16" placeholder="휴대폰 번호">
                <span th:if="${siteConfig.join.duplicatePhone}" id="bul-phone" class="bul"></span>
                <p class="label_p">└ 문자와 통화가 가능하신 정확한 연락처를 기재.</p>
            </p>
            <p class="clearfix">
                <select th:field="*{bank}" style="width:278px;height:25px;color:#b1b1b1;background-color: #212121;">
                    <option value="">은행선택</option>
                    <option th:each="bank : ${banks}" th:text="${bank}" th:value="${bank}">은행</option>
                </select>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{depositor}" style="width:278px;" maxlength="12" placeholder="예금주" class="form-username form-control">
                <p class="label_p">└ 예금주명 변경 불가, 동일한 예금주만 계좌 변경 가능.</p>
            </p>
            <p class="clearfix">
                <input type="text" th:field="*{account}" style="width:278px;" maxlength="24" placeholder="계좌번호">
                <span th:if="${siteConfig.join.duplicateAccount}" id="bul-account" class="bul"></span>
                <p class="label_p">└ 빠른 충/환전을 위해 본인 명의와 동일한 계좌정보 입력</p>
            </p>
            <p class="clearfix">
                <input type="password" th:field="*{bankPassword}" style="width:278px;" maxlength="16" placeholder="충환전 비밀번호"/>
                <p class="label_p">└ 영문 및 숫자 특수문자 조합 4자 이상으로 작성.</p>
            </p>
            <p class="clearfix">
                <input type="password" id="bankPasswordConfirm" style="width:278px;" maxlength="16" placeholder="충환전 비밀번호 확인"/>
            </p>
            <p class="clearfix" th:if="${siteConfig.join.showRecommend}">
                <input type="text" th:field="*{recommender}" style="width:278px;" maxlength="16" placeholder="추천인 (지인추천 아이디)"/>
                <span th:if="${siteConfig.join.requiredRecommend}" id="bul-recommend" class="bul"></span>
                <p th:if="${siteConfig.join.requiredRecommend}" class="label_p">└ 추천인은 필수 입니다.</p>
                <p th:if="${siteConfig.join.showRecommend}" class="label_p">└ 추천인(선택) 지인추천 아이디 입력. 가입코드 입력 금지.</p>
            </p>

            <p class="clearfix">
                <button onclick="javascript:joinForm();" type="button">확인</button>
            </p>
            <p class="clearfix">
                <button onclick="javascript:location.href='/';" type="button">취소</button>
            </p>
        </form>​
    </section>

</div>
<!-- jQuery if needed -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>


<script>
    function joinForm(){
        login.goJoin();
    }

    var config = [(${config})];
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</body>
</html>