<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='current'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    총판 정산 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                총판 정산 관리
            </h3>
        </div>
        <table class="table-list">
            <caption>총판 정산 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>실시간</th>
                <th>실시간P</th>
                <th>실시간C</th>
                <th>정산<br>방식</th>
                <th>지급율</th>
                <th>지난<br>정산금</th>
                <th>지난<br>정산일</th>
                <th>정산금액</th>
                <th>정산</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}"
                th:name="${m.agencyDepth > 1 ? m.agency1 : ''}"
                th:style="${m.agencyDepth eq 1 ? '' : 'display:none;'}">
                <td style="text-align: left;cursor: pointer;" th:onclick="|openAgency('${m.agencyDepth eq 1 ? m.agency1 : m.agencyDepth}');|">&nbsp;
                    <input type="hidden" name="agencyDepth" th:value="${m.agencyDepth}" />
                    <a th:text="${m.agencyDepth eq 1  ? m.userid+' - 1D' : '&nbsp;' }" th:class="${m.agencyDepth eq 1 ? 'color05' : ''}"  ></a>
                    <a th:if="${m.agencyDepth > 1}" th:text="${m.agencyDepth eq 2  ? 'ㄴ'+m.agency2+' - 2D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 2}" th:text="${m.agencyDepth eq 3  ? 'ㄴ'+m.agency3+' - 3D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 3}" th:text="${m.agencyDepth eq 4  ? 'ㄴ'+m.agency4+' - 4D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 4}" th:text="${m.agencyDepth eq 5  ? 'ㄴ'+m.agency5+' - 5D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 5}" th:text="${m.agencyDepth eq 6  ? 'ㄴ'+m.agency6+' - 6D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 6}" th:text="${m.agencyDepth eq 7  ? 'ㄴ'+m.userid+' - 7D' : '&nbsp;' }" class="color06"></a>
                </td>
                <td class="color01 num" th:text="${tag.num(m.users)}">정상회원</td>
                <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                <td class="color03 num" th:text="${tag.num(m.betZone1) + '원'}">실시간</td>
                <td class="color03 num" th:text="${tag.num(m.betZone2) + '원'}">실시간</td>
                <td class="color01" th:switch="${m.rateCode}">
                    <span th:remove="tag" th:case="'수익분배'" th:text="${'수익'}"></span>
                    <span th:remove="tag" th:case="'롤링분배'" th:text="${'롤링'}"></span>
                </td>
                <td class="color02">
                    <span th:text="${m.rateShare + '%'}"></span><br>
                    <span th:text="${m.rateSports + '%'}"></span> / <span th:text="${m.rateZone + '%'}"></span> / <span th:text="${m.rateZone1 + '%'}"></span> / <span th:text="${m.rateZone2 + '%'}"></span>
                </td>
                <td class="num" th:text="${tag.num(m.lastMoney) + '원'}">지난정산금</td>
                <td>
                    <span th:remove="tag" th:utext="${tag.dayWeekTimes2(m.regDate)}"></span>
                </td>
                <td th:if="${m.agencyDepth eq 1}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney1)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 2}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney2)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 3}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney3)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 4}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney4)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 5}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney5)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 6}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                    ( <span th:text="${tag.num(m.calcMoney - m.tmpMoney6)}"></span> )
                </td>
                <td th:if="${m.agencyDepth eq 7}" class="color04 num">
                    <span th:text="${tag.num(m.calcMoney) + '원'}"></span><br>
                </td>
                <td th:if="${m.agencyDepth eq 1}">
                    <a class="btn btn01" th:onclick="|goSale('${m.userid}');|" style="width: 50px;">정산 >></a>
                </td>
                <td th:if="${m.agencyDepth ne 1}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function goSale(userid) {
        if (!confirm(userid + ' 총판 정산작업을 하시겠습니까?')) {
            return;
        }

        $.post(path + '/seller/sale', {
            userid: userid
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }

    function openAgency(agency1){
        $('tr[name='+agency1+']').each(function(){
            $(this).toggle();
        })
    }

</script>
</body>
</html>