<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='sale'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    총판 정산 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/seller/sale/list|}" method="get">
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <label>
                    총판:
                    <select th:field="*{agency}">
                        <option value="">선택하세요.</option>
                        <th:block th:each="a : ${seller}">
                            <option th:value="${a}" th:text="${a}"></option>
                        </th:block>
                    </select>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/seller/sale/list|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                총판 정산 관리
            </h3>
        </div>
        <table class="table-list">
            <caption>총판 정산 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>실시간</th>
                <th>실시간P</th>
                <th>실시간C</th>
                <th>정산<br>방식</th>
                <th>지급율</th>
                <th>정산일</th>
                <th>정산금</th>
                <th>지급금</th>
                <th>정산</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="agency: ${page.content}">
                <tr th:each="m : ${agency.saleItems}">
                    <td style="text-align: left">&nbsp;
                        <a th:text="${m.agencyDepth eq 1  ? m.agency1+' - 1D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 2  ? m.agency2+' - 2D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 3  ? m.agency3+' - 3D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 4  ? m.agency4+' - 4D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 5  ? m.agency5+' - 5D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 6  ? m.agency6+' - 6D' : '' }"></a>
                        <a th:text="${m.agencyDepth eq 7  ? m.agency7+' - 7D' : '' }"></a>
                    </td>
                    <td class="color01 num" th:text="${tag.num(m.users)}">정상회원</td>
                    <td class="color04 num" th:text="${tag.num(m.inMoney) + '원'}">입금</td>
                    <td class="color03 num" th:text="${tag.num(m.outMoney) + '원'}">출금</td>
                    <td class="color02 num" th:text="${tag.num(m.inMoney - m.outMoney) + '원'}">수익</td>
                    <td class="color04 num" th:text="${tag.num(m.betSports) + '원'}">스포츠</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone) + '원'}">실시간</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone1) + '원'}">실시간P</td>
                    <td class="color03 num" th:text="${tag.num(m.betZone2) + '원'}">실시간C</td>
                    <td class="color01" th:switch="${m.rateCode}">
                        <span th:remove="tag" th:case="'수익분배'" th:text="${'수익'}"></span>
                        <span th:remove="tag" th:case="'롤링분배'" th:text="${'롤링'}"></span>
                    </td>
                    <td class="color02"><span th:text="${m.rateShare + '%'}"></span><br><span th:text="${m.rateSports + '%'}"></span> / <span th:text="${m.rateZone + '%'}"></span> / <span th:text="${m.rateZone1 + '%'}"></span> / <span th:text="${m.rateZone2 + '%'}"></span>
                    <td>
                        <span th:remove="tag" th:utext="${tag.dayWeekTimes2(m.regDate)}"></span>
                    </td>
                    <td class="color04 num" th:text="${tag.num(m.lastMoney) + '원'}">정산금</td>
                    <td>
                        <label th:if="${!m.closing}">
                            <input type="text" th:id="${'amount_'+m.id}" th:value="${m.lastMoney}" style="width:100px;text-align:right;"/>
                        </label>
                        <span class="color02" th:if="${m.closing}" th:text="${tag.num(m.totalMoney) + '원'}"></span>
                    </td>
                    <td>
                        <a class="btn btn01" th:if="${!m.closing}" th:onclick="|goSale('${m.userid}', '${agency.id}', '${m.id}');|" style="width: 50px;">지급 >></a>
                        <span class="color02" th:if="${m.closing}">지급완료</span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function goSale(userid, id, idx) {
        if (!confirm(userid + ' 총판에게 포인트 지급완료를 하시겠습니까?')) {
            return;
        }

        var amount = $('#amount_'+idx).val();

        $.post(path + '/seller/sale/payment', {
            userid: userid,
            saleId: id,
            amount: amount
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }

    function toggle(cls) {
        $('.' + cls).toggle();
    }

</script>
</body>
</html>