<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='zone', gnb='zone', lnb='eosPower3'" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <h3>
        <img ng-src="{{flag}}"/>
        EOS 파워볼 3분
    </h3>

    <button class="powerToggle" onclick="javascript:frameToggle();" style="cursor: pointer;">게임 현황판 열기/닫기</button>
    <div id="powerFrame" style="margin: 0 auto; width: 1300px; height: 700px; overflow: hidden;position: relative;padding-left: 0px;">
        <iframe id="zoneBox" style="position: absolute; width: 900px; height: 700px;" scrolling="no" th:src="@{${sysConfig.zone.eosPower3Player}}"></iframe>
        <div class="eosPowerBlindBox"></div>
    </div>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <div class="timer-box">
                <div id="timer"></div>
            </div>
        </div>

        <br>
        <div class="box2">
            <table class="tt list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>EOS 파워볼 3분</caption>
                <colgroup>
                    <col width="33%">
                    <col width="33%">
                    <col>
                </colgroup>
                <tbody class="group">
                <tr>
                    <td class="date" colspan="4"><span class="color01">{{config.round}} 회차 - </span> {{config.gameDateName}} {{config.gameTimeName}}</td>
                </tr>
                </tbody>
                <tbody ng-if="config.oddeven" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color02">[홀]</span>
                        <em class="odds">{{config.odds[0] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'home', 0, '일반 홀', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color11">[짝]</span>
                        <em class="odds">{{config.odds[1] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'away', 1, '일반 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_oddeven" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <span class="color05">파워볼</span> <span class="color02">[홀]</span>
                        <em class="odds">{{config.odds[2] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'home', 2, '파워 홀', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        <span class="color05">파워볼</span> <span class="color11">[짝]</span>
                        <em class="odds">{{config.odds[3] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'away', 3, '파워 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[오버]</span>
                        <em class="odds">{{config.odds[4] | number: 2}}</em>
                        <a ng-click="add('overunder', 'home', 4, '일반 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color02">[언더]</span>
                        <em class="odds">{{config.odds[5] | number: 2}}</em>
                        <a ng-click="add('overunder', 'away', 5, '일반 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <span class="color05">파워볼</span> <span class="color11">[오버]</span>
                        <em class="odds">{{config.odds[6] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'home', 6, '파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs" rowspan="2"></td>
                    <td class="away bet">
                        <span class="color05">파워볼</span> <span class="color02">[언더]</span>
                        <em class="odds">{{config.odds[7] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'away', 7, '파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[대]</span>
                        <em class="odds">{{config.odds[8] | number: 2}}</em>
                        <a ng-click="add('size', 'home', 8, '일반 대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        일반볼 <span class="color04">[중]</span>
                        <em class="odds">{{config.odds[9] | number: 2}}</em>
                        <a ng-click="add('size', 'draw', 9, '일반 중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반볼 <span class="color02">[소]</span>
                        <em class="odds">{{config.odds[10] | number: 2}}</em>
                        <a ng-click="add('size', 'away', 10, '일반 소', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody class="group">
                <tr>
                    <td class="date" colspan="4"><span class="color02"><일반볼 조합></span></td>
                </tr>
                </tbody>

                <tbody ng-if="config.odd_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color02">[홀] + [오버]</span>
                        <em class="odds">{{config.odds[11] | number: 2}}</em>
                        <a ng-click="add('odd_overunder', 'home', 11, '일반 홀 + 일반 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color02">[홀] + [언더]</span>
                        <em class="odds">{{config.odds[12] | number: 2}}</em>
                        <a ng-click="add('odd_overunder', 'away', 12, '일반 홀 + 일반 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.even_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[짝] + [오버]</span>
                        <em class="odds">{{config.odds[13] | number: 2}}</em>
                        <a ng-click="add('even_overunder', 'home', 13, '일반 짝 + 일반 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color11">[짝] + [언더]</span>
                        <em class="odds">{{config.odds[14] | number: 2}}</em>
                        <a ng-click="add('even_overunder', 'away', 14, '일반 짝 + 일반 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="config.pb_odd_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color02">[홀] + <span class="color05">파워볼</span> [오버]</span>
                        <em class="odds">{{config.odds[15] | number: 2}}</em>
                        <a ng-click="add('pb_odd_overunder', 'home', 15, '일반 홀 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color02">[홀] + <span class="color05">파워볼</span> [언더]</span>
                        <em class="odds">{{config.odds[16] | number: 2}}</em>
                        <a ng-click="add('pb_odd_overunder', 'away', 16, '일반 홀 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="config.pb_even_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[짝] + <span class="color05">파워볼</span> [오버]</span>
                        <em class="odds">{{config.odds[17] | number: 2}}</em>
                        <a ng-click="add('pb_even_overunder', 'home', 17, '일반 짝 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반볼 <span class="color11">[짝] + <span class="color05">파워볼</span> [언더]</span>
                        <em class="odds">{{config.odds[18] | number: 2}}</em>
                        <a ng-click="add('pb_even_overunder', 'away', 18, '일반 짝 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.odd_size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[홀] + [대]</span>
                        <em class="odds">{{config.odds[19] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'home', 19, '일반 홀 + 일반 대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        일반볼 <span class="color04">[홀] + [중]</span>
                        <em class="odds">{{config.odds[20] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'draw', 20, '일반 홀 + 일반 중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반볼 <span class="color02">[홀] + [소]</span>
                        <em class="odds">{{config.odds[21] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'away', 21, '일반 홀 + 일반 소', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.even_size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반볼 <span class="color11">[짝] + [대]</span>
                        <em class="odds">{{config.odds[22] | number: 2}}</em>
                        <a ng-click="add('even_size', 'home', 22, '일반 짝 + 일반 대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        일반볼 <span class="color04">[짝] + [중]</span>
                        <em class="odds">{{config.odds[23] | number: 2}}</em>
                        <a ng-click="add('even_size', 'draw', 23, '일반 짝 + 일반 중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반볼 <span class="color02">[짝] + [소]</span>
                        <em class="odds">{{config.odds[24] | number: 2}}</em>
                        <a ng-click="add('even_size', 'away', 24, '일반 짝 + 일반 소', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody class="group">
                <tr>
                    <td class="date" colspan="4"><span class="color02"><파워볼 조합></span></td>
                </tr>
                </tbody>

                <tbody ng-if="config.pb_odd_pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <span class="color05">파워볼</span><span class="color02">[홀] +  [오버]</span>
                        <em class="odds">{{config.odds[25] | number: 2}}</em>
                        <a ng-click="add('pb_odd_pb_overunder', 'home', 25, '파워 홀 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        <span class="color05">파워볼</span><span class="color02">[홀] + [언더]</span>
                        <em class="odds">{{config.odds[26] | number: 2}}</em>
                        <a ng-click="add('pb_odd_pb_overunder', 'away', 26, '파워 홀 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_even_pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        <span class="color05">파워볼</span><span class="color02">[짝] +  [오버]</span>
                        <em class="odds">{{config.odds[27] | number: 2}}</em>
                        <a ng-click="add('pb_even_pb_overunder', 'home', 27, '파워 짝 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        <span class="color05">파워볼</span><span class="color02">[짝] + [언더]</span>
                        <em class="odds">{{config.odds[28] | number: 2}}</em>
                        <a ng-click="add('pb_even_pb_overunder', 'away', 28, '파워 짝 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>








    <h3>EOS파워볼 3분 최근 배팅내역</h3>

    <table class="list game">
        <caption>배팅내역</caption>
        <colgroup>
            <col style="width: 190px;">
            <col>
            <col style="width: 36px;">
            <col style="width: 218px;">
            <col style="width: 50px;">
            <col>
            <col style="width: 50px;">
            <col style="width: 218px;">
            <col style="width: 36px;">
            <col style="width: 70px;">
        </colgroup>
        <tbody class="betBody" th:each="b : ${powerBetList.content}">
        <tr>
            <th>경기정보</th>
            <th>베팅타입</th>
            <th colspan="3">홈팀</th>
            <th>무</th>
            <th colspan="3">원정팀</th>
            <th>결과</th>
        </tr>
        <tr class="item" th:each="item : ${b.betItems}">
            <td class="info" th:title="${item.league}">
                <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
            </td>
            <td>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${item.special + ' '}"></span>
                <span th:text="${item.gameCode.name() eq 'ZONE' ? item.sports : item.gameCode.name}">승무패</span>
            </td>
            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
            <td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${tag.inGameBetInfo(item.teamHome)}">홈팀</span>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
            </td>
            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                th:with="odds=${tag.odds(item.oddsDraw)}"
                th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
            >
                <span class="odds1" th:if="${item.special eq 'size'}" th:text="${tag.getSize(item.teamHome,'size')}">0.01</span>
                <span class="odds1" th:if="${item.special eq 'odd_size'}" th:text="${tag.getSize(item.teamHome,'odd_size')}">0.01</span>
                <span class="odds1" th:if="${item.special eq 'even_size'}" th:text="${tag.getSize(item.teamHome,'even_size')}">0.01</span>
                <span class="odds2" th:text="${odds eq '0.00' ? '' : odds}">0.01</span>
            </td>
            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
            <td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                <span th:remove="tag" th:text="${item.teamAway}">원정팀</span>
            </td>
            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
        </tr>
        <tr>
            <td class="betInfo" colspan="10">

                <span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
                <span class="betMoney">
                    베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
                </span>
                <span class="rate">
                    배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </span>
                <span class="rate" th:if="${b.eventOdds} > 1">
                    <p><span class="bonus" th:text="${tag.num(b.betCount)}"></span>폴더 이상 보너스 배당 <span class="bonus" th:text="${tag.odds(b.eventOdds)}">1.03</span></p>
                </span>
                <span class="expMoney">
                    예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                </span>
                <span class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.Math = window.Math;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-eos3.gif';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 ';

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate) {
                $scope.milliseconds += 1000;
            } else {
                $scope.setConfig();
            }
        }, 1000);

        $scope.timer = new FlipClock($('#timer'), $scope.config.betTime, {
            countdown: true,
            clockFace: 'MinuteCounter',
            callbacks: {
                stop: function () {
                    $scope.$apply(function () {
                        angular.element('.bet').removeClass('on');
                        $scope.cart.length = 0;
                        $scope.bet = 'off';
                    });
                }
            }
        });

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
                clock.setTime(new Date(response.data.milliseconds));
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/eosPower3/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.timer.setTime(response.data.betTime + 1);
                $scope.timer.start();
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();
            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/eosPower3/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    alert('베팅되었습니다.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>