<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='zone', gnb='powerLotto', lnb='powerLotto'" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <style>
        .pl-deposit {
            padding-left: 700px;
            font-size: 15px;
        }
        .pl-withdraw {
            padding-left: 20px;
            font-size: 15px;
        }
        .powerLottoJoin {
            margin-left: 50px;
            background-image: url("/images/login_form.png");
            width:400px;
            height:218px;
        }

        .powerLottoInput {
            top: 97px;
            left: 117px;
            position: relative;
            background-color: #ffffff;
            border: solid 0px;
            color: #000;
        }

        .powerLottoBtn {
            top: 114px;
            left: 69px;
            position: relative;
        }
    </style>
    <h3>
        파워로또
        <span th:if="${powerLotto}" class="pl-deposit"><a class="" th:href="@{|${siteConfig.pathSite}/payment/deposit2|}">[파워로또 충전]</a></span>
        <span th:if="${powerLotto}" class="pl-withdraw"><a class="" th:href="@{|${siteConfig.pathSite}/payment/withdraw2|}">[파워로또 환전]</a></span>
    </h3>
    <div class="box" th:if="${!powerLotto}">
        <table>
            <tr>
                <td style="border: solid 0px;">
                    <h4>파워볼 로또 가입</h4>
                    <p class="color04">숫자4자리 비밀번호로 가입 후 이용하십니다.</p>
                    <p>
                        파워볼 로또 게임에 입장하기 위한 입장 비밀번호 생성이 필요합니다.<br>
                        입장비밀번호는 절대 타인에게 노출하지 마시고 비밀번호를 모르시면<br>
                        입장이 불가능하오니 입장비밀번호를 생성후 꼭 기억하시기 바랍니다.<br>
                        파워볼 로또 입장 비번은 대기실 입장을 위한 용도로만 사용됩니다.<br>
                    </p>
                </td>
                <td style="border: solid 0px;" width="500px">
                    <div class="powerLottoJoin">
                        <input class="powerLottoInput" type="text" name="joinKey" id="joinKey" maxlength="4">
                        <a href="javascript:powerLottoJoin();"><img class="powerLottoBtn" src="/images/reg_btn.png"></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${powerLotto}">
        <iframe id="graphFrame" width="1250" height="1800"></iframe>
        <script>
            $('#graphFrame').attr('src', '[[@{${sysConfig.zone.powerLottoUrl}}]]?code=[[${code}]]&aid=[[${aid}]]');
        </script>
    </div>

</section>
<script layout:fragment="script" th:if="true">
    $('#joinKey').onlyNum();

    function powerLottoJoin(){
        $.ajax({
            url: path + '/zone/powerLottoJoin',
            method: 'post',
            data: {
                joinKey: $('#joinKey').val()
            }
        }).done(function (data) {
            if (data.success) {
                alert('가입되었습니다.');
                location.reload();
            } else {

            }
        });
    }
</script>
</body>
</html>