<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='token', gnb='token', lnb='tkBaccarat'" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <h3 style="width: 1294px;">
        <img ng-src="{{flag}}"/>
        바카라
    </h3>

    <div class="zone" style="width: 1300px; height : 1130px;">
        <div id="powerFrame" style="margin: 0 auto; width: 1300px; height: 850px; overflow: hidden;position: relative;padding-left: 0px;">
            <iframe scrolling="no" frameborder="0" style="width: 1000px; height: 800px; margin:0px 0px0px 0px; z-index: 1; border: none;" allowFullScreen="true"
                    th:src="@{|http://api.tgame365.com/api/?gType=baccarat&uid=${uid}&hash=${hash}|}" ></iframe>
        </div>
    </div>
</section>

<script layout:fragment="script" th:if="true">
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#user-money').text(response.data.money.toString().money());
            }, function error(response) {

            });
        };

    }]);


</script>
</body>
</html>