<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='binanceCoin3', title='비트코인3분'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>
        <img ng-src="{{flag}}"/>
        비트코인3분
        <span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
    </h3>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>비트코인3분</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody class="group">
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span>로우</span>&nbsp;
                        <em class="odds">{{config.odds[0] | number: 2}}</em>
                        <a ng-click="add('lowHigh', 'home', 0, '로우', $event)"></a>
                    </td>
                    <td>순위</td>
                    <td class="away bet">
                        <span>하이</span>&nbsp;
                        <em class="odds">{{config.odds[1] | number: 2}}</em>
                        <a ng-click="add('lowHigh', 'away', 1, '하이', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody class="group">
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span>오버</span>&nbsp;
                        <em class="odds">{{config.odds[2] | number: 2}}</em>
                        <a ng-click="add('overUnder', 'home', 2, '오버', $event)"></a>
                    </td>
                    <td>오버/언더</td>
                    <td class="away bet">
                        <span>언더</span>&nbsp;
                        <em class="odds">{{config.odds[3] | number: 2}}</em>
                        <a ng-click="add('overUnder', 'away', 3, '언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody class="group">
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span>홀</span>&nbsp;
                        <em class="odds">{{config.odds[4] | number: 2}}</em>
                        <a ng-click="add('oddEven', 'home', 4, '홀', $event)"></a>
                    </td>
                    <td>홀/짝</td>
                    <td class="away bet">
                        <span>짝</span>&nbsp;
                        <em class="odds">{{config.odds[5] | number: 2}}</em>
                        <a ng-click="add('oddEven', 'away', 5, '짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <br/>
    <div id="zoneBox">
        <div>
            <iframe style="position: absolute; width: 890px; height: 720px;left: 10px;" scrolling="no" th:src="@{${sysConfig.zone.binanceCoin3Player}}"></iframe>
        </div>
    </div>




    <h3 style="margin-top: 30px;font-size:20px;color: #ffed22;">비트코인3분 최근 배팅내역</h3>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col>
        </colgroup>
        <tbody class="betBody" th:each="b : ${powerBetList.content}">
        <!--<tr>
            <th class="betListTh">홈팀</th>
            <th class="betListTh" colspan="2">무</th>
            <th class="betListTh">원정팀</th>
        </tr>-->
        <th:block th:each="item : ${b.betItems}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <input type="checkbox" class="inputCheckbox" name="betId" th:value="${b.id}"/>
                    <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                    <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                    <span class="vAlign" th:text="${item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td th:class="${(item.betTeam eq 'home' ? 'bet home on' : 'bet home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <p class="ellipses"><em th:text="${item.teamHome}" th:remove="tag"></em><span class="color01"
                                                                                                  th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                                                                                  th:text="${'[' + item.special + ']'}"></span>
                    </p>
                    <span class="odds"><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="l_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="over"></span><em
                            th:text="${tag.odds(item.oddsHome)}" th:remove="tag"></em></span>
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                    th:text="${odds eq '0.00' ? 'VS' : odds}">
                    무
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}"
                    th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}"
                    th:text="${tag.handicap(item.handicap)}">무
                </td>
                <td th:class="${(item.betTeam eq 'away' ? 'bet away on' : 'bet away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds"><em th:text="${tag.odds(item.oddsAway)}" th:remove="tag"></em><span
                            th:if="${item.gameCode.name() eq 'HANDICAP'}" class="r_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="under"></span></span>
                    <p class="ellipses"><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                              th:text="${'[' + item.special + ']'}"></span><em
                            th:text="${item.teamAway}" th:remove="tag"></em></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}"></td>
                <td colspan="2" class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}"></td>
            </tr>
        </th:block>
        <tr>
            <td class="betInfo" colspan="4">
                <p class="dateDay">
                    베팅시간 : <span th:utext="${tag.dayWeekTime(b.betDate)}"></span>
                </p>
                <p class="betMoney">
                    베팅금액 : <span th:text="${tag.num(b.betMoney)}">1,000</span>원
                </p>
                <p class="rate">
                    배당율 : <span th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </p>
                <p class="rate">
                    보너스 배당 : <span th:text="${tag.odds(b.eventOdds)}">1,000</span>배
                </p>
                <p class="expMoney">
                    예상금액 : <span th:text="${tag.num(b.expMoney)}">1,000</span>원
                </p>
                <p class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span th:class="${(tag.num(b.hitMoney) eq '0' ? 'noHit':'hit')}"
                                 th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </p>
                <p class="expMoney">
                    결과 : <span th:class="${b.resultStringCss}" th:text="${b.resultString}"
                               style="font-weight: bolder;font-size: 18px;"></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>





</main>

<script layout:fragment="script" th:if="true">

    iframeScale(828, 720);

    $(window).on('orientationchange resize', function () {
        iframeScale(828, 720);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-binancecoin3.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 비트코인3분';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 네임드 10초 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/binanceCoin3/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();
            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/binanceCoin3/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    ;
                }
                setTimeout(function () {
                    location.reload();
                }, 1000);
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>