<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='eosPower1', title='EOS파워볼 1분'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>
        <img ng-src="{{flag}}"/>
        EOS파워볼 1분
        <span class="color03" th:text="'[제 {{config.round | number : 0}}회차]'">256회차</span>
        <!--<button class="powerToggle" onclick="javascript:frameToggle();" style="cursor: pointer;">현황판 열기/닫기</button>-->
    </h3>
    <div id="zoneBox">
        <div>
            <iframe style="position: absolute; width: 830px; height: 646px;" scrolling="no" th:src="@{${sysConfig.zone.eosPower1Player}}"></iframe>
            <div class="powerBlindBox"></div>
        </div>
    </div>
    <br>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>EOS파워볼 1분</caption>
                <colgroup>
                    <col>
                    <col style="width: 60px;">
                    <col>
                </colgroup>
                <tbody>
                <tr ng-if="config.oddeven" ng-class="bet">
                    <td class="home bet">
                        일반 <span class="color02">[홀]</span><br/>
                        <em class="odds">{{config.odds[0] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'home', 0, '일반볼 홀', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반 <span class="color11">[짝]</span><br/>
                        <em class="odds">{{config.odds[1] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'away', 1, '일반볼 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_oddeven" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        파워</span> <span class="color02">[홀]</span><br/>
                        <em class="odds">{{config.odds[2] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'home', 2, 'EOS파워볼 1분 홀', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        파워</span> <span class="color11">[짝]</span><br/>
                        <em class="odds">{{config.odds[3] | number: 2}}</em>
                        <a ng-click="add('pb_oddeven', 'away', 3, 'EOS파워볼 1분 짝', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반 <span class="color11">[오버]</span><br/>
                        <em class="odds">{{config.odds[4] | number: 2}}</em>
                        <a ng-click="add('overunder', 'home', 4, '일반볼 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반 <span class="color02">[언더]</span><br/>
                        <em class="odds">{{config.odds[5] | number: 2}}</em>
                        <a ng-click="add('overunder', 'away', 5, '일반볼 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        파워</span> <span class="color11">[오버]</span><br/>
                        <em class="odds">{{config.odds[6] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'home', 6, 'EOS파워볼 1분 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        파워</span> <span class="color02">[언더]</span><br/>
                        <em class="odds">{{config.odds[7] | number: 2}}</em>
                        <a ng-click="add('pb_overunder', 'away', 7, 'EOS파워볼 1분 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반 <span class="color11">[대]</span><br/>
                        <em class="odds">{{config.odds[8] | number: 2}}</em>
                        <a ng-click="add('size', 'home', 8, '대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        <em style="color:#ccc;"><span class="color04">[중]</span></em><br><br>
                        <em class="odds">{{config.odds[9] | number: 2}}</em>
                        <a ng-click="add('size', 'draw', 9, '중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반 <span class="color02">[소]</span><br/>
                        <em class="odds">{{config.odds[10] | number: 2}}</em>
                        <a ng-click="add('size', 'away', 10, '소', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody class="group">
                <tr>
                    <td class="bet" colspan="3">
                        <em class="color03">일반볼 조합</em>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="config.odd_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반 <span class="color02">[홀] + [오버]</span><br/>
                        <em class="odds">{{config.odds[11] | number: 2}}</em>
                        <a ng-click="add('odd_overunder', 'home', 11, '일반 홀 + 일반 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반 <span class="color02">[홀] + [언더]</span><br/>
                        <em class="odds">{{config.odds[12] | number: 2}}</em>
                        <a ng-click="add('odd_overunder', 'away', 12, '일반 홀 + 일반 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.even_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반 <span class="color11">[짝] + [오버]</span><br/>
                        <em class="odds">{{config.odds[13] | number: 2}}</em>
                        <a ng-click="add('even_overunder', 'home', 13, '일반 짝 + 일반 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반 <span class="color11">[짝] + [언더]</span><br/>
                        <em class="odds">{{config.odds[14] | number: 2}}</em>
                        <a ng-click="add('even_overunder', 'away', 14, '일반 짝 + 일반 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_odd_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반<span class="color02">[홀]</span>+파워</span><span
                            class="color02">[오버]</span><br/>
                        <em class="odds">{{config.odds[15] | number: 2}}</em>
                        <a ng-click="add('pb_odd_overunder', 'home', 15, '일반 홀 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반<span class="color02">[홀]</span>+파워</span><span
                            class="color02">[언더]</span><br/>
                        <em class="odds">{{config.odds[16] | number: 2}}</em>
                        <a ng-click="add('pb_odd_overunder', 'away', 16, '일반 홀 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.pb_even_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반<span class="color11">[짝]</span>+파워</span><span
                            class="color11">[오버]</span><br/>
                        <em class="odds">{{config.odds[17] | number: 2}}</em>
                        <a ng-click="add('pb_even_overunder', 'home', 17, '일반 짝 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        일반<span class="color11">[짝]</span>+파워</span><span
                            class="color11">[언더]</span><br/>
                        <em class="odds">{{config.odds[18] | number: 2}}</em>
                        <a ng-click="add('pb_even_overunder', 'away', 18, '일반 짝 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.odd_size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반<span class="color11">[홀]</span> + <span class="color11">[대]</span><br/>
                        <em class="odds">{{config.odds[19] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'home', 19, '일반 홀 + 일반 대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        <em style="color:#ccc;"><span class="color04">[홀]+[중]</span></em><br><br>
                        <em class="odds">{{config.odds[20] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'draw', 20, '일반 홀 + 일반 중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반<span class="color02">[홀]</span> + <span class="color02">[소]</span><br/>
                        <em class="odds">{{config.odds[21] | number: 2}}</em>
                        <a ng-click="add('odd_size', 'away', 21, '일반 홀 + 일반 소', $event)"></a>
                    </td>
                </tr>
                </tbody>
                <tbody ng-if="config.even_size" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        일반<span class="color11">[짝]</span> + <span class="color11">[대]</span><br/>
                        <em class="odds">{{config.odds[22] | number: 2}}</em>
                        <a ng-click="add('even_size', 'home', 22, '일반 짝 + 일반 대', $event)"></a>
                    </td>
                    <td class="draw bet">
                        <em style="color:#ccc;"><span class="color04">[짝]+[중]</span></em><br><br>
                        <em class="odds">{{config.odds[23] | number: 2}}</em>
                        <a ng-click="add('even_size', 'draw', 23, '일반 짝 + 일반 중', $event)"></a>
                    </td>
                    <td class="away bet">
                        일반<span class="color02">[짝]</span> + <span class="color02">[소]</span><br/>
                        <em class="odds">{{config.odds[24] | number: 2}}</em>
                        <a ng-click="add('even_size', 'away', 24, '일반 짝 + 일반 소', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody class="group">
                <tr>
                    <td class="bet" colspan="3">
                        <em class="color03">파워볼 조합</em>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="config.pb_odd_pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        파워<span class="color02">[홀]</span>+파워</span><span
                            class="color02">[오버]</span><br/>
                        <em class="odds">{{config.odds[25] | number: 2}}</em>
                        <a ng-click="add('pb_odd_pb_overunder', 'home', 25, '파워 홀 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        파워<span class="color02">[홀]</span>+파워</span><span
                            class="color02">[언더]</span><br/>
                        <em class="odds">{{config.odds[26] | number: 2}}</em>
                        <a ng-click="add('pb_odd_pb_overunder', 'away', 26, '파워 홀 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>

                <tbody ng-if="config.pb_even_pb_overunder" class="group">
                <tr ng-class="bet">
                    <td class="home bet">
                        파워<span class="color11">[짝]</span>+파워</span><span
                            class="color11">[오버]</span><br/>
                        <em class="odds">{{config.odds[27] | number: 2}}</em>
                        <a ng-click="add('pb_even_pb_overunder', 'home', 27, '파워 짝 + 파워 오버', $event)"></a>
                    </td>
                    <td class="draw vs"></td>
                    <td class="away bet">
                        파워<span class="color11">[짝]</span>+파워</span><span
                            class="color11">[언더]</span><br/>
                        <em class="odds">{{config.odds[28] | number: 2}}</em>
                        <a ng-click="add('pb_even_pb_overunder', 'away', 28, '파워 짝 + 파워 언더', $event)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h3 style="margin-top: 30px;font-size:20px;color: #ffed22;">EOS파워볼 1분 최근 배팅내역</h3>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 40px;">
            <col style="width: 40px;">
            <col>
        </colgroup>
        <tbody class="betBody" th:each="b : ${powerBetList.content}">
        <th:block th:each="item : ${b.betItems}">
            <tr class="toneDown">
                <td class="league" colspan="4">
                    <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                    <span class="vAlign" th:text="${item.league}"></span>
                    <span class="date" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
                </td>
            </tr>
            <tr class="item">
                <td th:class="${(item.betTeam eq 'home' ? 'bet home on' : 'bet home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                    <p class="ellipses"><em th:text="${item.teamHome}" th:remove="tag"></em><span class="color01"
                                                                                                  th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                                                                                  th:text="${'[' + item.special + ']'}"></span>
                    </p>
                    <span class="odds"><span th:if="${item.gameCode.name() eq 'HANDICAP'}" class="l_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="over"></span><em
                            th:text="${tag.odds(item.oddsHome)}" th:remove="tag"></em></span>
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                    th:with="odds=${tag.odds(item.oddsDraw)}"
                    th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
                    th:text="${odds eq '0.00' ? 'VS' : odds}">
                    무
                </td>
                <td colspan="2"
                    th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}"
                    th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}"
                    th:text="${tag.handicap(item.handicap)}">무
                </td>
                <td th:class="${(item.betTeam eq 'away' ? 'bet away on' : 'bet away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                    <span class="odds"><em th:text="${tag.odds(item.oddsAway)}" th:remove="tag"></em><span
                            th:if="${item.gameCode.name() eq 'HANDICAP'}" class="r_handy">H</span><span
                            th:if="${item.gameCode.name() eq 'OVER_UNDER'}" class="under"></span></span>
                    <p class="ellipses"><span class="color01" th:if="${item.menuCode.name() eq 'SPECIAL'}"
                                              th:text="${'[' + item.special + ']'}"></span><em
                            th:text="${item.teamAway}" th:remove="tag"></em></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}"></td>
                <td colspan="2" class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}"></td>
            </tr>
        </th:block>
        <tr>
            <td class="betInfo" colspan="4">
                <p class="dateDay">
                    베팅시간 : <span th:utext="${tag.dayWeekTime(b.betDate)}"></span>
                </p>
                <p class="betMoney">
                    베팅금액 : <span th:text="${tag.num(b.betMoney)}">1,000</span>원
                </p>
                <p class="rate">
                    배당율 : <span th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </p>
                <p class="rate">
                    보너스 배당 : <span th:text="${tag.odds(b.eventOdds)}">1,000</span>배
                </p>
                <p class="expMoney">
                    예상금액 : <span th:text="${tag.num(b.expMoney)}">1,000</span>원
                </p>
                <p class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span th:class="${(tag.num(b.hitMoney) eq '0' ? 'noHit':'hit')}"
                                 th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </p>
                <p class="expMoney">
                    결과 : <span th:class="${b.resultStringCss}" th:text="${b.resultString}"
                               style="font-weight: bolder;font-size: 18px;"></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>




</main>


<script layout:fragment="script" th:if="true">

    if ($('#layout-box img:visible').length === 0) {
        $('#layout-wrap, #layout-box').hide();
    }

    function hideImage(id, cook) {
        if (cook) {
            $.cookie(id, 'hide');
        }

        $('#' + id).slideUp(function () {
            if ($('#layout-box img:visible').length === 0) {
                $('#layout-wrap').fadeOut(function () {
                    $('#layout-wrap, #layout-box').hide();
                });
            }
        });
    }
    iframeScale(830, 646);

    $(window).on('orientationchange resize', function () {
        iframeScale(830, 646);
    });
    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.myMoney = [[${user.money}]];
        $scope.flag = '/images/zone/flag-power.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.times + '회 ';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate) {
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/eosPower1/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();

            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({
                    sdate: $scope.config.sdate,
                    gameCode: gameCode,
                    betTeam: betTeam,
                    betZone: betZone,
                    odds: odds,
                    pos: pos
                });
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.addBalMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max),$scope.myMoney);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/eosPower1/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                } else {
                    ;
                }
                setTimeout(function () {
                    location.reload();
                }, 1000);
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
                $('#btn-cart').text('카트보기');
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
                $('#btn-cart').text('카트보기');
            });
        };
    }]);

    function frameToggle() {
        $('#zoneBox').slideToggle();
    }
</script>
</body>
</html>