<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='newSnail', title='NEW달팽이'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>
        <img ng-src="{{flag}}"/>
        네임드 NEW달팽이
        <span class="color03" th:text="'[제 {{config.round}}회차]'">256회차</span>
    </h3>

    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
                <caption>네임드 달팽이</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span class="color01">[홀]</span>&nbsp;
                        <em class="odds">{{config.odds[1] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'home', 1, '홀', $event)"></a>
                    </td>
                    <td>홀/짝</td>
                    <td class="away bet">
                        <span class="color01">[짝]</span>&nbsp;
                        <em class="odds">{{config.odds[2] | number: 2}}</em>
                        <a ng-click="add('oddeven', 'away', 2, '짝', $event)"></a>
                    </td>
                </tr>
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span class="color01">[오버]</span>&nbsp;
                        <em class="odds">{{config.odds[3] | number: 2}}</em>
                        <a ng-click="add('overunder', 'home', 3, '오버', $event)"></a>
                    </td>
                    <td>오버/언더</td>
                    <td class="away bet">
                        <span class="color01">[언더]</span>&nbsp;
                        <em class="odds">{{config.odds[4] | number: 2}}</em>
                        <a ng-click="add('overunder', 'away', 4, '언더', $event)"></a>
                    </td>
                </tr>
                <tr ng-if="config.enabled" ng-class="bet">
                    <td class="home bet">
                        <span class="color01">[달팽이1]</span>&nbsp;
                        <em class="odds">{{config.odds[5] | number: 2}}</em>
                        <a ng-click="add('snail1', 'home', 5, '달팽이1', $event)"></a>
                    </td>
                    <td>순위</td>
                    <td class="away bet">
                        <span class="color01">[달팽이2]</span>&nbsp;
                        <em class="odds">{{config.odds[6] | number: 2}}</em>
                        <a ng-click="add('snail2', 'home', 6, '달팽이2', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이3]</span>&nbsp;
                        <em class="odds">{{config.odds[7] | number: 2}}</em>
                        <a ng-click="add('snail3', 'home', 7, '달팽이3', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이4]</span>&nbsp;
                        <em class="odds">{{config.odds[8] | number: 2}}</em>
                        <a ng-click="add('snail4', 'home', 8, '달팽이4', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이1,2]</span>
                        <em class="odds">{{config.odds[9] | number: 2}}</em>
                        <a ng-click="add('quinella12', 'home', 9, '달팽이1,2', $event)"></a>
                    </td>
                    <td>복승식</td>
                    <td class="away bet">
                        <span class="color01">[달팽이1,3]</span>
                        <em class="odds">{{config.odds[10] | number: 2}}</em>
                        <a ng-click="add('quinella13', 'home', 10, '달팽이1,3', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이1,4]</span>
                        <em class="odds">{{config.odds[11] | number: 2}}</em>
                        <a ng-click="add('quinella14', 'home', 11, '달팽이1,4', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이2,3]</span>
                        <em class="odds">{{config.odds[12] | number: 2}}</em>
                        <a ng-click="add('quinella23', 'home', 12, '달팽이2,3', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이2,4]</span>
                        <em class="odds">{{config.odds[13] | number: 2}}</em>
                        <a ng-click="add('quinella24', 'home', 13, '달팽이2,4', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이3,4]</span>
                        <em class="odds">{{config.odds[14] | number: 2}}</em>
                        <a ng-click="add('quinella34', 'home', 14, '달팽이3,4', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이1,2]</span>
                        <em class="odds">{{config.odds[15] | number: 2}}</em>
                        <a ng-click="add('exacta12', 'home', 15, '달팽이1,2', $event)"></a>
                    </td>
                    <td>쌍승식</td>
                    <td class="away bet">
                        <span class="color01">[달팽이1,3]</span>
                        <em class="odds">{{config.odds[16] | number: 2}}</em>
                        <a ng-click="add('exacta13', 'home', 16, '달팽이1,3', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이1,4]</span>
                        <em class="odds">{{config.odds[17] | number: 2}}</em>
                        <a ng-click="add('exacta14', 'home', 17, '달팽이1,4', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이2,1]</span>
                        <em class="odds">{{config.odds[18] | number: 2}}</em>
                        <a ng-click="add('exacta21', 'home', 18, '달팽이2,1', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이2,3]</span>
                        <em class="odds">{{config.odds[19] | number: 2}}</em>
                        <a ng-click="add('exacta23', 'home', 19, '달팽이2,3', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이2,4]</span>
                        <em class="odds">{{config.odds[20] | number: 2}}</em>
                        <a ng-click="add('exacta24', 'home', 20, '달팽이2,4', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이3,1]</span>
                        <em class="odds">{{config.odds[21] | number: 2}}</em>
                        <a ng-click="add('exacta31', 'home', 21, '달팽이3,1', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이3,2]</span>
                        <em class="odds">{{config.odds[22] | number: 2}}</em>
                        <a ng-click="add('exacta32', 'home', 22, '달팽이3,2', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이3,4]</span>
                        <em class="odds">{{config.odds[23] | number: 2}}</em>
                        <a ng-click="add('exacta34', 'home', 23, '달팽이3,4', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이4,1]</span>
                        <em class="odds">{{config.odds[24] | number: 2}}</em>
                        <a ng-click="add('exacta41', 'home', 24, '달팽이4,1', $event)"></a>
                    </td>
                </tr>
                <tr>
                    <td class="home bet">
                        <span class="color01">[달팽이4,2]</span>
                        <em class="odds">{{config.odds[25] | number: 2}}</em>
                        <a ng-click="add('exacta42', 'home', 25, '달팽이4,2', $event)"></a>
                    </td>
                    <td></td>
                    <td class="away bet">
                        <span class="color01">[달팽이4,3]</span>
                        <em class="odds">{{config.odds[26] | number: 2}}</em>
                        <a ng-click="add('exacta43', 'home', 26, '달팽이4,3', $event)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div id="zoneBox">
        <div>
            <iframe style="position: absolute; width: 890px; height: 720px;top: -150px;left: -50px;" scrolling="no" th:src="@{${sysConfig.zone.newSnailPlayer}}"></iframe>
        </div>
    </div>
</main>

<script layout:fragment="script" th:if="true">

    iframeScale(828, 500);

    $(window).on('orientationchange resize', function () {
        iframeScale(828, 500);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.flag = '/images/zone/flag-snail.png';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.round + '회 달팽이';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 네임드 10초 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/newSnail/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();
            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) {
                $scope.money = 0;
            } else {
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/newSnail/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    ;
                }
                setTimeout(function () {
                    location.reload();
                }, 1000);
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>