<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='graph', title='그래프'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
<main class="page" layout:fragment="page">
    <div style="text-align: right">
        <span th:if="${powerLotto}" class="pl-deposit"><a class="btn btn01" th:href="@{|${siteConfig.pathSite}/payment/deposit2|}">파워로또 충전</a></span>
        <span th:if="${powerLotto}" class="pl-withdraw"><a class="btn btn01" th:href="@{|${siteConfig.pathSite}/payment/withdraw2|}">파워로또 환전</a></span>
    </div>
    <div th:if="${!powerLotto}">
        <div class="box">
            <h4>파워로또</h4>
            <p class="color04">숫자4자리 비밀번호로 가입 후 이용하십니다.</p>
        </div>

        <div class="powerLottoJoin" style="text-align: center">
            <input class="powerLottoInput" type="text" name="joinKey" id="joinKey" maxlength="4">
            <a href="javascript:powerLottoJoin();"><img class="powerLottoBtn" src="/images/reg_btn.png"></a>
        </div>
    </div>

    <div th:if="${powerLotto}">
        <iframe id="graphFrame" width="100%" height="2700"></iframe>
        <script>
            $('#graphFrame').attr('src', '[[@{${sysConfig.zone.powerLottoUrl}}]]?code=[[${code}]]&aid=[[${aid}]]');
        </script>
    </div>
</main>
<script layout:fragment="script" th:if="true">
    $('#joinKey').onlyNum();

    function powerLottoJoin(){
        $.ajax({
            url: path + '/zone/powerLottoJoin',
            method: 'post',
            data: {
                joinKey: $('#joinKey').val()
            }
        }).done(function (data) {
            if (data.success) {
                alert('가입되었습니다.');
                location.reload();
            } else {

            }
        });
    }
</script>
</body>
</html>