<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='zone', gnb='zone', lnb='powerFreeKick', title='파워프리킥'" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="tab-menu" th:replace="fragments/mobile :: miniGame" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>
        <img ng-src="{{flag}}"/>
        파워프리킥
        <span class="color03" th:text="'[제 {{config.times}}회차]'">256회차</span>
    </h3>
    <div id="zoneBox">
        <div>
            <iframe style="position: absolute; width: 828px; height: 630px;top: -20px;" scrolling="no" th:src="@{${sysConfig.zone.powerFreeKickPlayer}}"></iframe>
            <div class="kenoBlindBox">

            </div>
        </div>
    </div>
    <div class="zone">
        <div class="timer" ng-cloak ng-show="config.enabled">
            <em>베팅남은시간</em>
            <div class="timer-box">
                <div id="timer">
                    <div ng-bind="countdown[0]"></div>
                    <div ng-bind="countdown[1]"></div>
                    <span>:</span>
                    <div ng-bind="countdown[2]"></div>
                    <div ng-bind="countdown[3]"></div>
                </div>
            </div>
        </div>
        <table class="list game ng-cloak" ng-cloak ng-if="config.enabled">
            <caption>파워프리킥</caption>
            <colgroup>
                <col>
                <col style="width: 60px;">
                <col>
            </colgroup>
            <tbody>
            <tr ng-if="config.player" ng-class="bet">
                <td class="home bet color11">
                    선수1<br/>
                    <em class="odds">{{config.odds[0] | number: 2}}</em>
                    <a ng-click="add('player', 'home', 0, '선수 1', $event)"></a>
                </td>
                <td class="draw vs">VS</td>
                <td class="away bet color02">
                    선수2 &nbsp;<br/>
                    <em class="odds">{{config.odds[1] | number: 2}}</em>
                    <a ng-click="add('player', 'away', 1, '선수 2', $event)"></a>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="config.direction" class="group">
            <tr ng-class="bet">
                <td class="home bet color22">
                    방향 <br/>
                    <em class="odds">{{config.odds[2] | number: 2}}</em>
                    <a ng-click="add('direction', 'home', 2, '좌측방향', $event)"></a>
                </td>
                <td class="draw vs">VS</td>
                <td class="away bet color55">
                    방향 <br/>
                    <em class="odds">{{config.odds[3] | number: 2}}</em>
                    <a ng-click="add('direction','away', 3, '우측방향', $event)"></a>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="config.goal" class="group">
            <tr ng-class="bet">
                <td class="home bet color11">
                    골 <br/>
                    <em class="odds">{{config.odds[4] | number: 2}}</em>
                    <a ng-click="add('goal', 'home', 4, '골', $event)"></a>
                </td>
                <td class="draw vs">VS</td>
                <td class="away bet color02">
                    노골 <br/>
                    <em class="odds">{{config.odds[5] | number: 2}}</em>
                    <a ng-click="add('goal', 'away', 5, '노골', $event)"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

</main>

<script layout:fragment="script" th:if="true">

    iframeScale(828, 630);

    $(window).on('orientationchange resize', function () {
        iframeScale(828, 630);
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', function ($scope, $http, $interval) {
        $scope.parseFloat = window.parseFloat;
        $scope.zone = true;
        $scope.cart = [];
        $scope.odds = 0.00;
        $scope.money = 0;
        $scope.myMoney = [[${user.money}]];
        $scope.flag = '/images/zone/flag-powerFreeKick.jpg';
        $scope.config = [(${config})];
        $scope.milliseconds = [[${user.milliseconds}]];
        $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
        $scope.name = $scope.config.times + '회 파워프리킥';
        $scope.countdown = ['0', '0', '0', '0'];

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $interval(function () {
            if ($scope.milliseconds <= $scope.config.gameDate + 10000) { // 키노 10초 리셋
                $scope.milliseconds += 1000;
                if ($scope.config.betTime < 0) {
                    $scope.countdowon = ['0', '0', '0', '0'];
                    angular.element('.bet').removeClass('on');
                    $scope.cart.length = 0;
                    $scope.bet = 'off';
                } else {
                    var min = '0' + parseInt($scope.config.betTime / 60);
                    min = min.substring(min.length - 2);
                    var sec = '0' + $scope.config.betTime % 60;
                    sec = sec.substring(sec.length - 2);
                    $scope.countdown = [min.substring(0, 1), min.substring(1, 2), sec.substring(0, 1), sec.substring(1, 2)];
                }
                $scope.config.betTime--;
            } else {
                $scope.setConfig();
                $scope.countdowon = ['0', '0', '0', '0'];
            }
        }, 1000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.setConfig = function () {
            $http({
                url: path + '/zone/powerFreeKick/config',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.config = response.data;
                $scope.bet = $scope.config.betTime > 0 ? 'on' : 'off';
            });
        };

        $scope.add = function (gameCode, betTeam, betZone, pos, event) {
            if ($scope.bet === 'off') {
                alert('현재 베팅이 중지 되었습니다.\n\n다음 게임을 베팅하시기 바랍니다.');
                return;
            }

            var ele = angular.element(event.target).parent();
            $scope.cart.length = 0;
            if (ele.hasClass('on')) {
                ele.removeClass('on');
                $scope.odds = 0.00;
            } else {
                angular.element('.bet').removeClass('on');
                ele.addClass('on');
                var odds = $scope.config.odds[betZone];
                $scope.cart.push({sdate: $scope.config.sdate, gameCode: gameCode, betTeam: betTeam, betZone: betZone, odds: odds, pos: pos});
                $scope.odds = odds;
            }
        };

        $scope.remove = function () {
            angular.element('.bet').removeClass('on');
            $scope.cart.length = 0;
            $scope.odds = 0.00;
        };

        $scope.addMoney = function (m) {
            $scope.money += m;
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.addBalMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max),$scope.myMoney);
            }
        };

        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.odds * $scope.money > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            // 베팅
            $http({
                url: path + '/zone/powerFreeKick/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "sdate": $scope.cart[0].sdate,
                    "gameCode": $scope.cart[0].gameCode,
                    "betTeam": $scope.cart[0].betTeam,
                    "betZone": $scope.cart[0].betZone,
                    "odds": $scope.cart[0].odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (!response.data.success) {
                    alert(response.data.message);
                }else{
                    ;
                }
                setTimeout(function () {
                    location.reload();
                }, 1000);
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                angular.element('.bet').removeClass('on');
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.setConfig();
            });
        };
    }]);
</script>
</body>
</html>