<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='agency', lnb='joinCode'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 관리:</small>
    가입 코드
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-bullhorn"></i>
                가입 코드
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>코드</th>
                <th>총판7</th>
                <th>비고</th>
                <th>사용</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="color04">등록</td>
                <td><input type="text" id="code" style="width: 120px;" /></td>
                <td><input type="text" id="agency7" th:value="${user.userid}" style="width: 150px;" th:disabled="disabled"/></td>
                <td><input type="text" id="memo" style="width: 400px;"/></td>
                <td>
                    <select id="enabled">
                        <option th:value="true">사용</option>
                        <option th:value="false">미사용</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn03" style="width: 126px;" onclick="addCode();">등록</a>
                </td>
            </tr>
            <tr th:each="m, num : ${list}" th:with="total=${#arrays.length(list) + 1}">
                <td th:text="${total - num.count}">1</td>
                <td th:text="${m.code}">코드</td>
                <td th:text="${#strings.defaultString(m.agency7, '총판7')}">대리점</td>
                <td><input type="text" th:id="${'memo_' + m.id}" th:value="${m.memo}" style="width: 400px;"/></td>
                <td>
                    <select th:id="${'enabled_' + m.id}">
                        <option th:value="true" th:selected="${m.enabled}">사용</option>
                        <option th:value="false" th:selected="${!m.enabled}">미사용</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn04" th:onclick="|updateCode('${m.id}');|">수정</a>
                    <a class="btn btn02" th:onclick="|deleteCode('${m.id}');|">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function addCode() {
        if ($('#code').val() === '') {
            alert('코드를 입력 하세요.');
            $('#code').focus();
            return false;
        }

        $.post(path + '/seller/joinCode/add', {
            code: $('#code').val(),
            agency1: $('#agency1').val(),
            agency7: $('#agency7').val(),
            enabled: $('#enabled').val(),
            memo: $('#memo').val()
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                $('#code').val('');
                $('#agency1').val('').change();
            }
        });
    }

    function deleteCode(id) {
        if (confirm(String.format('삭제를 하시겠습니까?'))) {
            $.post(path + '/seller/joinCode/delete', {
                id: id
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function updateCode(id) {
        $.post(path + '/seller/joinCode/update', {
            id: id,
            memo: $('#memo_' + id).val(),
            enabled: $('#enabled_' + id).val()
        });
    }
</script>
</body>
</html>