<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='agency', lnb='member'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 관리 :</small>
    회원 리스트
</h2>
<div layout:fragment="content">
    <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathSeller}/agency/member|}" method="get">
        <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
        <section th:if="${user.role.name() eq 'AGENCY'}">
            <div class="panel-search">
                <label>
                    총판7 :
                    <select th:field="*{agency}">
                        <option value="">전체</option>
                        <option th:each="agency : ${agencyList}" th:value="${agency}" th:text="${agency}"></option>
                    </select>
                </label>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathSeller}/agency/member|}" class="btn">취소</a>
                </div>
            </div>
        </section>
    </form>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                회원 리스트
                <span class="total">( 검색된 회원수 : <span th:text="${tag.num(page.totalElements)}">100</span> 명 )</span>
            </h3>
        </div>
        <div th:text="${agencyList}"></div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <thead>
            <tr>
                <th>총판7</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>보유머니</th>
                <th>등급</th>
                <th>입금</th>
                <th>출금</th>
                <th>차액</th>
                <th colspan="2">스포츠베팅</th>
                <th colspan="2">실시간베팅</th>
                <th>가입</th>
                <th>접속</th>
                <th>디바이스</th>
                <th>승인</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m,num : ${page.content}">
                <td th:text="${#strings.defaultString(m.agency7, '-')}">대리점</td>
                <td class="color03" th:text="${m.userid}">아이디</td>
                <td class="color02" th:text="${m.nickname}">닉네임</td>
                <td class="color01" th:text="${m.money}">보유머니</td>
                <td th:text="${m.role.value lt T(spoon.member.domain.Role).AGENCY.value ? m.level : m.role.name}">등급</td>
                <td class="num color04" th:text="${tag.num(m.deposit)}">입금</td>
                <td class="num color03" th:text="${tag.num(m.withdraw)}">출금</td>
                <td class="num" th:text="${tag.num(m.deposit - m.withdraw)}">차액</td>
                <td class="num color02" th:text="${tag.num(m.betSportsCnt)}">베팅금</td>
                <td class="num color04" th:text="${tag.num(m.betSports)}">베팅금</td>
                <td class="num color02" th:text="${tag.num(m.betZoneCnt)}">베팅금</td>
                <td class="num color04" th:text="${tag.num(m.betZone)}">베팅금</td>
                <td th:text="${tag.dayWeek(m.joinDate)}">최종베팅</td>
                <td th:text="${tag.dayWeek(m.loginDate)}">최종베팅</td>
                <td class="color02" th:text="${m.loginDevice}">최종베팅</td>
                <td th:class="${m.enabled} ? 'color04' : 'color03'" th:text="${m.enabled} ? 'O' : 'X'"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

</script>
</body>
</html>