<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='game', gnb=${menu}, title=${title}" ng-app="app">
<body ng-controller="gameCtrl">
<div layout:fragment="popup" th:if="true">
    <div id="league-btn">검색</div>
    <div id="btn-reload" ng-click="reloadGame();"></div>
    <div id="layout-wrap"></div>
    <div id="layout-load" class="loading"></div>
    <div ng-cloak id="league" class="ng-cloak">
        <div><p class="title">리그검색</p></div>
        <div>
            <p class="top" ng-click="changeLeague('')">
                <span>전체보기</span>
                <span class="cnt" th:text="${tag.num(gameCnt)}"></span>
            </p>
        </div>
        <div ng-repeat="league in leagueList">
            <p class="sports" ng-click="changeLeague(league.sportsName, '')" ng-if="league.show">
                <img ng-src="/images/sports/{{league.sportsFlag}}"/>
                <span>{{league.sportsName}}</span>
                <span class="cnt">{{league.total}}</span>
            </p>
            <ul id="{{league.sportsName}}">
                <li>
                    <p class="league" ng-click="changeLeague(league.sportsName, league.leagueName)">
                        <img ng-src="{{imageUrl}}/league/{{league.leagueFlag}}"/>
                        <span>{{league.leagueName}}</span>
                        <span class="cnt">{{league.cnt}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="page" layout:fragment="page">

    <div class="box" style="padding:10px 20px;" th:if="${#lists.size(notice) gt 0}">
        <p th:each="n : ${notice}" th:utext="${tag.color(n.title)}"></p>
    </div>

    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 45px;">
            <col>
        </colgroup>
        <tbody ng-clack class="ng-cloak">
        <tr>
            <td colspan="3" style="border:solid 0px;">
                <ul class="sportsList">
                    <li ng-click="changeLeague('')">전체</li>
                    <li ng-repeat="league in leagueList" ng-if="league.show" ng-click="changeLeague(league.sportsName, '')">{{league.sportsName}}</li>
                </ul>
            </td>
        </tr>
        <tr ng-repeat-start="g in gameList | filter : filters : true" ng-if="g.s == 0">
            <th class="league" colspan="3">
                <p>
                    <img ng-src="/images/sports/{{::g.sf}}"/>
                    <img ng-src="{{imageUrl}}/league/{{::g.lf}}"/> {{::g.ln}}
                    <em class="date">{{::g.gdn}} <span>{{::g.gtn}}</span></em>
                </p>
                <a id="btn{{::g.id}}" ng-if="g.btn" ng-class="show.indexOf(g.id) > -1 ? 'btn' : 'btn btn04'" ng-click="toggleGame(g.ln, g.gd, g.id, g.gid, $event)">
                    <em>+ {{::g.cnt}}</em>
                </a>

            </th>
        </tr>
        <tr ng-repeat-end id="{{::g.id}}" ng-if="g.sh">
            <td class="{{::g.bh && g.bt != '진행중' ? 'bet home' : 'home'}}">
                <p class="ellipses">{{::g.hn}}
                    <span ng-if="g.st == 's_ah' || g.sType == 's_ou'" class="color01">[세트]</span>
                    <span ng-if="g.st == 'p_ah' || g.sType == 'p_ou'" class="color01">[포인트]</span>
                    <span ng-if="::g.sp != '' && g.mc == 'SPECIAL' && g.sc == '365'" class="color01">[{{::g.sp}}]</span></p>
                <span class="odds"><span ng-if="g.gc == 'HANDICAP'" class="l_handy">H</span><span ng-if="g.st == '핸디캡 세트'" class="color01">S</span><span ng-if="g.gc == 'OVER_UNDER'" class="over"></span>{{::g.oh | number : 2}}</span>
                <a ng-click="::g.bh && add(g.id, 'home', $event)"></a>
            </td>
            <td class="{{::g.gc == 'MATCH' ? (g.bd && g.bt != '진행중' ? 'draw bet' : 'draw vs') : (g.gc == 'OVER_UNDER' ? 'draw ou' : 'draw handicap')}}"><span class="odds">{{::g.gc == 'MATCH' ? (g.bd ? (g.od | number : 2) : 'VS') : (g.ah | number : 1)}}</span><a ng-click="::g.bd && add(g.id, 'draw', $event)"></a></td>
            <td class="{{::g.ba && g.bt != '진행중' ? 'bet away' : 'away'}}">
                <span class="odds">{{::g.oa | number : 2}}<span ng-if="g.st == '핸디캡 세트'" class="color01">S</span><span ng-if="g.gc == 'HANDICAP'" class="r_handy">H</span><span ng-if="g.gc == 'OVER_UNDER'" class="under"></span></span>
                <span ng-if="g.st == 's_ah' || g.sType == 's_ou'" class="color01">[세트]</span>
                <span ng-if="g.st == 'p_ah' || g.sType == 'p_ou'" class="color01">[포인트]</span>
                <p class="ellipses">{{::g.an}}<span ng-if="::g.sp != '' && g.mc == 'SPECIAL' && g.sc == '365'" class="color01">[{{::g.sp}}]</span></p>
                <a ng-click="::g.ba && add(g.id, 'away', $event)"></a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<script layout:fragment="script" th:if="true">

    $('#league-btn').on('click', function () {
        $(this).toggleClass('on');
        $('#league').toggleClass('on');
    });

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.parseFloat = window.parseFloat;
        $scope.sports = true;
        $scope.cart = [];
        $scope.show = [];
        $scope.bonus = null;
        $scope.filters = {};
        $scope.odds = 1.00;
        $scope.money = 0;
        $scope.myMoney = [[${user.money}]];
        $scope.config = [(${config})];
        $scope.leagueList = [(${league})];
        $scope.gameList = [(${gameList})];
        $scope.oneFolderBlock = [[${user.oneFolderBlock}]];
        $scope.twoFolderBlock = [[${user.twoFolderBlock}]];
        $scope.userMoney = [[${user.money}]];
        $scope.imageUrl = $scope.config.imageUrl;

        $scope.$watch('$viewContentLoaded', function () {
            $timeout(function () {
                $('#layout-wrap, #layout-load').fadeOut(function () {
                    $('#layout-wrap, #layout-load').hide();
                });
            })
        });

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.reloadGame = function () {
            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            $scope.show.length = 0;
            $http({
                url: location.href,
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.gameList = response.data;
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
                $scope.gameList = response.data;
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            });
        };

        $scope.add = function (id, pos, event) {
            var ele = angular.element(event.target).parent();
            var game;
            var canBet = true;
            var block = false;
            var resultOdds = $scope.odds;
            var specialBlock = false;
            var specialBlock2 = false;
            var specialBlock3 = false;
            var specialBlock4 = false;

            angular.forEach($scope.gameList, function (g) {
                if (g.id === id) {
                    game = g;
                    return false;
                }
            });

            angular.forEach($scope.cart, function (c) {
                if (c.id === id) {
                    $scope.cart.splice($scope.cart.indexOf(c), 1);
                    var odds = c.pos === 'home' ? c.game.oh : (c.pos === 'away' ? c.game.oa : c.game.od);
                    resultOdds = parseFloat($scope.odds / odds);
                    return false;
                }


                //크로스 경기 체크 야구 start
                var tN = game.an;
                var tN2 = c.game.an;
                var tNArray = tN.split("[");
                var tN2Array = tN2.split("[");
                var tNSub = game.an.substring(0,2);
                var tN2Sub = c.game.an.substring(0,2);

                if (
                    (c.game.mc === 'MATCH' || c.game.mc === 'HANDICAP') && c.game.sn === '야구'
                    &&
                    c.game.sn === game.sn
                ) {
                    switch (c.game.gc) {
                        case 'MATCH':
                            if (game.gc === 'OVER_UNDER' && tNSub === tN2Sub && (game.an.indexOf("1이닝") != -1 || c.game.an.indexOf("1이닝") != -1)) {
                                specialBlock = true;
                            }
                            break;
                        case 'OVER_UNDER':
                            if (game.gc === 'MATCH' && tNSub === tN2Sub && (game.an.indexOf("1이닝") != -1 || c.game.an.indexOf("1이닝") != -1)) {
                                specialBlock = true;
                            }
                            break;
                    }
                }

                //스페셜 경기 체크 농구 start
                var tN = game.hn;
                var tN2 = c.game.hn;
                var tNArray = tN.split("[");
                var tN2Array = tN2.split("[");
                var tNSub = game.hn.substring(0,2);
                var tN2Sub = c.game.hn.substring(0,2);

                if (
                    c.game.mc === 'SPECIAL'
                    &&
                    (c.game.sn === '농구')
                    &&
                    c.game.mc === game.mc && c.game.sn === game.sn
                ) {
                    switch (c.game.gc) {
                        case 'MATCH':

                            /*if (game.hn.indexOf("3점") != -1 || c.game.hn.indexOf("3점") != -1){
                                if ( (game.gc === 'HANDICAP' && tNSub === tN2Sub) || (game.gc === 'OVER_UNDER' && tNSub === tN2Sub)
                                    || (game.gc === 'MATCH' && tNSub === tN2Sub && (game.hn.indexOf("자유") != -1 || c.game.hn.indexOf("자유") != -1)) ) {
                                    specialBlock2 = true;
                                }
                            }*/
                            /*if (game.hn.indexOf("3점") != -1 || c.game.hn.indexOf("3점") != -1 || game.hn.indexOf("7점") != -1 || c.game.hn.indexOf("7점") != -1){
                                if (game.gc === 'HANDICAP' && tNSub === tN2Sub || game.gc === 'MATCH' && tNSub === tN2Sub) {
                                    specialBlock2 = true;
                                }
                            }
                            break;
                        case 'HANDICAP':
                            if (game.gc === 'MATCH' && tNSub === tN2Sub && (game.hn.indexOf("3점") != -1 || c.game.hn.indexOf("3점") != -1 || game.hn.indexOf("7점") != -1 || c.game.hn.indexOf("7점") != -1) ) {
                                specialBlock2 = true;
                            }
                            break;
                        case 'OVER_UNDER':
                            break;*/
                    }
                }

                if (
                    c.game.mc === 'SPECIAL'
                    &&
                    (c.game.sn === '농구')
                    &&
                    c.game.mc === game.mc && c.game.sn === game.sn
                ) {
                    switch (c.game.gc) {
                        case 'MATCH':
                            /*if (game.hn.indexOf("자유") != -1 || c.game.hn.indexOf("자유") != -1){
                                if ( (game.gc === 'HANDICAP' && tNSub === tN2Sub) || (game.gc === 'OVER_UNDER' && tNSub === tN2Sub)
                                    || (game.gc === 'MATCH' && tNSub === tN2Sub && (game.hn.indexOf("3점") != -1 || c.game.hn.indexOf("3점") != -1)) ) {
                                    specialBlock3 = true;
                                }
                            }*/
                            break;
                        case 'HANDICAP':
                        case 'OVER_UNDER':
                            /*if (game.gc === 'MATCH' && tNSub === tN2Sub && (game.hn.indexOf("자유") != -1 || c.game.hn.indexOf("자유") != -1)) {
                                specialBlock3 = true;
                            }*/
                            break;
                    }
                }

                //스페셜 경기 체크 농구 start
                var tN = game.hn;
                var tN2 = c.game.hn;
                var tNArray = tN.split("[");
                var tN2Array = tN2.split("[");
                var tNSub = game.hn.substring(0,2);
                var tN2Sub = c.game.hn.substring(0,2);

                if (
                    c.game.mc === 'MATCH'
                    &&
                    (c.game.sn === '농구')
                    &&
                    c.game.mc === game.mc && c.game.sn === game.sn
                ) {
                    switch (c.game.gc) {
                        case 'MATCH':
                            if (c.game.hn.indexOf("7득점") != -1){
                                if (game.gc === 'MATCH' && tNSub === tN2Sub) {
                                    specialBlock4 = true;
                                }
                            } else if (c.game.gc === 'MATCH' && tNSub === tN2Sub) {
                                if (game.hn.indexOf("7득점") != -1) {
                                    specialBlock4 = true;
                                }
                            }
                            break;
                        case 'HANDICAP':
                        case 'OVER_UNDER':
                            break;
                    }
                }

                // 조합이 있다.
                if (c.id !== game.id && c.game.gid === game.gid) {
                    // console.log(game.gc + ' = ' + c.game.gc);
                    // console.log(pos + ' - ' + c.pos);

                    // 같은 종류는 베팅 불허
                    if (c.game.gc === game.gc) {
                        canBet = false;
                        return false;
                    }

                    switch (c.game.gc) {
                        case 'MATCH':
                            if (game.gc === 'HANDICAP') {
                                if ($scope.matchHandicap(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawHandicap(game.sn) && c.pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'OVER_UNDER') {
                                if ($scope.matchOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawOverUnder(game.sn) && c.pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                        case 'HANDICAP':
                            if (game.gc === 'MATCH') {
                                if ($scope.matchHandicap(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawHandicap(game.sn) && pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'OVER_UNDER') {
                                if ($scope.handicapOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                        case 'OVER_UNDER':
                            if (game.gc === 'HANDICAP') {
                                if ($scope.handicapOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'MATCH') {
                                if ($scope.matchOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawOverUnder(game.sn) && pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                    }
                }
            });

            // 동일경기 동일 조합
            if (!canBet) {
                alert(game.sn + ' - 같은 경기의 조합은 구분당 한경기만 베팅 가능 합니다.');
                return;
            }

            // 조합베팅 불가
            if (block) {
                alert(game.sn + ' - 조합베팅 규정안내!\n\n동일경기 조합은 불가능 합니다.');
                return;
            }

            // 특정 배팅 불가
            if(specialBlock){
                alert('야구 1이닝과 동일경기 오버언더의 조합은 배팅이 불가능 합니다.');
                return;
            }

            // 특정 배팅 불가2
            /*if(specialBlock2){
                alert('농구 첫3점과 동일경기 핸디캡의 조합은 배팅이 불가능합니다.');
                return;
            }*/

            // 특정 배팅 불가3
            /*if(specialBlock3){
                alert('농구 자유투와 동일경기 핸디,오버언더,첫3점의 조합은 배팅이 불가능합니다.');
                return;
            }*/

            // 특정 배팅 불가4
            if(specialBlock4){
                alert('농구 승패경기 ,첫 7득점의 조합은 배팅이 불가능합니다.');
                return;
            }

            if (ele.hasClass('on')) {
                ele.removeClass('on');
            } else {
                // 최대 조합 체크
                if ($scope.cart.length >= $scope.config.sportsMaxFolder) {
                    alert(String.format('최대 베팅 조합은 {0}폴더 입니다.', $scope.config.sportsMaxFolder));
                    return;
                }
                // 최대 배당율
                var odds = pos === 'home' ? game.oh : (pos === 'away' ? game.oa : game.od);
                if ($scope.config.sportsMaxOdds > 0 && parseFloat(resultOdds * odds) > $scope.config.sportsMaxOdds) {
                    alert(String.format('조합 최대 배당율은 {0}배 이하 입니다.', $scope.config.sportsMaxOdds));
                    return;
                }

                ele.parent().find('.bet').removeClass('on');
                ele.addClass('on');


                $scope.cart.push({id: id, pos: pos, game: game});
            }
            $scope.calcMoney();
        };
        $scope.remove = function (id) {
            angular.element('#' + id).find('.bet').removeClass('on');
            angular.forEach($scope.cart, function (c) {
                if (c.id === id) $scope.cart.splice($scope.cart.indexOf(c), 1);
            });
            $scope.calcMoney();
        };
        $scope.calcMoney = function () {
            var odds = 1.0;
            var bonusMinOdds = parseFloat($scope.config.bonusMinOdds);
            var bonusFolderCount = 0;

            angular.forEach($scope.cart, function (c) {
                switch (c.pos) {
                    case 'home':
                        odds = parseFloat(odds * c.game.oh);
                        if(parseFloat(c.game.oh) >= bonusMinOdds) bonusFolderCount ++;
                        break;
                    case 'draw':
                        odds = parseFloat(odds * c.game.od);
                        if(parseFloat(c.game.od) >= bonusMinOdds) bonusFolderCount ++;
                        break;
                    case 'away':
                        odds = parseFloat(odds * c.game.oa);
                        if(parseFloat(c.game.oa) >= bonusMinOdds) bonusFolderCount ++;
                        break;
                }
            });

            if ($scope.config.bonusOdds[bonusFolderCount] > 0) {
                $scope.bonus = {odds: $scope.config.bonusOdds[bonusFolderCount], folder: bonusFolderCount};
                odds = parseFloat(odds * $scope.config.bonusOdds[bonusFolderCount]);
            } else {
                $scope.bonus = null;
            }
            $scope.odds = odds;
        };
        $scope.addMoney = function (m) {
            if ($scope.cart.length === 1) { // 1폴더
                ($scope.money + m) > Math.min(Math.floor($scope.config.oneWin / $scope.odds), $scope.config.oneMax) ? alert("배팅할 수 있는 최대금액에 도달했습니다.") : $scope.money += m;
            } else { // 다폴더
                ($scope.money + m) > Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max) ? alert("배팅할 수 있는 최대금액에 도달했습니다.") : $scope.money += m;
            }
        };

        $scope.addReset = function () {
            $scope.money = 0;
        };

        $scope.addMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.floor($scope.config.oneWin / $scope.odds), $scope.config.oneMax);
            } else { // 다폴더
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };

        $scope.addBalMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.min(Math.floor($scope.config.oneWin / $scope.odds), $scope.config.oneMax),$scope.myMoney);
            } else { // 다폴더
                $scope.money = Math.min(Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max),$scope.myMoney);
            }
        };

        $scope.changeLeague = function (sports, league) {
            if (sports === '') {
                $scope.filters = {};
            } else if (league === '') {
                angular.element('#' + sports).toggleClass('on');
                if (angular.element('#' + sports).hasClass('on')) {
                    $scope.filters.sn = sports;
                    delete $scope.filters.ln;
                }
            } else {
                $scope.filters.sn = sports;
                $scope.filters.ln = league;
            }

            setTimeout(function () {
                angular.element('.bet').removeClass('on');
                angular.element('.container > section').css('min-height', angular.element('#left-league').height() + 100);
                angular.forEach($scope.cart, function (c) {
                    switch (c.pos) {
                        case 'home':
                            angular.element('#' + c.id).find('.bet.home').addClass('on');
                            break;
                        case 'draw':
                            angular.element('#' + c.id).find('.bet.draw').addClass('on');
                            break;
                        case 'away':
                            angular.element('#' + c.id).find('.bet.away').addClass('on');
                            break;
                    }
                });
            }, 10);
        };
        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.cart.length === 1 && !$scope.config.one) {
                alert('단폴더 베팅은 불가능 합니다.');
                return;
            }
            if ($scope.cart.length === 1 && $scope.oneFolderBlock) {
                alert('회원님은 단폴더 베팅이 불가능 합니다.');
                return;
            }
            if ($scope.cart.length === 2 && $scope.twoFolderBlock) {
                alert('회원님은 투폴더 베팅이 불가능 합니다.');
                return;
            }
            if ($scope.cart.length === 1 && $scope.money < $scope.config.oneMin) {
                alert(String.format('단폴더 최소 베팅 금액은 {0}원 입니다.', $scope.config.oneMin.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && $scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length === 1 && $scope.money > $scope.config.oneMax) {
                alert(String.format('단폴더 최대 베팅 금액은 {0}원 입니다.', $scope.config.oneMax.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && $scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length === 1 && Math.floor($scope.odds * $scope.money) > $scope.config.oneWin) {
                alert(String.format('단폴더 적중 상한 금액은 {0}원 입니다.', $scope.config.oneWin.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && Math.floor($scope.odds * $scope.money) > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            var ids = [];
            var bets = [];
            var odds = [];
            angular.forEach($scope.cart, function (c) {
                ids.push(c.id);
                bets.push(c.pos);
                switch (c.pos) {
                    case 'home':
                        odds.push(c.game.oh);
                        break;
                    case 'draw':
                        odds.push(c.game.od);
                        break;
                    case 'away':
                        odds.push(c.game.oa);
                        break;
                }
            });

            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            // 베팅
            $http({
                url: path + '/game/[[${menu}]]/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "ids": ids,
                    "bets": bets,
                    "odds": odds
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                angular.element('#cart-wrap').removeClass('on');
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.success) {
                    if (response.data.value === 'one') {
                        alert(String.format('단폴더 베팅으로 배당이 {0} 하락하였습니다.', $scope.config.bonusOne));
                    } else {
                        alert('베팅되었습니다.')
                        location.reload();
                    }
                } else {
                    alert(response.data.message);
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.reloadGame();
            }, function error(response) {
                angular.element('#cart-wrap').removeClass('on');
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.reloadGame();
            });
        };

        $scope.toggleGame = function(ln, gd, id, gid) {
            var ele = angular.element('#btn' + id);
            var idx = $scope.show.indexOf(id);
            if (idx > -1) {
                $scope.show.splice(idx, 1);
            } else {
                $scope.show.push(id);
            }

            angular.forEach($scope.gameList, function (g) {
                if (g.ln === ln && g.gd === gd) {
                    g.sh = !(idx > -1 && g.s > 1);
                }
            });
            ele.toggleClass('btn04');
        }

        // 승무패, 핸디캡 조합
        $scope.matchHandicap = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.matchHandicap;
                case '야구':
                    return $scope.config.cbBaseball.matchHandicap;
                case '농구':
                    return $scope.config.cbBasketball.matchHandicap;
                case '배구':
                    return $scope.config.cbVolleyball.matchHandicap;
                case '아이스하키':
                    return $scope.config.cbHockey.matchHandicap;
                case 'e스포츠':
                    return $scope.config.cbEsports.matchHandicap;
                case '탁구':
                    return $scope.config.cbTableTennis.matchHandicap;
                default:
                    return $scope.config.cbDefault.matchHandicap;
            }
        }
        // 무, 핸디캡 조합
        $scope.drawHandicap = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.drawHandicap;
                case '야구':
                    return $scope.config.cbBaseball.drawHandicap;
                case '농구':
                    return $scope.config.cbBasketball.drawHandicap;
                case '배구':
                    return $scope.config.cbVolleyball.drawHandicap;
                case '아이스하키':
                    return $scope.config.cbHockey.drawHandicap;
                case 'e스포츠':
                    return $scope.config.cbEsports.drawHandicap;
                case '탁구':
                    return $scope.config.cbTableTennis.drawHandicap;
                default:
                    return $scope.config.cbDefault.drawHandicap;
            }
        }
        // 승무패, 오버언더 조합
        $scope.matchOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.matchOverUnder;
                case '야구':
                    return $scope.config.cbBaseball.matchOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.matchOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.matchOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.matchOverUnder;
                case 'e스포츠':
                    return $scope.config.cbEsports.matchOverUnder;
                case '탁구':
                    return $scope.config.cbTableTennis.matchOverUnder;
                default:
                    return $scope.config.cbDefault.matchOverUnder;
            }
        }
        // 무, 오버언더 조합
        $scope.drawOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.drawOverUnder;
                case '야구':
                    return $scope.config.cbBaseball.drawOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.drawOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.drawOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.drawOverUnder;
                case 'e스포츠':
                    return $scope.config.cbEsports.drawOverUnder;
                case '탁구':
                    return $scope.config.cbTableTennis.drawOverUnder;
                default:
                    return $scope.config.cbDefault.drawOverUnder;
            }
        }
        // 핸디캡, 오버언더 조합
        $scope.handicapOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.handicapOverUnder;
                case '야구':
                    return $scope.config.cbBaseball.handicapOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.handicapOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.handicapOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.handicapOverUnder;
                case 'e스포츠':
                    return $scope.config.cbEsports.handicapOverUnder;
                case '탁구':
                    return $scope.config.cbTableTennis.handicapOverUnder;
                default:
                    return $scope.config.cbDefault.handicapOverUnder;
            }
        }
    }]);
</script>
</body>
</html>