<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='customer', lnb='bet'">
<body>

<section layout:fragment="section">
    <h3>베팅규정</h3>

    <div class="tab-menu">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}" class="btn">공통규정</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet2|}" class="btn on">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet3|}" class="btn">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet4|}" class="btn">오버언더</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet5|}" class="btn">스페셜</a>
    </div>

    <div class="box">
        <h3>1. 축구 (승, 무, 패)</h3>
        <ul>
            <li>전/후반 90분 정규시간 경기를 적용 (연장전 및 승부차기 제외)</li>
        </ul>

        <br/>
        <br/>
        <h3>2. 야구 (승, 패)</h3>
        <ul>
            <li>1회~9회까지의 정규이닝 결과 적용. 연장전(승부치기) 돌입시 해당결과 적용.</li>
            <li>야구 무승부 시 적중특례 처리</li>
            <li>더블헤더 경기 시에는 첫 번째 개최되는 경기를 대상경기로 적용.</li>
            <li>콜드게임은 주최측의 규정에 의하여 결과적용 함.</li>
            <li>우천 등(자연재해 및 폭동 등)으로 인해 경기가 중단되었을 경우 해당국가 경기단체의 규정에 준수합니다.</li>
            <li>우천 등(자연재해 및 폭동 등)으로 경기가 취소 될 경우 적중특례 무효 처리됨. (기타의 경우도 포함됨)</li>
            <li>우천 등(자연재해 및 폭동 등)으로 인하여 5이닝이 종료된 시점에 강우콜드로 경기가 종료될 시 당시 점수로 정상적으로 결과적용 함.</li>
        </ul>
        <h5>※ 선발 투수 변경 시 ※</h5>
        <ol>
            <li>선발투수 변경시 해외 해당흐름및 핸디캡 , 오버언더 기준점이 심하게 변동됩니다.</li>
            <li>저희 나들목 운영진은 해외전문사이트를 바탕으로 각종 경기와 배당,기준점을 등록합니다.</li>
            <li>이에 혹여나 선발투수 변경시 적중특례 처리가 되어질수 있습니다.</li>
            <li>빠른 조치후 회원님들께 불편함을 드리지 않도록 많은 노력을 하겠습니다.</li>
        </ol>

        <br/>
        <br/>
        <h3>3. 농구 (승, 패)</h3>
        <ul>
            <li>1~4쿼터를 정규시간, 연장전 적용(핸디캡,오버언더는 연장전 미적용)</li>
        </ul>
        <h5>※ 용병 및 주전선수 변경 시 ※</h5>
        <ol>
            <li>갑작스런 부상등으로 용병 및 주전선수가 변경될시 해외 해당흐름및 핸디캡 , 오버언더 기준점이 심하게 변동됩니다.</li>
            <li>저희 나들목 운영진은 해외전문사이트를 바탕으로 각종 경기와 배당,기준점을 등록합니다.</li>
            <li>이에 혹여나 갑작스런 용병및주전선수 변경시 적중특례 처리가 되어질수 있습니다.</li>
            <li>빠른 조치후 회원님들께 불편함을 드리지 않도록 많은 노력을 하겠습니다.</li>
        </ol>

        <br/>
        <br/>
        <h3>4. 배구 (승, 패)</h3>
        <ul>
            <li>정규세트(세트스코어는 협회 및 주최측 규정에 의함)</li>
        </ul>
        <h5>※ 용병 및 주전선수 변경 시 ※</h5>
        <ol>
            <li>갑작스런 부상등으로 용병 및 주전선수가 변경될시 해외 해당흐름및 핸디캡 , 오버언더 기준점이 심하게 변동됩니다.</li>
            <li>저희 나들목 운영진은 해외전문사이트를 바탕으로 각종 경기와 배당,기준점을 등록합니다.</li>
            <li>이에 혹여나 갑작스런 용병및주전선수 변경시 적중특례 처리가 되어질수 있습니다.</li>
            <li>빠른 조치후 회원님들께 불편함을 드리지 않도록 많은 노력을 하겠습니다.</li>
        </ol>

        <br/>
        <br/>
        <h3>5. 아이스하키 (승, 무, 패)</h3>
        <ul>
            <li>1~3 period를 정규시간 연장전과 승부치기는 제외</li>
        </ul>

        <br/>
        <br/>
        <h3>6. e스포츠</h3>
        <ul>
            <li>스타리그 경기는 예상치 못한 요인으로 경기가 중단되는 경우 또는 실격패나 몰수패의 경우 e-스포츠협회에서 공식적으로 인정하는 결과에 따라서 경기결과를 반영합니다.</li>
            <li>이외에는 정상인 경기가 완료된 이후 결과 처리를 합니다.</li>
            <li>승부가 나지않아 재경기를 할 경우, 해당경기는 적중특례처리됩니다.</li>
        </ul>

        <br/>
        <br/>
        <h3>7. UFC(MMA) (승, 패)</h3>
        <ul>
            <li>UFC에서의 모든 라운드 경기 시간은 5분이며 모든 베팅은 심판이 경기 시작을 선언하면 유효합니다.</li>
            <li>타이틀 매치는 5라운드, 일반 매치는 3라운드, 라운드 사이 휴식 시간은 1분입니다.</li>
            <li>경기 후 선언되는 결과가 최종 결과이며, 포인트(판정), 서브미션, TKO, KO, 실격 등이 포함됩니다.</li>
            <li>선수가 링을 떠난 후의 번복 또는 결과의 변경은 반영하지 않습니다.</li>
            <li>경기 후 심판이 매긴 점수의 변동이나, 주관 기관의 의한 변동은 반영되지 않습니다.</li>
            <li>다음의 경우에 모든 베팅은 무효처리 되며 베팅금은 환불됩니다.</li>
            <li>경기가 무승부일 경우, 경기전 참가 선수가 기권하거나 선수의 변경이 있는 경우</li>
        </ul>

        <br/>
        <br/>
        <h3>8. 미식축구</h3>
        <ul>
            <li>정규 4쿼터까지 승부결과가 나지 않을시 연장전 경기결과 적용(오버언더 미적용)</li>
        </ul>

        <br/>
        <br/>
        <h3>9. 핸드볼</h3>
        <ul>
            <li>전/후반 경기 결과만을 반영, 연장전 경기결과 미적용</li>
        </ul>

        <br/>
        <br/>
        <h3>10. 기타종목</h3>
        <ul>
            <li>해당 경기단체 혹은 협회의 규정에 따라 적용</li>
        </ul>
    </div>

</section>
</body>
</html>