<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='customer', lnb='bet'">
<body>

<section layout:fragment="section">
    <h3>베팅규정</h3>

    <div class="tab-menu">
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet1|}" class="btn">공통규정</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet2|}" class="btn">승무패</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet3|}" class="btn">핸디캡</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet4|}" class="btn on">오버언더</a>
        <a th:href="@{|${siteConfig.pathSite}/customer/guide/bet5|}" class="btn">스페셜</a>
    </div>

    <div class="box">
        <h3>1. 축구</h3>
        <ul>
            <li>전/후반 90분 정규시간 경기를 적용 (연장전 및 승부차기 제외)</li>
        </ul>

        <br/>
        <br/>
        <h3>2. 야구</h3>
        <ul>
            <li>1회~9회까지의 정규이닝 결과 적용. 연장(승부치기)결과 제외.</li>
            <li>9회말까지 정상종료되지 않은 경기는 모두 적중특례 함.(우천취소, 자연재해, 폭동등 기타사유포함)</li>
            <li>단, 9회까지 진행되지는 않았으나 취소되지 않고 승, 무, 패등으로 정상종료된 경기(강우콜드게임등)에 한하여
                5이닝이 종료된 시점에 양팀 점수합이 기준점을 초과한 경기는 정상결과처리하며
                5이닝이 종료된 시점에 양팀 점수합이 기준점에 미달되면 취소처리함.
            </li>
            <li>더블헤더 경기 시에는 첫 번째 개최되는 경기를 대상경기로 적용.</li>
        </ul>

        <br/>
        <br/>
        <h3>3. 농구</h3>
        <ul>
            <li>1~4쿼터를 정규시간, 연장전 제외</li>
        </ul>

        <br/>
        <br/>
        <h3>4. 배구</h3>
        <ul>
            <li>정규세트(세트스코어는 협회 및 주최측 규정에 의함)</li>
        </ul>

        <br/>
        <br/>
        <h3>5. 아이스하키</h3>
        <ul>
            <li>1~3 period를 정규시간 연장전과 승부치기는 제외</li>
        </ul>

        <br/>
        <br/>
        <h3>6. NFL (미식축구)</h3>
        <ul>
            <li>연장전 경기 결과 반영 안함</li>
        </ul>

        <br/>
        <br/>
        <h3>7. 핸드볼</h3>
        <ul>
            <li>연장전 경기 결과 반영 안함</li>
        </ul>

        <br/>
        <br/>
        <h3>8. 기타종목</h3>
        <ul>
            <li>해당 경기단체 혹은 협회의 규정에 따라 적용</li>
        </ul>
    </div>

</section>
</body>
</html>