<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='recommender'">
<body>

<section layout:fragment="section">
    <h3>추천인 정보</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/recommender|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="table-read">
        <caption>추천인 정보</caption>
        <colgroup>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th style="width: 120px;">아이디</th>
            <th style="width: 120px;">닉네임</th>
            <th style="width: 90px;">등급</th>
            <th style="width: 120px;">머니</th>
            <th style="width: 120px;">충전</th>
            <th style="width: 120px;">환전</th>
            <th style="width: 120px;">수익</th>
            <th style="width: 120px;">포인트</th>
            <th>로그인</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${recommender}">
            <td class="popup color03" th:text="${m.userid}">아이디</td>
            <td class="popup color02" th:text="${m.nickname}">닉네임</td>
            <td class="search" th:text="${m.level}">등급</td>
            <td class="popup num color01" th:text="${tag.num(m.money)}">머니</td>
            <td class="popup num color04" th:text="${tag.num(m.inMoney)}">충전</td>
            <td class="popup num color03" th:text="${tag.num(m.outMoney)}">환전</td>
            <td class="popup num color02" th:text="${tag.num(m.inMoney - m.outMoney)}">차액</td>
            <td class="popup num color02" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${tag.num(m.point)}">포인트</td>
            <td th:text="${tag.dayWeek(m.loginDate)}">로그인</td>
        </tr>
        </tbody>
    </table>

    <br><br><br>

    <h3>포인트 정보</h3>
    <table class="table-list">
        <caption>종목 설정</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th style="width: 60px;">번호</th>
            <th style="width: 60px;">대상</th>
            <th style="width: 200px;">사용내역</th>
            <th style="width: 200px;">비고</th>
            <th style="width: 120px;">기존포인트</th>
            <th style="width: 120px;">포인트</th>
            <th style="width: 120px;">최종포인트</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody id="money-body">
        <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <td th:text="${total - num.count}">1</td>
            <td class="color04" th:text="${m.actionId}">0</td>
            <td th:class="${m.amount < 0} ? 'color03' : 'color01'" th:text="${m.pointCode.name}">사용내역</td>
            <td th:text="${#strings.defaultString(m.memo, '-')}">비고</td>
            <td class="num o_money" th:text="${tag.num(m.orgPoint)}">기존머니</td>
            <td th:class="${m.amount < 0} ? 'color03 num popup' : 'color01 num popup'" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${tag.num(m.amount)}">머니</td>
            <td class="num n_money color0" th:text="${tag.num(m.orgPoint + m.amount)}">최종머니</td>
            <td th:utext="${tag.dayWeekTimes(m.regDate)}"></td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>