<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
<head th:replace="fragments/siteFragment :: head">
    <meta charset="UTF-8"/>
    <title>나들목</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
</head>
<body id="login">
<div class="page-wrap">
    <video src="/images/video/video09.mp4" autoplay="autoplay" loop="loop" class="full_screen"></video>
    <div class="login-wrap" layout:fragment="login">
        여기에 내용이 옵니다.
    </div>
</div>
<script layout:fragment="script" th:if="false"></script>
<div th:replace="fragments/siteFragment :: javascript"></div>
</body>
</html>