<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
<head th:replace="fragments/mobileFragment :: head">
    <meta charset="UTF-8"/>
    <title>나들목</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.mobile.css}"/>
    <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="login"></div>
<div th:replace="fragments/mobileFragment :: javascript"></div>
<div layout:fragment="popup" th:if="false" th:remove="tag"></div>
<script layout:fragment="script" th:if="false"></script>
</body>
</html>