<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
    <head th:replace="fragments/siteFragment :: head">
        <meta charset="UTF-8"/>
        <title>Best of Stella</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <script th:src="@{/webjars/jquery/3.1.1/dist/jquery.min.js}"></script>
    </head>
    <body>
        <div id="milliseconds" style="display: none" th:text="${user.milliseconds}"></div>
        <header>

            <!--<section class="info">-->
            <!--<div class="container">-->
            <!--<span th:replace="fragments/site :: level(lv=${user.level})"></span>-->
            <!--<span class="userid" th:text="${user.nickname}">함주나</span><span>님 환영합니다.</span>-->
            <!--<a href="/logout" class="logout">로그아웃</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/customer/qna|}" class="qna">고객상담 <em th:text="${tag.num(user.qna)}" id="user-qna">1</em>건</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/customer/memo|}" class="memo">메시지함 <em th:text="${tag.num(user.memo)}" id="user-memo">1</em>건</a>-->
            <!--<div class="right">-->
            <!--<span class="money">보유머니 <em th:text="${tag.num(user.money)}" id="user-money">1,000,000</em>원</span>-->
            <!--<span class="point">포인트 <em th:text="${tag.num(user.point)}" id="user-point">1,000</em>점</span>-->
            <!--<a href="#" onclick="point.exchange();return false;" class="exchange">포인트 전환</a>-->
            <!--<a th:href="@{|${siteConfig.pathSite}/recommender|}" class="exchange">추천인 현황</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <nav>
                <div class="container">
                    <div class="logo" >
                        <a th:href="@{|${siteConfig.pathSite}/main|}"><img src="/images/main_logo.png" width="200" alt="soul"/></a>
                    </div>
                    <div class="nav">
                        <ul th:replace="fragments/siteFragment :: gnb">
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="gnb">
                <div class="container">
                    <div class="rolling-img"><img src="/images/notice_icon.png"></div>
                    <div id="rolling-wrap">
                        <p id="rolling" th:utext="${tag.color(rolling)}">이곳에 뉴스가 들어갑니다. 뉴스가 들어갑니다. 뉴스가 들어갑니다.</p>
                    </div>
                </div>
            </section>

        </header>
        <main layout:fragment="main" class="page">
            <ul layout:fragment="left-league"></ul>
            <div class="container">
                <section layout:fragment="section"></section>
                <aside th:if="${main eq 'page'  && gnb ne 'liveCasino'}">
                    <div id="clock"></div>
                    <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                    <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>-->
                    <img src="/images/wechat.png" style="margin-top: 6px;"/>
                </aside>
                <aside class="fixed" th:if="${main eq 'inGame'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-top">
                            베팅카트
                            <label>
                                고정
                                <input type="checkbox" id="cart-fix" checked="checked" />
                            </label>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ffd700;"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div ng-repeat="c in cart" class="bet_home">
                                <p class="odds2">
                                    {{c.game.gc}}
                                    <span ng-if="c.game.ah != 0">({{c.game.ah}})</span>
                                </p>
                                <p style="text-align: right">
                                    <span class="color01">
                                        {{c.game.oh | number : 2}}
                                    </span>
                                    <span class="color04">
                                        ( {{c.pos == '1' ? 'Home' : c.pos == '2' ? 'Away' : c.pos == 'X' ? 'Draw' : c.pos }} )
                                    </span>
                                </p>
                                <p>{{c.game.hn}}</p>
                                <p>{{c.game.an}}</p>
                                <a class="btn2" ng-click="remove(c.id)">X</a>
                            </div>
                        </div>
                        <!--<a><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer" onclick="payment.account();return false;"/></a>-->
                        <img src="/images/wechat.png" style="margin-top: 6px;"/>
                    </div>
                </aside>
                <aside class="fixed" th:if="${main eq 'game'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak style="padding-top: 6px;top: 178px;position: fixed;margin-left: 2px;">
                        <div class="cart-top">
                            베팅카트
                            <label>
                                고정
                                <input type="checkbox" id="cart-fix" checked="checked" />
                            </label>
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ffd700;"></em> 원</span></p>
                            <p>배당율 : <span><em>{{odds | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{parseFloat(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div class="bonus" ng-if="bonus != null && bonus.odds > 1">
                                <p>{{bonus.folder}}폴더 이상 보너스 배당 <span> ({{bonus.odds}})</span></p>
                            </div>
                            <div ng-repeat="c in cart" ng-class="c.pos == 'home' ? 'bet_home' : (c.pos == 'draw' ? 'bet_draw' : 'bet_away')">
                                <p class="odds">
                                    <img ng-src="/images/sports/{{c.game.sf}}"/>
                                    {{c.game.gc == 'MATCH' ? '승무패' : (c.game.gc == 'HANDICAP' ? '핸디캡' : '오버언더')}}
                                    <span class="odd">
                                        <!--<span ng-if="c.game.gc != 'OVER_UNDER'">{{c.pos == 'home' ? ' (승)' : (c.pos == 'draw' ? ' (무)' : ' (패)')}}</span>-->
                                        <span ng-if="c.game.gc != 'OVER_UNDER'">{{c.pos == 'home' ? '' : (c.pos == 'draw' ? '' : '')}}</span>
                                        <span ng-if="c.game.gc == 'OVER_UNDER'">{{c.pos == 'home' ? ' (오버)' : ' (언더)'}}</span>
                                        {{c.pos == 'home' ? (c.game.oh | number : 2) : (c.pos == 'draw' ? (c.game.od | number : 2) : (c.game.oa | number : 2))}}
                                    </span>
                                </p>
                                <p>{{c.game.hn}}</p>
                                <p>{{c.game.an}}</p>
                                <a class="btn" ng-click="remove(c.id)">X</a>
                            </div>
                        </div>
                        <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                        <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>-->
                        <img src="/images/wechat.png" style="margin-top: 6px;"/>
                    </div>
                </aside>
                <aside class="fixed" th:if="${main eq 'zone'}">
                    <div id="clock"></div>
                    <div class="cart-wrap ng-cloak" ng-cloak>
                        <div class="cart-top">
                            베팅카트
                        </div>
                        <div class="cart-odds">
                            <p>보유머니 : <span><em th:text="${tag.num(user.money)}" style="color: #ffd700;"></em> 원</span></p>
                            <p>배당율 : <span><em>{{Math.floor(odds * 100) / 100 | number : 2}}</em> 배</span></p>
                            <p>적중금 : <span><em>{{Math.floor(odds * money) | number : 0}}</em> 원</span></p>
                            <p>베팅금 : <span><input type="text" ng-model="money" ng-change="checkMoney()"/> 원</span></p>
                        </div>
                        <div class="cart-amount">
                            <ul>
                                <li><a class="crtBtn" ng-click="addMoney(5000)">5,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(10000)">10,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(30000)">30,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(50000)">50,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(100000)">100,000</a></li>
                                <!--<li><a class="crtBtn" ng-click="addMoney(300000)">300,000</a></li>-->
                                <li><a class="crtBtn" ng-click="addMoney(500000)">500,000</a></li>
                                <li><a class="crtBtn" ng-click="addMoney(1000000)">1,000,000</a></li>
                                <li><a class="crtBtn" ng-click="addBalMax()">잔액</a></li>
                                <li><a class="crtBtn" ng-click="addReset(5000)">삭제</a></li>
                                <li><a class="crtBtn" ng-click="addMax()">최대</a></li>
                            </ul>
                        </div>
                        <div class="cart-betting" ng-click="betting()">
                            <a class="btn">베팅하기 <em>{{cart.length}}</em></a>
                        </div>
                        <div class="cart-item">
                            <div ng-repeat="c in cart" ng-if="zone">
                                <p class="odds">
                                    <img ng-src="{{flag}}"/>
                                    {{name}} [{{c.pos}}]
                                </p>
                                <p class="zone">
                                    X {{c.odds | number : 2}}배
                                </p>
                                <a class="btn" ng-click="remove()">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="soccer">
                                <p class="odds">
                                    <img ng-src="/images/sports/축구.png"/>
                                    <em class="color01">{{name}}</em>
                                <p class="odds" style="padding-left: 24px;margin-top: -4px;">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <p style="padding-left: 24px;">{{c.home}}</p>
                                <p style="padding-left: 24px;">{{c.away}}</p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <div ng-repeat="c in cart" ng-if="dog">
                                <p class="odds">
                                    <img ng-src="{{flag}}"/>
                                    <em class="color01">{{name}}</em>
                                <p class="odds" style="padding-left: 24px;margin-top: -4px;">
                                    {{c.code}}
                                    <span class="color01">
                                        X {{odds | number : 2}}배
                                        ({{c.pos}})
                                    </span>
                                </p>
                                <p style="padding-left: 24px;">{{c.betZone + 1}}. {{c.team[c.betZone]}}</p>
                                <a class="btn" ng-click="remove();">X</a>
                            </div>
                            <!--<a th:href="@{|${siteConfig.pathSite}/payment/deposit|}"><img src="/images/aside01.png" style="margin-top: 4px;cursor: pointer"/></a>-->
                            <!--<a th:href="|${siteConfig.pathSite}/event/lotto|"><img src="/images/lottery2.png" style="margin-top: 6px;"/></a>-->
                            <img src="/images/wechat.png" style="margin-top: 6px;"/>
                        </div>
                    </div>
                </aside>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="copyright">
                    Copyright © [[${siteConfig.since}]] <span th:text="${siteConfig.companyName} + '.'">Stella Solution.</span> All Right Reserved.
                    <!--The 나들목 is the gold standard in online gaming, dedicated to provide its customers with a rewarding, exciting and secure environment for online wagering. With top-of-the-line software and unique gaming opportunities, 나들목 takes its players to the next level in online gambling. Wagering has never been more fun and safe, as The 나들목 brings the Las Vegas atmosphere right to your home.-->
                    <!--</br></br>-->
                    <!--Established in San Jose, Costa Rica, our first casino was launched in November of 1996. Since then, The 나들목 has surpassed other operations by offering a giant selection of lines, some of the best odds, 24-hour customer service, reliable payouts and secure transactions-->
                    <a th:if="${mobile}" class="btn btn01" th:href="@{|${siteConfig.pathSite}/main?site_preference=mobile|}">MOBILE 버전</a>
                </div>
            </div>
        </footer>
        <div id="flashMessage"><div th:text="${message}"></div></div>
        <a id="btn-top">TOP</a>
        <div th:replace="fragments/siteFragment :: javascript"></div>
        <div layout:fragment="popup" th:if="false" th:remove="tag"></div>
        <script layout:fragment="script" th:if="false"></script>
    </body>
</html>