.demo6
{
    overflow: hidden;
    background-image: url("/images/login/loginbg.jpg");
}
.demo6 .caption
{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}
.demo6 .caption h5
{
    letter-spacing: 1px;
    font-family: Raleway,sans-serif;
    font-weight: 300;
}
.demo6 .caption h2
{
    margin: 0px auto;
    font-family: Raleway,sans-serif;
    font-size: 100px;
    font-weight: 700;
}
.demo6 .caption a
{
    margin: 0px 5px;
    letter-spacing: 1px;
}
.demo6.overlay::after
{
    background: rgba(12, 12, 12, 0.7);
}
#particles-js
{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2 !important;
}
.blog .item .content span
{
    color: rgb(220, 20, 60) !important;
}
.clients .client-say .client-item h6
{
    color: rgb(220, 20, 60) !important;
}
.contact .info .item span
{
    color: rgb(220, 20, 60) !important;
}
.contact .tabs .tabs-icon li span
{
    color: rgb(220, 20, 60) !important;
}
.hero .block .block-cont .item .icon
{
    color: rgb(220, 20, 60) !important;
}
.hero .hero-head h1 span
{
    color: rgb(220, 20, 60) !important;
}
.navbar-default .navbar-nav > li .active
{
    color: rgb(220, 20, 60) !important;
}
.price .spacial .mount
{
    color: rgb(220, 20, 60) !important;
}
.quote span
{
    color: rgb(220, 20, 60) !important;
}
.section-head .ctit
{
    color: rgb(220, 20, 60) !important;
}
.services .item .icon
{
    color: rgb(220, 20, 60) !important;
}
.team .item .info h5
{
    color: rgb(220, 20, 60) !important;
}
.team .item .social-icon span:hover
{
    color: rgb(220, 20, 60) !important;
}
.btn-bg-md
{
    background: rgb(220, 20, 60);
}
.btn-bg-md:hover
{
    background: rgb(220, 20, 60);
}
.btn-bord-md:hover
{
    background: rgb(220, 20, 60);
}
.clients .owl-theme .owl-dots .active span
{
    background: rgb(220, 20, 60);
}
.contact .tabs .content .form input[type=submit]:hover
{
    background: rgb(220, 20, 60);
}
.contact .tabs .content .subscribe input[type=submit]:hover
{
    background: rgb(220, 20, 60);
}
.portfolio .item-img .icon:hover
{
    background: rgb(220, 20, 60);
}
.price .item .order div:hover
{
    background: rgb(220, 20, 60);
}
.price .spacial .order div
{
    background: rgb(220, 20, 60);
}
.price .spacial .pop
{
    background: rgb(220, 20, 60);
}
.team .prog .info .skills-progress span
{
    background: rgb(220, 20, 60);
}
.team .skills .botn:hover
{
    background: rgb(220, 20, 60);
}
footer .main-footer .social-icon span:hover
{
    background: rgb(220, 20, 60);
}
.btn-bg-md
{
    border-color: rgb(220, 20, 60);
}
.btn-bg-md:hover
{
    border-color: rgb(220, 20, 60);
}
.btn-bord-md:hover
{
    border-color: rgb(220, 20, 60);
}
.contact .tabs .content .subscribe input[type=submit]:hover
{
    border-color: rgb(220, 20, 60);
}
.portfolio .item-img .icon:hover
{
    border-color: rgb(220, 20, 60);
}
.price .item .order div:hover
{
    border-color: rgb(220, 20, 60);
}
.price .spacial .order div
{
    border-color: rgb(220, 20, 60);
}
