<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='customer', lnb='memo'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>고객응대 :</small>
    쪽지발송
</h2>
<div layout:fragment="content">
    <section>
        <form th:object="${add}" method="post" onsubmit="return add();">
            <div class="panel-header">
                <h3>
                    <i class="bul fa fa-envelope"></i>
                    쪽지발송
                </h3>
            </div>
            <table class="table-read">
                <caption>쪽지 발송</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">총판/대리점</th>
                    <td>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="''"/>
                            전체쪽지
                        </label>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="'money'"/>
                            입금회원
                        </label>
                        <label>
                            <input type="radio" th:field="*{userType}" th:value="'none'"/>
                            미입금회원
                        </label>
                        <label>
                            총판 :
                            <select th:field="*{agency2}">
                                <option value="">선택하세요.</option>
                            </select>
                        </label>
                        <label>
                            대리점 :
                            <select th:field="*{agency1}">
                                <option value="">선택하세요.</option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="required">쪽지응대</th>
                    <td  colspan="3" class="auto">
                        <ul>
                            <li th:each="a : ${auto}"><a href="#" th:onclick="|setReply(${a.key})|" th:text="${a.value.name}"></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="required">제목</th>
                    <td><input type="text" th:field="*{title}" style="width: 100%;"/></td>
                </tr>
                <tr>
                    <th class="required">내용</th>
                    <td><textarea th:field="*{contents}" style="width: 100%; height: 300px;"></textarea></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn03">등록</button>
                <a onclick="history.back();" class="btn">취소</a>
            </div>
        </form>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    var agency2 = '';
    agencies.forEach(function (agency) {
        if (agency2 != agency.agency2) {
            $('#agency2').append('<option value="' + agency.agency2 + '">' + agency.agency2 + '</option>');
            agency2 = agency.agency2;
        }
    });

    $('#agency2').on('change', function () {
        var agency2 = $('#agency2').val();
        $('#agency1').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency2 == agency.agency2 && agency.agency1 != null && agency.agency1 !== '') {
                $('#agency1').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            }
        });
    });

    function add() {
        if ($('#title').val().trim() === '') {
            alert('제목을 입력 하세요.');
            $('#title').focus();
            return false;
        }
        if ($('#contents').val().trim() === '') {
            alert('제목을 입력 하세요.');
            $('#contents').focus();
            return false;
        }

    }

    function setReply(id) {
        $.ajax({
            url: path + '/customer/qna/auto',
            method: 'post',
            data: {
                id: id,
                userid: '',
                nickname: ''
            }
        }).done(function (data) {
            try {
                $('#title').val(data.title);
                $('#contents').val(data.contents);
            } catch (e) {

            }
        });
    }
</script>
</body>
</html>