<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='customer', lnb='autoMemo'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>쪽지 응대 설정 :</small>
    쪽지 응대 설정
</h2>
<div layout:fragment="content">

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-cutlery"></i>
                쪽지 응대 설정
            </h3>
        </div>
        <table class="table-memo">
            <caption>쪽지 응대 설정</caption>
            <colgroup>
                <col style="width:200px;">
                <col style="width:100px;">
                <col>
            </colgroup>
            <tbody>
            <th:block th:each="m,num : ${list}">
            <tr>
                <td rowspan="2" th:class="${m.enabled} ? 'title color03' : 'title'">
                    버튼이름
                     <input type="text" th:id="${m.id} + '-name'" th:value="${m.name}"/>
                </td>
                <th>제목</th>
                <td>
                    <input type="text" th:id="${m.id} + '-title'" th:value="${m.title}"/>
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea th:id="${m.id} + '-contents'" th:text="${m.contents}"></textarea>
                    <p class="btn-wrap">
                        <a href="#" th:onclick="|auto.enabled('${m.id}');return false;|" th:id="${m.id} + '-btn'" th:class="${m.enabled} ? 'btn btn01' : 'btn'" th:text="${m.enabled} ? 'ON' : 'OFF'">수정</a>
                        <a href="#" th:onclick="|auto.update('${m.id}');return false;|" class="btn btn04">수정</a>
                        <a href="#" th:onclick="|auto.delete('${m.id}');return false;|" class="btn btn02">삭제</a>
                    </p>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
        <div class="panel-body">
            <h3>
                <i class="bul fa fa-plus-square" aria-hidden="true"></i>
                신규 등록
            </h3>
        </div>
        <table class="table-memo">
            <caption>쪽지응대 환경설정</caption>
            <colgroup>
                <col style="width:200px;">
                <col style="width:100px;">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td class="title color04" rowspan="2">
                    버튼이름
                    <input type="text" id="name"/>
                    <input type="hidden" id="code" value="쪽지"/>
                </td>
                <th>제목</th>
                <td>
                    <input type="text" id="title"/>
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea id="contents"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <button class="btn btn03" onclick="auto.add();">등록</button>
        </div>
    </section>
</div>
</body>
</html>