<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:with="tag = ${T(spoon.support.web.CustomTag)}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title></title>
    <style type="text/css" media="screen">
        body, html {
            height: 100%;
        }

        body {
            margin: 0;
            background: #333;
            color: #fff;
            text-align: center;
            font: 13px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .wrapper {
            position: absolute;
            top: 20%;
            height: 150px;
            left: 0;
            right: 0;
            width: 100%;
        }

        h3 {
            margin: 0;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        p {
            color: #ccc;
        }

        h1 {
            height: 50px;
            line-height: 50px;
            color: #fff;
            font-size: 28px;
        }

        svg {
            opacity: .25;
            z-index: 999;
            position: relative;
        }

        @-webkit-keyframes lightbulb {
            0%, 8%, 14% {
                opacity: .1
            }
            0%, 10%, 25% {
                opacity: .25;
            }
            5%, 30%, 50%, 70% {
                opacity: .5;
            }
            16%, 60%, 80% {
                opacity: .75;
            }
            90% {
                opacity: .8;
            }
            94% {
                opacity: .5
            }
            100% {
                opacity: 1;
                stdDeviation: 0;
            }
        }

        .logo {
            -webkit-animation-name: lightbulb;
            -webkit-animation-duration: 2.5s;
            -webkit-animation-fill-mode: forwards;
            animation-name: lightbulb;
            animation-duration: 2.5s;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;

            margin-bottom: 30px;
        }

        @-webkit-keyframes pull-string {
            50% {
                -webkit-transform: translate3d(0, 12px, 0);
                transform: translate3d(0, 12px, 0);
            }
            75% {
                -webkit-transform: none;
                transform: none;
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h1 th:text="${siteConfig.companyName}"></h1>
    <div class="logo">
        <svg class="mobile-404-lightbulb-ani" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 132.1 129.8" enable-background="new 0 0 132.1 129.8" width="72" xml:space="preserve">
              <path fill="#fff" d="M110.8,19c12.2,12.2,18.5,27.5,18.9,45.9c-0.3,14.5-4.4,27.3-12.5,38.3c-8.1,11-18.7,18.8-31.8,23.3
                c-1.6,0.3-2.7,0-3.4-0.7c-0.7-0.7-1-1.5-1-2.5l0.1-17.7c-0.1-3-0.6-5.6-1.4-7.5c-0.8-2-1.9-3.5-3-4.5c7.5-0.5,14.3-2.9,20.2-7.3
                c6-4.3,9.1-12.6,9.4-24.8c-0.1-3.5-0.7-6.8-1.8-9.6c-1.1-2.9-2.8-5.4-4.9-7.7c0.5-0.8,0.9-2.8,1.3-5.8c0.3-3-0.3-6.8-1.9-11.4
                c0-0.3-1.4-0.2-4.3,0.2c-2.9,0.4-7.4,2.6-13.6,6.5c-5.2-1.4-10.6-2.2-16.2-2.2s-11,0.7-16.2,2.2c-6.2-4-10.7-6.1-13.6-6.5
                c-2.9-0.4-4.3-0.4-4.3-0.2c-1.6,4.6-2.2,8.4-1.9,11.4c0.3,3,0.8,5,1.3,5.8c-2.1,2.3-3.7,4.9-4.9,7.7c-1.1,2.9-1.8,6.1-1.8,9.6
                c0.3,12.2,3.5,20.4,9.4,24.8c5.9,4.4,12.7,6.8,20.3,7.3c-1,0.8-1.9,2-2.6,3.4c-0.7,1.4-1.2,3.2-1.6,5.3c-2,1.1-4.9,1.6-8.6,1.6
                c-3.7,0-7.1-2.4-10.3-7c0-0.3-0.8-1.3-2.5-3.2c-1.7-1.9-4.1-3-7.3-3.5c-0.4-0.1-1.2,0.1-2.5,0.5c-1.2,0.4-0.6,1.6,2,3.5
                c0.1-0.1,0.9,0.6,2.5,1.9c1.6,1.4,3.1,3.8,4.8,7.5c-0.3,0.6,1.1,2.4,4.1,5.3c3,3,8.9,3.8,17.7,2.4l0.1,12c0,0.9-0.3,1.8-1,2.5
                c-0.7,0.7-1.8,1-3.4,0.7c-13.1-4.6-23.7-12.3-31.8-23.3C4.4,92.2,0.3,79.5,0,64.9C0.4,46.5,6.7,31.2,18.9,19
                C31.1,6.8,46.5,0.5,64.9,0.1C83.3,0.5,98.6,6.8,110.8,19z">
              </path>
          </svg>
    </div>
    <h3>사이트 점검 중입니다.</h3>
    <p>이용에 불편을 드려 대단히 죄송합니다.<br/>현재 사이트 점검 중이니 잠시 후에 다시 이용해 주세요.</p>

    <div class="message" th:utext="${tag.onlyBr(message)}">
        The site configured at this address does not
        contain the requested file.
    </div>
</div>
</html>
