<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.companyName}"></title>
    <link rel="shortcut icon" href="/images/favicon.ico?v1">
    <link rel=stylesheet href="/css/m_login_style.css"/>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <style>
        .sample1{
            background-image: url('/images/mlogin_bg.jpg');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            height:80%;
            padding-top: 150px;
            overflow: hidden; 
        }
    </style>
</head>
<body>
<form id="frm" method="post" onsubmit="return login.goLogin();" class="sample1" >
<div class=login_wrap>
    <img src="/images/logo_login.png" style="width: 200px; margin-top: 0px;"/>
    <div style="margin-top: 50px;"><input class=style_input name="l_username" id="l_username"  placeholder="아이디"/></div>
    <div><input type=password class=style_input name="l_password" id="l_password"  placeholder="비밀번호"/></div>
    <p>&nbsp;</p>
    <div><input type="submit" class=btn_submit value="LOGIN NOW" /></div>
    <div th:if="${siteConfig.join.joinButton}">
        <input th:if="${siteConfig.join.joinCodePage}" type=button class=btn_join value="CREATE ACCOUNT"  th:onclick="|location.href='${siteConfig.pathJoin}/code'|">
        <input th:if="!${siteConfig.join.joinCodePage}" type=button class=btn_join value="CREATE ACCOUNT" th:onclick="|location.href='${siteConfig.pathJoin}/join'|">
</div>
    <div class=login_foot>
        <!--<div class=telegram><em><img src="/images/m/mtele.png"></em><span></span></div>-->
        <div class=text1>Copyright 나들목 Corp (C). All Rights Reserved.</div>
    </div>
</div>
</form>
</body>
<script>
    var config = [(${config})];
</script>

<script src="/js/common.js?v=1.0"></script>
<script src="/js/common.join.js?v=1.0"></script>
</html>