<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="mode='main', title=${siteConfig.companyName}">
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
<body>

<main class="main" layout:fragment="page" style="text-align: center">
    <!--<h2><img src="/images/logo2.png" width="40%"></h2>-->

    <ul style="margin-left:auto;margin-right:auto;width:100%;margin-top: 20px;">
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/game/cross'|" style="cursor: pointer;" src="/images/main/mcross.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/game/special'|" style="cursor: pointer;" src="/images/main/mspecial.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/casino/liveCasino'|" style="cursor: pointer;" src="/images/main/mliveca.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/power'|" style="cursor: pointer;" src="/images/main/mpb.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/power_ladder'|" style="cursor: pointer;" src="/images/main/mpbl.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/kenoLadder'|" style="cursor: pointer;" src="/images/main/ksadari.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/bogleLadder'|" style="cursor: pointer;" src="/images/main/bsadari.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/boglePower'|" style="cursor: pointer;" src="/images/main/bpb.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/eosPower3'|" style="cursor: pointer;" src="/images/main/eos3min.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/eosPower5'|" style="cursor: pointer;" src="/images/main/eos5min.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/soccer'|" style="cursor: pointer;" src="/images/main/vsoccer.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/zone/dog'|" style="cursor: pointer;" src="/images/main/vdogracing.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/payment/deposit'|" style="cursor: pointer;" src="/images/main/mdeposit.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/payment/withdraw'|" style="cursor: pointer;" src="/images/main/mwithdraw.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/betting'|" style="cursor: pointer;" src="/images/main/mbetlist.png">
            <img  th:onclick="|location.href='${siteConfig.pathSite}/customer/qna'|" style="cursor: pointer;" src="/images/main/mcscenter.png">
        </li>
        <li>
            <img  th:onclick="|location.href='${siteConfig.pathSite}/main?site_preference=normal'|" style="cursor: pointer;" src="/images/main/mpcv.png">
        </li>
    </ul>


</main>
<div layout:fragment="popup" th:if="${#arrays.length(popup) gt 0}">
    <div id="layout-wrap"></div>
    <div id="layout-box">
        <th:block th:each="p : ${popup}">
            <img th:src="@{|/images/notice/${p.image}?sdate=${p.sdate}|}" th:usemap="${'#' + p.id}" th:id="'popup' + ${p.id}" style="display: none;"/>
            <script>
                var _banner = 'popup[[${p.id}]]';
                if ($.cookie(_banner) !== 'hide') {
                    $('#' + _banner).show();
                }
            </script>
            <map th:name="${p.id}">
                <area shape="rect" coords="0,520,158,546" href="#" th:onclick="|hideImage('popup${p.id}', true);return false;|"/>
                <area shape="rect" coords="320,520,380,546" href="#" th:onclick="|hideImage('popup${p.id}', false);return false;|"/>
            </map>
        </th:block>
    </div>
</div>
<script layout:fragment="script" th:if="${#arrays.length(popup) gt 0}">
    if ($('#layout-box img:visible').length === 0) {
        $('#layout-wrap, #layout-box').hide();
    }

    function hideImage(id, cook) {
        if (cook) {
            $.cookie(id, 'hide');
        }

        $('#' + id).slideUp(function () {
            if ($('#layout-box img:visible').length === 0) {
                $('#layout-wrap').fadeOut(function () {
                    $('#layout-wrap, #layout-box').hide();
                });
            }
        });
    }
</script>
</body>
</html>