<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> 바카라 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width:920px; height: 589px; overflow: hidden;position: relative;">
                    <iframe id="zoneBox" style="position: absolute; width: 920px; height: 589px; position: absolute; top: 0px; left: 0px;" scrolling="no" th:src="@{${sysConfig.zone.lotusBaccaratPlayer}}"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:text="${#dates.format(score.gameDate, 'MM/dd(E) HH:mm')}"></span>
                        <span class="color03" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">결과</th>
                    <td>
                        <select th:field="*{p1}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>
                        <select th:field="*{p2}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>
                        <select th:field="*{p3}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>
                        <br>&nbsp;&nbsp; : &nbsp;&nbsp;<br>
                        <select th:field="*{b1}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>
                        <select th:field="*{b2}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>
                        <select th:field="*{b3}">
                            <option value="000">:: 선택 ::</option>
                            <option value="001">스페이스 A</option>
                            <option value="002">스페이스 2</option>
                            <option value="003">스페이스 3</option>
                            <option value="004">스페이스 4</option>
                            <option value="005">스페이스 5</option>
                            <option value="006">스페이스 6</option>
                            <option value="007">스페이스 7</option>
                            <option value="008">스페이스 8</option>
                            <option value="009">스페이스 9</option>
                            <option value="010">스페이스 10</option>
                            <option value="011">스페이스 J</option>
                            <option value="012">스페이스 Q</option>
                            <option value="013">스페이스 K</option>
                            <option value="101">다이아 A</option>
                            <option value="102">다이아 2</option>
                            <option value="103">다이아 3</option>
                            <option value="104">다이아 4</option>
                            <option value="105">다이아 5</option>
                            <option value="106">다이아 6</option>
                            <option value="107">다이아 7</option>
                            <option value="108">다이아 8</option>
                            <option value="109">다이아 9</option>
                            <option value="110">다이아 10</option>
                            <option value="111">다이아 J</option>
                            <option value="112">다이아 Q</option>
                            <option value="113">다이아 K</option>
                            <option value="201">하트 A</option>
                            <option value="202">하트 2</option>
                            <option value="203">하트 3</option>
                            <option value="204">하트 4</option>
                            <option value="205">하트 5</option>
                            <option value="206">하트 6</option>
                            <option value="207">하트 7</option>
                            <option value="208">하트 8</option>
                            <option value="209">하트 9</option>
                            <option value="210">하트 10</option>
                            <option value="211">하트 J</option>
                            <option value="212">하트 Q</option>
                            <option value="213">하트 K</option>
                            <option value="301">크로버 A</option>
                            <option value="302">크로버 2</option>
                            <option value="303">크로버 3</option>
                            <option value="304">크로버 4</option>
                            <option value="305">크로버 5</option>
                            <option value="306">크로버 6</option>
                            <option value="307">크로버 7</option>
                            <option value="308">크로버 8</option>
                            <option value="309">크로버 9</option>
                            <option value="310">크로버 10</option>
                            <option value="311">크로버 J</option>
                            <option value="312">크로버 Q</option>
                            <option value="313">크로버 K</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if ($('#card').val() === '') {
                alert('결과처리를 완료 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>