<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i> 다리다리 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width: 828px; height: 544px; overflow: hidden;position: relative;">
                    <iframe id="zoneBox" style="position: absolute; width: 828px; height: 574px;top: -14px;" scrolling="no" th:src="@{${sysConfig.zone.dariPlayer}}"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:utext="${tag.dayWeekTime(score.gameDate)}"></span>
                        <span class="color03" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">홀 / 짝</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{oddeven}" th:value="ODD"/> 홀</label>
                        <label class="box"><input type="radio" th:field="*{oddeven}" th:value="EVEN"/> 짝</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">좌 / 우</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{start}" th:value="LEFT"/> 좌</label>
                        <label class="box"><input type="radio" th:field="*{start}" th:value="RIGHT"/> 우</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">3줄 / 4줄</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{line}" th:value="3"/> 3줄</label>
                        <label class="box"><input type="radio" th:field="*{line}" th:value="4"/> 4줄</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if (!$('input:radio[name=oddeven]').is(':checked')) {
                alert('홀/짝 결과처리를 하세요.');
                return false;
            }

            if (!$('input:radio[name=start]').is(':checked')) {
                alert('좌/우 결과처리를 하세요.');
                return false;
            }

            if (!$('input:radio[name=line]').is(':checked')) {
                alert('3줄/4줄 결과처리를 하세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>