<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/sellerLayout" th:with="gnb='sale', lnb='bettingPbLotto'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>베팅 :</small>
    파워로또 베팅내역
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathSeller}/sale/bettingPbLotto|}" method="get">
                <label>
                    아이디/닉네임 :
                    <input type="text" th:field="*{username}"/>
                    (일치 <input type="checkbox" th:field="*{match}" />)
                </label>

                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathSeller}/sale/betting|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-list"></i>
                베팅내역
                <span class="total">( 검색된 베팅내역 : <span th:text="${tag.num(page.totalElements)}">100</span> 건 )</span>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>
                <col style="width: 60px;">
                <col>
                <col>
                <col>
                <col>
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col style="width: 24px;">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>총판1</th>
                <th>총판7</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th colspan="4">회원정보</th>
                <th>게임</th>
                <th>베팅시간</th>
                <th>베팅금액</th>
                <th>베팅상세</th>
                <th>적중금액</th>
                <th>결과</th>
            </tr>
            </thead>
            <tbody class="bet" th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
            <tr class="betting">
                <td th:text="${total - num.count}">1</td>
                <td class="color03" th:text="${b.agency1}">총판1</td>
                <td class="color03" th:text="${b.agency7}">총판7</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color03 popup" th:text="${b.userid}">아이디</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color02 popup" th:text="${b.nickname}">닉네임</td>
                <td class="popup color04" th:onclick="|popup.payment.money('${b.userid}');|"><i class="bul fa fa fa-usd"></i></td>
                <td class="popup color04" th:onclick="|popup.payment.point('${b.userid}');|"><i class="bul fa fa-product-hunt"></i></td>
                <td class="popup color04" th:onclick="|popup.betting.list('${b.userid}');|"><i class="bul fa fa-shopping-cart"></i></td>
                <td class="popup color04" th:onclick="|popup.customer.memo('${b.userid}');|"><i class="bul fa fa-envelope-o"></i></td>
                <td class="color02" th:text="${'파워볼 '+b.round+'회차 ('+b.times+')'}">베팅상세</td>
                <td th:utext="${tag.betDate(b.betDate)}">베팅시간</td>
                <td class="num color03" th:text="${tag.num(b.betMoney)}">베팅상세</td>
                <td>
                    <ul class="item">
                        <li>
                            <span th:class="${b.ballHit1 ? 'color01' : ''}" th:text="${b.ball1}"></span>,
                            <span th:class="${b.ballHit2 ? 'color01' : ''}" th:text="${b.ball2}"></span>,
                            <span th:class="${b.ballHit3 ? 'color01' : ''}" th:text="${b.ball3}"></span>,
                            <span th:class="${b.ballHit4 ? 'color01' : ''}" th:text="${b.ball4}"></span>,
                            <span th:class="${b.ballHit5 ? 'color01' : ''}" th:text="${b.ball5}"></span>
                        </li>
                    </ul>
                </td>
                <td class="num color01" th:text="${tag.num(b.hitMoney)}">적중금액</td>
                <td class="color02">
                    <ul class="item">
                        <li>
                            <span class="color04" th:if="${b.result eq '적중'}">적중</span>
                            <span class="color03" th:if="${b.result eq '미적중'}">미적중</span>
                            <span class="color01" th:if="${b.result eq '적특'}">적특</span>
                        </li>
                    </ul>
                </td>


            </tr>

            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    var toggle = false;
    function toggleAll() {
        if (toggle) {
            $('.betItem').hide();
            $('.bet').removeClass('on');
            toggle = false;
        } else {
            $('.betItem').show();
            $('.bet').addClass('on');
            toggle = true;
        }
    }

    function toggleItem(id) {
        var obj = $('#' + id);
        obj.toggle();
        if (obj.is(':visible')) {
            obj.parent().addClass('on');
        } else {
            obj.parent().removeClass('on');
        }
    }
</script>
</body>
</html>