<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page',gnb='page'">
<body>
<section layout:fragment="section">
    <h3>충전신청</h3>

    <div class="box">
        <h4>입금안내</h4>
        <p class="color04">1회 입금 한도는 300만원까지 입금가능합니다.<Br>
            (300만원이상 입금시 나눠서 입금 후 충전신청 부탁드립니다)<Br>

            입금 최소금액은 1만원부터 1만원 단위로 가능합니다.<Br>

            입금시 ATM,토스,증권계좌,수표입금,무통장입금 불가능하며,<Br>

            출금등록된 계좌외 다른계좌에서 입금은 불가능합니다.
        </p>
    </div>
    <br/><br/>
    <table class="banking">
        <caption>충전 신청</caption>
        <colgroup>
            <col style="width: 200px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>충전계좌 확인</th>
            <td class="color05">환전 비밀번호를 입력하세요.

                <input type="text" class="num depIn" id="pass"/> <a class="depBtn" onclick="getAccount();">계좌확인</a>
                <span id="accountInfo"></span>
            </td>
        </tr>
        <tr th:if="${!bonus.isEmpty()}">
            <th>진행중 이벤트</th>
            <td class="color05" th:text="${bonus}">보너스</td>
        </tr>
        <tr>
            <th>입금자명</th>
            <td th:text="${member.depositor}" class="depTh">입금자</td>
        </tr>
        <tr>
            <th rowspan="2">충전금액</th>
            <td>
                <input type="text" class="num depIn" id="amount" autofocus="autofocus" style="color: #FFD700;"/><span class="depTh">&nbsp;&nbsp;&nbsp;원</span>
                <span id="amountKor" class="color02" style="margin-left: 40px;"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a class="depBtn" onclick="setAmount(10000);">만원</a>
                <a class="depBtn" onclick="setAmount(30000);">삼만원</a>
                <a class="depBtn" onclick="setAmount(50000);">오만원</a>
                <a class="depBtn" onclick="setAmount(70000);">칠만원</a>
                <a class="depBtn" onclick="setAmount(100000);">십만원</a>
                <a class="depBtn" onclick="setAmount(300000);">삼십만원</a>
                <a class="depBtn" onclick="setAmount(500000);">오십만원</a>
                <!--<a class="depBtn" onclick="setAmount(700000);">칠십만원</a>-->
                <a class="depBtn" onclick="setAmount(1000000);">백만원</a>
                <a class="depBtn btn02" onclick="resetAmount();">정정</a>
            </td>
        </tr>
        <!--<tr>
            <th>보너스 롤링조건 동의</th>
            <td>
                <label><input type="radio" name="rollType" value="Y" checked="checked"/> <label style="color: yellow">동의</label> 하며 보너스를 받겠습니다.</label>
                <label><input type="radio" name="rollType" value="N" /> <label style="color: yellow">아니오</label> 기본롤링 100% 이상 하겠습니다.</label>
                <span style="margin-left: 80px; font-weight: bold; font-size: larger">롤링조건 : <span style="color: yellow">300% 이상</span></span>
            </td>
        </tr>-->
        </tbody>
    </table>
    <div class="command">
        <buttom class="depBtn2" onclick="allDelete();">입금내역 전체삭제</buttom>
        <button class="depBtn" onclick="deposit();">충전신청</button>
    </div>
    <table class="list" th:if="${not #lists.isEmpty(list)}">
        <caption>충전신청</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
        <thead>
        <tr>
            <th>No.</th>
            <th>입금인</th>
            <th>신청금액</th>
            <th>이벤트</th>
            <th>추가포인트</th>
            <th>신청시간</th>
            <th>처리상태</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b, num : ${list}" th:with="total=${#lists.size(list)}">
            <td th:text="${total - num.count + 1}">번호</td>
            <td th:text="${b.depositor}">입금인</td>
            <td class="num color02" th:text="${#numbers.formatInteger(b.amount, 0, 'DEFAULT')}">신청금액</td>
            <td th:text="${b.bonusPoint gt 0 ? b.bonus : '-'}"></td>
            <td class="num color01" th:text="${#numbers.formatInteger(b.bonusPoint, 0, 'DEFAULT')}">충전금액</td>
            <td th:utext="${tag.fullDate(b.regDate)}">신청시간</td>
            <td th:class="${b.cancel ? 'color03' : (b.closing ? 'color01' : '')}" th:text="${b.cancel ? '취소' : (b.closing ? '완료' : '대기')}">진행상태</td>
            <td th:if="${b.closing}"><a class="btn btn02" th:onclick="|goDelete('${b.id}')|">삭제</a></td>
            <td th:if="${!b.closing}"><a class="btn btn03" th:onclick="|goCancel('${b.id}')|">취소</a></td>
        </tr>
        </tbody>
    </table>
</section>

<script layout:fragment="script" th:if="true">
    var depositor = '[[${member.depositor}]]';
    var config = [(${zoneAmount})];
    var accountChk = false;

    $('#amount').on('change, keyup', function () {
        var amount = $(this).val().num() || 0;
        $(this).val(amount.toString().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    });

    function setAmount(amt) {
        var amount = $('#amount').val().num() || 0;
        amount = parseInt(amount, 10) + parseInt(amt, 10);
        $('#amount').val(amount.toString().num().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    }

    function resetAmount() {
        $('#amount').val('');
        $('#amountKor').text('');
    }

    function deposit() {
        if(!accountChk){
            alert("충전계좌 확인 후 충전신청 하시기 바랍니다.");
            return;
        }

        var amount = parseInt($('#amount').val().num() || 0, 10);

        var rollType = $('input[name="rollType"]:checked').val();

        if (depositor === '') {
            alert('입금자를 기입하지 않으셔서 충전 신청이 불가능 합니다.');
            return false;
        }

        if (config.min > amount) {
            alert(String.format('최소 충전 금액은 {0}원 이상 입니다.', config.min.toString().money()));
            return false;
        }

        if (config.unit > 0) {
            var mod = amount % config.unit;
            if (mod !== 0) {
                if (!confirm(String.format('충전 금액은 {0}원 단위로 가능합니다.\n\n{1}원으로 신청 금액을 맞추겠습니까?', config.unit.toString().money(), (amount - mod).toString().money()))) {
                    return false
                }
                amount = amount - mod;
            }
        }

        if (!confirm(String.format('필히 선입금 후 충전신청 하시기 바랍니다.\n\n    - 충전금액 : {0}원\n\n    - 입금자명 : {1}\n\n충전신청을 진행하시겠습니까?', amount.toString().money(), depositor))) {
            return false;
        }

        $.ajax({
            url: path + '/payment/deposit',
            method: 'post',
            data: {
                depositor: depositor,
                amount: amount,
                rollType: rollType
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                $('#amount').val('');
                $('#bankPassword').val('');
            }
        });
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/deposit/delete',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goCancel(id) {
        if (confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/deposit/cancel',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function getAccount(){
        var pass = $('#pass').val();
        $.ajax({
            url: path + '/payment/deposit/account',
            method: 'post',
            data: {
                pass: pass
            }
        }).done(function (data) {
            $('#accountInfo').html("&nbsp;&nbsp;"+data.value);
            accountChk = true;
        });
    }


    function allDelete() {
        if (confirm('전체삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/deposit/deleteAll',
                method: 'post',
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

</script>
</body>
</html>