<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page',gnb='page'">
<body>
<section layout:fragment="section">
    <h3>파워볼 로또 충전 신청</h3>

    <div class="box">
        <h4>파워볼 로또 충전 안내</h4>
        <p class="color04">보유머니에서 차감됩니다.</p>
    </div>
    <br/><br/>
    <table class="banking">
        <caption>충전 신청</caption>
        <colgroup>
            <col style="width: 200px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>환전 비밀번호</th>
            <td class="color01">
                <input type="text" class="num" id="bankPassword"/>
            </td>
        </tr>
        <tr>
            <th>입금자명</th>
            <td th:text="${member.depositor}">입금자</td>
        </tr>
        <tr>
            <th rowspan="2">파워볼 로또 충전금액</th>
            <td>
                <input type="text" class="num" id="amount" autofocus="autofocus"/> 원
                <span id="amountKor" class="color02" style="margin-left: 40px;"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" onclick="setAmount(10000);">만원</a>
                <a class="btn" onclick="setAmount(30000);">삼만원</a>
                <a class="btn" onclick="setAmount(50000);">오만원</a>
                <a class="btn" onclick="setAmount(70000);">칠만원</a>
                <a class="btn" onclick="setAmount(100000);">십만원</a>
                <a class="btn" onclick="setAmount(300000);">삼십만원</a>
                <a class="btn" onclick="setAmount(500000);">오십만원</a>
                <a class="btn" onclick="setAmount(700000);">칠십만원</a>
                <a class="btn" onclick="setAmount(1000000);">백만원</a>
                <a class="btn btn02" onclick="resetAmount();">정정</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="command">
        <button class="btn btn01" onclick="deposit();">파워볼 로또 충전신청</button>
    </div>

</section>

<script layout:fragment="script" th:if="true">
    var depositor = '[[${member.depositor}]]';
    $('#amount').on('change, keyup', function () {
        var amount = $(this).val().num() || 0;
        $(this).val(amount.toString().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    });

    function setAmount(amt) {
        var amount = $('#amount').val().num() || 0;
        amount = parseInt(amount, 10) + parseInt(amt, 10);
        $('#amount').val(amount.toString().num().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    }

    function deposit() {
        var bankPassword = $('#bankPassword').val();
        if(bankPassword == ''){
            alert('환전 비밀번호를 입력하세요.');
            return;
        }
        var amount = parseInt($('#amount').val().num() || 0, 10);
        if (amount < 10000) {
            alert(String.format('최소 충전 금액은 10000원 이상 입니다.'));
            return false;
        }

        $.ajax({
            url: path + '/payment/deposit2',
            method: 'post',
            data: {
                depositor: depositor,
                amount: amount,
                bankPassword: bankPassword
            }
        }).done(function (data) {
            if (data.success) {
                alert("파워볼 로또 충전이 완료되었습니다.")
                location.reload();
            } else {
                $('#amount').val('');
                $('#bankPassword').val('');
            }
        });
    }

</script>
</body>
</html>