<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page',gnb='page'">
<body>
<section layout:fragment="section">
    <h3>환전신청</h3>

    <div class="box">
        <h4>주의사항 안내</h4>
        <p>
            24시간 자유롭게 환전신청이 가능하며 3~5분 소요됩니다.<br>
            (단, 23:30 ~ 00시:30 까지 은행점검시간)<br>

            환전신청 최소금액은 1만원부터 1만원 단위로 신청가능합니다.<br>

            1회 최대 금액은 500만원이며, 환전완료 후 3시간 간격으로 신청가능합니다.<br>

            보유머니 및 베팅진행중인 경기가 있을 경우 환전계좌변경은 불가합니다.<br>
        </p>
    </div>
    <br/><br/>
    <table class="banking">
        <caption>환전 신청</caption>
        <colgroup>
            <col style="width: 200px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>은행</th>
            <td th:text="${member.bank}">은행</td>
        </tr>
        <tr>
            <th>계좌번호</th>
            <td th:text="${member.account}">계좌번호은행</td>
        </tr>
        <tr>
            <th rowspan="2">환전금액</th>
            <td>
                <input type="text" class="num" id="amount" autofocus="autofocus" style="color: #DC143C;"/> 원
                <span id="amountKor" class="color02" style="margin-left: 40px;"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" onclick="setAmount(10000);">만원</a>
                <a class="btn" onclick="setAmount(30000);">삼만원</a>
                <a class="btn" onclick="setAmount(50000);">오만원</a>
                <a class="btn" onclick="setAmount(70000);">칠만원</a>
                <a class="btn" onclick="setAmount(100000);">십만원</a>
                <a class="btn" onclick="setAmount(300000);">삼십만원</a>
                <a class="btn" onclick="setAmount(500000);">오십만원</a>
                <a class="btn" onclick="setAmount(700000);">칠십만원</a>
                <a class="btn" onclick="setAmount(1000000);">백만원</a>
                <a class="btn btn02" onclick="resetAmount();">정정</a>
            </td>
        </tr>
        <tr>
            <th>환전비밀번호</th>
            <td>
                <input type="password" id="bankPassword"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="command">
        <buttom class="depBtn2" onclick="allDelete();">환전내역 전체삭제</buttom>
        <button class="btn btn01" onclick="withdraw();">환전신청</button>
    </div>
    <table class="list" th:if="${not #lists.isEmpty(list)}">
        <caption>환전신청</caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
        <thead>
        <tr>
            <th>No.</th>
            <th>예금주</th>
            <th>신청금액</th>
            <th>환전금액</th>
            <th>신청시간</th>
            <th>처리상태</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b, num : ${list}" th:with="total=${#lists.size(list)}">
            <td th:text="${total - num.count + 1}">번호</td>
            <td th:text="${b.depositor}">입금인</td>
            <td class="num color02" th:text="${#numbers.formatInteger(b.amount, 0, 'DEFAULT')}">신청금액</td>
            <td class="num color01" th:text="${b.closing and not b.cancel and not b.reset ? #numbers.formatInteger(b.amount, 0, 'DEFAULT') : '-'}">환전금액</td>
            <td th:utext="${tag.fullDate(b.regDate)}">신청시간</td>
            <td th:class="${b.cancel ? 'color03' : (b.closing ? 'color01' : '')}" th:text="${b.cancel ? '취소' : (b.closing ? '완료' : '대기')}">진행상태</td>
            <td th:if="${b.closing}"><a class="btn btn02" th:onclick="|goDelete('${b.id}')|">삭제</a></td>
            <td th:if="${!b.closing}">-</td>
        </tr>
        </tbody>
    </table>
</section>

<script layout:fragment="script" th:if="true">
    var config = [(${zoneAmount})];
    var money = parseInt([[${user.money}]] || 0, 10);
    var account = '[[${member.account}]]';
    var betting = '[[${betting.betting}]]';

    $('#amount').on('change, keyup', function () {
        var amount = $(this).val().num() || 0;
        $(this).val(amount.toString().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    });

    function setAmount(amt) {
        var amount = $('#amount').val().num() || 0;
        amount = parseInt(amount, 10) + parseInt(amt, 10);
        $('#amount').val(amount.toString().num().money());
        $('#amountKor').text(amount <= 0 ? '' : '(' + $.num2han(amount) + ' 원)');
    }

    function resetAmount() {
        $('#amount').val('');
        $('#amountKor').text('');
    }

    function withdraw() {
        var amount = parseInt($('#amount').val().num() || 0, 10);

        if (config.min > amount) {
            alert(String.format('최소 환전 금액은 {0}원 이상 입니다.', config.min.toString().money()));
            return false;
        }

        if ($('#bankPassword').val() == '') {
            alert('환전 비밀번호를 입력하세요.');
            $('#bankPassword').focus();
            return false;
        }

        if (amount > money) {
            alert('환전 신청 금액이 보유하신 머니보다 많습니다.');
            $('#amount').val('');
            return false;
        }

        if (config.unit > 0) {
            var mod = amount % config.unit;
            if (mod != 0) {
                if (!confirm(String.format('환전 금액은 {0}원 단위로 가능합니다.\n\n{1}원으로 신청 금액을 맞추겠습니까?', config.unit.toString().money(), (amount - mod).toString().money()))) {
                    return false
                }
                amount = amount - mod;
            }
        }

        var message = '';
        if (betting === 'false') {
            message = '현재 입금 보너스 수령후 입금액을 모두 소진하지 않아\n환전신청 금액에서 차감후 진행될 예정입니다.\n\n';
        }

        if (!confirm(message + String.format('환전금액 {0}원\n출금계좌 {1}\n\n환전신청을 진행하시겠습니까?', amount.toString().money(), account))) {
            return false;
        }

        $.ajax({
            url: path + '/payment/withdraw',
            method: 'post',
            data: {
                amount: amount,
                bankPassword: $('#bankPassword').val()
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                $('#amount').val('');
                $('#bankPassword').val('');
                $('#amount').focus();
            }
        });
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/withdraw/delete',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function allDelete() {
        if (confirm('전체삭제를 하시면 되살릴 수 없습니다.\n\n삭제를 하시겠습니까?')) {
            $.ajax({
                url: path + '/payment/withdraw/deleteAll',
                method: 'post',
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

</script>
</body>
</html>