<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='board', lnb=${code}, title=${title}">
<body>

<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/board/${code}|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <ul class="list">
        <th:block th:each="b : ${list}" th:if="${code ne 'free'}">
            <li class="notice" th:onclick="|location.href='${siteConfig.pathSite}/board/${b.code}/${b.id}'|">
                <p class="title">
                    <a th:utext="${tag.color(b.title)}"></a>
                </p>
                <p class="info">
                    <span th:class="'label ' + ${b.code}" th:text="${#strings.toUpperCase(b.code)}"></span>
                    <span class="user admin" th:utext="${tag.color(b.nickname)}"></span>
                    <span th:if="${code eq 'free'}" class="date" th:text="${tag.dayWeek2(b.regDate)}"></span>
                </p>
            </li>
        </th:block>
        <th:block th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size}" >
            <li th:onclick="|location.href='${siteConfig.pathSite}/board/${b.code}/${b.id}?page=${page.number + 1}'|" th:class="${(total - num.count) % 2 eq 1} ? 'li_color2' : 'li_color1'">
                <div class="title2">
                    <div class="num" th:text="${total - num.count + 148846}">1</div>
                    <div class="bar"></div>
                    <div class="text">
                        <p class="t_title">
                            <a th:utext="${tag.color(b.title)}"></a>
                            <em class="new" th:if="${b.new}">N</em>
                            <em class="bet" th:if="${b.bet}">B</em>
                            <span class="hit" th:if="${b.comment gt 0}" th:text="'[' + ${tag.num(b.comment)} + ']'"></span>
                        </p>
                        <p class="t_sub">
                            <span th:if="${code eq 'free'}"><span th:replace="fragments/mobile :: level(lv=${b.level})"></span></span>
                            <span class="user color01" th:text="${b.nickname}"></span>
                            <span th:if="${code eq 'free'}" th:text="${tag.dayWeek2(b.regDate)}"></span>
                        </p>
                    </div>
                </div>

            </li>
        </th:block>
    </ul>
    <div class="command" th:if="${code eq 'free'}">
        <a th:href="|${siteConfig.pathSite}/board/${code}/add|" class="btn-big btn03">새글작성</a>
    </div>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>