<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='sharePbLotto'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    파워로또 총판 지급율 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                파워로또 총판 지급율 관리
            </h3>

        </div>
        <table class="table-list">
            <caption>총판 지급율 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>파워로또</th>
                <th>정산방식</th>
                <th>수익%</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}" >
                <td style="text-align: left">&nbsp;
                    <input type="hidden" name="agencyDepth" th:value="${m.agencyDepth}" />
                    <input type="hidden" name="agency" th:value="${m.agency}" />
                    <a th:text="${m.agencyDepth eq 1  ? m.agency+' - 1D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 1}" th:text="${m.agencyDepth eq 2  ? 'ㄴ'+m.agency+' - 2D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 2}" th:text="${m.agencyDepth eq 3  ? 'ㄴ'+m.agency+' - 3D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 3}" th:text="${m.agencyDepth eq 4  ? 'ㄴ'+m.agency+' - 4D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 4}" th:text="${m.agencyDepth eq 5  ? 'ㄴ'+m.agency+' - 5D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 5}" th:text="${m.agencyDepth eq 6  ? 'ㄴ'+m.agency+' - 6D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 6}" th:text="${m.agencyDepth eq 7  ? 'ㄴ'+m.agency+' - 7D' : '&nbsp;' }"></a>
                </td>
                <td class="color04 num" th:text="${tag.num(m.betPowerLotto) + '원'}">파워로또</td>
                <td>롤링</td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="ratePowerLotto" th:value="${m.ratePowerLotto}" style="width: 58px; text-align: right;" maxlength="5"/>%
                    </label>
                    <span  th:remove="tag" th:text="${m.ratePowerLotto + '%'}"></span>
                </td>
                <td>
                    <a class="btn btn01" th:onclick="|updateShare('${m.userid}', this);|" style="width: 50px;">수정 >></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function updateShare(userid, obj) {
        if (!confirm('총판 지급율을 수정하시겠습니까?')) {
            return;
        }

        var tr = $(obj).parent().parent();

        $.post(path + '/seller/sharePbLotto', {
            userid: userid,
            agencyDepth: tr.find('input[name=agencyDepth]').val(),
            ratePowerLotto: tr.find('input[name=ratePowerLotto]').val()
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }

</script>
</body>
</html>