<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='seller', lnb='share'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>총판 :</small>
    총판 지급율 관리
</h2>
<div layout:fragment="content">
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-user"></i>
                총판 지급율 관리
            </h3>

        </div>
        <table>
            <tr>
                <td style="text-align: left">
                    * 실시간 : 사다리, 달팽이, 다리다리, 알라딘, 로하이, 가상축구, 개경주, 세븐럭<br>
                    * 실시간P : 파워볼, 파워사다리<br>
                    * 실시간C : MGM홀짝, MGM바카라, 로투스홀짝, 로투스바카라1, 로투스바카라2<br>
                </td>
            </tr>
        </table>
        <table class="table-list">
            <caption>총판 지급율 관리</caption>
            <thead>
            <tr>
                <th>총판</th>
                <th>가입<br>회원</th>
                <th>정상<br>회원</th>
                <th>입금</th>
                <th>출금</th>
                <th>수익</th>
                <th>스포츠</th>
                <th>실시간</th>
                <th>실시간P</th>
                <th>실시간C</th>
                <th>정산방식</th>
                <th>수익%</th>
                <th>스포츠%</th>
                <th>실시간%</th>
                <th>실시간P%</th>
                <th>실시간C%</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${list}"
                th:name="${m.agencyDepth > 1 ? m.agency1 : ''}"
                th:style="${m.agencyDepth eq 1 ? '' : 'display:none;'}">
                <td style="text-align: left;cursor: pointer;" th:onclick="|openAgency('${m.agencyDepth eq 1 ? m.agency1 : m.agencyDepth}');|">&nbsp;
                    <input type="hidden" name="agencyDepth" th:value="${m.agencyDepth}" />
                    <input type="hidden" name="agency" th:value="${m.agency}" />
                    <a th:text="${m.agencyDepth eq 1  ? m.userid+' - 1D' : '&nbsp;' }" th:class="${m.agencyDepth eq 1 ? 'color05' : ''}"  ></a>
                    <a th:if="${m.agencyDepth > 1}" th:text="${m.agencyDepth eq 2  ? 'ㄴ'+m.userid+' - 2D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 2}" th:text="${m.agencyDepth eq 3  ? 'ㄴ'+m.userid+' - 3D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 3}" th:text="${m.agencyDepth eq 4  ? 'ㄴ'+m.userid+' - 4D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 4}" th:text="${m.agencyDepth eq 5  ? 'ㄴ'+m.userid+' - 5D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 5}" th:text="${m.agencyDepth eq 6  ? 'ㄴ'+m.userid+' - 6D' : '&nbsp;' }"></a>
                    <a th:if="${m.agencyDepth > 6}" th:text="${m.agencyDepth eq 7  ? 'ㄴ'+m.userid+' - 7D' : '&nbsp;' }" class="color06"></a>
                </td>
                <td class="color01" th:text="${tag.num(m.regMember)}">가입회원</td>
                <td class="color01" th:text="${tag.num(m.joinMember)}">정상회원</td>
                <td class="color04" th:text="${tag.num(m.inMoney) + ''}">입금</td>
                <td class="color03" th:text="${tag.num(m.outMoney) + ''}">출금</td>
                <td class="color02" th:text="${tag.num(m.inMoney - m.outMoney) + ''}">수익</td>
                <td class="color04" th:text="${tag.num(m.betSports) + ''}">스포츠</td>
                <td class="color03" th:text="${tag.num(m.betZone) + ''}">실시간</td>
                <td class="color03" th:text="${tag.num(m.betZone1) + ''}">실시간</td>
                <td class="color03" th:text="${tag.num(m.betZone2) + ''}">실시간</td>
                <td>
                    <select name="rateCode" style="width:70px;">
                        <option value="">::선택::</option>
                        <option value="수익분배" th:selected="${m.rateCode eq '수익분배'}">수익</option>
                        <option value="롤링분배" th:selected="${m.rateCode eq '롤링분배'}">롤링</option>
                    </select>
                </td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="rateShare" th:value="${m.rateShare}" style="width: 50px; text-align: right;" maxlength="5"/>%
                    </label>
                </td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="rateSports" th:value="${m.rateSports}" style="width: 50px; text-align: right;" maxlength="5"/>%
                    </label>
                </td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="rateZone" th:value="${m.rateZone}" style="width: 50px; text-align: right;" maxlength="5"/>%
                    </label>
                </td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="rateZone1" th:value="${m.rateZone1}" style="width: 50px; text-align: right;" maxlength="5"/>%
                    </label>
                </td>
                <td>
                    <label th:remove="tag">
                        <input type="text" name="rateZone2" th:value="${m.rateZone2}" style="width: 50px; text-align: right;" maxlength="5"/>%
                    </label>
                </td>
                <td>
                    <a class="btn btn01" th:onclick="|updateShare('${m.userid}', this);|" style="width: 50px;">수정 >></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">

        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">

    function updateShare(userid, obj) {
        if (!confirm('총판 지급율을 수정하시겠습니까?')) {
            return;
        }

        var tr = $(obj).parent().parent();

        $.post(path + '/seller/share', {
            userid: userid,
            agencyDepth: tr.find('input[name=agencyDepth]').val(),
            rateCode: tr.find('select').val(),
            rateShare: tr.find('input[name=rateShare]').val(),
            rateSports: tr.find('input[name=rateSports]').val(),
            rateZone: tr.find('input[name=rateZone]').val(),
            rateZone1: tr.find('input[name=rateZone1]').val(),
            rateZone2: tr.find('input[name=rateZone2]').val()
        }).done(function () {
            setTimeout(function () {
                location.reload();
            }, 1000);
        });
    }

    function openAgency(agency1){
        $('tr[name='+agency1+']').each(function(){
            $(this).toggle();
        })
    }

</script>
</body>
</html>