<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminLayout" th:with="gnb='event', lnb='lottoList'">
<head></head>
<body>
<h2 layout:fragment="title">
    <small>이벤트 :</small>
    복권 리스트 회원
</h2>
<div layout:fragment="content">

    <section>
        <div class="panel-search">
            <form id="frm-search" method="get" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/event/lotto/list|}">
                <label>
                    검색기간 : <input type="text" class="cal" th:field="*{sdate}" placeholder="검색일자" />
                    ~ <input type="text" class="cal" th:field="*{edate}" placeholder="검색일자" />
                </label>
                <label>
                    아이디 : <input type="text" th:field="*{userid}" placeholder="아이디"/>
                </label>
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">
                    <a class="btn btn01" onclick="goSearch();">검색</a>
                    <a th:href="@{|${siteConfig.pathAdmin}/event/lotto/list|}" class="btn">취소</a>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-search">
            <label>
                비고 :
                <input type="text" id="memo" style="width: 400px;"/>
            </label>
            <div class="command">
                <span class="btn btn03" onclick="addTotalLotto();" style="width: 176px;" id="cancel">회원전체 복권 지급</span>
            </div>
        </div>
    </section>

    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-cog"></i>
                복권 리스트
                <span th:text="${page.totalElements}"></span>
            </h3>
        </div>
        <table class="table-list">
            <caption>사이트 설정</caption>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width:260px;">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>사용여부</th>
                <th>비고</th>
                <th>당첨포인트</th>
                <th>날짜</th>
                <th>정상여부</th>
                <th>코드</th>
                <th>작업자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
                <td th:text="${total - num.count}">1</td>
                <td th:onclick="|popup.member.info('${b.userid}');|" class="color03 popup" th:text="${b.userid}">아이디</td>
                <td th:class="${b.closing ? 'color03' : 'color01'}" th:text="${b.closing ? '사용' : '미사용'}"></td>
                <td th:text="${b.memo}"></td>
                <td class="color01 num" th:text="${tag.num(b.point)}"></td>
                <td th:utext="${tag.dayWeekTimes(b.regDate)}"></td>
                <td th:class="${b.cancel ? 'color03' : 'color04'}" th:text="${b.cancel ? '[취소]' : '[정상]'}" th:onclick="|changeCancel('${b.userid}','${b.id}');|" style="cursor: pointer;"></td>
                <td th:text="${b.eventCode.name}"></td>
                <td th:utext="${b.worker}"></td>
            </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="paging">
                <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script" th:if="true">
    function changeCancel(userid, id){

        var msg = '해당 복권을 정상/취소로 변경하시겠습니까?';
        if (!confirm(msg)) {
            return false;
        }
        $.ajax({
            url: path + '/event/lotto/change',
            method: 'post',
            data: {
                userid: userid,
                id: id
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
            }
        });
    }

    function addTotalLotto() {

        var msg = '전체 회원에게 복권을 지급하시겠습니까?';
        if (!confirm(msg)) {
            return false;
        }

        $.ajax({
            url: path + '/event/lotto/addTotal',
            method: 'post',
            data: {
                memo: $('#memo').val()
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
                $('#memo').val('');
            }
        });
    }
</script>
</body>
</html>