<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='page', gnb='betting'">
<body>

<section layout:fragment="section">
    <h3>베팅내역</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/betting|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <div class="box">
        <h4>베팅취소 안내</h4>
        <p>
            베팅취소는 베팅시각으로부터 <span class="color02" th:text="${gameConfig.cancelBetTime + '분 이내'}">60분 이내</span>
            경기시작시간 <span class="color02" th:text="${gameConfig.cancelGameTime + '분전'}">1분전</span>까지,
            하루 최대 <span class="color03" th:text="${gameConfig.cancelMax + '회'}">10회</span> 가능합니다.<br/>
            베팅취소 후 복구가 불가능하며, 취소된 베팅금액은 보유머니로 적립됩니다.<br/>
            베팅내역 삭제는 모든 경기가 종료된 이후 가능하며 <span class="color02">삭제된 내역은 복구가 불가</span> 합니다.<br/>
            <span class="color03">고객센터를 통한 베팅취소는 절대 불가</span>하며 직접 취소만 인정 됩니다.
            <br/><br/>
            <span class="color01">베팅내역은 최대 일주일치만 확인 하실 수 있습니다.</span>
        </p>

    </div>
    <br/>
    <a href="#" onclick="goSelBoard();" class="btn btn02">내역등록</a>
    <a href="#" onclick="goDelBoard();" class="btn btn02">내역삭제</a>
    <a href="#" onclick="goDeleteAll(0);" class="btn btn02">전체삭제</a>
    <br/>
    <br/>
    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width: 190px;">
            <col style="width: 90px;">
            <col style="width: 36px;">
            <col style="width: 218px;">
            <col style="width: 50px;">
            <col>
            <col style="width: 50px;">
            <col style="width: 218px;">
            <col style="width: 36px;">
            <col style="width: 70px;">
        </colgroup>
        <tbody class="betBody" th:each="b : ${page.content}">
        <tr th:if="${b.menuCode.name() != 'INGAME'}">
            <th>경기정보</th>
            <th>베팅타입</th>
            <th colspan="3">홈팀</th>
            <th>무</th>
            <th colspan="3">원정팀</th>
            <th>결과</th>
        </tr>
        <tr th:if="${b.menuCode.name() == 'INGAME'}">
            <th>경기정보</th>
            <th colspan="8">베팅타입</th>
            <th>결과</th>
        </tr>
        <tr class="item" th:each="item : ${b.betItems}" th:if="${b.menuCode.name() != 'INGAME'}">
            <td class="info" th:title="${item.league}">
                <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                <img th:if="${item.gameCode.name() ne 'ZONE'}" th:src="@{|${tag.leagueFlag(item)}|}"/>
                <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
            </td>
            <td>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${item.special + ' '}"></span>
                <span th:text="${item.gameCode.name() eq 'ZONE' ? item.sports : item.gameCode.name}">승무패</span>
            </td>
            <td class="over" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'O' : 'H'}">H</td>
            <td th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${tag.inGameBetInfo(item.teamHome)}">홈팀</span>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
            </td>
            <td class="score" th:text="${item.scoreHome eq null ? '-' : item.scoreHome}">0</td>
            <td th:if="${item.gameCode.name() eq 'MATCH' or item.gameCode.name() eq 'ZONE' and not (item.special eq '핸디캡' or item.special eq '오버언더')}"
                th:with="odds=${tag.odds(item.oddsDraw)}"
                th:class="${(item.betTeam eq 'draw' ? 'draw on' : 'draw') + (item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? ' hit' : '') + (odds eq '0.00' ? '' : ' odds')}"
            >
                <span class="odds1" th:if="${item.special eq 'size'}" th:text="${tag.getSize(item.teamHome,'size')}">0.01</span>
                <span class="odds1" th:if="${item.special eq 'odd_size'}" th:text="${tag.getSize(item.teamHome,'odd_size')}">0.01</span>
                <span class="odds1" th:if="${item.special eq 'even_size'}" th:text="${tag.getSize(item.teamHome,'even_size')}">0.01</span>
                <span class="odds2" th:text="${odds eq '0.00' ? '' : odds}">0.01</span>
            </td>
            <td th:if="${item.gameCode.name() eq 'HANDICAP' or item.gameCode.name() eq 'OVER_UNDER' or item.special eq '핸디캡' or item.special eq '오버언더'}" th:class="${item.gameResult.name() eq 'DRAW' or item.gameResult.name() eq 'HIT' or item.gameResult.name() eq 'DRAW_HIT' ? 'draw hit' : 'draw'}" th:text="${tag.handicap(item.handicap)}">무</td>
            <td class="score" th:text="${item.scoreAway eq null ? '-' : item.scoreAway}">0</td>
            <td th:class="${(item.betTeam eq 'away' ? 'away on' : 'away') + (item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                <span class="odds" th:text="${tag.odds(item.oddsAway)}">0.01</span>
                <span th:if="${item.menuCode.name() eq 'SPECIAL'}" th:text="${'[' + item.special + ']'}"></span>
                <span th:remove="tag" th:text="${item.teamAway}">원정팀</span>
            </td>
            <td class="under" th:text="${item.gameCode.name() eq 'OVER_UNDER' ? 'U' : 'A'}">H</td>
            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
        </tr>
        <tr class="item" th:each="item : ${b.betItems}" th:if="${b.menuCode.name() == 'INGAME'}">
            <td class="info" th:title="${item.league}">
                <img th:src="@{|${tag.sportsFlag(item)}|}"/>
                <img th:src="@{|${tag.leagueFlag(item)}|}"/>
                <span th:remove="tag" th:utext="${tag.dayWeekTime(item.gameDate)}">06/21(금)</span>
            </td>
            <td>
                <span th:text="${item.gameCode.name}"></span>
            </td>
            <td colspan="5" th:class="${(item.betTeam eq 'home' ? 'home on' : 'home') + (item.gameResult.name() eq 'HOME' or item.gameResult.name() eq 'OVER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${tag.inGameBetInfo(item.special)}">타입</span>
                <span th:remove="tag" th:text="${'('+b.betScore+')'}">타입</span>
                <span class="odds" th:text="${tag.odds(item.oddsHome)}">0.01</span>
            </td>
            <td colspan="2" th:class="${(item.gameResult.name() eq 'AWAY' or item.gameResult.name() eq 'UNDER' ? ' hit' : '')}">
                <span th:remove="tag" th:text="${item.teamHome}">홈팀</span>
                <span class="color01"> VS </span>
                <span th:remove="tag" th:text="${item.teamAway}">원정팀</span>
            </td>
            <td th:class="${'result ' + item.resultStringCss}" th:text="${item.resultString}"></td>
        </tr>
        <tr>
            <td class="betInfo" colspan="10">
                <!--<input type="checkbox" name="betId" th:value="${b.id}"/>-->
                <span class="dateDay" th:utext="${tag.dayWeekTimes(b.betDate)}">07/20(토)</span>
                <span class="betMoney">
                    베팅금액 : <span class="money" th:text="${tag.num(b.betMoney)}">1,000</span>원
                </span>
                <span class="rate">
                    배당율 : <span class="money" th:text="${tag.odds(b.betOdds)}">1,000</span>배
                </span>
                <span class="expMoney">
                    예상금액 : <span class="money" th:text="${tag.num(b.expMoney)}">1,000</span>원
                </span>
                <span class="hitMoney" th:if="${b.closing}">
                    적중금액 : <span class="hit" th:text="${tag.num(b.hitMoney)}">1,000</span>원
                </span>
                <span class="hitMoney"  th:if="${b.menuCode.name() == 'INGAME'}">
                    인게임 베팅 : <span class="hit" th:text="${b.status.name}"></span>
                </span>

                <span class="btn-box">
                    <a th:href="@{|${siteConfig.pathSite}/board/free/add?betId=${b.id}|}" class="btn btn01">내역 등록</a>
                    <a th:if="${b.closing}" href="#" th:onclick="|goDelete('${b.id}');return false;|" class="btn btn02">내역 삭제</a>
                    <a th:if="${b.canCancel && b.menuCode !='SPECIAL'}" href="#" th:onclick="|goCancel('${b.id}');return false;|" class="btn btn03">베팅 취소</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/site :: paging(p=${page})"></ul>
    </div>
</section>

<script layout:fragment="script" th:if="true">
    function goCancel(id) {
        if (confirm('취소를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/cancel',
                method: 'post',
                data: {
                    id: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goDelete(id) {
        if (confirm('삭제를 하시면 되살릴 수 없습니다.\n\n취소를 하시겠습니까?')) {
            $.ajax({
                url: path + '/betting/delete',
                method: 'post',
                data: {
                    betIds: id
                }
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                }
            });
        }
    }

    function goSelBoard() {
        if ($('input[name=betId]:checked').length == 0) {
            alert('등록하고자 하는 베팅 내역을 하나이상 선택하여 주세요.');
            return false;
        }
        var ids = [];
        $('input[name=betId]:checked').each(function() {
            ids.push($(this).val());
        });
        goAddBoardAll(ids);
    }

    function goAddBoardAll(ids) {
        location.href = '/site/board/free/add?betId='+ids.join(',');
    }

    function goDelBoard() {
        if ($('input[name=betId]:checked').length == 0) {
            alert('삭제하고자 하는 베팅 내역을 하나이상 선택하여 주세요.');
            return false;
        }

        var message = '선택하신 내역을 모두 삭제하시겠습니까?\n\n삭제를 하시면 되살릴 수 없습니다.';
        if (!confirm(message)) {
            return false;
        };

        var ids = [];
        $('input[name=betId]:checked').each(function() {
            ids.push($(this).val());
        });

        $.ajax({
            url: path + '/betting/delete',
            method: 'post',
            data: {
                betIds: ids.join(',')
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });

    }

    function goDeleteAll(id) {
        var message = '마감된 베팅내역을 모두 삭제하시겠습니까?\n\n삭제를 하시면 되살릴 수 없습니다.';
        if (!confirm(message)) {
            return false;
        };

        $.ajax({
            url: path + '/betting/delete',
            method: 'post',
            data: {
                betIds: 0
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            }
        });

    }
</script>
</body>
</html>