<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <form id="frm" method="post" th:object="${score}" onsubmit="return setScore();">
        <input type="hidden" th:field="*{id}"/>
        <section>
            <div class="panel-header">
                <h3><i class="bul fa fa-bars"></i>스피드키노 종료처리</h3>
            </div>

            <div class="panel-body line">
                <div style="margin: 0 auto; width: 828px; height: 544px; overflow: hidden;position: relative;">
                    <iframe id="zoneBox" style="position: absolute; width: 828px; height: 574px;top: -30px;" scrolling="no" th:src="@{${sysConfig.zone.kenoSpeedPlayer}}"></iframe>
                </div>
            </div>

            <table class="table-read">
                <caption>종목 등록</caption>
                <colgroup>
                    <col style="width: 180px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">게임일시</th>
                    <td>
                        <span th:utext="${tag.dayWeekTime(score.gameDate)}"></span>
                        <span class="color03" th:text="${#numbers.formatInteger(score.round, 3, 'DEFAULT') + ' 회차'}"></span>
                    </td>
                </tr>
                <tr>
                    <th class="required">홀 / 짝</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{oddeven}" th:value="ODD"/> 홀</label>
                        <label class="box"><input type="radio" th:field="*{oddeven}" th:value="EVEN"/> 짝</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">오버 / 언더</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{overUnder}" th:value="OVER"/> 오버</label>
                        <label class="box"><input type="radio" th:field="*{overUnder}" th:value="UNDER"/> 언더</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">숫자</th>
                    <td>
                        <label class="box"><input type="radio" th:field="*{num0}" th:value="0"/> 숫자 0</label>
                        <label class="box"><input type="radio" th:field="*{num1}" th:value="1"/> 숫자 1</label>
                        <label class="box"><input type="radio" th:field="*{num2}" th:value="2"/> 숫자 2</label>
                        <label class="box"><input type="radio" th:field="*{num3}" th:value="3"/> 숫자 3</label>
                        <label class="box"><input type="radio" th:field="*{num4}" th:value="4"/> 숫자 4</label>
                        <label class="box"><input type="radio" th:field="*{num5}" th:value="5"/> 숫자 5</label>
                        <label class="box"><input type="radio" th:field="*{num6}" th:value="6"/> 숫자 6</label>
                        <label class="box"><input type="radio" th:field="*{num7}" th:value="7"/> 숫자 7</label>
                        <label class="box"><input type="radio" th:field="*{num8}" th:value="8"/> 숫자 8</label>
                        <label class="box"><input type="radio" th:field="*{num9}" th:value="9"/> 숫자 9</label>
                    </td>
                </tr>
                <tr>
                    <th class="required">적특처리</th>
                    <td class="color01">
                        <label><input type="checkbox" th:field="*{cancel}"/> 현재회차 적특처리</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <input type="submit" class="btn btn03" value="결과입력"/>
                <button onclick="popup.close();return false;" class="btn">창닫기</button>
            </div>
        </section>
    </form>
</main>
<script layout:fragment="script" th:if="true">
    if ('[[${popup}]]' == 'closing') {
        popup.reloadClose();
    }

    function setScore() {
        if (!$('input:checkbox[name=cancel]').is(':checked')) {
            if (!$('input:radio[name=oddeven]').is(':checked')) {
                alert('홀/짝 결과처리를 하세요.');
                return false;
            }

            if (!$('input:radio[name=overUnder]').is(':checked')) {
                alert('오버/언더 결과처리를 하세요.');
                return false;
            }

            var cnt = 0;
            if ($('input:radio[name=num0]').is(':checked')) cnt++;
            if ($('input:radio[name=num1]').is(':checked')) cnt++;
            if ($('input:radio[name=num2]').is(':checked')) cnt++;
            if ($('input:radio[name=num3]').is(':checked')) cnt++;
            if ($('input:radio[name=num4]').is(':checked')) cnt++;
            if ($('input:radio[name=num5]').is(':checked')) cnt++;
            if ($('input:radio[name=num6]').is(':checked')) cnt++;
            if ($('input:radio[name=num7]').is(':checked')) cnt++;
            if ($('input:radio[name=num8]').is(':checked')) cnt++;
            if ($('input:radio[name=num9]').is(':checked')) cnt++;

            if(cnt != 1){
                alert('마지막 숫자 결과처리를 하세요.')
                return false;
            }
        }
    }
</script>
</body>
</html>