@charset "utf-8";

/* mobile - CSS reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:none 0; font-family:Helvetica, Apple-Gothic, Droid Sans, sans-serif, Dotum, Tahoma}
html, body {width:100%; height:100%}
body, input, button, textarea {font-size:14px; font-family:Helvetica, Apple-Gothic, Droid Sans, sans-serif, Dotum, Tahoma; color:#cacaca;}
h1, h2, h3, h4, h5, h6 {text-align:left; font-size:14px}
img, fieldset, iframe {border:0 none; width:100%}
table, div {border-collapse: collapse}
select, textarea {border:1px solid #B7B6B6; background:#FFFFFF; color:#cacaca; font-size:0.75em; vertical-align:middle; outline-style:none}
textarea {overflow:auto}
select, input[type=text], input[type=password], input[type=submit], img, li {vertical-align:middle; text-align:left; -webkit-appearance:none; border-radius:0px}
input {*-webkit-appearance:none; outline-style:none}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal}
ul, li, ol {list-style-type:none}
legend, caption {display:none}
hr {border-collapse:collapse; display:none}
a { text-decoration:none; cursor:pointer; color:#cacaca}
img {width:100%}
html {
    background:#181d20;
    /*background:url('/images/main_bg.png')*/
}
body {-webkit-text-size-adjust:none; }

/* LOGIN */
.login_box {}
.login_wrap { left:0; top:0; width:100%; height:100%; text-align:center;
    /*background:url('/images/main_bg.png') repeat-y; */
    /*background-size:cover; */
    /*background-position:center*/
}
.login_wrap > em {display:block; margin:0px auto; padding-top:5em;}
.login_wrap > em > img {}
.login_wrap > div {margin-bottom:0.3em}
.login_wrap input {text-align:center}
.login_wrap > .text1 {font-size:1.4em; font-weight:100}
.login_wrap > .text2 {color:#cacaca; font-size:0.8em; *letter-spacing:-1px; font-weight:100}
.login_wrap > var {display:inline-block; width:1px; height:2em; background:#979ca0; margin:1em 0}

.login_foot {width:100%; text-align:center; bottom:1em;margin-top:10%;}
.login_foot > .telegram {margin-bottom:0.5em}
.login_foot > .telegram > em {display:inline-block; width:2em; margin-right:0.5em}
.login_foot > .telegram > span {display:inline-block; color:#fff}
.login_foot > .kakaotalk-logo {margin-bottom:0.5em}
.login_foot > .kakaotalk-logo > em {display:inline-block; width:2em; margin-right:0.5em}
.login_foot > .kakaotalk-logo > span {display:inline-block; color:#fff}
.login_foot > .text1 {font-size:0.7em; color:#909394}

.p_txt {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 0.7em;
    color: #fff;
}

.style_input {background-color:rgba(35,35,35,0.57) !important; border:1px solid #777; width:15em; padding:0.6em 1em 0.6em 1.5em; box-sizing:border-box; border-radius:0.5em !important; color:#c0c0c0}
.style_input.type2 {width:10.6em}
.style_input.essential {background-image:url("/images/icon_important.png"); background-repeat:no-repeat;background-position:10px center}



.btn_button {display:inline-block; background:transparent; border-radius:0.5em !important; width:4em; padding:0.5em 0; text-align:center !important; border:1px solid #b57552 !important; color:#fff; box-sizing:border-box; vertical-align:middle}
.btn_submit {background:transparent; border-radius:0.5em !important; width:15em; padding:0.6em 0; text-align:center !important; border:1px solid #b57552 !important; color:#fff}
.btn_join {-webkit-appearance:none; background:transparent !important; border-radius:0.5em !important; width:15em; padding:0.6em 0; text-align:center !important; border:1px solid #fff !important; color:#fff}
.style_select {width:210px; font-size:1em; background-color:rgba(35,35,35,0.57) !important; border:1px solid #777;  padding:0.6em 1em; border-radius:0.5em !important; box-sizing:border-box; background-image:url("/images/login_icon1.png");background-repeat:no-repeat; background-position: 90% center; background-size:0.5em }
.style_select.type1 {width:8.6em;}
.style_select.type2 {width:6em;}
.style_select.type3 {width:4.3em;}
.sub_board_btn {text-align:center; margin-bottom:1.5em}
.sub_board_btn > a {padding:0.6em 1.5em; background:transparent; border:1px solid #b57552; color:#fff; border-radius:0.4em; margin:0 0.3em}
.sub_board_btn > a.btn_gray {background:transparent; border:1px solid #999; color:#999}

#login_ef {position:absolute; left:5%; top:7em; width:90%; animation:login_eff 35s linear none 0s infinite;-webkit-animation:login_eff 35s linear none 0s infinite}

@keyframes login_eff {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}
@-webkit-keyframes login_eff {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}


/* REGISTER */
.join_wrap .style_input {width:20em}
.join_wrap .style_input.type2 {width:15.6em}
.join_wrap .style_input.host {width:6em}

.join_wrap .style_select {width:20em}
.join_wrap .style_select.type1 {width:13.6em;}
.join_wrap .style_select.type2 {width:8em;}
.join_wrap .style_select.type3 {width:5.6em;}


.join_bg1 {position:fixed; width:100%; height:100%; left:0; top:0; background:url('/images/login_bg.jpg') no-repeat; background-size:auto 100%; }
.join_wrap {position:relative; padding-top:1.5em; z-index:99}
.join_wrap > h1 {display:block; text-align:center; margin:0 auto 1em}
.join_wrap > h1 > * {display:block}
.join_wrap > h1 > em {font-size:1.5em; font-weight:100; color:#FFF}
.join_wrap > h1 > span {font-size:0.7em; color:#7999b9; font-weight:100; font-style:italic}
.join_wrap > h1 > var {height:1px; width:5em; margin:0.5em auto; background:#7999b9}
.join_wrap > h1 > code {font-size:0.8em; color:#fff}
.join_wrap > div {text-align:center; margin-bottom:0.6em}
.join_wrap > div > div {overflow:hidden; text-align:center}
.join_wrap > div > span {font-size:0.8em; color:#8c9bb4}

.join_wrap > div.join_acc { padding:0em 0 1em 0; b text-align:center}
.join_wrap > div.join_acc > em {display:inline-block; font-size:1.15em; margin-bottom:0.5em; color:#a4acc4}
.join_wrap > div.join_acc > em.essential {padding-left:1.5em; background-image:url("/images/icon_important.png"); background-repeat:no-repeat;background-position:10px center}
.join_wrap > div.join_acc > div {margin-bottom:0.5em}

.join_wrap > div > div > em {display:inline-block;}
.join_wrap > div > div > em.captcha {width:4.5em; vertical-align:middle; color:#fff; /* border:1px solid #999; */ box-sizing:border-box}
.join_wrap > div > div > em > input {width:6em}

.join_wrap > fieldset {display:block; text-align:center; margin-bottom:2em}
.join_wrap > fieldset > em {display:inline-block; width:1.5em}
.join_wrap > fieldset > span {font-weight:100; color:#FFF}

.joinok_wrap {display:block; text-align:center; margin-bottom:1.5em;padding-top:10em;}
.joinok_wrap > em {display:block; font-weight:100; color:#FFF; font-size:1.2em; margin-bottom:0.3em}
.joinok_wrap > label {display:block; font-weight:100; color:#fff; font-size:0.8em; margin-bottom:1.5em}
.joinok_wrap > div {font-size:0.9em; font-weight:100; color:#888; margin-bottom:0.3em}
.joinok_wrap > div > span {display:inline-block;; font-size:1.2em; color:#FFF; margin-right:0.5em}

.join_wrap input[type=checkbox] {display:none}
.join_wrap input[type=checkbox]+label {display:inline-block; padding-left:1.8em; background:url("/images/icon_check_box.png") no-repeat 0.5em center; background-size:1.2em}
.join_wrap input[type=checkbox]:checked+label { background:url("/images/icon_check_box_on.png") no-repeat 0.5em center; background-size:1.2em}

.join_foot { text-align:center; padding-bottom:2em !important}
.join_foot > .telegram {margin-bottom:0.5em}
.join_foot > .telegram > em {display:inline-block; width:2em; margin-right:0.5em}
.join_foot > .telegram > span {display:inline-block; color:#fff}
.join_foot > .kakaotalk-logo {margin-bottom:0.5em}
.join_foot > .kakaotalk-logo > em {display:inline-block; width:2em; margin-right:0.5em}
.join_foot > .kakaotalk-logo > span {display:inline-block; color:#fff}
.join_foot > .text1 {font-size:0.7em; color:#909394}