@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NanumGothic-Regular.eot");
    src: url("/fonts/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Regular.woff2") format('woff2'), url("/fonts/NanumGothic-Regular.woff") format('woff'), url("/fonts/NanumGothic-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/NanumGothic-Bold.eot");
    src: url("/fonts/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-Bold.woff2") format('woff2'), url("/fonts/NanumGothic-Bold.woff") format('woff'), url("/fonts/NanumGothic-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/NanumGothic-ExtraBold.eot");
    src: url("/fonts/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'), url("/fonts/NanumGothic-ExtraBold.woff2") format('woff2'), url("/fonts/NanumGothic-ExtraBold.woff") format('woff'), url("/fonts/NanumGothic-ExtraBold.ttf") format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table caption {
    display: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ellipsis {
    display: inline-block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.ui-tooltip {
    background: #ffd424 !important;
    color: #000 !important;
    font-weight: 600 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'NanumGothic', 'Nanum Gothic', 'AppleSDGothicNeo', 'Malgun Gothic';
    font-size: 13px;
    background: #000;
}
body {
    color: #ddd;
}
body > .page-wrap {
    min-width: 1400px;
    max-width: 1700px;
    min-height: 100%;
    height: 100%;
    position: relative;
}
a {
    color: #ddd;
    text-decoration: none;
}
a,
.btn,
td {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
header {
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    line-height: 46px;
    text-align: center;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    border-bottom: 1px solid #000;
    z-index: 9;
}
header h1 {
    width: 200px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    float: left;
}
header .btn {
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 12px;
    font-weight: normal;
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
nav {
    min-width: 1400px;
    max-width: 1700px;
    position: relative;
}
nav ul.gnb li {
    float: left;
    width: 80px;
    font-size: 14px;
    border-left: solid 1px rgba(255,255,255,0.1);
    border-right: solid 1px rgba(0,0,0,0.8);
    overflow: hidden;
    background: linear-gradient(to bottom, #54514e, #000000) #222;
}
nav ul.gnb li a {
    display: block;
    border-top: 2px solid transparent;
}
nav ul.gnb li.on,
nav ul.gnb li:hover {
    border-left-color: rgba(255,255,255,0.02);
    border-right-color: #000;
}
nav ul.gnb li.on a,
nav ul.gnb li:hover a {
    border-top-color: #ea1717;
    background: #111;
}
nav ul.seller li {
    width: 10%;
}
aside.side {
    position: fixed;
    top: 48px;
    width: 200px;
    height: 100%;
    overflow: hidden;
    background: #000;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
aside.side .side-wrap {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 100px;
}
aside.side .side-wrap .side-scroll {
    width: 200px;
}
aside.side ul {
    display: block;
    overflow: hidden;
}
aside.side .side-logo {
    text-align: center;
    padding: 20px 0;
}
aside.side .side-util {
    padding: 0 6px;
    -webkit-box-shadow: inset 0px 0px 10px 1px #111;
    box-shadow: inset 0px 0px 10px 1px #111;
}
aside.side .side-util li {
    width: 50%;
    float: left;
    padding: 8px 2px;
}
aside.side .side-util li .btn {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
aside.side .side-welcome {
    padding: 50px 0;
    text-align: center;
}
aside.side .side-welcome span {
    color: #fff;
    font-weight: 600;
}
aside.side .side-alarm {
    padding: 10px 0;
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.8);
}
aside.side .side-alarm li {
    padding: 4px 20px;
    margin-bottom: 1px;
}
aside.side .side-alarm li a {
    color: #888;
}
aside.side .side-alarm li span {
    font-weight: 600;
    float: right;
}
aside.side .side-alarm li.on {
    background: #cce5f1;
}
aside.side .side-alarm li.on a {
    color: #444;
    font-weight: 600;
}
aside.side .side-alarm li.on a:hover {
    color: #000;
}
aside.side .side-alarm li.on span {
    color: #000;
    font-weight: 800;
}
aside.side .lnb {
    font-size: 14px;
}
aside.side .lnb li a {
    display: block;
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.8);
    border-left: solid 3px transparent;
    padding: 0 20px;
    height: 40px;
    line-height: 38px;
    background: #2b2b2b;
}
aside.side .lnb li a em {
    color: #4c4c4c;
    text-shadow: -1px -1px 1px #111;
}
aside.side .lnb li a em.bul {
    display: inline-block;
    width: 18px;
    text-align: center;
    margin-right: 10px;
}
aside.side .lnb li a em.sub {
    margin-top: 12px;
    float: right;
    font-size: 18px;
}
aside.side .lnb li a:hover {
    border-left-color: #ce1b21;
    background: #2c2c2c;
    color: #fff;
}
aside.side .lnb li a.on .bul {
    color: #ffc414;
}
aside.side .lnb li a > span i {
    margin-left: 10px;
}
aside.side .lnb li.on {
    background: linear-gradient(to bottom, #363636 0%, #111 100%);
    color: #fff;
}
aside.side .lnb li.on > a {
    border-left-color: #ce1b21;
}
aside.side .lnb li.on > a .bul {
    color: #ffc414;
}
aside.side .lnb li.sub-toggle > a:hover {
    border-left-color: transparent;
    background: #222;
}
aside.side .lnb li ul.lnb-sub {
    background: #2a2a2a;
    overflow: hidden;
}
aside.side .lnb li ul.lnb-sub li a {
    padding-left: 40px;
    border: none;
    background: #000;
    border-bottom: solid 1px #222;
}
aside.side .lnb li ul.lnb-sub li a:hover {
    background: #222;
    border-bottom: solid 1px #1a1a1a;
}
aside.side .lnb li ul.lnb-sub li.on {
    border-left: solid 3px #ce1b21;
}
aside.side .lnb li ul.lnb-sub li.on a {
    background: #333;
}
aside.side .lnb li ul.lnb-sub.lnb-3 {
    background: #2a2a2a;
    overflow: hidden;
}
aside.side .lnb li ul.lnb-sub.lnb-3 li {
    float: left;
    border-left: 1px solid #222;
    width: 33.2%;
}
aside.side .lnb li ul.lnb-sub.lnb-3 li a {
    padding: 0;
    text-align: center;
    border: none;
}
aside.side .lnb li ul.lnb-sub.lnb-3 li.on a {
    color: #ffc414;
    background: #1a1a1a;
}
aside.side .lnb li ul.lnb-sub.lnb-2 {
    background: #2a2a2a;
    overflow: hidden;
}
aside.side .lnb li ul.lnb-sub.lnb-2 li {
    float: left;
    border-left: 1px solid #222;
    width: 50%;
}
aside.side .lnb li ul.lnb-sub.lnb-2 li a {
    padding: 0;
    text-align: center;
    border: none;
}
aside.side .lnb li ul.lnb-sub.lnb-2 li.on a {
    color: #ffc414;
    background: #1a1a1a;
}
aside.side .lnb.sub-toggle:hover {
    border-left-color: transparent;
}
main {
    min-width: 1400px;
    max-width: 1700px;
    padding: 48px 0 0 0;
    position: relative;
}
main .main-wrap {
    margin-left: 200px;
    height: 100%;
    min-height: 100%;
    background: #111;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}
main h2 {
    height: 46px;
    line-height: 46px;
    padding: 0 20px 0 40px;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-shadow: inset 0 0 30px 2px #000;
    box-shadow: inset 0 0 30px 2px #000;
}
main h2 small {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}
main .container {
    padding: 20px;
}
footer {
    height: 80px;
    line-height: 80px;
    margin-left: 200px;
    background: #000;
    font-size: 12px;
    color: #888;
    text-align: center;
    position: relative;
}
footer span {
    color: #eee;
}
footer .btn-top {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #111;
    border: solid 1px #333;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
}
::-moz-selection {
    background: #ffd424;
    color: #000;
}
::selection {
    background: #e0ff11;
    color: #000;
}
.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 2px;
    background: #404040;
    color: #ddd;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.btn.btn-cal {
    width: auto;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
}
.btn:hover {
    background: #363636;
}
.btn.btn01 {
    background-color: #3d86a9;
}
.btn.btn01:hover {
    background-color: #316b87;
}
.btn.btn02 {
    background-color: #a03a19;
}
.btn.btn02:hover {
    background-color: #702911;
}
.btn.btn03 {
    background-color: #487830;
}
.btn.btn03:hover {
    background-color: #325422;
}
.btn.btn04 {
    background-color: #cc6d00;
}
.btn.btn04:hover {
    background-color: #8f4c00;
}
img {
    vertical-align: middle;
}
section label {
    margin-right: 20px;
}
section label .title {
    margin-left: -20px;
    display: inline-block;
    width: 60px;
    text-align: right;
}
section label.box {
    display: inline-block;
    width: 120px;
}
section input,
section select,
section textarea {
    background: #353535;
    border: 1px solid #1c1c1c;
    border-radius: 2px;
    padding: 0 10px;
    height: 25px;
    color: #ccc;
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.2);
    vertical-align: middle;
}
section input:focus,
section select:focus,
section textarea:focus {
    border-color: #444;
}
section input.ng-invalid,
section select.ng-invalid,
section textarea.ng-invalid {
    border-color: #e07a59;
}
section input[disabled=disabled],
section select[disabled=disabled],
section textarea[disabled=disabled] {
    color: #666;
}
section input.num,
section textarea.num {
    text-align: right;
}
section input.small,
section textarea.small {
    width: 100px;
}
section input.large,
section textarea.large {
    width: 260px;
}
section input.full,
section textarea.full {
    width: 100%;
}
section input.cal,
section textarea.cal {
    text-align: center;
    width: 100px;
}
section textarea {
    padding: 10px;
    line-height: 1.6;
}
section .col7 li {
    float: left;
    width: 100px;
}
section .col7 li label {
    display: block;
    padding-bottom: 6px;
    text-align: center;
}
section .col7 li input[type=text] {
    width: 60px;
    text-align: right;
}
main table {
    background: #1a1a1a;
    border-bottom: solid 1px #333;
}
main table tbody.box:before {
    content: '';
    display: block;
    height: 15px;
}
main table tbody.box:hover tr.on td,
main table tbody.box:hover tr.on dd,
main table tbody.box:hover tr.on dt {
    background: #111;
}
main table.fixed {
    table-layout: fixed;
}
main table td,
main table th {
    border: solid 1px #333;
    text-align: center;
    vertical-align: middle;
    line-height: 1.6;
    padding: 8px 0 7px 0;
}
main table td {
    background: #222;
}
main table td.space {
    padding: 0;
}
main table .popup,
main table .search,
main table .cmd {
    cursor: pointer;
    position: relative;
}
main table .popup:before,
main table .search:before,
main table .cmd:before {
    position: absolute;
    opacity: 0;
    display: block;
    top: 0;
    right: 0;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
main table .popup:hover:before,
main table .search:hover:before,
main table .cmd:hover:before {
    opacity: 1;
}
main table .search:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f128";
}
main table .popup:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f14c";
}
main table .cmd:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
}
main table .memo {
    position: relative;
    cursor: pointer;
}
main table .memo span:not(:empty) {
    position: absolute;
    width: 340px;
    text-align: left;
    z-index: 9;
    padding: 20px;
    background: #111;
    top: 34px;
    right: 1px;
    line-height: 1.6;
    border-radius: 3px;
    border: solid 1px #444;
    display: none;
    color: #ffd424;
    -webkit-box-shadow: 1px;
    box-shadow: 1px;
}
main table .memo span:not(:empty).info {
    width: 280px;
    text-align: center;
    white-space: nowrap;
    color: #ddd;
    right: -112px;
}
main table .memo span:not(:empty).league {
    min-width: 120px;
    width: auto;
    text-align: center;
    top: 38px;
    left: 30%;
    padding: 10px;
}
main table .memo span:not(:empty).balance {
    white-space: nowrap;
    width: auto;
    text-align: center;
    padding: 3px 6px;
    top: 34px;
    right: -60px;
}
main table .memo:hover span:not(:empty) {
    display: block;
}
main table .memo:hover span:not(:empty).balance:after,
main table .memo:hover span:not(:empty).balance:before,
main table .memo:hover span:not(:empty).league:after,
main table .memo:hover span:not(:empty).league:before {
    left: 50%;
}
main table .memo:hover span:not(:empty):after,
main table .memo:hover span:not(:empty):before {
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
main table .memo:hover span:not(:empty).info:after,
main table .memo:hover span:not(:empty).info:before {
    left: 50%;
}
main table .memo:hover span:not(:empty):after {
    border-color: rgba(0,0,0,0);
    border-bottom-color: #111;
    border-width: 10px;
    margin-left: -10px;
}
main table .memo:hover span:not(:empty):before {
    border-color: rgba(68,68,68,0);
    border-bottom-color: #444;
    border-width: 11px;
    margin-left: -11px;
}
main table .mr20 {
    margin-right: 20px;
}
main table .center {
    text-align: center;
}
main table .command .btn {
    padding: 0 14px;
    width: auto !important;
}
main .table-list tbody.on {
    border: solid 2px #630;
}
main .table-list tbody.on tr.betting td {
    background: #000;
}
main .table-list th {
    color: #eee;
    font-size: 14px;
    height: 40px;
}
main .table-list th.num {
    text-align: right;
    padding-right: 20px;
}
main .table-list tr:hover td {
    background: #074A8D;
    color: #ddd;
}
main .table-list tr:hover td.empty {
    background: #222;
}
main .table-list tr.on td,
main .table-list tr.on dd,
main .table-list tr.on dt {
    background: #111;
}
main .table-list td.accounting,
main .table-list th.accounting {
    font-size: 18px;
    font-weight: 600;
}
main .table-list td.point {
    background: #000;
}
main .table-list td.num {
    text-align: right;
    padding-right: 20px;
}
main .table-list td.empty {
    height: 200px;
    text-align: center;
}
main .table-list td .btn {
    height: 22px;
    line-height: 22px;
    width: 60px;
}
main .table-list td.ing {
    color: #fff;
}
main .table-list td.win {
    color: #8aa830;
}
main .table-list td.lose {
    color: #e07a59;
}
main .table-list td.hit {
    color: #4a98be;
}
main .table-list td.cancel {
    color: #ee3729;
}
main .table-list td.title {
    padding: 0 20px;
    text-align: left;
}
main .table-list td.title a {
    padding: 0;
}
main .table-list td.title a:hover {
    color: #fff;
}
main .table-list td.title p {
    padding: 10px 0;
    line-height: 1.8;
}
main .table-list td.title .new,
main .table-list td.title .bet {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    margin: 0 1px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
}
main .table-list td.title .new.new,
main .table-list td.title .bet.new {
    background-color: #c8232c;
}
main .table-list td.title .new.bet,
main .table-list td.title .bet.bet {
    background-color: #389638;
}
main .table-list ul.item {
    display: inline-block;
}
main .table-list ul.item li {
    padding: 0 2px;
    float: left;
}
main .table-game td {
    padding: 2px 0;
    text-align: center;
    white-space: nowrap;
}
main .table-game td.hit {
    background: #023141;
    color: #eee;
}
main .table-game td.hit input[type=text] {
    background: #124151;
    color: #eee;
}
main .table-game td .btn {
    margin: 0 auto;
    display: block;
    width: 56px;
}
main .table-game td .inline {
    display: inline-block;
}
main .table-game td .btn-team {
    width: 200px;
    background: #000;
    opacity: 0.2;
    font-weight: normal;
}
main .table-game td .btn-team:hover {
    opacity: 1;
}
main .table-game td .btn-team.on {
    opacity: 1;
    color: #ffd424;
}
main .table-game td .btn-btn {
    height: 30px;
    line-height: 30px;
}
main .table-game td .up-down .btn {
    display: inline-block;
    opacity: 0.2;
    background: #000;
}
main .table-game td .up-down .btn:hover {
    opacity: 1;
}
main .table-game td.win {
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255,212,36,0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(255,212,36,0.5);
}
main .table-game td.popup:before {
    opacity: 0.3;
}
main .table-game td span.deleted {
    color: #e07a59;
}
main .table-game td span.cancel {
    color: #ee3729;
}
main .table-game td span.closing {
    color: #ffd424;
}
main .table-game td span.hit {
    color: #8aa830;
}
main .table-game td span.ing {
    color: #fff;
}
main .table-game img {
    max-width: 27px;
}
main .table-game .line {
    display: block;
    margin-top: 6px;
}
main .table-game .update {
    background: rgba(255,128,0,0.1);
}
main .table-game .flag-sport {
    width: 17px;
    height: 17px;
}
main .table-game .flag-league {
    max-width: 24px;
}
main .table-game tr.result td {
    background: #000 !important;
}
main .table-game input {
    padding: 0;
    text-align: center;
}
main .table-game input[type=text] {
    height: 22px;
    width: 200px;
}
main .table-game select {
    padding: 1px 0;
    margin: 0 -2px;
    font-weight: 600;
    color: #f4c600;
    width: 38px;
    text-align: center;
}
main .table-game #result-box {
    display: none;
    font-size: 18px;
    font-weight: 600;
}
main .table-game #result-box td {
    background: #f4c600;
    color: #000;
}
main .table-game #result-box td:first-child,
main .table-game #result-box td:last-child {
    background: #222;
}
main .table-game #result-box input {
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
}
main .table-game #result-box input:focus {
    background: #353535;
    color: #f4c600;
}
main .table-game #result-box #score-cancel {
    width: 32px;
}
main .table-game #result-box .btn {
    background: #005b96;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    width: 106px;
    color: #fff !important;
}
main .table-game #result-box .btn:hover {
    background: #004978;
}
main .table-game.table-ladder input[type=text] {
    width: 100px;
}
main .table-game.table-ladder .btn-team {
    width: 100px;
}
main .table-read.col10 thead td {
    text-align: center;
    background: #1a1a1a;
}
main .table-read.col10 tbody th {
    background: #222;
}
main .table-read.col10 tbody td {
    margin: 0;
    padding: 0;
    text-align: center;
}
main .table-read.col10 tbody td input {
    width: 100%;
    text-align: center;
}
main .table-read th,
main .table-read td {
    padding: 8px 20px 7px 20px;
    height: 36px;
    text-align: left;
    vertical-align: middle;
}
main .table-read th {
    font-weight: 600;
    text-align: left;
    padding: 8px 20px 7px 34px;
}
main .table-read th.required {
    padding: 4px 20px;
}
main .table-read th.bg-success {
    background: #2e3813;
}
main .table-read th.center {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}
main .table-read th .line {
    display: block;
    line-height: 1.6;
    color: #ddd;
}
main .table-read td {
    position: relative;
}
main .table-read td span {
    display: inline-block;
    margin-left: 16px;
}
main .table-read td span.no {
    margin: 0;
}
main .table-read td.num {
    text-align: right;
}
main .table-read td.center {
    text-align: center;
}
main .table-read td.user span {
    margin: 0 40px 0 0;
}
main .table-read td.user span em,
main .table-read td.user span a {
    color: #fff;
}
main .table-read td.contents {
    text-align: left;
    padding: 20px;
    line-height: 1.8;
    -webkit-box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
    box-shadow: inset 8px 8px 40px 1px rgba(0,0,0,0.3);
}
main .table-read td.auto li {
    display: inline-block;
    float: left;
    width: 12.5%;
}
main .table-read td.auto li a {
    display: block;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border: solid 1px #333;
    color: #fff;
    margin: 0 -1px -1px 0;
}
main .table-read td.auto li:nth-child(5n+0) a {
    background: #316b88;
}
main .table-read td.auto li:nth-child(5n+0) a:hover {
    background: #234d61;
}
main .table-read td.auto li:nth-child(5n+1) a {
    background: #b94722;
}
main .table-read td.auto li:nth-child(5n+1) a:hover {
    background: #843319;
}
main .table-read td.auto li:nth-child(5n+2) a {
    background: #6c822d;
}
main .table-read td.auto li:nth-child(5n+2) a:hover {
    background: #4d5d20;
}
main .table-read td.auto li:nth-child(5n+3) a {
    background: #023141;
}
main .table-read td.auto li:nth-child(5n+3) a:hover {
    background: #011d27;
}
main .table-read td.auto li:nth-child(5n+4) a {
    background: #a88406;
}
main .table-read td.auto li:nth-child(5n+4) a:hover {
    background: #544203;
}
main .table-read .btn {
    height: 22px;
    line-height: 22px;
    width: auto;
    padding: 0 20px;
}
main .table-bet .info img {
    margin-right: 6px;
}
main .table-bet .over {
    font-weight: 600;
    background: #000 !important;
    color: #ee3729 !important;
}
main .table-bet .under {
    font-weight: 600;
    background: #000 !important;
    color: #4a98be !important;
}
main .table-bet .home,
main .table-bet .draw,
main .table-bet .away {
    color: #fff;
}
main .table-bet .home.on,
main .table-bet .draw.on,
main .table-bet .away.on {
    -webkit-box-shadow: inset 0 0 0 1px #ffd424;
    box-shadow: inset 0 0 0 1px #ffd424;
}
main .table-bet .home.hit,
main .table-bet .draw.hit,
main .table-bet .away.hit {
    background: #023141;
    color: #eee;
}
main .table-bet .home {
    padding: 0 10px;
    text-align: left;
}
main .table-bet .home .odds {
    float: right;
}
main .table-bet .away {
    padding: 0 10px;
    text-align: right;
}
main .table-bet .away .odds {
    float: left;
}
main .table-bet .odds {
    font-weight: 600;
    color: #e07a59;
}
main .table-bet .result.ing {
    color: #fff;
}
main .table-bet .score {
    font-size: 15px;
    background: #222 !important;
    -webkit-box-shadow: inset 0 0 20px 2px #000;
    box-shadow: inset 0 0 20px 2px #000;
}
main .table-memo .btn-wrap {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.2;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
main .table-memo .btn-wrap .btn {
    width: 50px;
}
main .table-memo td {
    position: relative;
    padding: 0;
}
main .table-memo td input {
    height: auto;
    width: 100%;
    padding: 10px;
}
main .table-memo td textarea {
    width: 100%;
    padding: 10px;
    height: 160px;
}
main .table-memo td:hover .btn-wrap {
    opacity: 1;
}
main .table-memo td.title {
    font-size: 14px;
}
main .table-memo td.title input {
    height: 25px;
    padding: 0;
    width: 160px;
    text-align: center;
    margin-top: 10px;
}
main .table-memo th {
    color: #fff;
}
main .table-zone tr:hover td {
    background: #222;
}
main .table-zone tr:hover td.hit {
    background: #023141 !important;
}
main .table-zone tr:hover td.hit p {
    background: none !important;
    color: #eee;
}
main .table-zone td.over {
    background: #2a2a2a !important;
    font-size: 15px;
    font-weight: 600;
    color: #e07a59;
}
main .table-zone td.under {
    background: #2a2a2a !important;
    font-size: 15px;
    font-weight: 600;
    color: #4a98be;
}
main .table-zone td .odds {
    color: #e07a59;
    font-weight: 600;
}
main .table-zone td.home p {
    padding: 0 20px;
    text-align: left;
}
main .table-zone td.home p .odds {
    float: right;
}
main .table-zone td.home a {
    width: 100%;
}
main .table-zone td.away p {
    padding: 0 20px;
    text-align: right;
}
main .table-zone td.away p .odds {
    float: left;
}
main .table-zone td.away a {
    width: 100%;
}
main .table-zone td.score {
    -webkit-box-shadow: inset 0 0 40px 1px #000;
    box-shadow: inset 0 0 40px 1px #000;
    color: #fff;
}
main .required:before {
    content: '*';
    display: inline-block;
    margin-right: 6px;
    color: #e07a59;
}
main dl {
    display: block;
    margin-left: -1px;
    width: 100%;
    background: #222;
}
main dl dd {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    float: left;
    border-left: solid 1px #333;
}
main dl dd.hit {
    color: #ddd;
    background: #023141;
}
main dl dd.home {
    padding-left: 0;
    text-align: left;
}
main dl dd.home em {
    float: right;
    color: #e07a59;
}
main dl dd.home .btn {
    display: inline-block !important;
    margin-right: 10px;
}
main dl dd.away {
    padding-right: 0;
    text-align: right;
}
main dl dd.away em {
    float: left;
    color: #e07a59;
}
main dl dd.away .btn {
    display: inline-block !important;
    margin-left: 10px;
}
main dl dd.vs {
    text-align: center;
}
main dl.zone2 dd {
    width: 45%;
}
main dl.zone2 dd.vs {
    width: 10%;
}
main dl.zone3 dd {
    text-align: left;
    width: 33.33%;
    height: 54px;
    padding: 0;
}
main dl.zone3 dd span {
    padding-left: 20px;
}
main dl.zone3 dd em {
    float: right;
    padding-right: 20px;
    color: #e07a59;
}
main dl.zone3 dd .btn {
    display: block !important;
    width: 100%;
}
main dl.zone4 dd {
    text-align: left;
    width: 25%;
    height: 54px;
    padding: 0;
}
main dl.zone4 dd span {
    padding-left: 20px;
}
main dl.zone4 dd em {
    float: right;
    padding-right: 20px;
    color: #e07a59;
}
main dl.zone4 dd .btn {
    display: block !important;
    width: 100%;
}
.color0 {
    color: #fff !important;
}
.color00 {
    color: #444 !important;
}
.color01 {
    color: #ffd424 !important;
}
.color02 {
    color: #4a98be !important;
}
.color03 {
    color: #e07a59 !important;
}
.color04 {
    color: #8aa830 !important;
}
.color05 {
    color: #ee3729 !important;
}
.color06 {
    color: #0af !important;
}
.color07 {
    color: #9aba60 !important;
}
.color11 {
    color: crimson;
}
.color22 {
    color: #ffd700 !important;
}
.color33 {
    color: #2e71b7 !important;
}
.color44 {
    color: #118307 !important;
}
.color55 {
    color: #a62eee !important;
}
.fa.disabled:before {
    color: #000;
}
section {
    color: #aaa;
    background: #1a1a1a;
}
section h3 {
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #ccc;
}
section h3 .bul {
    display: inline-block;
    width: 20px;
    color: #444;
}
section h3 span {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
}
section h3 span.total {
    color: #aaa;
}
section h3 span.total span {
    margin: 0;
    color: #e07a59;
}
section h3 > .btn {
    margin-top: 12px;
    float: right;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
section .panel-search {
    border-radius: 3px;
    padding: 10px 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    overflow: hidden;
}
section .panel-search label {
    margin-top: 2.5px;
    display: inline-block;
    margin-right: 30px;
}
section .panel-search .command {
    float: right;
}
section .panel-search .command .btn {
    width: auto;
    padding: 0 30px;
    height: 28px;
    line-height: 28px;
}
section .panel-search input[type=text] {
    width: 140px;
}
section .panel-search input[type=text].cal {
    width: 90px;
}
section .panel-header {
    border-radius: 3px 3px 0 0;
    border: solid 1px rgba(255,255,255,0.1);
    border-bottom: none;
    min-height: 56px;
    line-height: 55px;
}
section .panel-header div {
    padding: 0 20px;
}
section .panel-header div.comment {
    padding-bottom: 20px;
}
section .panel-header div.comment textarea {
    width: calc(100% - 120px);
    height: 60px;
}
section .panel-header div.comment .btn {
    float: right;
    width: 110px;
    height: 60px;
    line-height: 60px;
}
section .panel-body {
    border: solid 1px rgba(255,255,255,0.1);
    border-top: none;
    margin-bottom: -1px;
    padding: 20px 0;
}
section .panel-body.line {
    border-top: solid 1px rgba(255,255,255,0.1);
}
section .panel-footer {
    background: #222;
    border-radius: 0 0 3px 3px;
    border: solid 1px rgba(255,255,255,0.1);
    border-top: none;
    min-height: 76px;
    line-height: 75px;
    padding: 0 20px;
    text-align: center;
}
section input[type=checkbox],
section input[type=radio] {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
section .banner-popup {
    float: left;
    padding: 0 10px 20px 10px;
    cursor: pointer;
    width: 400px;
}
section .banner-popup p {
    margin-top: 20px;
}
section .banner-popup p span {
    float: right;
}
.alert {
    position: absolute;
    left: 18px;
    z-index: 9;
    padding: 10px 20px;
    margin-top: 4px;
    background: #666;
    border: solid 1px rgba(0,0,0,0.8);
    border-radius: 3px;
}
.cursor {
    cursor: pointer;
}
.disabled {
    opacity: 0.2;
}
.tab-menu {
    overflow: hidden;
}
.tab-menu ul {
    float: right;
}
.tab-menu ul li {
    float: left;
    margin-left: -1px;
}
.tab-menu ul li a {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 130px;
    text-align: center;
    border: solid 1px rgba(255,255,255,0.1);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #222;
}
.tab-menu ul li a:hover,
.tab-menu ul li a.on {
    background: #444;
}
.paging {
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    line-height: normal;
    min-height: 30px;
}
.paging ul {
    display: inline-block;
    margin: 0 auto;
}
.paging ul li {
    float: left;
}
.paging ul a,
.paging ul em {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 11px;
    background: #333;
    margin: 0 2px;
    -webkit-box-shadow: 1px 1px 1px #111;
    box-shadow: 1px 1px 1px #111;
    border: solid 1px rgba(255,255,255,0.1);
    cursor: pointer;
}
.paging ul a:hover,
.paging ul em:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4a98be;
}
.paging ul em {
    background: none;
    font-weight: 600;
    color: #4a98be;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #4a98be;
    cursor: auto;
}
.paging ul .first,
.paging ul .prev,
.paging ul .next,
.paging ul .last {
    color: #ccc;
}
.paging .command {
    right: 0;
    height: 34px;
    top: 30px;
    float: right;
}
.paging ul+.command {
    position: absolute;
}
.paging .prev {
    margin-right: 14px;
}
.paging .next {
    margin-left: 14px;
}
#flashMessage {
    min-width: 1400px;
    max-width: 1700px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    text-align: right;
    display: none;
}
#flashMessage.error div {
    background: #a03a19;
    color: #fff;
}
#flashMessage div {
    background: #f4c600;
    display: inline-block;
    margin: 0 auto;
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 0 4px 4px;
}
#zone-monitor {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 58px;
}
#zone-monitor a {
    display: inline-block;
    width: 46px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #385820;
    margin-left: 10px;
    letter-spacing: -1px;
    cursor: pointer;
}
#zone-monitor a.err {
    background: #881f05;
}
#zone-monitor span.closing {
    background: #8c8800;
}
#site-monitor {
    position: absolute;
    right: -200px;
    top: 60px;
    width: 180px;
    z-index: 5;
    font-size: 12px;
}
#site-monitor div {
    border: solid 1px #111;
    border-radius: 4px;
}
#site-monitor div h5 {
    border-radius: 4px 4px 0 0;
    padding: 5px 10px;
    background: #2b2b2b;
    text-align: center;
}
#site-monitor div p {
    padding: 5px 10px;
}
#site-monitor div p em {
    float: right;
}
#login {
    background: #2c363f;
}
#login .spinner {
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
    -webkit-animation: sk-rotate 1.6s infinite ease-in-out;
    -o-animation: sk-rotate 1.6s infinite ease-in-out;
    animation: sk-rotate 1.6s infinite ease-in-out;
}
@-webkit-keyframes sk-rotate {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}
#login .login-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -153px;
    width: 306px;
    text-align: center;
}
#login .login-wrap h1 {
    font-size: 30px;
    font-weight: 100;
    color: #2ecc71;
    font-family: sans-serif;
    line-height: 1.3;
}
#login .login-wrap h1 span {
    font-weight: 900;
    color: #fff;
}
#login .login-wrap .login-form {
    padding: 30px 0 20px 0;
}
#login .login-wrap label {
    display: block;
}
#login .login-wrap label span {
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 20px;
    vertical-align: middle;
    float: left;
    color: #b4b8bc;
    background: #f7f7f7;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#login .login-wrap label input {
    background: #fff;
    height: 43px;
    font-size: 16px;
    line-height: 43px;
    padding: 0 10px;
    color: #96999f;
    outline: none;
    width: 263px;
    border: none;
}
#login .login-wrap label input::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}
#login .login-wrap label input:-ms-input-placeholder {
    color: #ccc;
}
#login .login-wrap label input::-webkit-input-placeholder {
    color: #ccc;
}
#login .login-wrap label input:focus + span {
    color: #2ea0d2;
}
#login .login-wrap label.label-top span {
    border-radius: 3px 0 0 0;
    border-bottom: solid 1px #e5e7e8;
}
#login .login-wrap label.label-top input {
    border-left: solid 1px #e5e7e8;
    border-bottom: solid 1px #e5e7e8;
    border-radius: 0 3px 0 0;
}
#login .login-wrap label.label-bottom span {
    border-radius: 0 0 0 3px;
}
#login .login-wrap label.label-bottom input {
    border-left: solid 1px #e5e7e8;
    border-radius: 0 0 3px 0;
}
#login .login-wrap .btn-login {
    background: #2abc68;
    display: block;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 44px;
    line-height: 40px;
    cursor: pointer;
    margin: 20px 0 0 0;
    font-family: sans-serif;
}
#login .login-wrap .btn-login:hover {
    background: #229653;
}
#login .login-wrap .copyright {
    color: #899197;
    margin-top: 30px;
    font-size: 12px;
}
#login .login-wrap .copyright span {
    color: #ccc;
}
@-moz-keyframes sk-rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@-webkit-keyframes sk-rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@-o-keyframes sk-rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@keyframes sk-rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
body.popup {
    height: auto;
    min-height: 100%;
    background: #111;
}
body.popup main {
    width: 100%;
    min-width: auto;
    margin: 0;
    padding: 20px;
    min-height: 100%;
    top: auto;
}
body.popup main div.paging {
    text-align: center;
    background: transparent;
    border: solid 1px rgba(255,255,255,0.1);
    border-top: none;
}
body.popup main div.panel-footer {
    background: transparent;
}
body.popup #flashMessage {
    min-width: auto;
    max-width: auto;
}
body.popup #flashMessage div {
    border-radius: 0 0 0 4px;
    padding-right: 20px;
}
