html{
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll !important;
}
body {
	background-color:#181717;
	height:100%;
	padding-right: 0 !important;
}
input, button, select, a, p{
	outline:none !important;
	font-family:sans-serif;
}
.modal-open {
	padding-right: 0 !important;
}
.wrapper{
	width: 812px;
	min-height: 100%;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0 0;
}
@media(max-width:812px){
	.wrapper{
		width:100%;
		min-height: 100%;
	}
}
.wrapper p{
	margin:0;
}

/* -- NAV MAIN -- */

.nav-main{
	width:100%;
	height:110px;
	float:left;
	background-image:url(/images2/bg/nav_bg.png);
	background-position:center;
	border-top:solid 18px #181717;
}
.nav-main .center{
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
}
.sn-open-btn{
	width:50px;
	height:50px;
	float:left;
	font-size:30px;
	background-color:transparent;
	border:none;
	color:#b63026;
	margin-top:25px;
}
/*logo*/
.logo_cont{
	width:180px;
	height:53px;
	z-index:1;
	text-align:center;
	position:absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:inline-block;
}
.logo_cont img{
	position:absolute;
}
.logo_cont img.icon{
	left:0;
	top:0;
	animation:logo_anim 10s ease infinite;
}
@keyframes logo_anim{
	0% {transform:rotateY(0deg); opacity:0;}
	40% {opacity:1;}
	90% {transform:rotateY(360deg); opacity:1;}
	100% {transform:rotateY(360deg); opacity:0;}
}
.logo_cont img.name{
	width:130px;
	left:51px;
	top:5px;
	animation:logo_name_anim 10s ease infinite;
}
@keyframes logo_name_anim{
	0% {transform:scale(2); opacity:0;}
	15% {transform:scale(2); opacity:0;}
	17% {transform:scale(1); opacity:1;}
	90% {transform:scale(1); opacity:1;}
	100% {transform:scale(1); opacity:0;}
}
.logo_cont img.sub{
	left:52px;
	bottom:5px;
	animation:logo_sub_anim 10s ease infinite;
}
@keyframes logo_sub_anim{
	0% {transform:scale(2); opacity:0;}
	20% {transform:scale(2); opacity:0;}
	22% {transform:scale(1); opacity:1;}
	90% {transform:scale(1); opacity:1;}
	100% {transform:scale(1); opacity:0;}
}
/*nav links*/
.nav-links{
	width:80%;
	height:100%;
	position:fixed;
	top:0;
	left:-100%;
	background-color:#000;
	z-index:9;
	box-shadow:10px 0 100px #000;
	transition:0.5s;
	overflow-y:auto;
}
.nav-links .head{
	float:left;
	width:100%;
	height:50px;
	border-bottom:solid 1px #c73327;
	background-color: #212020;
}
.nav-links .head button{
	float:right;
	width:50px;
	height:50px;
	color:#e64611;
	font-size:24px;
	border:none;
	background-color:transparent;
	margin-top:0;
	margin-right:0;
}
.nav-links a{
	width:100%;
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	text-align:center;
	margin-top:12px;
	height:40px;
	border-bottom: solid 1px #4c1b13;
	padding-left:20px;
}
.nav-links a img{
	float:left;
	margin-right:10px;
}
.nav-links a p{
	float:left;
}
.nav-links a .kr{
	color:#cccccc;
	font-size:18px;
	font-family:NotoSansKr-Bold;
}
.nav-links a .en{
	color:#666666;
	font-size:9px;
	font-family:NotoSansKr-Regular;
	margin-left:10px;
	position:relative;
	top:8px;
}

/*.nav-links a:last-child{
	padding-left:0;
}
.nav-links a:last-child p{
	float:none;
	display:inline-block;
}
.nav-links a:last-child .kr{
	font-size:14px;
}
.nav-links a:last-child .en{
	font-size:14px;
	top:0;
}*/

.nav-links a:hover p{
	color:#dc3d1c;
	transition:0.5s;
}
.nav-links a:hover .kr{
	text-decoration:underline;
}
/* Btn Grp */
.nav-main .btn-grp{
	width:70px;
	height:auto;
	float:right;
	margin-top:11px;
	margin-right:10px;
}
.nav-main .btn-grp button{
	width:100%;
	height:30px;
	float:left;
	margin:2px 0;
	border:none;
	color:#fff;
	font-size:14px;
	font-family:NotoSansKr-Regular;
	padding:0;
}
.nav-main .btn-grp button.login-btn{
	background-image: linear-gradient(#b33026, #e64611);
}
.nav-main .btn-grp button.join-btn{
	background-color:#0f4147;
}
.nav-main .btn-grp button.logout-btn-m{
	background-image: linear-gradient(#b33026, #e64611);
	/*display:none;*/
}
/*star deco*/
.nav-main .center .star{
	width:113px;
	height:50px;
	position:absolute;
	left:180px;
	top:-23px;
	background-image:url(/images2/icon/star.png);
}
.nav-main .center .star img{
	position:absolute;
	left:0;
	top:0;
	animation:star_anim 1s linear infinite;
}
@keyframes star_anim{
	0%   {opacity:0}
	50%  {opacity:1}
	100% {opacity:0}
}

/* -- NOTICE MAIN -- */

.notice-main{
	width:100%;
	height:37px;
	float:left;
	background-color:#272727;
	border-bottom:solid 1px #37362e;
	text-align:center;
	position:relative;
	z-index:1;
}
.notice-main .notice-carousel{
	/*width:auto;*/
	height:100%;
	width: 100%;
	margin:0 auto;
	display:table;
}
.notice-main .notice-carousel span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-left: 15px;
}
.notice-main .notice-carousel .bell{
	float:left;
	margin-right:7px;
	/*margin-top:2px;*/
}
.notice-main .notice-carousel .carousel{
	float:left;
	width:auto;
}
.notice-main .notice-carousel .carousel p{
	color:#999999;
	font-size:10px;
	font-family:NotoSansKr-Regular;
	animation:notice_anim 3.5s linear 1;
	position:relative;
	cursor:pointer;
}
@keyframes notice_anim{
	0%   {top:-50px;}
	25%  {top:0px;}
	75%  {top:0px;}
	100% {top:50px;}
}

/* -- BANNER MAIN -- */

.banner-main{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	border-bottom:solid 1px #552323;
	position:relative;
}
.banner-main .bg{
	width:140%;
	margin-left:-20%;
}
.banner-main .center-cont{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
	text-align:center;
}
.banner-main .carousel{
	width:auto;
	height:100%;
	display:inline-block;
}
.banner-main .carousel-inner{
	height:100%;
}
.banner-main .carousel-inner .item{
	height:100%;
}
.banner-main .center-cont .text-cont{
	display: table;
	height:100%;
	float:left;
}
.banner-main .center-cont .text-cont .text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	animation:bt_anim 3s linear;
	position:relative;
}
@keyframes bt_anim{
	0%   {opacity:0}
	25%  {opacity:1}
	75%  {opacity:1}
	100% {opacity:0}
}
.banner-main .center-cont .text-cont p{
	color:#fff;
	text-shadow:0px 2px 2px #000;
	text-align:left;
}
.banner-main .center-cont .text-cont p:first-child{
	font-size:48px;
	font-family:NotoSansKr-Black;
}
.banner-main .center-cont .text-cont p:last-child{
	font-size:30px;
	font-family:NotoSansKr-Bold;
}
@media(max-width:620px){
	.banner-main .center-cont .text-cont p:first-child{
		font-size:6vw;
	}
	.banner-main .center-cont .text-cont p:last-child{
		font-size:5vw;
	}
}
/*login pan*/
.login-pan{
	width:273px;
	height:222px;
	background-image:url(/images2/bg/login_bg.png);
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
/* After Login */

.after-login-container{
	width:100%;
	height:100%;
	float:left;
	padding:15px 15px;
	display:none;
}
.after-login-container.mobile{
	display:block;
	height:auto;
}
.after-login-container .my-account{
	width:100%;
	height:auto;
	float:left;
}
.after-login-container .my-account .level{
	width:23%;
	height:89px;
	float:left;
	background-color:#d4d4d4;
	border-radius:3px;
	padding:7px 8px;
	text-align:center;
}
.after-login-container .my-account .level .icon-cont{
	width:48px;
	height:48px;
	display:inline-block;
	background-color:#d4d4d4;
	border-radius:50%;
	border:solid 1px #706363;
}
.after-login-container .my-account .level .icon-cont div{
	width:100%;
	height:100%;
	float:left;
	display:table;
}
.after-login-container .my-account .level .icon-cont span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.after-login-container .my-account .level .info{
	width:100%;
	height:auto;
	float:left;
	background-color:#654544;
	border-radius:2px;
}
.after-login-container .my-account .level .info label{
	margin-bottom:0;
	color:#ffffff;
	font-size:13px;
	font-family:NotoSansKr-Bold;
	text-shadow:0px 1px 1px #000;
	font-weight:normal;
	padding:2px 0;
}
.after-login-container .my-account .level .info label:first-child{
	width:40%;
	height:100%;
	float:left;
	background-color:#9f532d;
	border-radius:2px;
}
/* Money */
.after-login-container .my-account .money{
	width:76%;
	height:89px;
	float:left;
	background-color:#0d0d0d;
	border-radius:3px;
	margin-left:1%;
	border:solid 1px #262626;
}
.after-login-container .my-account .money div{
	width:100%;
	height:29px;
	float:left;
	background-color:#626262;
	display:table;
	border-bottom:solid 3px #0d0d0d;
}
.after-login-container .my-account .money div:first-child{
	border-radius:3px 3px 0px 0px;
}
.after-login-container .my-account .money div:last-child{
	border-bottom:none;
	border-radius:0px 0px 3px 3px;
}
.after-login-container .my-account .money div p{
	display: table-cell;
	vertical-align: middle;
	color:#ffffff;
	font-size:13px;
	font-family:NotoSansKr-Bold;
	font-weight:normal;
	padding:0;
}
.after-login-container .my-account .money div a{
	display: table-cell;
	vertical-align: middle;
	color:#ffffff;
	font-size:13px;
	font-family:NotoSansKr-Bold;
	font-weight:normal;
	padding:0;
	text-decoration:none;
	border-bottom:none;
	height:auto;
	text-align:left;
	padding-left:5px;
}
.after-login-container .my-account .money div p.label{
	text-align:left;
	padding-left:5px;
}
.after-login-container .my-account .money div p.label i{
	font-style:normal;
	color:#ccc;
}
.after-login-container .my-account .money div p.amount{
	text-align:right;
	padding-right:5px;
}
.after-login-container .my-account .money div span.yellow{
	color:#ffda0a;
}
.after-login-container .my-account .money div span.blue{
	color:#00ffff;
}
/* Progress Bar */
.after-login-container .my-progress{
	width:100%;
	height:30px;
	float:left;
	border-radius:2px;
	border:solid 1px #454444;
	background-color:#0f0e0f;
	margin-top:10px;
	display:table;
	position:relative;
}
.after-login-container .my-progress *{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding:0 4px;
}
.after-login-container .my-progress .label{
	color:#ffffff;
	font-size:12px;
	font-family:NotoSansKr-Regular;
	font-weight:normal;
	width:20%;
}
.after-login-container .my-progress span{
	width:65%;
}
.after-login-container .my-progress .percent{
	color:#f04343;
	font-size:12px;
	font-family:NotoSansKr-Regular;
	font-weight:normal;
	width:15%;
}
.progress-bar-cont{
	width:100%;
	height:12px;
	background-image:url(/images2/icon/pb_bg.png);
	background-repeat:no-repeat;
	position:relative;
	float:left;
	background-size:100% 100%;
}
.progress-bar-cont div{
	width:0%;
	height:12px;
	float:left;
	position:absolute;
	top:0;
	left:0;
	background-image:url(/images2/icon/pb_percent.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-radius: 5px 5px 5px 5px;
}

/* Progress Bar */
.after-login-container .shortcut-links{
	width:100%;
	height:35px;
	float:left;
	border-radius:2px;
	border:solid 1px #454444;
	background-color:#0f0e0f;
	margin-top:10px;
}
.after-login-container .shortcut-links a{
	width:21.5%;
	height:100%;
	float:left;
	border:none;
	border-top:solid 1px #0f0e0f!important;
	border-bottom:solid 1px #0f0e0f!important;
	border-left:solid 1px #454444;
	background-color:#0f0e0f;
	padding:0;
	color:#ffffff;
	font-size:12px;
	font-family:NotoSansKr-Bold;
	font-weight:normal;
	text-shadow:0px 1px 1px #000;
	margin-top:0;
	padding-top:7px;
}
.after-login-container .shortcut-links a:first-child{
	border-left:none;
}
.after-login-container .shortcut-links button:hover{
	background-image: linear-gradient(#b33026, #e64611);
}
.logout-btn{
	width:14% !important;
	border-left:none!important;
	background-image:url(/images2/bg/logout_btn.png);
	background-size:100% 100%;
}
.after-login-container .shortcut-links a i{
	margin-right:3px;
}
.after-login-container .shortcut-links a i.fa-envelope{
	color:#00acac;
}
.after-login-container .shortcut-links a i.fa-comments{
	color:#f59c1a;
}
.after-login-container .shortcut-links a i.fa-plus-square{
	color:#348fe2;
}
.after-login-container .shortcut-links a i.fa-minus-square{
	color:#a94442;
}

/* -- CATEGORY MAIN -- */

.category-main{
	width:100%;
	height:auto;
	float:left;
	background-image:url(/images2/bg/cat_bg.png);
	text-align:center;
	position:relative;
	background-size:100% 100%;
}
.category-main .deco-bg{
	width:100%;
	height:42px;
	background-image:url(/images2/bg/cat_deco.png);
	position:absolute;
	top:-3px;
	left:0;
	right:0;
	margin:auto;
}
.category-main .center{
	width:100%;
	height:100%;
	display:inline-block;
	background-image:url(/images2/bg/cat_bg_center.png);
	background-position:center 0;
	background-repeat:no-repeat;
	padding:10px 0;
	padding-bottom:7px;
}
.category-btn{
	width:auto;
	height:auto;
	cursor:pointer;
	text-decoration:none !important;
}
.category-btn .cont-btn{
	width:50px;
	height:50px;
	background-color:#1a1919;
	border-radius:10px;
	border:1px solid transparent;
	border-image:url(/images2/bg/border_bg.png) 1 round;
	border-image-width:1px;
	border-image-repeat:repeat;
	position:relative;
	margin:0 18px;
}
.category-btn .cont-btn .icon-cont{
	width:30px;
	height:28px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	overflow:hidden;
}
.category-btn .cont-btn .icon-cont img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.category-btn p{
	color:#cccccc;
	font-size:10px;
	font-family:NotoSansKr-Regular;
	transition:0.5s;
	margin-top:5px;
}
.category-btn:hover .cont-btn{
	background-image:linear-gradient(#b33026, #e64611);
	border:0 solid transparent;
}
.category-btn:hover p{
	color:#e33737;
}
.category-btn.active .cont-btn{
	background-image:linear-gradient(#b33026, #e64611);
	border:0 solid transparent;
}
.category-btn.active .cont-btn .icon-cont img{
	transition:1.8s;
	filter: grayscale(100%);
}
.category-btn.active p{
	color:#e33737;
}

/* -- MAIN BODY -- */

.main-body{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	padding:0 1%;
}
.company-main{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
}
.company-main .header{
	width:100%;
	height:55px;
	display:inline-block;
	border-bottom:solid 1px #3d3b3b;
	padding:10px 10px;
}
.company-main .header div{
	width:100%;
	height:34px;
	overflow:hidden;
}
.company-main .header .cc-title{
	color:#cccccc;
	font-size:24px;
	font-family:NotoSansKr-Bold;
	position:relative;
	top:0;
	animation:cc_anim 1s ease 1 forwards;
}
.company-main .header .cc-title span{
	color:#d43625;
}
.company-main .header .cc-title.active{
	display:block;
}
.company-main .company-container{
	width:100%;
	height:auto;
	float:left;
	overflow:hidden;
}
.company-main .cc-center{
	width:100%;
	height:auto;
	margin-top:22px;
	position:relative;
	top:-100%;
	animation:cc_anim 1s ease 1 forwards;
}
@keyframes cc_anim {
	0% {top:-100%;}
	100%{top:0;}
}
.company-main .cc-center.active{
	display:inline-block;
}
.company-btn{
	width:200px;
	height:250px;
	display:inline-block;
	background-image:url(/images2/bg/company_btn_bg.png);
	background-color:#181717;
	border-radius:10px;
	border:2px solid transparent;
	border-image:url(/images2/bg/company_border.png) 10 round;
	border-image-width:10px;
	border-image-repeat:repeat;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	margin:0 5px;
	margin-bottom:17px;
	box-shadow:inset 0px 3px 2px #000;
}
.company-btn img{
	transition:1s;
}
.company-btn .deco{
	position:absolute;
	right:-10px;
	bottom:115px;
	z-index:1;
}
.company-btn .main-img{
	position:absolute;
	left:0;
	bottom:0;
	z-index:0;
}
.company-btn .name{
	position:absolute;
	z-index:2;
	top:10px;
	left:10px;
}
.company-btn .name p{
	display:inline-block;
	color:#fff;
	font-size:16px;
	font-family:NotoSansKr-Bold;
}
.company-btn .name img{
	position:relative;
	top:-3px;
}
.company-btn button{
	width:100px;
	height:35px;
	background-image:linear-gradient(#b33026, #e64611);
	border-radius:3px;
	border:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	color:#fff;
	font-size:16px;
	font-family:NotoSansKr-Bold;
	box-shadow:0px 0px 20px #000;
	transition:0.5s;
	z-index:3;
	opacity:0;
}
.company-btn:hover .main-img{
	left:-50px;
}
.company-btn:hover .deco{
	right:-180px;
	bottom:-150px;
}
.company-btn:hover button{
	opacity:1;
}

.company-btn.sports{
	width:80%;
	height:auto;
}
.minigame .company-btn.sports{
	width:98%;
	height:auto;
}
.company-btn.sports .main-img{
	position:relative;
	width:100%;
}
.company-btn.sports:hover .main-img{
	left:0;
}
.company-btn.sports .deco{
	width:790px;
	left:-390px;
	top:-420px;
}
.company-btn.sports:hover .deco{
	width:790px;
	left:100px;
	top:220px;
}
.company-btn.sports .deco.minigame{
	width:240%;
	height:140%;
	background-color:rgba(255,255,255,0.13);
	left:-135%;
	top:-109%;
	transform:rotate(-22deg);
	transition:0.5s;
}
.company-btn.sports:hover .deco.minigame{
	left:37%;
	top:65%;
}

@media(max-width:480px){
	.company-btn{
		width:170px;
		height:212px;
		margin:0 2px;
		margin-bottom:5px;
	}
}

/* -- BOARD MAIN -- */

.board-main{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	text-align:center;
	margin-bottom: 30px;
}
.contact-main p .cu{
	color:#cccccc;
	margin:0 0;
	font-size:11px;
	font-weight:normal;
}

.board-main .board{
	width:445px;
	background-color:#000;
	background-image:url(/images2/bg/board_bg.png);
	border-radius:12px;
	border:3px solid transparent;
	border-image:url(/images2/bg/board_border_bg.png) 10 round;
	border-image-width:10px;
	border-image-repeat:repeat;
	display:inline-block;
	margin:5px 3px;
	vertical-align:top;
	position:relative;
}

@media(max-width:470px){
	.board-main .board{
		width:98%;
	}
}
.board-main .board.not-eve{
	height:250px;
	padding:5px;
}
.board-main .board.bank{
	height:230px;
	padding:12px 0;
}
.board-main .board.bank .star{
	width:113px;
	height:50px;
	position:absolute;
	left:-25px;
	top:-26px;
	background-image:url(/images2/icon/star.png);
}
.board-main .board.bank .star img{
	position:absolute;
	left:0;
	top:0;
	animation:star_anim 1s linear infinite;
}
/*NoticeEvent*/
.board-main .board .menu{
	float:left;
	width:100%;
	height:auto;
	margin-top:5px;
	/*background-color:;*/
}
.board-main .board .menu .center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position:relative;
	z-index:1;
}
.ne-menu-btn{
	width:33.33%;
	height:100%;
	float:left;
	text-align:center;
}
.ne-menu-btn:last-child{
	border-bottom:none;
}
.ne-menu-btn *{
	transition:0.5s;
}
.ne-menu-btn span{
	position:relative;
	color:#fff;
	font-size:16px;
	font-family:NotoSansKr-Regular;
	font-weight:bold;
	text-shadow:0px 1px 1px #000;
}
.ne-menu-btn span img{
	position:absolute;
	left:-18px;
	top:5px;
	transition:0.5s;
	opacity:0;
}
.board-menu-bg{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:0;
	transition:1s;
}
/*HoverActive*/
.ne-menu-btn.active{
	pointer-events:none;
}
.ne-menu-btn.active span{
	color:#fbb91a;
}
.ne-menu-btn.active span img{
	opacity:1;
}

.ne-menu-btn:hover span{
	color:#fbb91a;
}
/*Table*/
.ne-table{
	width:94%;
	height:auto;
	position:relative;
	left:0;
	margin:0 auto;
	top:15px;
	display:none;
	animation:ne_table_anim 1s ease 1;
}
.ne-table.active{
	display:block;
	animation:ne_table_active_anim 1s ease 1;
}
@keyframes ne_table_anim{
	0% {left:0;opacity:1;}
	100%{left:30px;opacity:0;}
}
@keyframes ne_table_active_anim{
	0%{left:-30px;opacity:0;}
	100% {left:0;opacity:1;}
}
.ne-table .head{
	width:100%;
	height:auto;
	float:left;
}
.ne-table .head p{
	float:left;
	color:#e44414;
	font-size:18px;
	font-family:NotoSansKr-Bold;
	font-weight:bold;
	text-shadow:0px 1px 1px #000;
}
.ne-table .head a{
	float:right;
	color:#cccccc;
	font-size:11px;
	font-family:NanumGothic-Regular;
	transition:0.5s;
	margin-right:5px;
}
.ne-table .head a .more{
	display:inline-block;
	width:17px;
	height:17px;
	background-image:url(/images2/icon/more.png);
	transition:0.5s;
	position:relative;
	top:4px;
	margin-left:4px;
}
.ne-table .head a:hover{
	color:#b63838;
	text-decoration:none;
}
.ne-table .head a:hover .more{
	background-image:url(/images2/icon/more_on.png);
}
.ne-table table{
	width:100%;
	height:auto;
	float:left;
	margin-top:3px;
}
.ne-table tr{
	height:32px;
}
.ne-table td{
	color:#fff;
	font-size:12px;
	font-family:NotoSansKr-Regular;
	text-align:center;
}
.ne-table td:first-child{
	text-align:left;
}
.ne-table td:last-child{
	text-align:right;
}
.ne-table td a{
	color:#fff;
	font-size:12px;
	font-family:NotoSansKr-Regular;
}
.ne-table td a:hover{
	color:#e44414;
}

/*DepositWithdraw*/
.bank-table{
	width:48%;
	height:100%;
	display:inline-block;
	text-align:center;
	margin:0 0.50%;
	position:relative;
	vertical-align:top;
}
.bank-table .title{
	color:#cccccc;
	font-size:15px;
	font-family:NotoSansKr-Regular;
	font-weight:bold;
	text-shadow:0px 1px 1px #000;
}
.bank-table .table{
	width:100%;
	height:170px !important;
	border-radius:10px;
	background-image:linear-gradient(#5a6774 , #202529);
	box-shadow:inset 0px 2px 2px #1b1b1b;
	border:1px solid transparent;
	border-image:url(/images2/bg/bank_border_bg.png) 10 round;
	border-image-width:10px;
	border-image-repeat:repeat;
	padding:0 7px;
	margin-top:8px;
	position:relative;
	overflow:hidden;
}
.bank-table .table ul{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
}
.bank-table .table .tr{
	/*width:100%;*/
	width: 154px;
	height:46px;
	float:left;
	display:block;
	border-bottom:dotted 1px #000;
	padding:0 !important;
}
.bank-table .table .tr .info{
	width:100%;
	color:#000000;
	font-size:12px;
	font-family:NotoSansKr-Regular;
	margin-top:4px;
}
.bank-table .table .tr .info span{
	float:left;
	width:50%;
}
.bank-table .table .tr .info span:first-child{
	float:left;
}
.bank-table .table .tr .amount{
	color:#ffffff;
	font-size:14px;
	font-family:NotoSansKr-Regular;
	font-weight:bold;
	text-shadow:0px 1px 1px #000;
	text-align:left;
	padding-left:18px;
	position:relative;
	top:-2px;
}
.bank-table .table.withdraw .tr .amount{
	color:#f4744e;
}

/* -- CONTACT MAIN -- */

.contact-main{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	margin-bottom:15px;
}
.contact-main span{
	margin:0 16px;
	color:#999999;
	font-size:14px;
	font-family:NotoSansKr-Regular;
	font-weight:bold;
	display:inline-block;
	margin:5px 5px;
}
.contact-main span img{
	margin-right:5px;
}

@media(max-width:667px){
	.contact-main span{
		display:inline-block;
	}
	.contact-main span img{
		width:30px;
	}
	.contact-main p{
		margin-top:5px;
	}
}

.contact-main p{
	margin-top:10px;
	color:#999999;
	font-size:11px;
	font-family:NotoSansKr-Regular;
}

/* -- FOOTER MAIN -- */

.footer-main{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	margin-top:-1px;
	background-color:#1b1b1b;
	border-top:solid 2px #333333;
	border-bottom:solid 0px #181717;
	padding:20px 0;
}
.footer-main .logo-footer{
	display:inline-block;
	position:relative;
	top:0px;
}

/* --  * * * * * * * * * * * * * * * * * *  * -- */

/* --         REVOLUTION CASINO MODALS        -- */

/* --  * * * * * * * * * * * * * * * * * *  * -- */

.sc_modal{
	height:auto;
	position:relative;
	display:inline-block;
	top:1%;
	margin:auto;
	background-color:#021315;
	border:1px solid #2d2b2b;
	border-radius:14px;
	background-image:url(/images2/bg/modal_bg.png);
	background-repeat:no-repeat;
	background-position:left 2px top 2px;
	padding:24px 15px;
	padding-top:10px;
}

/* Header */

.sc_modal .header{
	width:100%;
	height:auto;
	float:left;
}
.sc_modal .header .btn-grp{
	width:auto;
	height:auto;
	float:left;
}
.sc_modal .header .btn-grp a{
	width:auto;
	height:auto;
	background-color:transparent;
	border:none;
	border-bottom:solid 3px transparent;
	color:#ccc;
	font-size:20px;
	font-family:NotoSansKr-Bold;
	padding:0;
	margin-right:15px;
	position:relative;
	text-decoration:none !important;
}
.sc_modal .header .btn-grp a.active{
	color:#fff;
}
.sc_modal .header .btn-grp a.active:before{
	content : "";
	position: absolute;
	left    : 0;
	right    : 0;
	bottom  : 0;
	margin: auto;
	height  : 3px;
	width   : 100%;
	border-bottom:3px solid #d73921;
}
.sc_modal .header .btn-grp a.active:hover{
	border-bottom:solid 3px #d73921;
}
.sc_modal .header .btn-grp a:hover{
	color:#fff;
	border-bottom:solid 3px #fff;
}
.sc_modal .header .close-btn{
	float:right;
	width:20px;
	height:19px;
	background-color:transparent;
	border:none;
	background-image:url(/images2/icon/modal_close.png);
	margin-top:0px;
	margin-right:6px;
	transition:0.5s;
	background-repeat:no-repeat;
}
.sc_modal .header .close-btn:hover{
	background-image:url(/images2/icon/modal_close_on.png);
}

.modal_body{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	/*background-image:url(/images2/bg/modal.png);*/
}

/* Deposit Withdraw */

.dep_with_modal{
	width:576px;
}
.modal_body .form-group{
	width:auto;
	height:auto;
	display:inline-block;
	margin-bottom:20px;
}
.modal_body .form-group.all-text{
	margin-bottom:10px;
}
.modal_body .form-group:first-child{
	margin-top:30px;
}
.modal_body .form-group div{
	height:auto;
	float:left;
}
.modal_body .form-group div:first-child{
	width:129px;
}
.modal_body .form-group div:first-child p{
	float:left;
	color:#cccccc;
	font-size:14px;
	margin-top:9px;
	margin-bottom:0;
	text-shadow:0px 1px 1px #000;
	font-family:NotoSansKr-Regular;
}
.modal_body .form-group div:first-child p.green{
	color:#d73921;
}
.modal_body .form-group div:first-child p i{
	color:#d73921;
	font-size:5px;
	position:relative;
	top:-3px;
	text-shadow:none;
	margin-right:5px;
}
.modal_body .form-group div:last-child{
	width:380px;
}
.modal_body .form-group div:last-child p{
	float:left;
	color:#d73921;
	font-size:24px;
	font-family:NotoSansKr-Regular;
}
.modal_body .form-group div:last-child p.white{
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	position:relative;
	top:4px;
	margin-left:115px;
}
.modal_body .form-group div:last-child input{
	width:100%;
	height:35px;
	float:left;
	border-radius:1px;
	background-color:#ffffff;
	border:none;
	padding-left:10px;
	color:#000;
	font-size:13px;
	font-family:NotoSansKr-Bold;
}
.modal_body .form-group div:last-child input::-webkit-input-placeholder {
	color:#333333;
	font-size:13px;
	font-family:NotoSansKr-Regular;
}
.modal_body .form-group div:last-child select{
	width:100%;
	height:35px;
	float:left;
	border-radius:1px;
	background-color:#ffffff;
	border:none;
	padding-left:10px;
	color:#333333;
	font-size:13px;
}
.modal_body .form-group .btn_grp{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
}
.modal_body .form-group .btn_grp button{
	width:55px;
	height:25px;
	float:left;
	border-radius:1px;
	border:none;
	transition:0.3s;
	color:#000;
	font-size:13px;
	background-color:#cccccc;
	margin-left:4px;
	margin-bottom:5px;
	font-family:NotoSansKr-Regular;
	padding:0;
}
.modal_body .form-group .btn_grp button:first-child{
	margin-left:0px;
}
.modal_body .form-group .btn_grp button:last-child{
	width:65px;
	color:#fff;
	background-color:#d73921;
}
.modal_body .form-group .btn_grp button:hover{
	background-color:#e54612;
	color:#fff;
}
.modal_body .form-group .btn_grp button:last-child:hover{
	background-color:#e54612;
}
/**/
.modal_btn_grp{
	width:auto;
	height:auto;
	float:left;
	margin-left:141px;
	margin-top:5px;
}
.modal_btn_grp button{
	width:100px;
	height:43px;
	float:left;
	margin-left:7px;
	color:#fff;
	font-size:15px;
	transition:0.5s;
	font-family:NotoSansKr-Bold;
	border:none;
}
.modal_btn_grp button:first-child{
	margin-left:0;
	background-image:linear-gradient(#d23428, #e64611);
}
.modal_btn_grp button:first-child:hover{
	background-image:linear-gradient(#e64611, #d23428);
}
.modal_btn_grp button:last-child{
	background-color:#333333;
}
.modal_btn_grp button:last-child:hover{
	background-color:#666666;
	color:#000;
}

/* Board */

.board_modal{
	width:727px;
	min-height: 589px;
}
/**/
.board_event{
	width:100%;
	height:auto;
	position:relative;
	float:left;
	margin-top:20px;
}
.board_event_list{
	transition:0.5s;
}
.board_event_see{
	width:100%;
	height:40px;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;
	overflow:hidden;
}
.board_table{
	width:100%;
	text-align:center;
}
.board_table th{
	height:40px;
	background-color:#333;
	color:#d73921;
	font-size:14px;
	text-align:center;
	font-family:NotoSansKr-Regular;
}
.board_table th:nth-child(1){
	width:11%;
}
.board_table th:nth-child(2){
	width:69%;
}
.board_table th:nth-child(3){
	width:20%;
}
.board_table tbody tr{
	height:40px;
	/*background-color:none;*/
	color:#fff;
	font-size:12px;
	text-shadow:0px 1px 1px #000;
	border-bottom:solid 1px #0f4147;
	text-align:center;
	cursor:pointer;
}
.board_table tbody tr:hover{
	background-image:linear-gradient(#d23428, #e64611);
}
.board_table tbody tr.active{
	background-image:linear-gradient(#d23428, #e64611);
}
.board_table td:nth-child(2){
	text-shadow:none;
	text-align:left;
	padding-left:40px;
}
.board_table td:nth-child(2) button{
	width: 34px;
	height: 14px;
	padding: 0;
	border-radius: 3px;
	font-size: 9px;
	color: #fff;
	border: none;
	background-color: #b65c0d;
}
.view_event{
	width:100%;
	height:350px;
	float:left;
	margin-top:1px;
	border-top:solid 1px #333333;
	border-bottom:solid 1px #333333;
}
.view_event .scroll_cont{
	width:100%;
	height:98%;
	float:left;
	margin-top:2px;
	background-color:#333333;
}
.view_event .scroll_cont div{
	width:99%;
	height:98.5%;
	margin-top:2px;
	float:left;
	overflow-y:scroll;
	text-align:left;
}
.view_event .scroll_cont div::-webkit-scrollbar  {
	background-color:#000;
}
.view_event .scroll_cont div p{
	color:#fff;
	font-size:12px;
	padding-left:20px;
	padding-top:20px;
}
/**/
.board_btn_grp{
	width:auto;
	margin:0 auto;
	display:inline-block;
	margin-top:20px;
}
.board_btn_grp button{
	width:100px;
	height:43px;
	float:left;
	margin:0 2px;
	color:#fff;
	font-size:15px;
	border:none;
	transition:0.5s;
	background-color:#0f4147;
	font-family:NotoSansKr-Regular;
}
.board_btn_grp button:hover{
	background-color:#666666;
	color:#000;
}
/**/
.pagination{
	margin-bottom:0;
}
.pagination>li>a{
	color:#858585;
	font-size:12px;
	font-family:NotoSansKr-Regular;
	text-decoration: none;
	background-color:#333333;
	border:none;
	border-radius:0 !important;
	width:23px;
	height:23px;
	padding:3px 0;
	margin:0 2px;
}
.pagination li.turn-pg a{
	color:#333333;
	background-color:#666666;
}
.pagination li.space-r a{
	margin-right:7px;
}
.pagination li.space-l a{
	margin-left:7px;
}
.pagination .active{
	color:#fff;
	background-color:#d73921;
}
.pagination>li>a:hover{
	color:#fff;
	background-color:#d73921;
}

/* Join */

.join_modal{
	width:576px;
}
.modal_body .form-group .w_btn input{
	width:80% !important;
	border-radius:3px 0px 0px 3px !important;
}
.modal_body .form-group .w_btn button{
	width:18%;
	height:35px;
	float:right;
	border:none;
	background-image:linear-gradient(#d23428, #e64611);
	color:#fff;
	font-size:13px;
	transition:0.5s;
	font-family:NotoSansKr-Regular;
	padding:0;
}
.modal_body .form-group .w_btn button:hover{
	background-image:linear-gradient(#e64611, #d23428);
}

/* Login */

.login_modal{
	width:400px;
	height:280px;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
}
.login_modal .header{
	width:100%;
	height:40px;
	border-bottom:solid 3px #d73921;
}
.login_modal .header a{
	color:#fff;
	font-size: 20px;
	font-family: NotoSansKr-Bold;
}
.sc_modal.login_modal .header .btn-grp button.login{
	width:396px;
	text-align:left;
	padding:0 0;
}
.modal_btn_grp.login{
	width:100%;
	text-align:center;
	float:left;
	margin:0 auto;
	margin-left:9px;
}
.modal_btn_grp.login button{
	float:none;
}
.modal_body.login .form-group div:first-child{
	width:87px;
}
.modal_body.login .form-group div:last-child{
	width:280px;
}

/* MyPage Modal */

.mypage_modal{
	width:800px;
	top:1%;
	padding:10px 5px;
}
.sc_modal.mypage_modal .header{
	padding:10px 0;
}
.sc_modal.mypage_modal .header .btn-grp a{
	font-size:15px;
	padding:0 0;
	display:inline-block;
	margin-bottom:5px !important;
}

/**/
.mypage_content .mp_cont{
	display:none;
}
.mypage_content .mp_cont.active{
	display:block
}
/**/
.myinfo_notice{
	display:table;
	width:100%;
	height:40px;
	float:left;
	margin-top:10px;
	margin-bottom:30px;
	background-color:#0f4147;
	border-radius:1px;
}
.myinfo_notice p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #ccc;
	font-size: 14px;
	font-family: NotoSansKr-Regular;
}
/**/
.modal_body.mypage .form-group div:first-child{
	width:171px;
}
.mypage_bottom{
	width:100%;
	height:auto;
	float:left;
	margin-top:30px;
}
.mypage_bottom .modal_btn_grp{
	width:auto;
	height:auto;
	float:none;
	margin-left:0;
	margin-top:0;
	display:inline-block;
}
/* table */
.mp_table{
	width:100%;
	max-height:450px;
	float:left;
	margin-top:7px;
	text-align:center;
	overflow:hidden;
}
.mp_table th{
	height:40px;
	background-color: #0f4147;
	color: #ccc;
	font-size: 14px;
	font-family: NotoSansKr-Regular;
	text-align:center;
}
.mp_table tbody tr{
	height:40px;
	background-color:rgba(41,100,127,0);
	text-shadow:0px 1px 1px #000;
	border-bottom:solid 1px #333333;
	text-align:center;
	cursor:pointer;
}
.mp_table tbody tr:hover{
	background-image:linear-gradient(#d23428, #e64611);
}
.mp_table tbody tr.active{
	background-color:rgba(243,186,31,0.4);
	border-bottom:none;
}
/**/
.mp_table td{
	color:#ffffff;
	font-size:14px;
}
.mp_table .d_btn{
	color:#fff;
	font-size: 12px;
	border:none;
	background-color:#333;
	border-radius:3px;
	padding: 2px 7px;
}
.mp_table .w_btn{
	color:#fff;
	font-size: 12px;
	border:none;
	background-color:#0f4147;
	border-radius:3px;
	padding: 2px 7px;
}
.mp_table td.date{
	font-size:12px;
}
.mp_table td.yellow{
	color:#ffff00;
}
.mp_table td.red{
	color:#ff0000;
}
.mp_table td.pink{
	color:#ff66ff;
}
/* 1:1 */
.inquiry_list{
	width:100%;
	height:325px;
	float:left;
	overflow:hidden;
}
.inquiry_table{
	width:98%;
	height:auto;
	float:left;
	margin-left:1%;
	margin-top:7px;
}
.inquiry_table .head{
	width:100%;
	height:40px;
	float:left;
	background-color: #0f4147;
	color: #ccc;
	font-size: 14px;
	font-family: NotoSansKr-Regular;
	text-align: center;
	display:table;
}
.inquiry_table .head p{
	display: table-cell;
	vertical-align: middle;
}
.inquiry_table .head p:first-child{
	width:10%;
	text-align:center;
}
.inquiry_table .head p:last-child{
	width:90%;
	text-align:center;
}
/**/
.inquiry_table .row_tr{
	width:100%;
	max-height:40px;
	float:left;
	border-bottom:solid 1px #333333;
	cursor:pointer;
	transition:0.3s;
	overflow:hidden;
}
.inquiry_table .row_td{
	width:100%;
	height:40px;
	float:left;
	background-color:rgba(41,100,127,0);
	border-bottom:solid 1px #333333;
	text-align:center;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
}
.inquiry_table .row_td:hover{
	background-image:linear-gradient(#d23428, #e64611);
}
.inquiry_table .row_td:hover .note_btn{
	background-color:#666666;
}
.inquiry_table .row_td .note_btn.active{
	background-color:#666666;
}
.inquiry_table .row_td p.active{
	color:#fff;
	text-decoration:underline;
}
/**/
.inquiry_table .row_td .td_btn{
	float:left;
	margin-left:7px;
	margin-top:7px;
	width:60px;
	height:25px;
	padding:0;
	border:none;
	border-radius:3px;
	background-color:#666666;
	color:#fff;
	font-size:12px;
}
.inquiry_table .row_td .arrow{
	float:left;
	margin-left:10.50%;
	margin-right:0px;
	margin-top:18px;
}
.inquiry_table .row_td .td_btn.red{
	background-color:#0f4147;
}
.inquiry_table .row_td p{
	float:left;
	margin-left:11px;
	margin-top:10px;
}
.inquiry_table .row_td p.date{
	font-size:12px;
	margin-left:0;
}
.inquiry_table .row_td div{
	width:20%;
	float:right;
	margin-right:12px;
}
.inquiry_table .row_td div .delete_btn{
	float:right;
	width:15px;
	height:13px;
	border:none;
	background-color:transparent;
	background-image:url(/images2/icon/mess_delete.png);
	transition:0.3s;
	margin-top:13px;
}
.inquiry_table .row_td div .delete_btn:hover{
	background-image:url(/images2/icon/mess_delete_on.png);
}
/**/
.td_view{
	width:100%;
	height:auto;
	float:left;
	background-color:#333333;
	margin-top:1px;
	margin-bottom:2px;
	color:#ffffff;
	font-size:14px;
	text-align:left;
	padding:20px 10px;
	overflow-y:scroll;
}
.td_view::-webkit-scrollbar{
	background-color:#333333;
}
.pagination.inquiry{
	margin:10px 0;
}
/**/
.inquiry_form{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	margin-top:10px;
}
.inquiry_form input{
	width:600px;
	height:35px;
	border:none;
	background-color:#fff;
	color:#333333;
	font-size:14px;
	padding-left:20px;
}
.inquiry_form textarea{
	width:600px;
	height:250px;
	border:none;
	background-color:#fff;
	color:#333333;
	font-size:14px;
	padding:15px 20px;
	margin-top:10px;
}
.inquiry_form input::-webkit-input-placeholder{
	color:#333333;
	font-size:14px;
}
.inquiry_form textarea::-webkit-input-placeholder{
	color:#333333;
	font-size:14px;
}

/*note*/
.note_list{
	width:100%;
	height:457px;
	float:left;
	overflow:hidden;
}
.inquiry_table .row_tr.note{
	height:40px;
}
.inquiry_table .row_td.note p{
	margin-left:5%;
}
.td_view.note{
	height:159px;
}

.inquiry_table .row_td.note div{
	width:auto;
	float:right;
	margin-right:12px;
}
.inquiry_table .row_td div .note_btn{
	float:left;
	width:40px;
	height:25px;
	border:none;
	border-radius:3px;
	background-color:#0f4147;
	transition:0s;
	margin-top:7px;
	color:#ffffff;
	font-size:12px;
	margin-right:12px;
}
.inquiry_table .row_td div .delete_btn:hover{
	background-image:url(/images2/icon/mess_delete_on.png);
}

/* bet win */
.mp_table.bet_win td:first-child{
	text-align:left;
	width:25%;
	padding-left:7%;
}

/*coupon*/

.mp_table.coupon th:first-child{
	text-align:left;
	width:20%;
	padding-left:5%;
}
.mp_table.coupon td:first-child{
	text-align:left;
	width:20%;
	padding-left:5%;
}
.coupon_btn{
	width:60px;
	height:25px;
	background-color:#666666;
	border:none;
	border-radius:3px;
	color:#fff;
	font-size:12px;
}
.coupon_btn.red{
	width:60px;
	height:25px;
	background-color:#0f4147;
	border:none;
	border-radius:3px;
	color:#fff;
	font-size:12px;
}

/*level*/

.level_notice{
	width:100%;
	height:80px;
	float:left;
	margin-top:5px;
	margin-bottom:-2px;
	background-color:rgba(102,102,102,0.4);
	text-align:center;
}
.level_notice .center{
	width:auto;
	display:inline-block;
	margin-top:22px;
}
.level_notice span:nth-child(1){
	margin-right:68px;
}
.level_notice span:nth-child(2){
	margin-right:49px;
}
.level_notice span{
	width:35%;
	color:#f3ba1f;
	font-size:14px;
}
.level_notice span i{
	font-size:14px;
	text-shadow:none;
	position:relative;
	top:-1px;
}
.level_notice span button{
	width:auto;
	height:36px;
	color:#fff;
	font-size:14px;
	text-shadow:0px 1px 1px #000;
	position:relative;
	border:none;
	border-radius:3px;
	background-color:rgba(0,0,0,0.6);
	padding:0 15px;
	margin-left:8px;
}
.level_notice span button img{
	margin-right:5px;
	margin-top: 4px;
}
.use_point_btn{
	width:100px;
	height:36px;
	color:#fff;
	font-size:14px;
	text-shadow:0px 2px 1px #000;
	position:relative;
	border:none;
	border-radius:3px;
	background-image:linear-gradient(#d23428, #e64611);
	transition:0.3s;
}
.use_point_btn i{
	text-shadow:none;
}
.use_point_btn:hover{
	background-image:linear-gradient(#e64611, #e64611);
	color:#000;
	text-shadow:none;
}
.level_table th:first-child{
	text-align:left;
	width:20%;
	padding-left:4%;
}
.level_table tbody tr{
	height:75px;
}
.level_table td:first-child{
	text-align:left;
	width:20%;
	padding-left:4%;
	color:#ff9999;
}
.level_table td:first-child img{
	margin-right:10px;
}

/* -- Modal Responsive -- */

@media(max-width:840px){
	.sc_modal{
		width:100%;
		padding-bottom: 35px;
	}
	.login_modal{
		width:400px;
		height:280px;
		position:fixed;
		top:0;
		bottom:0;
		right:0;
		left:0;
	}
	.mypage_menu button{
		margin-bottom:5px;
	}
	.inquiry_form input{
		width:90%;
	}
	.inquiry_form textarea{
		width:90%;
	}
	.modal_btn_grp{
		width:100%;
		height:auto;
		float:left;
		margin-left:0;
		margin-top:47px;
		margin-bottom:20px;
	}
	.modal_btn_grp button{
		display:inline-block;
		float:none;
		margin-left:0;
		margin-left:5px;
	}
}
@media(max-width:670px){
	.level_notice{
		width:98%;
		height:110px;
		margin-left:1%;
		position:relative;
	}
	.level_notice .center{
		width:100%;
		display:inline-block;
		margin-top:10px;
	}
	.level_notice span:nth-child(1){
		margin-right:0;
		margin-left:20px;
	}
	.level_notice span:nth-child(2){
		margin-right:0;
		position:absolute;
		left:20px;
		top:60px;
	}
	.level_notice span{
		width:auto;
		float:left;
	}
	.use_point_btn{
		margin-right:15px;
		float:right;
	}
	.use_point_btn i{
		text-shadow:none;
	}
}
@media(max-width:560px){
	.modal_body .form-group{
		width:94%;
		height:auto;
		display:block;
		float:left;
		margin-left:3%;
		margin-bottom:0px;
		margin-top:5px;
	}
	.modal_body .form-group div:first-child{
		width:100%;
		float:left;
	}
	.modal_body .form-group div:last-child{
		width:100%;
		text-align:center;
		margin-top:5px;
	}
	.modal_body .form-group div:last-child p{
		float:none;
	}
	.modal_body .form-group div:last-child p.white{
		float:none;
		margin-left:0;
	}
	.modal_body .form-group.all-text{
		margin-bottom:0;
	}
	.login_modal{
		height:290px;
	}
	.modal_btn_grp.login{
		margin-top:20px;
		margin-left:0;
	}
	.modal_body.login .form-group{
		margin-top:5px;
	}
	.modal_body.login .form-group:first-child{
		margin-top:5px;
	}
	.modal_body.login .form-group div:first-child{
		width:100%;
	}
	.modal_body.login .form-group div:last-child{
		width:100%;
	}
}
@media(max-width:540px){
	.footer-main .logo-footer{
		width:60%;
	}
	.login_modal{
		width:98%;
	}
}
@media(max-width:400px){
	.footer-main .logo-footer{
		width:60%;
	}
}
@media(max-width:370px){
	.level_notice span:nth-child(1){
		margin-left:10px;
	}
	.level_notice span:nth-child(2){
		left:10px;
	}
	.use_point_btn{
		margin-right:5px;
		float:right;
	}
}

/* Slot Games */

.slot-games{
	width:100%;
	height:auto;
	padding:10px;
}
/**/
.slot-games .header{
	width:100%;
	height:60px;
	border:solid 1px #026975;
	float:left;
	display:table;
	background-color:#0f4147;
	background-repeat:no-repeat;
	margin-top:-1px;
	border-radius:10px 10px 0 0;
}
.slot-games .header p{
	color:#fff;
	font-size:20px;
	display: table-cell;
	text-align:left;
	vertical-align: middle;
	padding-left:5px;
	font-family:NotoSansKr-Regular;
}
.slot-games .header p img{
	margin-right:6px;
	position:relative;
	top:-2px;
}
.slot-games .header button{
	width:40px;
	height:40px;
	background-color:transparent;
	border:none;
	background-image:url(/images2/icon/sg_close.png);
	float:right;
	margin-top:18px;
	margin-right:21px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100% 100%;
	position:relative;
	z-index:2;
	transition:0.5s;
}
.slot-games .header button:hover{
	background-image:url(/images2/icon/sg_close_on.png);
}
/**/
.slot-games .nav{
	width:100%;
	height:auto;
	background-color:#333;
	float:left;
	position:relative;
}
.slot-games .nav button{
	width:auto;
	height:35px;
	float:left;
	background-color:transparent;
	border:none;
	color:#fff;
	font-size:16px;
	padding:0;
	font-family:NotoSansKr-Regular;
	margin-left:5px;
	margin-right:5px;
	transition:0.5s;
	position:relative;
}
.slot-games .nav button img{
	opacity:0;
	position:relative;
	top:-2px;
	margin-right:5px;
}
.slot-games .nav button:hover{
	color:#d73921;
}
.slot-games .nav button.active{
	color:#d73921;
}
.slot-games .nav button.active img{
	opacity:1;
}
/**/
.slot-games .body{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	position:relative;
	z-index:0;
	margin-top:11px;
}
.slot-games .body::-webkit-scrollbar {
	width:14px;
	background:#000;
}
.slot-games .body .center{
	width:auto;
	height:auto;
	display:inline-block;
}
.slot_sp_game{
	width:auto;
	height:auto;
	position:relative;
	border:solid 1px #000000;
	background-color:transparent;
	display:inline-block;
	margin:0 0px;
	margin-bottom:10px;
	cursor:pointer;
	overflow:hidden;
	transition:0.5s;
}
.slot_sp_game img{
	width:100%;
	transition:0.5s;
}
.slot_sp_game .overlay{
	position:absolute;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	opacity:0;
	transition:0.5s;
}
.slot_sp_game button{
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width:100px;
	height:35px;
	border:none;
	background-image: linear-gradient(#b33026, #e64611);
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-family: NotoSansKr-Regular;
	transition:0.5s;
}
.slot_sp_game .foot{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:41px;
	background-color:rgba(0,0,0,0.75);
	display:table;
	transition:0.5s;
}
.slot_sp_game .foot p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color:#fff;
	font-size:14px;
	padding-left:10px;
	padding-right:10px;
}
.slot_sp_game:hover{
	border:solid 1px #026975;
}
.slot_sp_game:hover img{
	transform:scale(1.4);
}
.slot_sp_game:hover .overlay{
	opacity:1;
}
.slot_sp_game:hover .foot{
	opacity:0;
}

@media(max-width:414px){
	.slot_sp_game{
		width:100%;
	}
}

.faq_modal {
	width: 727px;
	min-height: 589px;
}
.faq-head{
	width:100%;
	height:auto;
	float:left;
}
.faq-head button{
	width:33.33%;
	height:40px;
	float:left;
	margin-top:20px;
	background-color:#333;
	color: #000;
	font-size: 14px;
	text-align: center;
	font-family: NotoSansKr-Regular;
	border:none;
	transition:0.3s;
	border-right: solid 1px #252424;
}
.faq-head button:last-child{
	border-right:none;
}
.faq-head button.active{
	background-color:#424242;
	color:#fff;
}
.faq-head button:hover{
	background-color:#424242;
}
.faq-container{
	width:100%;
	height:auto;
	float:left;
	display:none;
}
.faq-container.active{
	display:block;
}
.faq-table{
	width:100%;
	height:auto;
	float:left;
}
.faq-table tr {
	height: 40px;
	/*background-color: none;*/
	color: #fff;
	font-size: 12px;
	text-shadow: 0px 1px 1px #000;
	border-bottom: solid 1px #0f4147;
	text-align: center;
	cursor: pointer;
}
.faq-table td:first-child{
	width:80%;
	text-align:left;
	padding-left:10px;
}
.faq-table td:last-child{
	width:20%;
	text-align:right;
	padding-right:10px;
}
.faq-table .open-btn{
	background-color:#e54612;
	color:#fff;
	font-family:NotoSansKr-Regular;
	font-size:12px;
	width:50px;
	height:18px;
	border-radius:2px;
	border:none;
	padding:0;
}
.faq-content{
	width:100%;
	height:0px;
	float:left;
	background-color: #062025;
	margin-bottom:1px;
	padding:0;
	text-align:left;
	overflow-y:scroll;
	transition:0.5s;
}
.faq-content::-webkit-scrollbar {
	width: 0px;
	background: transparent !important;
}
.faq-content::-webkit-scrollbar-thumb {
	background:transparent;
}
.faq-content p{
	color:#fff;
	font-family:NotoSansKr-Regular;
	font-size:12px;
	padding:20px;
}

@media(max-width:840px){
	.faq_modal {
		width:100%;
	}
	.faq-table td:first-child{
		padding-left:0;
	}
	.faq-table td:last-child{
		padding-right:0;
	}
	.faq-table .open-btn{
		background-color:#e54612;
		color:#fff;
		font-family:NotoSansKr-Regular;
		font-size:10px;
		width:40px;
		height:15px;
		border-radius:2px;
		border:none;
		padding:0;
	}
}

@media(max-width:480px){
	.company-btn.sports .deco.minigame{
		left:-110%;
		top:-100%;
		transform:rotate(-25deg);
	}
}
