<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <section>
        <form id="frm" th:object="${member}" onsubmit="return updateMember();">
            <div class="panel-header">
                <h3><i class="bul fa fa-user"></i> 회원 기본정보</h3>
            </div>
            <table class="table-read">
                <caption>회원 기본정보</caption>
                <colgroup>
                    <col style="width: 160px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th class="required">아이디</th>
                    <td>
                        <input type="text" th:field="*{userid}" readonly="readonly"/>
                    </td>
                    <th class="required">비밀번호</th>
                    <td><input type="password" th:field="*{password}" placeholder="비밀번호"/></td>
                </tr>
                <tr>
                    <th class="required">닉네임</th>
                    <td>
                        <input type="text" th:field="*{nickname}"/>
                        <span id="enableNickname" class="bul fa fa-check color04"></span>
                        <span id="disableNickname" class="bul fa fa-ban color03" style="display: none;"></span>
                    </td>
                    <th class="required">회원등급</th>
                    <td>
                        <input type="text" readonly="readonly" th:value="${member.role.name}" style="width: 110px;"/>
                        <select th:field="*{level}" th:if="${member.role.name eq '회원' || member.role.name eq 'NPC'}">
                            <option th:each="level : ${#numbers.sequence(1, 10)}" th:value="${level}" th:text="${level + '등급'}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required">카지노아이디</th>
                    <td th:text="*{casinoId}"></td>
                    <th class="required">카지노닉네임</th>
                    <td th:text="*{casinoNick}"></td>
                </tr>
                <tr>
                    <th>회원상태</th>
                    <td colspan="3">
                        <label>회원승인 : <input type="checkbox" th:field="*{enabled}" th:value="true"/></label>
                        <label>블랙회원 : <input type="checkbox" th:field="*{black}" th:value="true"/></label>
                        <label>게시물작성금지 : <input type="checkbox" th:field="*{block}" th:value="true"/></label>
                        <label>단폴 금지 : <input type="checkbox" th:field="*{oneFolderBlock}" th:value="true"/></label>
                        <label>투폴 금지 : <input type="checkbox" th:field="*{twoFolderBlock}" th:value="true"/></label>
                        <br>
                        <label sec:authorize="hasRole('ROLE_GOD')">유출 사다리 유저 : <input type="checkbox" th:field="*{balanceLadderLeak}" th:value="true"/></label>
                        <label sec:authorize="hasRole('ROLE_GOD')">유출 다리 유저 : <input type="checkbox" th:field="*{balanceDariLeak}" th:value="true"/></label>
                        <label sec:authorize="hasRole('ROLE_GOD')">유출 파워볼 유저 : <input type="checkbox" th:field="*{balancePowerLeak}" th:value="true"/></label>
                        <label class="color01" style="float: right;">회원탈퇴 : <input type="checkbox" th:field="*{secession}" th:value="true"/></label>
                        <br>
                        <label sec:authorize="hasRole('ROLE_GOD')">역베팅 사다리 유저 : <input type="checkbox" th:field="*{balanceLadderReverse}" th:value="true"/></label>
                        <label sec:authorize="hasRole('ROLE_GOD')">역베팅 다리 유저 : <input type="checkbox" th:field="*{balanceDariReverse}" th:value="true"/></label>
                        <label sec:authorize="hasRole('ROLE_GOD')">역베팅 파워볼 유저 : <input type="checkbox" th:field="*{balancePowerReverse}" th:value="true"/></label>
                    </td>
                </tr>
                <tr>
                    <th class="color02">벨런스 보험</th>
                    <td colspan="3">
                        <label>사다리 : <input type="checkbox" th:field="*{balanceLadder}" th:value="true"/></label>
                        <label>다리다리 : <input type="checkbox" th:field="*{balanceDari}" th:value="true"/></label>
                        <label>파워볼 : <input type="checkbox" th:field="*{balancePower}" th:value="true"/></label>
                        <label th:if="false">로하이 : <input type="checkbox" th:field="*{balanceLowhi}" th:value="true"/></label>
                        <label th:if="false">알라딘 : <input type="checkbox" th:field="*{balanceAladdin}" th:value="true"/></label>
                    </td>
                </tr>
                <tr>
                    <th class="color03">미니게임 배팅금지</th>
                    <td colspan="3">
                        <label th:if="${sysConfig.zone.ladder}">사다리 금지 : <input type="checkbox" th:field="*{ladderBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.dari}">다리다리 금지 : <input type="checkbox" th:field="*{dariBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.newSnail}">뉴달팽이 금지 : <input type="checkbox" th:field="*{newSnailBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.power}">파워볼 금지 : <input type="checkbox" th:field="*{powerBlock}" th:value="true"/></label><br>
                        <label th:if="${sysConfig.zone.powerFreeKick}">파워프리킥 금지 : <input type="checkbox" th:field="*{powerFreeKickBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.powerLadder}">파다리 금지 : <input type="checkbox" th:field="*{powerLadderBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.kenoLadder}">키노사다리 금지 : <input type="checkbox" th:field="*{kenoLadderBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.kenoSpeed}">스피드키노 금지 : <input type="checkbox" th:field="*{kenoSpeedBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.speedHomeRun}">스피드홈런 금지 : <input type="checkbox" th:field="*{speedHomeRunBlock}" th:value="true"/></label><br>
                        <label th:if="${sysConfig.zone.lotusOddeven}">로투스홀짝 금지 : <input type="checkbox" th:field="*{lotusOddEvenBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.lotusBaccarat}">로투스바카라 금지 : <input type="checkbox" th:field="*{lotusBaccaratBlock}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.lotusBaccarat2}">로투스바카라2 금지 : <input type="checkbox" th:field="*{lotusBaccarat2Block}" th:value="true"/></label><br>
                        <label th:if="${sysConfig.zone.binanceCoin1}">비트코인1 금지 : <input type="checkbox" th:field="*{binanceCoin1Block}" th:value="true"/></label>
                        <label th:if="${sysConfig.zone.binanceCoin3}">비트코인3 금지 : <input type="checkbox" th:field="*{binanceCoin3Block}" th:value="true"/></label>
                    </td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td>
                        <input type="text" th:field="*{phone}" />
                    </td>
                    <th>추천인</th>
                    <td>
                        <input type="text" th:field="*{recommender}"/>
                    </td>
                </tr>
                <tr th:if="${member.role.name eq '회원'}">
                    <th>총판정보</th>
                    <td>
                        <div><span th:text="*{agency1}"></span></div>
                        <div><span th:text="*{agency2}"></span></div>
                        <div><span th:text="*{agency3}"></span></div>
                        <div><span th:text="*{agency4}"></span></div>
                        <div><span th:text="*{agency5}"></span></div>
                        <div><span th:text="*{agency6}"></span></div>
                        <div><span th:text="*{agency7}"></span></div>
                    </td>
                    <th>총판 이동</th>
                    <td th:if="${member.role.name eq '회원'}">
                        총판7 :
                        <select name="agency" id="agency">
                            <option value="N">:: 변경 ::</option>
                            <option value="" style="color: red">총판없음</option>
                            <option th:each="agency : ${agencyList}" th:value="${agency}" th:text="${agency}"></option>
                        </select>
                        <br>
                        <br>
                        <br>
                        <a onclick="javascript:updateAgency();return false;" class="btn">총판변경</a>
                    </td>
                </tr>
                <tr>
                    <th>메모</th>
                    <td colspan="3">
                        <textarea th:field="*{memo}" style="width: 760px;height: 100px;"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3><i class="bul fa fa-user"></i> 계좌정보</h3>
            </div>
            <table class="table-read">
                <caption>계좌정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>가상계좌</th>
                    <td colspan="3">
                        아이디 : <input type="text" th:field="*{virtualId}" maxlength="20"/>
                    </td>
                </tr>
                <tr>
                    <th>은행명</th>
                    <td>
                        <select th:field="*{bank}">
                            <option value="">선택하세요.</option>
                            <option th:each="bank : ${banks}" th:value="${bank}" th:text="${bank}">은행</option>
                        </select>
                    </td>
                    <th>계좌번호</th>
                    <td><input type="text" th:field="*{account}"/></td>
                </tr>
                <tr>
                    <th>예금주</th>
                    <td><input type="text" th:field="*{depositor}"/></td>
                    <th>출금 비밀번호</th>
                    <td><input type="text" th:field="*{bankPassword}"/></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body" style="text-align: center;">
                <button class="btn btn03">수정</button>
                <a onclick="popup.close();return false;" class="btn">창닫기</a>
                <a sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_GOD')" onclick="javascript:deleteMember();return false;" class="btn btn02">회원 완전삭제</a>
            </div>
            <div class="panel-body">
                <h3><i class="bul fa fa-user"></i> 머니 / 포인트 정보</h3>
            </div>
            <table class="table-read">
                <caption>머니 / 포인트 정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>입금</th>
                    <td class="color03 popup" th:onclick="|popup.payment.banking('${member.userid}');|" th:text="${tag.num(member.deposit)}"></td>
                    <th>출금</th>
                    <td class="color03 popup" th:onclick="|popup.payment.banking('${member.userid}');|" th:text="${tag.num(member.withdraw)}"></td>
                </tr>
                <tr>
                    <th>보유머니</th>
                    <td class="color01 popup" th:onclick="|popup.payment.money('${member.userid}');|" th:text="${tag.num(member.money)}"></td>
                    <th>포인트</th>
                    <td class="color02 popup" th:onclick="|popup.payment.point('${member.userid}');|" th:text="${tag.num(member.point)}"></td>
                </tr>
                <tr th:if="${sysConfig.event.lotto}">
                    <th>복권</th>
                    <td class="color01 popup" th:onclick="|popup.event.lotto('${member.userid}');|" th:text="${tag.num(lotto)}"></td>
                    <th></th>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3><i class="bul fa fa-user"></i> 베팅 정보 <span class="color02">(실시간 상황으로 리스트의 누적 합계와 다를 수 있습니다.)</span></h3>
            </div>
            <table class="table-read">
                <caption>베팅 정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td></td>
                    <th colspan="2" style="text-align: center;">베팅</th>
                    <th style="text-align: center;">적중</th>
                    <th style="text-align: center;">차액</th>
                    <th style="text-align: center;">최종베팅</th>
                </tr>
                <tr>
                    <th>스포츠</th>
                    <td class="popup color01 num" th:onclick="|popup.betting.list('${member.userid}');|" th:text="${tag.num(betInfo.betSports)}"></td>
                    <td class="num" th:text="${tag.num(betInfo.cntSports)} + ' 회'"></td>
                    <td class="color03 num" th:text="${tag.num(betInfo.hitSports)}"></td>
                    <td class="color04 num" th:text="${tag.num(betInfo.betSports - betInfo.hitSports)}"></td>
                    <td class="center" th:utext="${tag.dayWeekTimes(betInfo.dateSports)}"></td>
                </tr>
                <tr>
                    <th>인게임</th>
                    <td class="popup color01 num" th:onclick="|popup.betting.list('${member.userid}');|" th:text="${tag.num(betInfo.betInplay)}"></td>
                    <td class="num" th:text="${tag.num(betInfo.cntInplay)} + ' 회'"></td>
                    <td class="color03 num" th:text="${tag.num(betInfo.hitInplay)}"></td>
                    <td class="color04 num" th:text="${tag.num(betInfo.betInplay - betInfo.hitInplay)}"></td>
                    <td class="center" th:utext="${tag.dayWeekTimes(betInfo.dateInplay)}"></td>
                </tr>
                <tr>
                    <th>실시간</th>
                    <td class="popup color01 num" th:onclick="|popup.betting.list('${member.userid}');|" th:text="${tag.num(betInfo.betZone)}"></td>
                    <td class="num" th:text="${tag.num(betInfo.cntZone)} + ' 회'"></td>
                    <td class="color03 num" th:text="${tag.num(betInfo.hitZone)}"></td>
                    <td class="color04 num" th:text="${tag.num(betInfo.betZone - betInfo.hitZone)}"></td>
                    <td class="center" th:utext="${tag.dayWeekTimes(betInfo.dateZone)}"></td>
                </tr>
                <tr>
                    <td colspan="6">게임별 상세내역</td>
                </tr>
                <tr th:each="zone : ${zoneMenu}" th:with="z = ${betInfo.betting[__${zone}__]}">
                    <th th:text="${zone.name}"></th>
                    <td class="popup num color01" th:onclick="|popup.betting.list('${member.userid}');|" th:text="${tag.num(z.betMoney)}"></td>
                    <td class="num" th:text="${tag.num(z.cnt)} + ' 회'"></td>
                    <td class="color03 num" th:text="${tag.num(z.hitMoney)}"></td>
                    <td class="color04 num" th:text="${tag.num(z.betMoney - z.hitMoney)}"></td>
                    <td class="center" th:utext="${tag.dayWeekTimes(z.betDate)}"></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3><i class="bul fa fa-user"></i> 기타정보</h3>
            </div>
            <table class="table-read">
                <caption>기타정보</caption>
                <colgroup>
                    <col style="width: 140px;">
                    <col style="width: 350px;">
                    <col style="width: 140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>가입일</th>
                    <td>
                        <em th:utext="${tag.fullDate(member.joinDate)}">가입일</em>
                    </td>
                    <th>접속일</th>
                    <td>
                        <em th:utext="${tag.fullDate(member.loginDate)}">접속일</em>
                        <span class="color02" th:text="'(로그인 : ' + ${tag.num(member.loginCnt)} + '회)'"></span>
                    </td>
                </tr>
                <tr>
                    <th>가입IP</th>
                    <td>
                        <em th:text="${member.joinIp}">가입IP</em>
                        <span class="color02" th:text="'(' + ${tag.country(member.joinIp)} + ')'"></span>
                    </td>
                    <th>접속IP</th>
                    <td>
                        <em th:text="${member.loginIp}">접속IP</em>
                        <span class="color02" th:text="'(' + ${tag.country(member.loginIp)} + ')'"></span>
                    </td>
                </tr>
                <tr>
                    <th>가입 도메인</th>
                    <td th:text="${member.joinDomain}"></td>
                    <th>접속 도메인</th>
                    <td th:text="${member.loginDomain}"></td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <h3><i class="bul fa fa-user"></i> 추천인 정보</h3>
            </div>
            <table class="table-read">
                <caption>추천인 정보</caption>
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th style="width: 120px;">아이디</th>
                    <th style="width: 120px;">닉네임</th>
                    <th style="width: 80px;">등급</th>
                    <th style="width: 120px;">머니</th>
                    <th style="width: 110px;">충전</th>
                    <th style="width: 110px;">환전</th>
                    <th style="width: 100px;">수익</th>
                    <th style="width: 100px;">포인트</th>
                    <th>로그인</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m : ${recommender}">
                    <td class="popup color03" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.userid}">아이디</td>
                    <td class="popup color02" th:onclick="|popup.member.info('${m.userid}');|" th:text="${m.nickname}">닉네임</td>
                    <td class="search" th:text="${m.level}">등급</td>
                    <td class="popup num color01" th:onclick="|popup.payment.money('${m.userid}');|" th:text="${tag.num(m.money)}">머니</td>
                    <td class="popup num color04" th:onclick="|popup.payment.money('${m.userid}');|" th:text="${tag.num(m.inMoney)}">충전</td>
                    <td class="popup num color03" th:onclick="|popup.payment.money('${m.userid}');|" th:text="${tag.num(m.outMoney)}">환전</td>
                    <td class="popup num color02" th:onclick="|popup.payment.money('${m.userid}');|" th:text="${tag.num(m.inMoney - m.outMoney)}">차액</td>
                    <td class="popup num color02" th:onclick="|popup.payment.point('${m.userid}');|" th:text="${tag.num(m.point)}">포인트</td>
                    <td th:text="${tag.dayWeek(m.loginDate)}">로그인</td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn03">수정</button>
                <a onclick="popup.close();return false;" class="btn">창닫기</a>
                <a sec:authorize="hasRole('ROLE_SUPER') or hasRole('ROLE_GOD')" onclick="javascript:deleteMember();return false;" class="btn btn02">회원 완전삭제</a>
            </div>
        </form>
    </section>
</main>
<script layout:fragment="script" th:if="true">
    var agencies = [(${agencies})];
    var nickname = '[[${member.nickname}]]', agency1 = '[[${member.agency1}]]', agency2 = '[[${member.agency2}]]';
    var checkNickname = true;
    var _agency2;
    agencies.forEach(function (agency) {
        if (_agency2 != agency.agency2) {
            $('#agency2').append('<option value="' + agency.agency2 + '">' + agency.agency2 + '</option>');
            _agency2 = agency.agency2;
        }
    });

    $('#agency2').on('change', function () {
        var agency2 = $('#agency2').val();
        $('#agency1').html('').append('<option value="">선택하세요.</option>');
        agencies.forEach(function (agency) {
            if (agency2 == agency.agency2 && agency.agency1 != null && agency.agency1 !== '') {
                $('#agency1').append('<option value="' + agency.agency1 + '">' + agency.agency1 + '</option>');
            }
        });
    });

    $('#nickname').on('blur', function () {
        $.post('[[${pathJoin}]]/nickname', {nickname: $('#nickname').val()}).done(function (data) {
            if ((data.success || ($('#nickname').val() == nickname) && $('#nickname').val().length > 1)) {
                $('#enableNickname').show();
                $('#disableNickname').hide();
                checkNickname = true;
            } else {
                $('#enableNickname').hide();
                $('#disableNickname').show();
                checkNickname = false;
            }
        });
    }).on('focus', function () {
        checkNickname = false;
    });

    // 초기화 작업
    $('#cash, #point').onlyNum();
    $('#agency2').val(agency2).change();
    $('#agency1').val(agency1);

    function updateMember() {
        if ($('#password').val() != '' && $('#password').val().length < 4) {
            alert('비밀번호는 4자리 이상입니다.');
            $('#password').focus();
            return false;
        }
        if (!checkNickname) {
            alert('사용가능한 닉네임이 아닙니다.');
            $('#nickname').focus();
            return false;
        }
        $.post(path + '/member/update', $('#frm').serialize()).done(function (data) {
            if (data.success) {
                try {
                    opener.location.reload();
                } catch (e) {
                }
                setTimeout(function () {
                    self.close();
                }, 1000);
                return false;
            } else {
                setTimeout(function () {
                    location.reload();
                }, 1000);
                return false;
                return false;
            }
        });
        return false;
    }

    function updateAgency() {
        if (confirm('총판 이동을 하시겠습니까?')) {
            if($('#agency').val() === "N"){
                alert("총판을 선택하지 않았습니다.")
                return;
            }
            $.post(path + '/member/agencyUpdate', $('#frm').serialize()).done(function (data) {
                if (data.success) {
                    try {
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } catch (e) {
                    }
                    return false;
                } else {
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                    return false;
                }
            });
            return false;
        }
    }

    function deleteMember() {
        if (!confirm('회원삭제시 복구가 불가능합니다. \n 회원을 삭제하시겠습니까?')) return false; {
            $.post(path + '/member/delete', $('#frm').serialize()).done(function (data) {
                if (data.success) {
                    try {
                        opener.location.reload();
                    } catch (e) {
                    }
                    setTimeout(function () {
                        self.close();
                    }, 1000);
                    return false;
                } else {
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                    return false;
                }
            });
            return false;
        }
    }
</script>
</body>
</html>