<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='binanceCoin3', title='비트코인3분 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/binanceCoin3/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>비트코인3분</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>로우/하이</th>
            <th>오버/언더</th>
            <th>홀/짝</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <span th:text="${g.lowHigh}" class="color01">로우/하이</span>
            </td>
            <td>
                <span th:text="${g.overUnder}" class="color01">오버/언더</span>
            </td>
            <td>
                <span th:text="${g.oddEven}" class="color01">홀/짝</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>