<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='dog', title='개경주 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/dog/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col>
            <col style="width: 50px;">
            <col>
        </colgroup>
        <tbody th:each="g,num: ${page.content}">
        <tr>
            <td class="league" colspan="3">
                <p>
                    <img th:src="@{|/images/zone/flag-dog.png|}"/>
                    <span th:text="${g.league}">리그명</span>
                    <em class="date" th:utext="${tag.dayWeekTime(g.gameDate)}"></em>
                </p>
            </td>
        </tr>
        <tr class="item">
            <td th:class="${g.winNumber eq 1 ? 'home on bet' : 'home bet'}">
                <p class="ellipses"><span th:text="${'1. ' + g.team1}">팀1</span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds1, 1, 2)}">1.58</span>
            </td>
            <td rowspan="3">
                VS
            </td>
            <td th:class="${g.winNumber eq 2 ? 'away on bet' : 'away bet'}">
                <p class="ellipses"><span th:text="${'2. ' + g.team2}">원정팀</span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds2, 1, 2)}">1.58</span>
            </td>
        </tr>
        <tr class="item">
            <td th:class="${g.winNumber eq 3 ? 'home on bet' : 'home bet'}">
                <p class="ellipses"><span th:text="${'3. ' + g.team3}"></span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds3, 1, 2)}"></span>
            </td>
            <td th:class="${g.winNumber eq 4 ? 'away on bet' : 'away bet'}">
                <p class="ellipses"><span th:text="${'4. ' + g.team4}"></span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds4, 1, 2)}"></span>
            </td>
        </tr>
        <tr class="item">
            <td th:class="${g.winNumber eq 5 ? 'home on bet' : 'home bet'}">
                <p class="ellipses"><span th:text="${'5. ' + g.team5}"></span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds5, 1, 2)}"></span>
            </td>
            <td th:class="${g.winNumber eq 6 ? 'away on bet' : 'away bet'}">
                <p class="ellipses"><span th:text="${'6. ' + g.team6}"></span></p>
                <span class="odds" th:text="${#numbers.formatDecimal(g.odds6, 1, 2)}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">
    function changeSports(sports) {
        $('#sports').val(sports);
        $('#page').val(1);
        $('#frm-search').submit();
    }
</script>
</body>
</html>