<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='lotusOddeven', title='홀짝 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/oddeven/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>사다리</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>홀짝</th>
            <th>오버언더</th>
            <th>무늬</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 4)} + ' 회'"></td>
            <td>
                <span th:if="${g.oddeven eq 'O'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'E'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'O' and g.oddeven ne 'E'}">-</span>
            </td>
            <td>
                <span th:if="${g.overunder eq 'OVER'}" class="color01">오버</span>
                <span th:if="${g.overunder eq 'UNDER'}" class="color02">언더</span>
                <span th:if="${g.overunder ne 'OVER' and g.overunder ne 'UNDER'}">-</span>
            </td>
            <td>
                <span th:if="${g.pattern eq '스페이드'}" class="color0">♠</span>
                <span th:if="${g.pattern eq '다이아'}" class="color02">◆</span>
                <span th:if="${g.pattern eq '하트'}" class="color02">♥</span>
                <span th:if="${g.pattern eq '크로바'}" class="color0">♣</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>