<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='lowhi', title='로하이 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/lowhi/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>사다리</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>로우하이</th>
            <th>홀짝</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <span th:if="${g.lowhi eq 'LOW'}" class="color01">로우</span>
                <span th:if="${g.lowhi eq 'HI'}" class="color02">하이</span>
                <span th:if="${g.lowhi ne 'LOW' and g.lowhi ne 'HI'}">-</span>
            </td>
            <td>
                <span th:if="${g.oddeven eq 'ODD'}" class="color01">홀</span>
                <span th:if="${g.oddeven eq 'EVEN'}" class="color02">짝</span>
                <span th:if="${g.oddeven ne 'ODD' and g.oddeven ne 'EVEN'}">-</span>
            </td>
            <td>
                <span th:if="${g.lowhi eq 'LOW' and g.oddeven eq 'EVEN'}" class="lowhi-result s3"></span>
                <span th:if="${g.lowhi eq 'LOW' and g.oddeven eq 'ODD'}" class="lowhi-result s1"></span>
                <span th:if="${g.lowhi eq 'HI' and g.oddeven eq 'ODD'}" class="lowhi-result s4"></span>
                <span th:if="${g.lowhi eq 'HI' and g.oddeven eq 'EVEN'}" class="lowhi-result s2"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>