<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='powerFreeKick', title='파워프리킥 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/powerFreeKick/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>파워프리킥</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>오늘회차</th>
            <th>일반볼</th>
            <th>선수</th>
            <th>방향</th>
            <th>골/노골</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color01" th:text="${tag.round(g.round, 3)} + '회차'"></td>
            <td th:text="${g.lastBall}"></td>
            <td>
                <span th:if="${g.player eq '1'}" class="color01">선수1</span>
                <span th:if="${g.player eq '2'}" class="color02">선수2</span>
                <span th:if="${g.player ne '1' and g.player ne '2'}">-</span>
            </td>
            <td>
                <span th:if="${g.direction eq 'LEFT'}" class="color02">좌측</span>
                <span th:if="${g.direction eq 'RIGHT'}" class="color03">우측</span>
                <span th:if="${g.direction ne 'LEFT' and g.direction ne 'RIGHT'}">-</span>
            </td>
            <td>
                <span th:if="${g.goal eq 'Y'}" class="color01">골</span>
                <span th:if="${g.goal eq 'N'}" class="color02">노골</span>
                <span th:if="${g.goal ne 'Y' and g.goal ne 'N'}">-</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>