<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/mobileLayout" th:with="main='page', gnb='score', lnb='snail', title='달팽이 경기결과'">
<body>

<div layout:fragment="tab-menu" th:replace="fragments/mobile :: score" th:if="true"></div>
<main class="page" layout:fragment="page">
    <h3>달팽이 경기결과</h3>

    <form id="frm-search" method="get" th:action="@{|${siteConfig.pathSite}/zone/snail/score|}">
        <input type="hidden" id="page" name="page" th:value="${page.number + 1}"/>
    </form>

    <table class="list game" style="table-layout: auto;">
        <caption>사다리</caption>
        <colgroup>

        </colgroup>
        <thead>
        <tr>
            <th>일자</th>
            <th>회차</th>
            <th>결과</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="g : ${page.content}">
            <td th:utext="${tag.dayWeekTime(g.gameDate)}"></td>
            <td class="color0" th:text="${tag.round(g.round, 3)} + ' 회'"></td>
            <td>
                <img th:src="@{|/images/racing-${g.result1}.png|}" />
                <img th:src="@{|/images/racing-${g.result2}.png|}" />
                <img th:src="@{|/images/racing-${g.result3}.png|}" />
            </td>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <ul th:replace="fragments/mobile :: paging(p=${page})"></ul>
    </div>
</main>

<script layout:fragment="script" th:if="true">

</script>
</body>
</html>