<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='inGameList', gnb=${menu}" ng-app="app">
<body ng-controller="gameCtrl">

<section layout:fragment="section">
    <h3>
        <span th:text="${title}" th:remove="tag"></span>
    </h3>

    <div class="box" style="padding:10px 20px;" th:if="${#lists.size(notice) gt 0}">
        <p th:each="n : ${notice}" th:utext="${tag.color(n.title)}"></p>
    </div>

    <table class="list game">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width: 80px;">
            <col style="width: 190px;">
            <col style="width: 120px;">
            <col style="width: 300px;">
            <col style="width: 250px;">
            <col style="width: 70px;">
            <col style="width: 250px;">
            <col style="width: 120px;">
        </colgroup>
        <thead>
        <tr>
            <th class="inGame01">종목</th>
            <th class="inGame01">경기일시</th>
            <th class="inGame01">국가</th>
            <th class="inGame01">리그</th>
            <th class="inGame01">홈</th>
            <th class="inGame01">VS</th>
            <th class="inGame01">원정</th>
            <th class="inGame01"></th>
        </tr>
        </thead>
        <tbody ng-cloak class="ng-cloak" ng-repeat="g in gameList">
        <tr ng-click="gameDetail(g.idx1)" style="cursor: pointer">
            <td class="color0 inGame02">{{::g.snameKor}}</td>
            <td class="inGame03">
                <span class="color03">{{::g.ymd}}</span>
                <span class="color01">{{::g.hms}}</span>
            </td>
            <td class="color0 inGame03">{{::g.location}}</td>
            <td class="color06 inGame03">{{::g.leagueKor}}</td>
            <td class="bet2 home color01" >{{::g.hnameKor}}</td>
            <td class="inGame03 color04">{{::g.score}}</td>
            <td class="bet2 away color01">{{::g.anameKor}}</td>
            <td class="inGame02">
                <a class="btn btn03">
                    <span>상세보기</span>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="8" style="height: 3px;border-left: 0px;border-right: 0px"></td>
        </tr>

        </tbody>
    </table>
    <table class="list game" id="noListTxt" style="display: none;">
        <tr>
            <td style="height: 200px">제공되는 경기가 없습니다.</td>
        </tr>
    </table>
</section>
<script layout:fragment="script" th:if="true">

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.parseFloat = window.parseFloat;
        $scope.cart = [];
        $scope.show = [];
        $scope.bonus = null;
        $scope.filters = {};
        $scope.odds = 1.00;
        $scope.money = 0;
        $scope.config = [(${config})];
        $scope.gameList = [];
        $scope.inGameParsing = true;

        $scope.gameDetail = function (idx) {
            location.href = path + '/game/inGameDetail?idx=' + idx;
        }

        $scope.getTotGame = function () {
            $.ajax({
                url: path + '/game/inGameJson',
                type: 'get',
                dataType: "json"
            }).done(function (res) {
                console.log(res);
                $scope.gameList = res;
                if($scope.gameList == null || $scope.gameList.length == 0){
                    $('#noListTxt').show();
                }else{
                    $('#noListTxt').hide();
                }
            });
        }

        $interval(function () {
            $scope.getTotGame();
        }, 10000);

        $scope.getTotGame();

    }]);

    $('.container section').attr('style','width:100%');

</script>
</body>
</html>