<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/siteLayout" th:with="main='game', gnb=${menu}" ng-app="app">
<body ng-controller="gameCtrl">

<ul ng-cloak id="left-league" class="ng-cloak" layout:fragment="left-league">
    <li class="on">
        <p class="top" ng-click="changeLeague('')">
            <span>경기 종목</span>
        </p>
    </li>
    <li>
        <p class="sports" onclick="location.href='/site/game/inGame'">
            <img ng-src="/images/sports/축구.png"/>
            <span>축구</span>
        </p>
        <p  style="background-color: #737075" class="sports" onclick="location.href='/site/game/inGame?inGameSports=baseball'">
            <img ng-src="/images/sports/야구.png"/>
            <span>야구</span>
        </p>
    </li>
</ul>

<section layout:fragment="section">
    <h3>
        <span th:text="${title}" th:remove="tag"></span>
    </h3>

    <div class="box" style="padding:10px 20px;" th:if="${#lists.size(notice) gt 0}">
        <p th:each="n : ${notice}" th:utext="${tag.color(n.title)}"></p>
    </div>

    <div class="box" style="padding:10px 20px;">
        <p>
            라이브 인플레이 게임은 실제 게임이 진행중에 베팅이 가능한 베팅방식이며 실제 경기와 배당 변화사이의 시간 차이때문에 생길 분쟁을 고려하여 베팅후 1분 30초동안 베팅 대기 상대로 인정이되며 1분 30초 가 지날때까지 스코어의 변동이 없을경우 이는 스코어의 변동뿐아니라 배당에 지대한 영향을 주는 레드카드와 패널티킥포함 정배기준 2배이상의 배당변경이 1분 30초 이내 이루어질 경우엔 베팅이 취소가 됩니다.<br>
            1분 30초 안에 특별한 액션이 없이 이루어진 모든 베팅은 정상베팅으로 인정되어 배당에 따른 적중금 획득이 가능합니다.<br>
            인게임 베팅 후 베팅내역에서 대기상태를 확인하시고 1분 30초 이상 시간이 지난 후 정상배팅으로 변경되었는지 필히 확인하시기 바랍니다.
        </p>
    </div>

    <table class="list game" id="inGameTable" style="display:none;">
        <caption>스포츠</caption>
        <colgroup>
            <col style="width: 120px;">
            <col style="width: 80px;">
            <col style="width: 36px;">
            <col style="width: 300px;">
            <col>
            <col style="width: 300px;">
            <col style="width: 36px;">
            <col style="width: 80px;">
        </colgroup>
        <thead>
        <tr>
            <th>경기일시</th>
            <th>베팅종류</th>
            <th></th>
            <th>승(홈)</th>
            <th>무</th>
            <th>패(원정)</th>
            <th></th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody ng-cloak class="ng-cloak">
        <tr ng-repeat-start="g in gameList | filter : filters : true" ng-if="g.s == 0" name="{{::g.gid}}" viewFlag="N">
            <td class="league" colspan="8">
                <p>
                    <img ng-src="/images/sports/{{::g.sf}}"/> {{::g.sn}}
                    <img ng-src="/images/league/inplay.gif" class="flag"/> {{::g.ln}}
                    <span class="color01" ng-if="::g.sp != '' && g.mc == 'SPECIAL' && g.sc == '365'">[{{::g.sp}}]</span>
                    <span id="{{::g.gid}}_SCORE">[스코어]</span>
                </p>
            </td>
        </tr>
        <tr ng-repeat-end id="{{::g.id}}" name="{{::g.gid}}" viewFlag="N">
            <td class="date">{{::g.gdn}} <span>{{::g.gtn}}</span></td>
            <td>{{::g.gc == 'MATCH' ? '승무패' : (g.gc == 'HANDICAP' ? '핸디캡' : '오버언더')}}</td>
            <td class="over">{{:: g.gc == 'MATCH' ? 'H' : (g.gc == 'HANDICAP' ? 'H' : 'O')}}</td>
            <td class="bet home">
                {{::g.hn}}
                <span ng-if="::g.sp != '' && g.mc == 'SPECIAL' && g.sc == '365'" class="color01">[{{::g.sp}}]</span>
                <span class="odds" id="{{::g.gid}}_{{::g.gc}}_HOME">{{::g.oh | number : 2}}</span>
                <a ng-click="::g.bh && add(g.id, 'home', $event)"></a>
            </td>
            <td class="{{::g.gc == 'MATCH' ? 'draw bet' : (g.gc == 'OVER_UNDER' ? 'draw ou' : 'draw handicap')}}">
                <span id="{{::g.gid}}_{{::g.gc}}_DRAW">{{::g.gc == 'MATCH' ? (g.bd ? (g.od | number : 2) : 'VS') : (g.ah | number : 1)}}</span>
                <a ng-click="::g.bd && add(g.id, 'draw', $event)"></a>
            </td>
            <td class="bet away">
                <span class="odds" id="{{::g.gid}}_{{::g.gc}}_AWAY">{{::g.oa | number : 2}}</span>
                <span ng-if="::g.sp != '' && g.mc == 'SPECIAL' && g.sc == '365'" class="color01">[{{::g.sp}}]</span>
                {{::g.an}}
                <a ng-click="::g.ba && add(g.id, 'away', $event)"></a>
            </td>
            <td class="under">{{::g.gc == 'MATCH' ? 'A' : (g.gc == 'HANDICAP' ? 'A' : 'U')}}</td>
            <td>{{::g.bt}}</td>
        </tr>
        </tbody>
    </table>
</section>
<script layout:fragment="script" th:if="true">

    angular.module('app', []).controller('gameCtrl', ['$scope', '$http', '$interval', '$timeout', function ($scope, $http, $interval, $timeout) {
        $scope.parseFloat = window.parseFloat;
        $scope.cart = [];
        $scope.show = [];
        $scope.bonus = null;
        $scope.filters = {};
        $scope.odds = 1.00;
        $scope.money = 0;
        $scope.config = [(${config})];
        $scope.leagueList = [(${league})];
        $scope.gameList = [(${gameList})];
        $scope.inGameParsing = true;

        $scope.$watch('$viewContentLoaded', function () {
            $timeout(function () {
                $('#layout-wrap, #layout-load').fadeOut(function () {
                    $('#layout-wrap, #layout-load').hide();
                });
            })
        });

        $interval(function () {
            $scope.setInfo();
        }, 5000);

        $scope.setInfo = function () {
            $http({
                url: path + '/api/info',
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.milliseconds = response.data.milliseconds;
                angular.element('#user-memo').text(response.data.memo.toString().money());
                angular.element('#user-money').text(response.data.money.toString().money());
                angular.element('#user-point').text(response.data.point.toString().money());
                clock.setTime(new Date(response.data.milliseconds));
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
            });
        };

        $scope.reloadGame = function () {
            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');
            $scope.show.length = 0;
            $http({
                url: location.href,
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.gameList = response.data;
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            }, function error(response) {
                if (response.status === 401 || response.status === 403) {
                    top.location.href = '/logout';
                }
                $scope.gameList = response.data;
                angular.element('#layout-wrap').css('display', 'none');
                angular.element('#layout-load').css('display', 'none');
            });
        };

        $scope.add = function (id, pos, event) {
            var ele = angular.element(event.target).parent();
            var game;
            var canBet = true;
            var block = false;
            var resultOdds = $scope.odds;

            angular.forEach($scope.gameList, function (g) {
                if (g.id === id) {
                    game = g;
                    return false;
                }
            });

            var addChk = false;
            if (
                (pos == 'home' && parseFloat(game.oh) > 1)
                ||
                (pos == 'draw' && parseFloat(game.od) > 1)
                ||
                (pos == 'away' && parseFloat(game.oa) > 1)
            ) {
                addChk = true;
            }

            if (!addChk) return;

            angular.forEach($scope.cart, function (c) {
                if (c.id === id) {
                    $scope.cart.splice($scope.cart.indexOf(c), 1);
                    var odds = c.pos === 'home' ? c.game.oh : (c.pos === 'away' ? c.game.oa : c.game.od);
                    resultOdds = parseFloat($scope.odds / odds);
                    return false;
                }

                // 조합이 있다.
                if (c.id !== game.id && c.game.gid === game.gid) {
                    //console.log(game.gc + ' = ' +  c.game.gc);
                    //console.log(pos + ' - ' + c.pos);

                    // 같은 종류는 베팅 불허
                    if (c.game.gc === game.gc) {
                        canBet = false;
                        return false;
                    }

                    switch (c.game.gc) {
                        case 'MATCH':
                            if (game.gc === 'HANDICAP') {
                                if ($scope.matchHandicap(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawHandicap(game.sn) && c.pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'OVER_UNDER') {
                                if ($scope.matchOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawOverUnder(game.sn) && c.pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                        case 'HANDICAP':
                            if (game.gc === 'MATCH') {
                                if ($scope.matchHandicap(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawHandicap(game.sn) && pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'OVER_UNDER') {
                                if ($scope.handicapOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                        case 'OVER_UNDER':
                            if (game.gc === 'HANDICAP') {
                                if ($scope.handicapOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                            }
                            if (game.gc === 'MATCH') {
                                if ($scope.matchOverUnder(game.sn)) {
                                    block = true;
                                    return false;
                                }
                                if ($scope.drawOverUnder(game.sn) && pos === 'draw') {
                                    block = true;
                                    return false;
                                }
                            }
                            break;
                    }
                }
            });

            // 동일경기 동일 조합
            if (!canBet) {
                alert(game.sn + ' - 같은 경기의 조합은 구분당 한경기만 베팅 가능 합니다.');
                return;
            }

            // 조합베팅 불가
            if (block) {
                alert(game.sn + ' - 조합베팅 규정안내!\n\n동일경기 조합은 불가능 합니다.');
                return;
            }

            if (ele.hasClass('on')) {
                ele.removeClass('on');
            } else {
                // 최대 조합 체크
                if ($scope.cart.length >= $scope.config.sportsMaxFolder) {
                    alert(String.format('최대 베팅 조합은 {0}폴더 입니다.', $scope.config.sportsMaxFolder));
                    return;
                }
                // 최대 배당율
                var odds = pos === 'home' ? game.oh : (pos === 'away' ? game.oa : game.od);
                if ($scope.config.sportsMaxOdds > 0 && parseFloat(resultOdds * odds) > $scope.config.sportsMaxOdds) {
                    alert(String.format('조합 최대 배당율은 {0}배 이하 입니다.', $scope.config.sportsMaxOdds));
                    return;
                }

                ele.parent().find('.bet').removeClass('on');
                ele.addClass('on');


                $scope.cart.push({id: id, pos: pos, game: game});
            }
            $scope.calcMoney();
        };
        $scope.remove = function (id) {
            angular.element('#' + id).find('.bet').removeClass('on');
            angular.forEach($scope.cart, function (c) {
                if (c.id === id) $scope.cart.splice($scope.cart.indexOf(c), 1);
            });
            $scope.calcMoney();
        };
        $scope.calcMoney = function () {
            var odds = 1.0;
            angular.forEach($scope.cart, function (c) {
                switch (c.pos) {
                    case 'home':
                        odds = parseFloat(odds * c.game.oh);
                        break;
                    case 'draw':
                        odds = parseFloat(odds * c.game.od);
                        break;
                    case 'away':
                        odds = parseFloat(odds * c.game.oa);
                        break;
                }
            });
            if ($scope.config.bonusOdds[$scope.cart.length] > 0) {
                $scope.bonus = {odds: $scope.config.bonusOdds[$scope.cart.length], folder: $scope.cart.length};
                odds = parseFloat(odds * $scope.config.bonusOdds[$scope.cart.length]);
            } else {
                $scope.bonus = null;
            }
            $scope.odds = odds;
        };
        $scope.addMoney = function (m) {
            $scope.money += m;
        };
        $scope.addReset = function () {
            $scope.money = 0;
        };
        $scope.addMax = function () {
            if ($scope.cart.length === 0) { // 선택이 없음
                $scope.money = 0;
            } else if ($scope.cart.length === 1) { // 1폴더
                $scope.money = Math.min(Math.floor($scope.config.oneWin / $scope.odds), $scope.config.oneMax);
            } else { // 다폴더
                $scope.money = Math.min(Math.floor($scope.config.win / $scope.odds), $scope.config.max);
            }
        };
        $scope.changeLeague = function (sports, league) {
            if (sports === '') {
                $scope.filters = {};
            } else if (league === '') {
                angular.element('#' + sports).toggleClass('on');
                if (angular.element('#' + sports).hasClass('on')) {
                    $scope.filters.sn = sports;
                    delete $scope.filters.ln;
                }
            } else {
                $scope.filters.sn = sports;
                $scope.filters.ln = league;
            }

            setTimeout(function () {
                angular.element('.bet').removeClass('on');
                angular.element('.container > section').css('min-height', angular.element('#left-league').height() + 100);
                angular.forEach($scope.cart, function (c) {
                    switch (c.pos) {
                        case 'home':
                            angular.element('#' + c.id).find('.bet.home').addClass('on');
                            break;
                        case 'draw':
                            angular.element('#' + c.id).find('.bet.draw').addClass('on');
                            break;
                        case 'away':
                            angular.element('#' + c.id).find('.bet.away').addClass('on');
                            break;
                    }
                });
            }, 10);
        };
        $scope.betting = function () {
            if ($scope.cart.length === 0) {
                alert('선택된 경기가 없습니다.');
                return;
            }
            if ($scope.cart.length > 1) {
                alert('인게임은 단폴더 베팅만 가능합니다.');
                return;
            }
            if ($scope.cart.length === 1 && $scope.money < $scope.config.oneMin) {
                alert(String.format('단폴더 최소 베팅 금액은 {0}원 입니다.', $scope.config.oneMin.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && $scope.money < $scope.config.min) {
                alert(String.format('최소 베팅 금액은 {0}원 입니다.', $scope.config.min.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.money > $scope.config.money) {
                alert('보유머니가 부족합니다.');
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length === 1 && $scope.money > $scope.config.oneMax) {
                alert(String.format('단폴더 최대 베팅 금액은 {0}원 입니다.', $scope.config.oneMax.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && $scope.money > $scope.config.max) {
                alert(String.format('최대 베팅 금액은 {0}원 입니다.', $scope.config.max.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length === 1 && Math.floor($scope.odds * $scope.money) > $scope.config.oneWin) {
                alert(String.format('단폴더 적중 상한 금액은 {0}원 입니다.', $scope.config.oneWin.toString().money()));
                $scope.money = 0;
                return;
            }
            if ($scope.cart.length > 1 && Math.floor($scope.odds * $scope.money) > $scope.config.win) {
                alert(String.format('적중 상한 금액은 {0}원 입니다.', $scope.config.win.toString().money()));
                $scope.money = 0;
                return;
            }
            if (!confirm('베팅 하시겠습니까?')) {
                return;
            }

            var ids = [];
            var bets = [];
            var odds = [];
            var gids = [];
            var games = [];
            angular.forEach($scope.cart, function (c) {
                ids.push(c.id);
                gids.push(c.game.gid);
                bets.push(c.pos);
                games.push(c.game.oh + "|" + c.game.od + "|" + c.game.oa + "|" + c.game.ah);
                switch (c.pos) {
                    case 'home':
                        odds.push(c.game.oh);
                        break;
                    case 'draw':
                        odds.push(c.game.od);
                        break;
                    case 'away':
                        odds.push(c.game.oa);
                        break;
                }
            });

            angular.element('#layout-wrap').css('display', 'block');
            angular.element('#layout-load').css('display', 'block');

            // 베팅
            $http({
                url: path + '/game/[[${menu}]]/betting',
                method: 'POST',
                data: {
                    "betMoney": $scope.money,
                    "ids": ids,
                    "bets": bets,
                    "odds": odds,
                    "gids": gids,
                    "games": games
                },
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).then(function success(response) {
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.success) {
                    if (response.data.value === 'one') {
                        alert(String.format('단폴더 베팅으로 배당이 {0} 하락하였습니다.', $scope.config.bonusOne));
                    }
                } else {
                    alert(response.data.message);
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.reloadGame();
                location.reload();
            }, function error(response) {
                $scope.money = 0;
                $scope.cart.length = 0;
                if (response.data.message !== '') {
                    alert(response.data.message);
                } else {
                    alert('베팅에 실패하였습니다.\n\n잠시 후 다시 시도하여 주세요.');
                }
                $scope.odds = 0;
                $scope.money = 0;
                $scope.cart.length = 0;
                $scope.setInfo();
                $scope.reloadGame();
            });
        };

        $scope.toggleGame = function (ln, gd, id) {
            var ele = angular.element('#btn' + id);
            var idx = $scope.show.indexOf(id);
            if (idx > -1) {
                $scope.show.splice(idx, 1);
            } else {
                $scope.show.push(id);
            }

            angular.forEach($scope.gameList, function (g) {
                if (g.ln === ln && g.gd === gd) {
                    g.sh = !(idx > -1 && g.s > 1);
                }
            });
            ele.toggleClass('btn03');
        }

        // 승무패, 핸디캡 조합
        $scope.matchHandicap = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.matchHandicap;
                case '농구':
                    return $scope.config.cbBasketball.matchHandicap;
                case '배구':
                    return $scope.config.cbVolleyball.matchHandicap;
                case '아이스하키':
                    return $scope.config.cbHockey.matchHandicap;
                case '이스포츠':
                    return $scope.config.cbEsports.matchHandicap;
                default:
                    return $scope.config.cbDefault.matchHandicap;
            }
        }
        // 무, 핸디캡 조합
        $scope.drawHandicap = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.drawHandicap;
                case '농구':
                    return $scope.config.cbBasketball.drawHandicap;
                case '배구':
                    return $scope.config.cbVolleyball.drawHandicap;
                case '아이스하키':
                    return $scope.config.cbHockey.drawHandicap;
                case '이스포츠':
                    return $scope.config.cbEsports.drawHandicap;
                default:
                    return $scope.config.cbDefault.drawHandicap;
            }
        }
        // 승무패, 오버언더 조합
        $scope.matchOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.matchOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.matchOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.matchOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.matchOverUnder;
                case '이스포츠':
                    return $scope.config.cbEsports.matchOverUnder;
                default:
                    return $scope.config.cbDefault.matchOverUnder;
            }
        }
        // 무, 오버언더 조합
        $scope.drawOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.drawOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.drawOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.drawOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.drawOverUnder;
                case '이스포츠':
                    return $scope.config.cbEsports.drawOverUnder;
                default:
                    return $scope.config.cbDefault.drawOverUnder;
            }
        }
        // 핸디캡, 오버언더 조합
        $scope.handicapOverUnder = function (game) {
            switch (game) {
                case '축구':
                    return $scope.config.cbSoccer.handicapOverUnder;
                case '농구':
                    return $scope.config.cbBasketball.handicapOverUnder;
                case '배구':
                    return $scope.config.cbVolleyball.handicapOverUnder;
                case '아이스하키':
                    return $scope.config.cbHockey.handicapOverUnder;
                case '이스포츠':
                    return $scope.config.cbEsports.handicapOverUnder;
                default:
                    return $scope.config.cbDefault.handicapOverUnder;
            }
        }

        $scope.inGameView = function (gid) {
            $("iframe[name=inGameFrame]").each(function (i) {
                $(this).attr('src', '').hide();
            })
            $('#frame' + gid).attr('src', '/site/game/inGameFrame?matchId=' + gid).show();
        }


        $scope.getTotGame = function () {
            $.ajax({
                url: path + '/game/inGameJson?sports=baseball',
                type: 'get',
                dataType: "json",
                headers: {
                    'Content-type': 'application/json',
                    'Ajax': true
                }
            }).done(function (res) {
                $("tbody tr").each(function () {
                    $(this).attr('viewFlag', 'N');
                })
                if (res && res.success) {
                    var cartMsg = "";
                    var data = res.result;
                    for (var i = 0; i < data.length; i++) {
                        var gameCode = data[i].gameCode;

                        var gameCnt = 0;
                        $("tbody tr[name=" + data[i].gameCode + "]").each(function (i) {
                            $(this).attr('viewFlag', 'Y');
                            gameCnt++;
                        })

                        if(gameCnt > 0) $('#inGameTable').show();

                        var score1 = data[i].score1;
                        var score2 = data[i].score2;
                        var asianHD1 = data[i].asianHD1;
                        var asianOU1 = data[i].asianOU1.replace("O ", "");
                        var handicap1 = data[i].handicap1;
                        var handicap2 = data[i].handicap2;

                        var overUnder1 = data[i].overUnder1;
                        var overUnder2 = data[i].overUnder2;

                        var winLose1 = data[i].winLose1;
                        var winLose2 = data[i].winLose2;
                        var winLose3 = data[i].winLose3;

                        if(winLose3 == ""){
                            winLose3 = winLose2;
                            winLose2 = "VS";
                        }

                        var img = "<img src='/images/Seguridad-red.png' width='20'>";

                        $('#' + gameCode + "_SCORE").html("<font color='yellow'> [ " + score1 + " VS " + score2 + " ] </font>");

                        //승무패//////
                        var m_home_old_odd;
                        var m_draw_old_odd;
                        var m_away_old_odd;
                        var m_home_bet_chk = false;
                        var m_draw_bet_chk = false;
                        var m_away_bet_chk = false;
                        var m_home = $('#' + gameCode + "_MATCH_HOME");
                        var m_draw = $('#' + gameCode + "_MATCH_DRAW");
                        var m_away = $('#' + gameCode + "_MATCH_AWAY");
                        var match_bet_remove = false;

                        if (parseFloat(m_home.text()) > 1 && parseFloat(m_home.text()) != parseFloat(winLose1)) {
                            $scope.toggleColor(m_home)
                            m_home_old_odd = m_home.text();
                            m_home_bet_chk = true;
                        }
                        if (parseFloat(m_draw.text()) > 1 && parseFloat(m_draw.text()) != parseFloat(winLose2)) {
                            $scope.toggleColor(m_draw)
                            m_draw_old_odd = m_draw.text();
                            m_draw_bet_chk = true;
                        }
                        if (parseFloat(m_away.text()) > 1 && parseFloat(m_away.text()) != parseFloat(winLose3)) {
                            $scope.toggleColor(m_away)
                            m_away_old_odd = m_away.text();
                            m_away_bet_chk = m_away;
                        }

                        if (winLose1 != "") {
                            $('#' + gameCode + "_MATCH_HOME").text(winLose1)
                            $('#' + gameCode + "_MATCH_DRAW").text(winLose2)
                            $('#' + gameCode + "_MATCH_AWAY").text(winLose3)
                        } else {
                            match_bet_remove = true;
                            $('#' + gameCode + "_MATCH_HOME").html(img);
                            $('#' + gameCode + "_MATCH_DRAW").html(img);
                            $('#' + gameCode + "_MATCH_AWAY").html(img);
                        }
                        //승무패//////

                        //핸디캡//////
                        var h_home_old_odd;
                        var h_draw_old_odd;
                        var h_away_old_odd;
                        var h_home_bet_chk = false;
                        var h_draw_bet_chk = false;
                        var h_away_bet_chk = false;
                        var h_home = $('#' + gameCode + "_HANDICAP_HOME");
                        var h_draw = $('#' + gameCode + "_HANDICAP_DRAW");
                        var h_away = $('#' + gameCode + "_HANDICAP_AWAY");
                        var handicap_bet_remove = false;

                        if (parseFloat(h_home.text()) > 1 && parseFloat(h_home.text()) != parseFloat(handicap1)) {
                            $scope.toggleColor(h_home)
                            h_home_old_odd = h_home.text();
                            h_home_bet_chk = true;
                        }
                        if (parseFloat(h_draw.text()) > 1 && parseFloat(h_draw.text()) != parseFloat(asianHD1)) {
                            $scope.toggleColor(h_draw)
                            h_draw_old_odd = h_draw.text();
                            h_draw_bet_chk = true;
                        }
                        if (parseFloat(h_away.text()) > 1 && parseFloat(h_away.text()) != parseFloat(handicap2)) {
                            $scope.toggleColor(h_away)
                            h_away_old_odd = h_away.text();
                            h_away_bet_chk = h_away;
                        }

                        if (handicap1 != "") {
                            $('#' + gameCode + "_HANDICAP_HOME").text(handicap1)
                            $('#' + gameCode + "_HANDICAP_DRAW").text(asianHD1)
                            $('#' + gameCode + "_HANDICAP_AWAY").text(handicap2)
                        } else {
                            handicap_bet_remove = true;
                            $('#' + gameCode + "_HANDICAP_HOME").html(img)
                            $('#' + gameCode + "_HANDICAP_DRAW").html(img)
                            $('#' + gameCode + "_HANDICAP_AWAY").html(img)
                        }
                        //핸디캡///////


                        //오버언더///////
                        var o_home_old_odd;
                        var o_draw_old_odd;
                        var o_away_old_odd;
                        var o_home_bet_chk = false;
                        var o_draw_bet_chk = false;
                        var o_away_bet_chk = false;
                        var o_home = $('#' + gameCode + "_OVER_UNDER_HOME");
                        var o_draw = $('#' + gameCode + "_OVER_UNDER_DRAW");
                        var o_away = $('#' + gameCode + "_OVER_UNDER_AWAY");
                        var over_under_bet_remove = false;

                        if (parseFloat(o_home.text()) > 1 && parseFloat(o_home.text()) != parseFloat(overUnder1)) {
                            $scope.toggleColor(o_home)
                            o_home_old_odd = o_home.text()
                            o_home_bet_chk = true;
                        }
                        if (parseFloat(o_draw.text()) > 1 && parseFloat(o_draw.text()) != parseFloat(asianOU1)) {
                            $scope.toggleColor(o_draw)
                            o_draw_old_odd = o_draw.text();
                            o_draw_bet_chk = true;
                        }
                        if (parseFloat(o_away.text()) > 1 && parseFloat(o_away.text()) != parseFloat(overUnder2)) {
                            $scope.toggleColor(o_away)
                            o_away_old_odd = o_away.text();
                            o_away_bet_chk = o_away;
                        }

                        if (overUnder1 != "") {
                            $('#' + gameCode + "_OVER_UNDER_HOME").text(overUnder1)
                            $('#' + gameCode + "_OVER_UNDER_DRAW").text(asianOU1)
                            $('#' + gameCode + "_OVER_UNDER_AWAY").text(overUnder2)
                        } else {
                            over_under_bet_remove = true;
                            $('#' + gameCode + "_OVER_UNDER_HOME").html(img)
                            $('#' + gameCode + "_OVER_UNDER_DRAW").html(img)
                            $('#' + gameCode + "_OVER_UNDER_AWAY").html(img)
                        }
                        //오버언더///////


                        for (var j = 0; j < $scope.gameList.length; j++) {
                            if (gameCode == $scope.gameList[j].gid) {
                                if ($scope.gameList[j].gc == "MATCH") {
                                    $scope.gameList[j].oh = winLose1;
                                    $scope.gameList[j].od = winLose2;
                                    $scope.gameList[j].oa = winLose3;
                                } else if ($scope.gameList[j].gc == "HANDICAP") {
                                    $scope.gameList[j].oh = handicap1;
                                    $scope.gameList[j].ah = asianHD1;
                                    $scope.gameList[j].oa = handicap2;
                                } else if ($scope.gameList[j].gc == "OVER_UNDER") {
                                    $scope.gameList[j].oh = overUnder1;
                                    $scope.gameList[j].ah = asianOU1;
                                    $scope.gameList[j].oa = overUnder2;
                                }
                            }
                        }


                        angular.forEach($scope.cart, function (c) {
                            console.log(c)
                            var cartTeamHome = c.game.hn;
                            var cartTeamAway = c.game.an;
                            if (c.game.gid == gameCode && c.game.gc == "MATCH") {
                                if (m_home_bet_chk || m_draw_bet_chk || m_away_bet_chk) {
                                    var betInfo = "";
                                    if (m_home_bet_chk && c.pos == "home") {
                                        betInfo = m_home_old_odd + "->" + (parseFloat(winLose1) > 1 ? winLose1 : "배당없음");
                                    }
                                    if (m_draw_bet_chk && c.pos == "draw") {
                                        betInfo = m_draw_old_odd + "->" + (parseFloat(winLose2) > 1 ? winLose2 : "배당없음");
                                    }
                                    if (m_away_bet_chk && c.pos == "away") {
                                        betInfo = m_away_old_odd + "->" + (parseFloat(winLose3) > 1 ? winLose3 : "배당없음");
                                    }
                                    if (betInfo != "") {
                                        cartMsg += cartTeamHome + " VS " + cartTeamAway + "\r\n 승무패 배당이 " + betInfo + " 변경되었습니다.\r\n";
                                    }
                                    if (match_bet_remove) {
                                        $scope.cart.splice($scope.cart.indexOf(c), 1);
                                        m_home.parent().removeClass('on');
                                        m_draw.parent().removeClass('on');
                                        m_away.parent().removeClass('on');
                                    }
                                }
                            }
                            if (c.game.gid == gameCode && c.game.gc == "HANDICAP") {
                                if (h_home_bet_chk || h_draw_bet_chk || h_away_bet_chk) {
                                    var betInfo = "";
                                    if (h_home_bet_chk && c.pos == "home") {
                                        betInfo = h_home_old_odd + "->" + (parseFloat(handicap1) > 1 ? handicap1 : "배당없음");
                                    }
                                    if (h_draw_bet_chk && c.pos == "draw") {
                                        //betInfo = h_draw_old_odd + "->" + asianHD1;
                                    }
                                    if (h_away_bet_chk && c.pos == "away") {
                                        betInfo = h_away_old_odd + "->" + (parseFloat(handicap2) > 1 ? handicap2 : "배당없음");
                                    }
                                    if (betInfo != "") {
                                        cartMsg += cartTeamHome + " VS " + cartTeamAway + "\r\n 핸대캡 배당이 " + betInfo + " 변경되었습니다.\r\n";
                                    }
                                    if (handicap_bet_remove) {
                                        $scope.cart.splice($scope.cart.indexOf(c), 1);
                                        h_home.parent().removeClass('on');
                                        h_draw.parent().removeClass('on');
                                        h_away.parent().removeClass('on');
                                    }
                                }
                            }
                            if (c.game.gid == gameCode && c.game.gc == "OVER_UNDER") {
                                if (o_home_bet_chk || o_draw_bet_chk || o_away_bet_chk) {
                                    var betInfo = "";
                                    if (o_home_bet_chk && c.pos == "home") {
                                        betInfo = o_home_old_odd + "->" + (parseFloat(overUnder1) > 1 ? overUnder1 : "배당없음");
                                    }
                                    if (o_draw_bet_chk && c.pos == "draw") {
                                        //betInfo = o_draw_old_odd + "->" + asianOU1;
                                    }
                                    if (o_away_bet_chk && c.pos == "away") {
                                        betInfo = o_away_old_odd + "->" + (parseFloat(overUnder2) > 1 ? overUnder2 : "배당없음");
                                    }
                                    if (betInfo != "") {
                                        cartMsg += cartTeamHome + " VS " + cartTeamAway + "\r\n 오버언더 배당이 " + betInfo + " 변경되었습니다.\r\n";
                                    }
                                    if (over_under_bet_remove) {
                                        $scope.cart.splice($scope.cart.indexOf(c), 1);
                                        o_home.parent().removeClass('on');
                                        o_draw.parent().removeClass('on');
                                        o_away.parent().removeClass('on');
                                    }
                                }
                            }
                        });
                    }
                    if (cartMsg != "") {
                        alert(cartMsg);
                        $scope.calcMoney();
                    }
                    $("tbody tr").each(function () {
                        if ($(this).attr('viewFlag') == 'N') {
                            $(this).hide();
                        }
                    });
                } else {
                    if($scope.inGameParsing) {
                        if (res) {
                            alert(res.msg);
                        } else {
                            alert('인게임 정보가 올바르지 않습니다. 잠시 후 다시 시도해 주세요.[2]');
                        }
                    }
                    $("tbody tr").each(function () {
                        $(this).hide();
                    });
                    $scope.inGameParsing = false;
                }
            });
        }

        $scope.toggleColor = function (obj){
            obj.parent().attr('style','background-color:#28d0c9');
            setTimeout(function () {
                obj.parent().attr('style','');
            }, 300);
        }

        setTimeout(function () {
            $scope.getTotGame();
        }, 100);


        $interval(function () {
            $scope.getTotGame();
        }, 5000);

    }]);

    $('#cart-fix').on('click', function () {
        if ($(this).is(':checked')) { // fixed
            $('#clock').parent().addClass('fixed');
        } else {
            $('#clock').parent().removeClass('fixed');
        }
    })

</script>
</body>
</html>