<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="layout/adminPopup">
<body class="popup">
<main layout:fragment="main">
    <section>
        <div class="panel-search">
            <label>
                비고 :
                <input type="text" id="memo" style="width: 400px;"/>
            </label>
            <div class="command">
                <span class="btn btn03" onclick="addLotto();" style="width: 176px;" id="cancel">복권 지급</span>
            </div>
        </div>
    </section>
    <section>
        <div class="panel-search">
            <form id="frm-search" th:object="${command}" th:action="@{|${siteConfig.pathAdmin}/event/lotto/${member.userid}|}" method="get">
                <input type="hidden" name="page" id="page" th:value="${page.number + 1}"/>
                <div class="command">

                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="panel-header">
            <h3>
                <i class="bul fa fa-cog"></i>
                <label>
                    <em class="color03" th:text="${member.userid}">아이디</em>
                    <em class="color02" th:text="' (' + ${member.nickname} + ')'">닉네임</em>
                    <em th:text="' ' + ${member.role.name() eq 'USER' ? member.level + '레벨' : member.role.name}">닉네임</em>
                    님의
                </label>
            </h3>
        </div>
        <table class="table-list">
            <caption>종목 설정</caption>
            <colgroup>

            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>사용여부</th>
                <th>비고</th>
                <th>당첨포인트</th>
                <th>날짜</th>
                <th>정상여부</th>
                <th>코드</th>
                <th>작업자</th>
            </tr>
            </thead>
            <tbody id="money-body">
            <tr th:each="m,num : ${page.content}" th:with="total=${page.totalElements - page.number * page.size + 1}">
                <td th:text="${total - num.count}">1</td>
                <td th:class="${m.closing ? 'color03' : 'color01'}" th:text="${m.closing ? '사용' : '미사용'}"></td>
                <td th:text="${m.memo}"></td>
                <td class="num color0 n_money" th:text="${m.point}"></td>
                <td th:utext="${tag.dayWeekTimes(m.regDate)}"></td>
                <td th:class="${m.cancel ? 'color03' : 'color04'}" th:text="${m.cancel ? '[취소]' : '[정상]'}" th:onclick="|changeCancel('${m.userid}','${m.id}');|" style="cursor: pointer;"></td>
                <td th:text="${m.eventCode.name}"></td>
                <td th:utext="${m.worker}"></td>
            </tr>
            </tbody>
        </table>
        <div class="paging">
            <ul th:replace="fragments/admin :: paging(p=${page})"></ul>
        </div>
        <div class="panel-footer">
            <a onclick="popup.close();return false;" class="btn">창닫기</a>
        </div>
    </section>
</main>
<script layout:fragment="script" th:if="true">
    function addLotto() {

        var msg = '복권을 지급하시겠습니까?';
        if (!confirm(msg)) {
            return false;
        }

        $.ajax({
            url: path + '/event/lotto/add',
            method: 'post',
            data: {
                userid: '[[${member.userid}]]',
                memo: $('#memo').val()
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
                $('#memo').val('');
            }
        });
    }

    function changeCancel(userid, id){

        var msg = '해당 복권을 정상/취소로 변경하시겠습니까?';
        if (!confirm(msg)) {
            return false;
        }
        $.ajax({
            url: path + '/event/lotto/change',
            method: 'post',
            data: {
                userid: userid,
                id: id
            }
        }).done(function (data) {
            if (data.success) {
                location.reload();
            } else {
                alert(data.message);
            }
        });
    }
</script>
</body>
</html>